{% set user = app.user %}
{% set users = userList() %}
{% if user %}
    <div class="chat-users">
        <div class="chat-users-header">
            <i class="fa-solid fa-users"></i>
        </div>
        <div class="chat-users-list collapsed">
            <ul>
                {% for u in users %}
                    {% if u.id != user.id %}
                        <li data-id="{{ u.id }}">
                            <div class="user-avatar">
                                <img src="/images/users/avatars/{{ u.avatar }}" alt="{{ u.username }}">
                            </div>
                            <span>{{ u.username }}</span>
                            {% if u.lastLogin is not null %}
                                {% if u.isOnLine %}
                                    <div class="online">●</div>
                                {% else %}
                                    <div class="last">{{ u.lastLogout|ago }}</div>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {#    {{ include('blocks/chat/_conversation.html.twig') }} #}

    <script>
        const user = {
            id: {{ user.id }},
            username: '{{ user.username }}',
            avatar: '{{ user.avatar }}'
        };
        window.addEventListener("DOMContentLoaded", () => {
            const chatUsers = document.querySelector(".chat-users");
            const conversations = document.querySelectorAll(".conversation");
            const chatHeader = chatUsers.querySelector(".chat-users-header");
            const chatUsersList = chatUsers.querySelector(".chat-users-list");
            const chatUsersListItems = chatUsersList.querySelectorAll("li");
            const chatUsersListItemsArray = Array.from(chatUsersListItems);

            getChatUsersWindowStatus();

            conversations?.forEach(conversation => {
                const header = conversation.querySelector(".header");
                const body = conversation.querySelector(".body");
                header.addEventListener("click", () => {
                    body.classList.toggle("collapsed");
                });
                conversation.addEventListener("click", () => {
                    conversations.forEach(conversation => {
                        conversation.classList.remove("active");
                    });
                    conversation.classList.add("active");
                });
            });

            chatHeader.addEventListener("click", () => {
                chatUsersList.classList.toggle("collapsed");
                if (chatUsersList.classList.contains("collapsed")) {
                    chatHeader.innerHTML = '<i class="fa-solid fa-users"></i>';
                } else {
                    chatHeader.innerHTML = "{{ 'Users'|trans }} ({{ users|length - 1 }})";
                }
                setChatUsersWindowStatus();
            });

            chatUsersListItemsArray.forEach(item => {
                item.addEventListener("click", () => {
                    const id = item.getAttribute("data-id");
                    console.log({id});
                });
            });
        });

        function setChatUsersWindowStatus() {
            const chatWindow = document.querySelector(".chat-users-list");
            const chatWindowStatus = chatWindow.classList.contains("collapsed") ? "collapsed" : "expanded";
            localStorage.setItem("mytvtime.chatWindowStatus", chatWindowStatus);
        }

        function getChatUsersWindowStatus() {
            const chatWindowStatus = localStorage.getItem("mytvtime.chatWindowStatus");
            const chatUsers = document.querySelector(".chat-users");
            const chatWindow = chatUsers.querySelector(".chat-users-list");
            const chatHeader = chatUsers.querySelector(".chat-users-header");

            if (chatWindowStatus === "collapsed") {
                chatWindow.classList.add("collapsed");
                chatHeader.innerHTML = '<i class="fa-solid fa-users"></i>';
            } else {
                chatWindow.classList.remove("collapsed");
                chatHeader.innerHTML = "{{ 'Users'|trans }} ({{ users|length - 1 }})";
            }
        }
    </script>
{% endif %}
