{% if discussion.user.id == user.id %}
    {% set buddy = discussion.recipient %}
    {% set open = discussion.openUser %}
{% else %}
    {% set buddy = discussion.user %}
    {% set open = discussion.openrecipient %}
{% endif %}
{% if open %}
    <div class="discussion{% if activate is defined %} active{% endif %}" data-id="{{ discussion.id }}" data-user-id="{{ buddy.id }}">
        <div class="header">
            <div class="buddy">
                <div class="user-avatar">
                    <img src="/images/users/avatars/{{ buddy.avatar }}" alt="{{ buddy.username }}">
                </div>
                <span>{{ buddy.username }}</span>
            </div>
            <div class="buttons">
                <div class="minimize">
                    <i class="fa-solid fa-minimize"></i>
                </div>
                <div class="close">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="messages">
                {% for message in discussion.chatMessages %}
                    {% if message.owner.id == user.id %}
                        {% set person = 'user' %}
                    {% else %}
                        {% set person = 'recipient' %}
                    {% endif %}
                    {% set day = "now"|date("d") %}
                    {% set messageDay = message.createdAt|date('d') %}
                    <div class="message {{ person }}-message">
                        <div class="message-content">
                            <div class="message-time">
                                {% if day == messageDay %}
                                    {{ message.createdAt|date('H:i') }}
                                {% else %}
                                    {{ message.createdAt|date('d/m/Y H:i') }}
                                {% endif %}
                            </div>
                            <div class="message-text">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="new-message">
                <label>
                    <input type="text" placeholder="{{ 'new message'|trans }}">
                </label>
            </div>
        </div>
    </div>
{% endif %}
