{% if discussion.user.id == user.id %}
    {% set dUser = discussion.user %}
    {% set dBuddy = discussion.recipient %}
    {% set open = discussion.openUser %}
    {% set typing = discussion.typingRecipient %}
{% else %}
    {% set dUser = discussion.recipient %}
    {% set dBuddy = discussion.user %}
    {% set open = discussion.openrecipient %}
    {% set typing = discussion.typingUser %}
{% endif %}
{% if open %}
    <div class="discussion{% if activate is defined %} active{% endif %}" data-id="{{ discussion.id }}" data-user-id="{{ dUser.id }}" data-buddy-id="{{ dBuddy.id }}">
        <div class="header">
            <div class="buddy">
                <div class="user-avatar">
                    <img src="/images/users/avatars/{{ dBuddy.avatar }}" alt="{{ dBuddy.username }}" loading="lazy">
                </div>
                <span>{{ dBuddy.username }}</span>
            </div>
            <div class="buttons">
                <div class="minimize">
                    <i class="fa-solid fa-minimize"></i>
                </div>
                <div class="close">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
        <div class="body">
            {% include('blocks/chat/_messages.html.twig') %}
            <div class="new-message">
                <form>
                    <label>
                        <input type="text" placeholder="{{ 'new message'|trans }}">
                    </label>
                </form>
            </div>
        </div>
    </div>
{% endif %}
