{% extends 'base.html.twig' %}

{% block title %}MyTvTime::{{ 'Edit event'|trans }}{% endblock %}
{% block description %}{{ 'List of all my events'|trans }}{% endblock %}
{% block keywords %}{{ 'event'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_pageHeader.html.twig') }}
    <div class="container">
        <div class="my-events">
            <div class="header">
                <h1>{{ 'Edit event'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('New event'|trans), parent: {url: path('app_event'), page: 'My events'|trans}}) }}

            <main>
                {{ include('blocks/event/_form.html.twig') }}
            </main>

        </div>
        {{ include('blocks/_pagefooter.html.twig') }}
    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/event.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initHeader();
            document.querySelector(".header").setAttribute("style", "background: transparent;");
            document.querySelector("#event_save").innerHTML = "{{ "Update the event"|trans }}";
        })
    </script>
{% endblock %}
