{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My events'|trans }}{% endblock %}
{% block description %}{{ 'List of all my events'|trans }}{% endblock %}
{% block keywords %}{{ 'event'|trans }}{% endblock %}
{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        <div class="my-events">
            <div class="header">
                <h1>{{ 'My Events'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('My events'|trans)}) }}

            <main>
                <div class="events">
                    <div class="add-event"><i class="fa-solid fa-circle-plus"></i> {{ 'Add event'|trans }}</div>
                    {% for event in events %}
                        <a
                                {% if event.type == 'event' %}
                                    href="{{ path('app_event_show', {id: event.id}) }}"
                                {% endif %}
                                {% if event.type == 'alert' %}
                                    href="{{ path('app_serie_show', {id: event.id}) }}"
                                {% endif %}
                        >
                            <div class="event" data-type="{{ event.type }}" data-id="{{ event.id }}">
                                <div class="poster">
                                    {% if event.type == 'event' %}
                                        <img src="/images/events/thumbnails/{{ event.thumbnail }}" alt="{{ event.name }}">
                                    {% endif %}
                                    {% if event.type == 'alert' %}
                                        <img src="/images/series/posters/{{ event.thumbnail }}" alt="{{ event.name }}">
                                    {% endif %}
                                </div>
                                <div class="infos">
                                    <h2>{{ event.name }}</h2>
                                    <div>{{ event.subheading }}</div>
                                    {% if event.type == 'event' %}
                                        <div id="{{ event.id }}" class="tools">
                                            <i class="fa-solid fa-pen-to-square" title="{{ 'Edit'|trans }}"></i>
                                            {#                                                <i class="fa-solid fa-eye-slash" title="{{ 'Hide'|trans }}"></i> #}
                                            <i class="fa-solid fa-trash-can" title="{{ 'Delete'|trans }}"></i>
                                        </div>
                                    {% endif %}
                                    {% if event.type == 'alert' %}
                                        <div class="alert" title="{{ 'Alert'|trans }}">
                                            <i class="fa-solid fa-bell"></i>
                                        </div>
                                    {% endif %}
                                    {% if event.past %}
                                        <div class="past-event" title="{{ 'Past event'|trans }}">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="countdown" id="{{ event.id }}">
                                    {{ event.date|format_date('full') }}<br/>
                                    {{ event.date|format_time('medium') }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <dialog class="confirm-deletion">
        <div class="overlay">
            <div class="header">
                {{ 'Delete this event?'|trans }}
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="content">
                {{ 'Do you really want to delete this event?'|trans }}
                <span></span>
                {{ 'This operation is final and cannot be cancelled.'|trans }}
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary delete-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-danger delete-done">{{ 'Delete'|trans }}</button>
            </div>
        </div>
    </dialog>
    <div id="countdown-values" style="display: none">
        {
        "route": "event_index",
        "countdownValues": {{ countdownValues|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "app_event_new": "{{ path('app_event_new') }}",
        "app_event_edit": "{{ path('app_event_edit', {id: 0}) }}",
        "app_event_delete": "{{ path('app_event_delete', {id: 0}) }}"
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/eventIndex.js" type="module"></script>
{% endblock %}
