{% extends 'base.html.twig' %}

{% block title %}MyTvTime::{{ 'My events'|trans }}{% endblock %}
{% block description %}{{ 'List of all my events'|trans }}{% endblock %}
{% block keywords %}{{ 'event'|trans }}{% endblock %}
{% block body %}
    {{ include('blocks/_pageHeader.html.twig') }}
    <div class="container">
        <div class="my-events">
            <div class="header">
                <h1>{{ 'My Events'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('My events'|trans)}) }}

            <main>
                <div class="events">
                    <div class="add-event"><i class="fa-solid fa-circle-plus"></i> {{ 'Add event'|trans }}</div>
                    {% if events|length %}
                        {% for event in events %}
                            {% if event.visible %}
                                <a href="{{ path('app_event_show', {id: event.id}) }}">
                                    <div class="event" data-id="{{ event.id }}">
                                        <div class="poster">
                                            <img src="/images/events/thumbnails/{{ event.thumbnail }}" alt="{{ event.name }}">
                                        </div>
                                        <div class="infos">
                                            <h2>{{ event.name }}</h2>
                                            <div>{{ event.subheading }}</div>
                                            <div id="{{ event.id }}" class="tools">
                                                <i class="fa-solid fa-pen-to-square" title="{{ 'Edit'|trans }}"></i>
                                                <i class="fa-solid fa-eye-slash" title="{{ 'Hide'|trans }}"></i>
                                                <i class="fa-solid fa-trash-can" title="{{ 'Delete'|trans }}"></i>
                                            </div>
                                        </div>
                                        <div class="countdown" id="{{ event.id }}">
                                            {{ event.date|format_date('full') }}<br/>
                                            {{ event.date|format_time('medium') }}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="no-event">{{ 'No event'|trans }}</div>
                    {% endif %}
                </div>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <dialog class="confirm-deletion">
        <div class="overlay">
            <div class="header">
                {{ 'Delete this event?'|trans }}
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="content">
                {{ 'Do you really want to delete this event?'|trans }}
                <span></span>
                {{ 'This operation is final and cannot be cancelled.'|trans }}
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary delete-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-secondary delete-done">{{ 'Delete'|trans }}</button>
            </div>
        </div>
    </dialog>
{% endblock %}
{% block morejs %}
    <script src="/js/event.js"></script>
    <script>
        const locale = "{{ app.request.locale }}";
        let confirmDialog;

        window.addEventListener("DOMContentLoaded", () => {

            document.querySelector(".header").setAttribute("style", "background: transparent;");
            document.querySelector(".add-event").addEventListener("click", addNewEvent);
            confirmDialog = document.querySelector(".confirm-deletion");

            initHeader();
            initCountdowns(setCountdownValues());
            initTools(confirmDialog);
        });

        function setCountdownValues() {
            countdownValues = [];
            {% for e in events %}
            countdownValues[{{ loop.index0 }}] = {"id": {{ e.id }}, "date": "{{ e.date|format_datetime('short','short', locale='en-US') }}"};
            {% endfor %}
            return countdownValues;
        }

        function initTools(dialog) {
            const tools = document.querySelectorAll(".tools");
            const events = document.querySelectorAll(".event");

            tools.forEach(tool => {
                tool.querySelector(".fa-pen-to-square").addEventListener("click", editEvent);
                tool.querySelector(".fa-eye-slash").addEventListener("click", hideEvent);
                tool.querySelector(".fa-trash-can").addEventListener("click", deleteEvent);
            });

            events.forEach(event => {
                event.addEventListener("mouseenter", showTools);
                event.addEventListener("mouseleave", hideTools);
            });


            dialog.querySelector(".delete-done").addEventListener("click", () => {
                closeDialog(dialog, true);
            })
            dialog.querySelector(".delete-cancel").addEventListener("click", () => {
                closeDialog(dialog, false);
            })
            dialog.querySelector(".close").addEventListener('click', function () {
                closeDialog(dialog, false);
            });
        }

        function openDialog(dialog, id, elem) {
            const infos = elem.closest(".infos");
            dialog.querySelector("span").innerHTML = infos.querySelector("h2").innerHTML;
            dialog.setAttribute("data-id", id);

            if (typeof dialog.showModal === "function") {
                dialog.showModal();
                setTimeout(() => {
                    dialog.classList.add("show")
                }, 0);
            } else {
                console.error("L'API <dialog> n'est pas prise en charge par ce navigateur.");
            }
        }

        function closeDialog(dialog, deleteEvent) {
            let id = dialog.getAttribute("data-id");
            dialog.removeAttribute("data-id");
            dialog.classList.remove("show");
            setTimeout(() => {
                dialog.close()
            }, 300);
            if (deleteEvent) {

                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    const selector = ".event[data-id=\"" + id + "\"]";
                    const event = document.querySelector(selector);
                    const a = event.closest("a");
                    setTimeout(() => {
                        a.classList.add("deleted");
                    }, 0);
                    setTimeout(() => {
                        const events = a.closest(".events");
                        events.removeChild(a);
                    }, 300);
                }
                xhr.open("GET", "/" + locale + "/event/delete/" + id);
                xhr.send();
            }
        }

        function showTools(evt) {
            const tools = evt.currentTarget.querySelector(".tools");
            tools.classList.add("show");
        }

        function hideTools(evt) {
            const tools = evt.currentTarget.querySelector(".tools");
            tools.classList.remove("show");
        }

        function addNewEvent(evt) {
            evt.currentTarget.classList.add("click");
            setTimeout(() => {
                window.location.href = "{{ path('app_event_new') }}";
            }, 100);
        }

        function editEvent(evt) {
            const id = evt.currentTarget.parentElement.getAttribute("id");
            console.log('edit', {id});
            evt.preventDefault();
            window.location.href = "/" + locale + "/event/edit/" + id;
        }

        function hideEvent(evt) {
            const id = evt.currentTarget.parentElement.getAttribute("id");
            console.log('hide', {id});
            evt.preventDefault();
        }

        function deleteEvent(evt) {
            const id = evt.currentTarget.parentElement.getAttribute("id");
            console.log('delete', {id});
            evt.preventDefault();
            openDialog(confirmDialog, id, evt.currentTarget);
        }
    </script>
{% endblock %}
