{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My events'|trans }} ▶ ︎{{ 'New event'|trans }}{% endblock %}
{% block description %}{{ 'List of all my events'|trans }}{% endblock %}
{% block keywords %}{{ 'event'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        <div class="my-events">
            <div class="header">
                <h1>{{ 'New event'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('New event'|trans), parent: {url: path('app_event'), page: 'My events'}}) }}

            <main>
                {{ include('blocks/event/_form.html.twig') }}
            </main>

        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/EventHeader.js" type="module"></script>
{% endblock %}
