{% extends 'base.html.twig' %}

{% block title %}my TvTime ▶ ︎{{ 'My events'|trans }} ▶ ︎{{ event.name }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        <div class="my-event">
            <div class="header">
                <h1>{{ 'My Events'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage: event.name, user: app.user, parent: {url: path('app_event'), page: 'My Events'}}) }}

            <main>
                <div class="sub-header">
                    <div class="thumbnail">
                        {% if event.thumbnail %}
                            <img src="/images/events/thumbnails/{{ event.thumbnail }}" alt="{{ event.name }}" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="banner">
                        {% if event.banner %}
                            <img src="/images/events/banners/{{ event.banner }}" alt="{{ event.name }}" loading="lazy">
                        {% endif %}
                    </div>
                </div>
                <div class="event">
                    <h2>{{ event.name }}</h2>
                    <h3>{{ event.subheading }}</h3>

                    <div class="dates">
                        <div class="date">{{ 'Created At'|trans }} : {{ event.createdAt|format_datetime() }}</div>
                        <div class="date">{{ 'Updated At'|trans }} : {{ event.updatedAt|format_datetime() }}</div>
                    </div>

                    <div class="countdown" id="{{ event.id }}">
                        {{ event.date|format_date('full') }}<br/>
                        {{ event.date|format_time('medium') }}
                    </div>

                    <div class="description">{{ description|raw }}</div>
                </div>
                <div class="images">
                    {% for image in event.images %}
                        <div class="image">
                            <figure>
                                <img src="/images/events/images/{{ image.path }}" alt="{{ image.caption }}" loading="lazy">
                                <figcaption>{{ image.caption }}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <div id="countdown-values" style="display: none">
        {
        "route": "event_show",
        "countdownValues": {{ countdownValues|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vanilla/diaporama.js') }}"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {

            // Ne fonctionne pas
            // const images = document.querySelector(".my-event").querySelector(".sub-header,.images").querySelectorAll("img");
            // Fonctionne
            const images = document.querySelectorAll('.sub-header img, .images img');
            initDiaporama(images, "{{ app.request.locale }}");
        })
    </script>
{% endblock %}
