{% extends 'base.html.twig' %}
{% block title %}
    {% if route == 'app_home' %}
        myTvTime::{{ 'Movies'|trans }}::{{ 'Page'|trans }} {{ pages.page }}
    {% endif %}
    {% if route == 'app_home_tv' %}
        myTvTime::{{ 'Tv Shows'|trans }}::{{ 'Page'|trans }} {{ pages.page }}
    {% endif %}
    {% if route == 'app_home_series' %}
        myTvTime::{{ 'Series'|trans }}::{{ 'Page'|trans }} {{ page }}
    {% endif %}
{% endblock %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}

    {% set discovers = route == 'app_home_series' ? discovers.shows:discovers.results %}

    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        {% if route == 'app_home' %}
            <div class="home-header bg{{ random(5) }}"></div>
        {% endif %}
        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
            <ol class="breadcrumb">
                {% if route == 'app_home' %}
                    <li class="breadcrumb-item active" aria-current="{{ 'Homepage'|trans }}">{{ 'Homepage'|trans }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Homepage'|trans }}</a></li>
                {% endif %}
                {% if route == 'app_home_tv' %}
                    <li class="breadcrumb-item active" aria-current="{{ 'Tv Shows'|trans }}">{{ 'Tv Shows'|trans }}</li>
                {% endif %}
                {% if route == 'app_home_series' %}
                    <li class="breadcrumb-item active" aria-current="{{ 'Series'|trans }}">{{ 'Series'|trans }}</li>
                {% endif %}
            </ol>
        </nav>

        {% if route == 'app_home' %}
            <div class="search">
                <div class="search-label">{{ 'Search Movies by'|trans }}</div>
                <div class="btn-toolbar" role="toolbar" aria-label="{{ 'Toolbar with button groups'|trans }}">
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="{{ 'First group'|trans }}">
                        <a href="{{ path('app_movies_search', {query: ''}) }}" class="btn btn-outline-secondary">{{ 'Name'|trans }}</a>
                        <a href="{{ path('app_movies_by_genre', {genres: '1'}) }}" class="btn btn-outline-secondary">{{ 'Genre'|trans }}</a>
                        <a href="{{ path('app_movies_by_date', {date: '2022'}) }}" class="btn btn-outline-secondary">{{ 'Date'|trans }}</a>
                    </div>
                </div>
                <form>
                    <div class="sort_select">
                        <div class="label">{{ 'Sort'|trans }}</div>
                        <select id="sort" class="form-select form-select-sm" aria-label="{{ 'Sort selection'|trans }}">
                            {% for key, sort in sorts.options %}
                                <option value="{{ sort }}"{% if sort == sorts.sort_by %} selected{% endif %}>{{ key|raw }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        {% endif %}

        <div class="home-discovers">
            {{ include('blocks/discoverPaging.html.twig') }}
            <div class="content">
                {% for discover in discovers %}
                    {% set dTitle = route in ['app_home', 'app_home_series', 'app_admin_dashboard_index'] ? discover.title: discover.name %}
                    {% set dDate = route == 'app_home' ? discover.release_date : route == 'app_home_tv' ? discover.first_air_date: '' %}
                    {% if discover.poster_path is defined and discover.poster_path|length %}
                        {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ discover.poster_path %}
                    {% elseif discover.images is defined and discover.images.poster|length %}
                        {% set poster = discover.images.poster %}
                    {% else %}
                        {% set poster = "/images/default/no_poster_dark.png" %}
                    {% endif %}
                    {{ include('blocks/movie/discover.html.twig', { title: dTitle, poster: poster, id: discover.id, route: dRoute }) }}
                {% endfor %}
            </div>
            {{ include('blocks/discoverPaging.html.twig') }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/select-movie.js"></script>
    <script>
        const paths = [
            "{{ path('profile_infos') }}",
            "{{ path('imdb_infos') }}",
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
        ];

        window.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
                document.querySelector(".home-header").setAttribute("style", "background-position-y: top");
            }, 10);
            const select = document.querySelector("#sort");
            select.addEventListener("change", function () {
                let value = select.options[select.selectedIndex].value;
                window.location.href = '{{ path(route) }}?sort=' + value + '&page=1';
            });
            initMovieStuff(paths, "{{ locale }}");
        })
    </script>
    })
    </script>
{% endblock %}
