{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime' }}{% endblock %}

{% block body %}

    {% set discovers = route == 'app_home_series' ? discovers.shows:discovers.results %}

    {{ include('blocks/pageHeader.html.twig') }}

    <div class="container">

        {% if route == 'app_home' %}
            <div class="search">
                <div class="search-label">{{ 'Search Movies by'|trans }}</div>
                <div class="btn-toolbar" role="toolbar" aria-label="{{ 'Toolbar with button groups'|trans }}">
                    <div class="btn-group me-2" role="group" aria-label="{{ 'First group'|trans }}">
                        <a href="{{ path('app_movies_search', {query: ''}) }}" class="btn btn-outline-secondary">{{ 'Name'|trans }}</a>
                        <a href="{{ path('app_movies_by_genre', {genres: '1'}) }}" class="btn btn-outline-secondary">{{ 'Genre'|trans }}</a>
                        <a href="{{ path('app_movies_by_date', {date: '2022'}) }}" class="btn btn-outline-secondary">{{ 'Date'|trans }}</a>
                    </div>
                </div>
                <div class="sort_select">
                    <div class="label">{{ 'Sort'|trans }}</div>
                    <form>
                        <select id="sort" class="form-select" aria-label="{{ 'Sort selection'|trans }}">
                            {% for key, sort in sorts.options %}
                                <option value="{{ sort }}"{% if sort == sorts.sort_by %} selected{% endif %}>{{ key|raw }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <script>
                        $(function () {
                            let sort = $('select');
                            let initialValue = $(sort).val(), newValue = 'popularity.desc';

                            $(sort).change(function () {
                                newValue = $(sort).val();
                                if (newValue !== initialValue) {
                                    window.location.href = '{{ path(route) }}?sort=' + newValue + '&page=1';
                                }
                            });
                        })
                    </script>
                </div>
            </div>
        {% endif %}

        <div class="home-discovers">
            <div class="home-discovers-content">
                {% for discover in discovers %}
                    {% set dTitle = route in ['app_home', 'app_home_series', 'app_admin_dashboard_index'] ? discover.title: discover.name %}
                    {% set dDate = route == 'app_home' ? discover.release_date : route == 'app_home_tv' ? discover.first_air_date: '' %}
                    <div class="home-discover" id="{{ discover.id }}">
                        <a href="{{ path(dRoute, {id: discover.id}) }}">
                            {% if discover.poster_path is defined and discover.poster_path|length %}
                                <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.3 }}{{ discover.poster_path }}" class="d-block w-100" alt="{{ dTitle }}">
                            {% elseif discover.images is defined and discover.images.poster|length %}
                                <img src="{{ discover.images.poster }}" class="d-block w-100" alt="{{ dTitle }}">
                            {% else %}
                                <img src="/images/default/no_poster_dark.png" class="d-block w-100" alt="{{ dTitle }}">
                            {% endif %}
                            <div class="home-discover-title">{{ dTitle }}</div>
                            {% if dDate|length %}
                                <div class="home-discover-date">{{ 'Release Date'|trans }} : {{ dDate|format_date('short') }}</div>
                            {% endif %}
                            {% if discover.platforms is defined %}
                                {% if discover.platforms %}
                                    {% if discover.platforms.svod is defined %}
                                        <img src="{{ discover.platforms.svod.logo }}" alt="{{ discover.platforms.svod.name }}" class="logo">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </a>
                        {# Badges on seen Movies #}
                        {% if route == 'app_home' and app.user is not null %}
                            <div class="has-been-seen{% if discover.id in userMovies %} yes{% endif %}" id="{{ discover.id }}">
                                <i class="bi bi-check-circle-fill"></i>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {{ include('blocks/pageDiscoverFooter.html.twig') }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
