{% extends 'base.html.twig' %}
{% block title %}myTvTime ▶ ︎{{ 'Home'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="home-header">
            {{ include('blocks/_clock.html.twig') }}
        </div>

        {{ include('blocks/_nav.html.twig', {thisPage: 'Home'|trans, user: app.user}) }}
{#        {{ include('blocks/source/_button.html.twig') }}#}

        <main>
            {% for list in lists %}
                {% if list.data %}
                    <h2>{{ list.name|trans }}</h2>
                    <div class="home-list">
                        <div class="wrapper">
                            {% for item in list.data %}
                                {% if list.type=='movie' %}
                                    {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ item.posterPath %}
                                    {{ include('blocks/movie/_discover.html.twig', { title: item.title, poster: poster, id: item.movieDbId }) }}
                                {% endif %}
                                {% if list.type=='serie' %}
                                    {{ include('blocks/serie/_card-home.html.twig', {type: 'show', serie: item, poster_path: item.posterPath}) }}
                                {% endif %}
                                {% if list.type=='sql serie' %}
                                    {{ include('blocks/serie/_card-home.html.twig', {type: 'show', serie: item, poster_path: item.poster_path}) }}
                                {% endif %}
                                {% if list.type=='people' %}
                                    {% if item.profile_path %}
                                        {{ include('blocks/people/_card-home.html.twig', {people: item}) }}
                                    {% endif %}
                                {% endif %}
                                {% if list.type=='tmdb movie' %}
                                    {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ item.poster_path %}
                                    {{ include('blocks/movie/_discover.html.twig', { title: item.title, poster: poster, id: item.id }) }}
                                {% endif %}
                                {% if list.type=='tmdb serie' %}
                                    {{ include('blocks/serie/_card-home.html.twig', {type: 'tmdb', serie: item, poster_path: item.poster_path}) }}
                                {% endif %}
                                {% if list.type=='tmdb mixte' %}
                                    {% if item.media_type == 'movie' %}
                                        {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ item.poster_path %}
                                        {{ include('blocks/movie/_discover.html.twig', { title: item.title, poster: poster, id: item.id }) }}
                                    {% endif %}
                                    {% if item.media_type == 'tv' %}
                                        {{ include('blocks/serie/_card-home.html.twig', {type: 'tmdb', serie: item, poster_path: item.poster_path}) }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </main>
        {{ include('blocks/_pageFooter.html.twig') }}

    </div>

{#    {{ show_source_code(_self) }}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    <script src="/js/source.js"></script>#}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const container = document.querySelector(".container");
            if (container.clientWidth < 1200) {
                return;
            }
            const header = document.querySelector(".home-header");
            const div1 = document.createElement("div");

            div1.classList.add("posters");
            header.appendChild(div1);
            getPosters(div1, 1);

            if (container.clientWidth > 1500) {
                const div2 = document.createElement("div");
                div2.classList.add("posters", "second");
                header.appendChild(div2);
                getPosters(div2, 2);
            }

            if (container.clientWidth > 1800) {
                const div3 = document.createElement("div");
                div3.classList.add("posters", "third");
                header.appendChild(div3);
                getPosters(div3, 3);
            }
        });

        function getPosters(div, n) {
            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                let data = JSON.parse(this.response);
                console.log({data});
                cyclePosters(div, data['posters'], n);
            }
            xhr.open("GET", '/get-posters?n=' + n, true);
            xhr.send();
        }

        function cyclePosters(div, posters, n) {
            let i = 0;
            const img = document.createElement("img");
            img.src = posters[i++];
            div.appendChild(img);

            setTimeout(() => {
                div.classList.add("fade");
                img.classList.add("end");
                launchCycle(div, posters, i);
            }, (n - 1) * 2500);
        }

        function launchCycle(div, posters, i) {
            setInterval(() => {
                const newImg = document.createElement("img");
                const oldImg = div.querySelector("img");

                newImg.src = posters[i++];
                if (oldImg) div.removeChild(oldImg);
                div.appendChild(newImg);
                setTimeout(() => {
                    newImg.classList.add("end");
                }, 0);
                if (i >= posters.length) {
                    i = 0;
                }
            }, 5000);
        }
    </script>
{% endblock %}
