{% extends 'base.html.twig' %}
{% block morecss %}
    {#    <link href="{{ asset("movie.css") }}" rel="stylesheet"> #}
{% endblock %}

{% block title %}myTvTime ▶ ︎{{ 'My Collections'|trans }} ▶ ︎{{ collection.name }}{% endblock %}

{% block body %}

    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        {{ include('blocks/_nav.html.twig', {thisPage: 'Collection'}) }}

        {% if collection.backdrop_path %}
            <div class="collection-header" style="background-image: url('{{ imageConfig.url }}{{ imageConfig.backdrop_sizes.2 }}{{ collection.backdrop_path }}')">
                {% if collection.poster_path %}
                    <div class="collection-poster">
                        <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.3 }}{{ collection.poster_path }}" alt="{{ collection.name }}">
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="movie-info">
            <div class="movie-detail">
                <h1>{{ collection.name }}</h1>
                {% if collection.overview | length %}
                    <div class="overview">
                        {{ 'Overview'|trans }} :
                        {{ collection.overview }}
                    </div>
                {% endif %}
                {% if collection.parts is not empty %}
                    <div class="collection-parts">
                        <h2>{{ 'Films'|trans }}</h2>
                        {% for part in collection.parts %}
                            <div class="part">
                                <div class="movie-header">
                                    <div class="poster">
                                        {% if part.poster_path %}
                                            <a href="{{ path('app_movie', {id: part.id}) }}?from={{ from }}" class="w-100">
                                                <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.3 }}{{ part.poster_path }}" alt="{{ part.title }}" class="w-100 h-auto">
                                            </a>
                                        {% else %}
                                            <img src="/images/default/no_poster_dark.png" class="d-block w-100" alt="{{ part.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="backdrop">
                                        {% if part.backdrop_path %}
                                            <img src="{{ imageConfig.url }}{{ imageConfig.backdrop_sizes.2 }}{{ part.backdrop_path }}" class="d-block w-100" alt="{{ part.title }}">
                                        {% else %}
                                            <div class="no-backdrop">{{ 'No banner'|trans }}</div>
                                        {% endif %}
                                    </div>

                                    {{ include('blocks/movie/_rating.html.twig', {id: part.id, seen: part.id in userMovies}) }}
                                </div>
                                <div class="sub-part">
                                    <div class="movie-detail">
                                        <h2>{{ part.title }}</h2>
                                        <div class="original_title">{{ 'Original Title'|trans }} : {{ part.original_title }}</div>
                                        <div class="genres">
                                            {% for genre in part.genres %}
                                                <div class="genre"><a href="{{ path('app_movies_by_genre', {genres: genre.id}) }}">{{ genre.name }}</a></div>
                                            {% endfor %}
                                        </div>
                                        {% if part.overview | length %}
                                            <div class="overview">
                                                {{ 'Overview'|trans }} :
                                                {{ part.overview }}
                                            </div>
                                        {% endif %}
                                        {% if part.release_date|length %}
                                            <div class="date">
                                                {{ 'Release Date'|trans }} : {{ part.release_date|format_date('short') }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/movie.js"></script>
    <script>
        const paths = [
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
        ];

        window.addEventListener("DOMContentLoaded", () => {
            initMovieStuff(paths, "", "{{ locale }}");
        })
    </script>
{% endblock %}