{% extends 'base.html.twig' %}
{% block morecss %}
{#    <link href="{{ asset("movie.css") }}" rel="stylesheet">#}
{% endblock %}

{% block title %}myTvTime::{{ 'Movies by genre'|trans }}{% endblock %}
{% block body %}
    {#    {{ dump() }} #}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="{{ 'Search by Genre'|trans }}">{{ 'Search by Genre'|trans }}</li>
            </ol>
        </nav>

        <div class="genres">
            {% for key, genre in possible_genres.genres %}
                <div id="{{ genre.id }}" class="genre{{ genre.id in current_genres ? ' active':'' }}">{{ genre.name }}</div>
            {% endfor %}
        </div>
        <div class="home-discovers">
            <div class="content">
                {% for discover in discovers.results %}
                    {% if discover.poster_path is defined and discover.poster_path|length %}
                        {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ discover.poster_path %}
                    {% else %}
                        {% set poster = "/images/default/no_poster_dark.png" %}
                    {% endif %}
                    {{ include('blocks/movie/discover.html.twig', { title: discover.title, poster: poster, id: discover.id, route: 'app_movie' }) }}

{#                    <div class="home-discover">#}
{#                        <a href="{{ path('app_movie', {id: discover.id}) }}">#}
{#                            {% if discover.poster_path %}#}
{#                                <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.3 }}{{ discover.poster_path }}" alt="{{ discover.title }}">#}
{#                            {% else %}#}
{#                                <img src="/images/default/no_poster_dark.png" alt="{{ discover.title }}">#}
{#                            {% endif %}#}
{#                            <div class="title">{{ discover.title }}</div>#}
{#                            {% if discover.release_date is defined %}#}
{#                                <div class="date">{{ 'Release Date'|trans }} : {{ discover.release_date|date("d/m/Y") }}</div>#}
{#                            {% endif %}#}
{#                        </a>#}
{#                        #}{# Badges on seen Movies #}
{#                        {% if app.user is not null %}#}
{#                            <div class="has-been-seen{% if discover.id in userMovies %} yes{% endif %}" id="{{ discover.id }}"><i class="bi bi-check-circle-fill"></i></div>#}
{#                        {% endif %}#}
{#                    </div>#}
                {% endfor %}
            </div>
            {{ include('blocks/pageGenreFooter.html.twig') }}
        </div>
        {{ include('blocks/pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block morejs %}
    <script>
        $(function () {
            $('.genre').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).addClass('active')
                }
                let list = '',
                    url = '{{ path(route, {page: 1, genres: 28}) }}';

                $('.genre').each(function () {
                    if ($(this).hasClass('active')) {
                        list += $(this).attr('id') + ',';
                    }
                })
                list = list.length ? list.substring(0, list.length - 1) : '1';
                url = url.substring(0, url.length-2) + list;
                window.location.href = url;
            })
        })
    </script>
{% endblock %}