{% extends 'base.html.twig' %}
{% block morecss %}
    {#    <link href="{{ asset("movie.css") }}" rel="stylesheet"> #}
{% endblock %}

{% block title %}myTvTime::{{ movie.title }}{% endblock %}
{% block body %}
{#        {% if app.debug=='dev' %}{{ dump() }}{% endif %}#}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '|';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
                {{ include('blocks/movie/bracket.html.twig') }}
                <li class="breadcrumb-item active" aria-current="{{ movie.title }}">{{ movie.title }}</li>
            </ol>
        </nav>

        {% if movie.backdrop_path %}
            <div class="movie-header">
                <img src="{{ imageConfig.url }}{{ imageConfig.backdrop_sizes.2 }}{{ movie.backdrop_path }}" class="d-block w-100" alt="{{ movie.title }}">
                <div class="user">
                    {% if hasBeenSeen %}
                        <div class="rating">
                            <div class="star" data-rate="1"></div>
                            <div class="star" data-rate="2"></div>
                            <div class="star" data-rate="3"></div>
                            <div class="star" data-rate="4"></div>
                            <div class="star" data-rate="5"></div>
                        </div>
                    {% endif %}
                    <div class="has-been-seen{% if hasBeenSeen %} yes{% endif %}" id="{{ movie.id }}"><i class="bi bi-check-circle-fill"></i></div>
                </div>
            </div>
        {% endif %}
        <div class="movie-info">
            <div class="row w-100">
                <div class="col-lg-7 col-12">
                    <div class="movie-detail">
                        <div class="row">
                            <div class="col">
                                <div class="title">{{ movie.title }}</div>
                                <div class="original_title">{{ 'Original Title'|trans }} : {{ movie.original_title }}</div>
                                <div class="genres">
                                    {% for genre in movie.genres %}
                                        <div class="genre"><a href="{{ path('app_movies_by_genre', {genres: genre.id}) }}">{{ genre.name }}</a></div>
                                    {% endfor %}
                                </div>
                                {% if movie.overview | length %}
                                    <div class="overview">
                                        {{ 'Overview'|trans }} :
                                        {{ movie.overview }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                {% if movie.runtime %}
                                    <div class="runtime">
                                        {{ 'Runtime'|trans }} :
                                        {% if movie.runtime//60 > 0 %}
                                            {{ movie.runtime//60 }}
                                            {% if movie.runtime//60>1 %}{{ 'Hours'|trans }}{% else %}{{ 'Hour'|trans }}{% endif %}
                                        {% endif %}
                                        {{ movie.runtime%60 }} {{ 'Minute'|trans }}{% if movie.runtime%60>1 %}s{% endif %}
                                    </div>
                                {% endif %}
                                {% if movie.revenue > 0 %}
                                    <div class="revenue">
                                        {{ 'Revenue'|trans }} : {{ movie.revenue }}$
                                    </div>
                                {% endif %}
                                <div class="vote">
                                    {{ 'Average Vote'|trans }} : {{ movie.vote_average }}.
                                    {{ 'Vote Count'|trans }} : {{ movie.vote_count }}
                                </div>
                                {% if movie.homepage | length %}
                                    <div class="homepage">
                                        {{ 'Home Page'|trans }} :
                                        <a href="{{ movie.homepage }}" target="_blank">
                                        <span data-descr="{{ 'Visit the official Movie Website'|trans }}">
                                            {{ movie.homepage }}&nbsp;<i class="bi bi-link-45deg"></i>
                                         </span>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if movie.imdb_id | length %}
                                    <div class="imdb">
                                        <a href="https://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">
                                        <span data-descr="{{ 'Visit the Movie Page on IMDB'|trans }}">
                                            {{ 'IMDB Page'|trans }}&nbsp;<i class="bi bi-link-45deg"></i>
                                        </span>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if dates is empty %}
                                    <div class="date">
                                        {{ 'Release Date'|trans }} : {{ movie.release_date|format_date('short') }}
                                    </div>
                                {% else %}
                                    <div class="release-dates">
                                        <h2>{{ 'Release Dates'|trans }}</h2>
                                        {% for location in dates %}
                                            <div class="country">
                                                <div class="name">{{ location.iso_3166_1|country_name(locale) }}</div>
                                                <div class="dates">
                                                    {% for date in location.release_dates %}
                                                        <div class="event">
                                                            {{ date.type|trans }}{% if date.note is defined and date.note|length %}&nbsp;-&nbsp;{{ date.note }}{% endif %}&nbsp;:&nbsp;{{ date.release_date|format_date('short') }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if movie.production_companies %}
                                    <h2>{{ 'Production'|trans }}</h2>
                                    <div class="productions">
                                        {{ 'Production Companies'|trans }} :
                                        <div>
                                            {% for cie in movie.production_companies %}
                                                <div class="production">
                                                    <div>{{ cie.name }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if movie.production_countries %}
                                    <div class="productions">
                                        {{ 'Production Countries'|trans }} :
                                        <div>
                                            {% for country in movie.production_countries %}
                                                <div class="production">{{ country.iso_3166_1 |country_name(locale) }} {# ({{ country.name }}) #}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if movie.belongs_to_collection %}
                                <div class="col-lg-6 col-12">
                                    {#    "id" => 2344
                                          "name" => "The Matrix Collection"
                                          "poster_path" => "/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg"
                                          "backdrop_path" => "/bRm2DEgUiYciDw3myHuYFInD7la.jpg" #}
                                    <h2>{{ 'Belongs to Collection'|trans }}</h2>
                                    <div class="collection">
                                        <div class="card text-center" style="width: 100%;">
                                            {% if movie.belongs_to_collection.backdrop_path %}
                                                <img src="{{ imageConfig.url }}{{ imageConfig.backdrop_sizes.0 }}{{ movie.belongs_to_collection.backdrop_path }}" class="card-img-top" alt="movie.belongs_to_collection.name">
                                            {% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title">{{ movie.belongs_to_collection.name }}</h5>
                                                <div><img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.1 }}{{ movie.belongs_to_collection.poster_path }}" alt=""></div>
                                                <div><a href="{{ path('app_movie_collection', {mid: movie.id, id: movie.belongs_to_collection.id }) }}" class="btn btn-secondary mt-3">{{ 'See the Collection'|trans }}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="movie-poster">
                        {% if movie.poster_path %}
                            <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.3 }}{{ movie.poster_path }}" alt="{{ movie.title }}">
                        {% else %}
                            <img src="/images/default/no_poster_dark.png" class="d-block w-100" alt="{{ movie.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if recommendations is not empty %}
            <h2>{{ 'Recommendations'|trans }}</h2>
            <div class="recommendations">
                {% for recommendation in recommendations %}
                    <div class="recommendation">
                        <a href="{{ path('app_movie', {id: recommendation.id}) }}">
                            {% if recommendation.poster_path %}
                                <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.1 }}{{ recommendation.poster_path }}" alt="{{ recommendation.original_title }}">
                            {% else %}
                                <div class="no-poster">
                                    <img src="/images/default/no_poster_dark.png" class="d-block w-100" alt="{{ recommendation.original_title }}">
                                    <div class="title">{{ recommendation.title }}</div>
                                    <div class="original-title">{{ recommendation.original_title }}</div>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if cast is not empty %}
            <h2>{{ 'Casting'|trans }}</h2>
            <div class="cast">
                <div class="content">
                    {% for actor in cast %}
                        <div class="actor" data-bs-toggle="modal" data-bs-target="#personModal">
                            {% if actor.profile_path | length %}
                                <div class="profile" style="background-image: url('{{ imageConfig.url }}{{ imageConfig.profile_sizes.1 }}{{ actor.profile_path }}')" data-id="{{ actor.id }}"></div>
                            {% else %}
                                <div class="profile" data-id="{{ actor.id }}"></div>
                            {% endif %}
                            <div class="name">{{ actor.name }}</div>
                            <div class="character">{{ actor.character }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if crew is not empty %}
            <h2>{{ 'Crew'|trans }}</h2>
            <div class="crew">
                <div class="content">
                    {% for member in crew %}
                        <div class="member" data-bs-toggle="modal" data-bs-target="#personModal">
                            {% if member.profile_path | length %}
                                <div class="profile" style="background-image: url('{{ imageConfig.url }}{{ imageConfig.profile_sizes.1 }}{{ member.profile_path }}')" data-id="{{ member.id }}"></div>
                            {% else %}
                                <div class="profile" data-id="{{ member.id }}"></div>
                            {% endif %}
                            <div class="job">{{ member.job }}</div>
                            <div class="name">{{ member.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="modal fade" id="personModal" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Name</h5>
                        {#                        <div>{{ 'Also known as'|trans }}</div> : <div class="also_known_as"></div> #}
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="person-modal">
                            <div class="person-infos">
                                <div class="biography">{{ 'Biography'|trans }} :
                                    <div></div>
                                </div>
                                <div class="birthday">{{ 'Birthday'|trans }} : <span></span></div>
                                <div class="death-day">{{ 'Death-day'|trans }} : <span></span></div>
                                <div class="homepage">{{ 'Home Page'|trans }} : <span></span></div>
                                <div class="imdb-page">{{ 'Personal IMDB Page'|trans }} : <span></span></div>
                                <div class="known-for-department">{{ 'Known for Department'|trans }} : <span></span></div>
                                <div class="place-of-birth">{{ 'Place of Birth'|trans }} : <span></span></div>
                            </div>
                            <div class="person-profile"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ include('blocks/pageFooter.html.twig') }}
    </div>
    <div class="notification"></div>
{% endblock %}
{% block morejs %}
    <script>
        let movieRating;
        window.addEventListener("DOMContentLoaded", () => {


            const profiles = document.querySelectorAll(".profile");
            const rating = document.querySelector(".rating");

            profiles.forEach(profile => {
                profile.addEventListener("click", getProfile);
            })

            if (rating !== undefined) {

                rating.setAttribute("style", "opacity: 0");
                getMovieRating(rating);
            }
        })

        function getProfile(e) {
            let id = e.target.getAttribute("data-id").toString();

            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                const data = JSON.parse(this.response);
                let locale = data['locale'];
                let person = data['person'];
                let name = person['name'],
                    // also_known_as = person['also_known_as'],
                    biography = person['biography'],
                    birthday = person['birthday'],
                    death_day = person['death-day'],
                    homepage = person['homepage'],
                    imdbpage = person['imdb_id'],
                    known_for_department = person['known_for_department'],
                    place_of_birth = person['place_of_birth'],
                    profile_path = person['profile_path'],
                    gender = person['gender'];
                let department = data['department'];
                // console.log(department);

                // $('.modal-title').html(name);
                document.querySelector(".modal-title").innerHTML = name;
                // $('.also_known_as').html(also_known_as);
                if (biography && biography.length) {
                    // $('.biography div').html(biography);
                    document.querySelector(".biography div").innerHTML = biography;
                } else {
                    // $('.biography div').html('<div class="d-flex">Searching on IMDB ...&nbsp;<div class="spinner-border text-light ms-3" role="status"><span class="visually-hidden">Loading...</span></div></div>');
                    document.querySelector(".biography div").innerHTML = '<div class="d-flex">Searching on IMDB ...&nbsp;<div class="spinner-border text-light ms-3" role="status"><span class="visually-hidden">Loading...</span></div></div>';

                    const xhr2 = new XMLHttpRequest();
                    xhr2.onload = function () {
                        const imdb = JSON.parse(this.response);
                        if (imdb['success']) {
                            let imdb_infos = imdb['person'];
                            // console.log(imdb_infos);
                            // $(".biography div").html(
                            document.querySelector(".biography div").innerHTML =
                                '<div>' +
                                imdb_infos['summary'] +
                                '</div>' +
                                '<div style="color: #eee;font-style: italic;">' +
                                imdb_infos['translated'] +
                                '</div>';
                        } else
                            document.querySelector(".biography div").setAttribute("style", "display: none");
                    }
                    xhr2.open("GET", {{ 'imdb_infos' }} +"?name=" + name + "&locale=" + {{ locale }});
                    xhr2.send();
                }
                // if (birthday && birthday.length) $('.birthday span').html(dateFormat(birthday, locale)); else $('.birthday').css('display', 'none');
                if (birthday && birthday.length) document.querySelector(".birthday span").innerHTML = birthday.toLocaleString(); else document.querySelector(".birthday").setAttribute("style", "display: none");
                // if (death_day && death_day.length) $('.death-day span').html(dateFormat(death_day, locale)); else $('.death-day').css('display', 'none');
                if (death_day && death_day.length) document.querySelector(".death-day span").innerHTML = death_day.toLocaleString(); else document.querySelector(".death-day").setAttribute("style", "display: none");
                // if (homepage && homepage.length) $('.homepage span').html('<a href="' + homepage + '" target="_blank">' + homepage + '</a>'); else $('.homepage').css('display', 'none');
                if (homepage && homepage.length) document.querySelector(".homepage span").innerHTML = '<a href="' + homepage + '" target="_blank">' + homepage + '</a>'; else document.querySelector(".homepage").setAttribute("style", "display: none");
                // if (imdbpage && imdbpage.length) $('.imdb-page span').html('<a href="https://www.imdb.com/name/' + imdbpage + '" target="_blank"></a>'); else $('.imdb-page').css('display', 'none');
                if (imdbpage && imdbpage.length) document.querySelector(".imdb-page span").innerHTML = '<a href="https://www.imdb.com/name/' + imdbpage + '" target="_blank"></a>'; else document.querySelector(".imdb-page").setAttribute("style", "display: none");
                // if (place_of_birth && place_of_birth.length) $('.place-of-birth span').html(place_of_birth); else $('.place-of-birth').css('display', 'none');
                if (place_of_birth && place_of_birth.length) document.querySelector(".place-of-birth span").innerHTML = place_of_birth; else document.querySelector(".place-of-birth").setAttribute("style", "display: none");

                if (known_for_department && known_for_department.length) {
                    if (locale === 'en' || department[locale][known_for_department] === undefined) {
                        // $('.known-for-department span').html('<span style="color: ' + (locale === 'en' ? 'green' : 'red') + '">' + known_for_department + '</span>');
                        document.querySelector(".known-for-department span").innerHTML = '<span style="color: ' + (locale === 'en' ? 'green' : 'red') + '">' + known_for_department + '</span>';
                    } else {
                        // $('.known-for-department span').html(department[locale][known_for_department][gender]);
                        document.querySelector(".known-for-department span").innerHTML = department[locale][known_for_department][gender];
                    }
                } else {
                    // $('.known-for-department').css('display', 'none');
                    document.querySelector(".known-for-department").setAttribute("style", "display: none");
                }

                {# $('.person-profile').html('<img src="{{ imageConfig.url }}{{ imageConfig.profile_sizes.1 }}' + profile_path + '" alt="' + name + '">'); #}
                document.querySelector(".person-profile").innerHTML = '<img src="{{ imageConfig.url }}{{ imageConfig.profile_sizes.1 }}' + profile_path + '" alt="' + name + '">';
            }
            xhr.open("GET", {{ 'profile_infos' }} +"?id=" + id + "&locale=" + {{ locale }});
            xhr.send();
        }

        function setStars() {
            const stars = document.querySelectorAll(".star");
            let index = 1;

            stars.forEach(star => {
                if (index++ <= movieRating) {
                    star.classList.add("ok");
                } else {
                    star.classList.remove("ok");
                }
            })
        }

        function getMovieRating(rating) {

            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                const data = JSON.parse(this.response);
                movieRating = data['vote'];

                const stars = rating.querySelectorAll(".star");
                stars.forEach(star => {
                    star.addEventListener("mouseover", hoverStars);
                    star.addEventListener("mouseleave", setStars);
                    star.addEventListener("click", setMovieRating);
                })

                setStars();
                rating.setAttribute("style", "opacity: 1");
            }
            xhr.open("GET", "{{ path('app_movie_get_rating') }}?movie={{ movie.id }}");
            xhr.send();
        }

        function setMovieRating(e) {
            const star = e.target;
            movieRating = star.getAttribute("data-rate");

            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                const data = JSON.parse(this.response);
                const notification = document.querySelector(".notification");
                let message;
                switch (data['result']) {
                    case 'create': message = "Nouveau vote pour ce film !"; break;
                    case 'update': message = "le vote pour ce film a bien été mis à jour."; break;
                }
                notification.innerHTML = message;
                notification.classList.remove("error", "info");
                notification.classList.add("success");
                notification.setAttribute("style", "opacity: 1");
                setTimeout( () => {
                    notification.removeAttribute("style");
                }, 10000);
            }
            xhr.open("GET", "{{ path('app_movie_set_rating') }}?movie={{ movie.id }}&rating=" + movieRating.toString());
            xhr.send();
        }

        function hoverStars(e) {
            const star = e.target;
            const rating = star.parentElement;
            let rate = star.getAttribute("data-rate");

            let stars = rating.children;

            for (let i = 0; i < 5; i++) {
                stars[i].classList.remove("ok");
            }
            for (let i = 1; i <= rate; i++) {
                let s = stars[i - 1];
                s.classList.add("ok");
            }
        }
    </script>
{% endblock %}