{% extends 'base.html.twig' %}
{% block morecss %}
    {#    <link href="{{ asset("movie.css") }}" rel="stylesheet"> #}
{% endblock %}

{% block title %}myTvTime ▶ ︎{{ 'Movies'|trans }} ▶ ︎{{ 'Search by Name'|trans }}{% if discovers.page %} ▶ ︎{{ 'Page'|trans }} {{ discovers.page }}{% endif %}{% endblock %}
{% block body %}
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="home-header bg{{ random(5) }}"></div>

        {{ include('blocks/_nav.html.twig', {thisPage: 'Search by Name'|trans}) }}

        <div class="search">
            {{ form_start(form, {'action': action}) }}
            {{ form_widget(form.query, {'attr': {'class': 'form-control', 'value': query, 'autofocus': 'autofocus'}}) }}
            {{ form_widget(form.year, {'attr': {'class': 'form-control', 'value': year}}) }}
            {{ form_widget(form.save, { 'label': 'Search', 'attr': {'class': 'btn btn-secondary'} }) }}
            {{ form_end(form) }}
        </div>
        <div class="search">
            {% if discovers.total_results > 0 %}
                <div>{{ 'Movie Search Result'|trans }} : {{ discovers.total_results }} {{ ((discovers.total_results > 1) ? 'Movies'|trans : 'Movie'|trans) }}</div>
            {% endif %}
        </div>

        <div class="home-discovers">
            {{ include('blocks/movie/_searchPaging.html.twig') }}
            <div class="content">
                {% for discover in discovers.results %}
                    {% if discover.poster_path is defined and discover.poster_path|length %}
                        {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ discover.poster_path %}
                    {% else %}
                        {% set poster = "/images/default/no_poster_dark.png" %}
                    {% endif %}
                    {{ include('blocks/movie/_discover.html.twig', { title: discover.title, poster: poster, id: discover.id }) }}
                {% endfor %}
            </div>
            {{ include('blocks/movie/_searchPaging.html.twig') }}
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/movie.js"></script>
    <script>
        const paths = [
            "{{ path('profile_infos') }}",
            "", {#{{ path('imdb_infos') }}",#}
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
        ];
        window.addEventListener("DOMContentLoaded", () => {
            document.querySelector(".home-header").setAttribute("style", "background-position-y: center");
            initMovieStuff(paths, "", "{{ locale }}");
            document.querySelector("#movie_by_name_query").focus();
            document.querySelector("#movie_by_name_query").select();
        })
    </script>
{% endblock %}