{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ movie.title }}{% endblock %}
{% block body %}
    <script>
        const bd = '{{ movie.backdrop_path ?? movie.poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="container-fluid backgroundImageOverlay">

        {{ include('blocks/_mainMenu.html.twig') }}

        {{ include('blocks/_nav.html.twig', {thisPage: movie.title}) }}

        <div class="movie-header">
            <div class="poster">
                {% if movie.poster_path %}
                    <img src="{{ movie.poster_path }}" alt="{{ movie.title }}" loading="lazy">
                {% else %}
                    <img src="/images/default/no_poster_dark.png" class="d-block w-100" alt="{{ movie.title }}" loading="lazy">
                {% endif %}
                <div class="caption">{% if movie.poster_caption %}<span>{{ movie.poster_caption }}</span>{% endif %}</div>
            </div>
            <div class="backdrop">
                {% if movie.backdrop_path %}
                    <img src="{{ movie.backdrop_path }}" alt="{{ movie.title }}" loading="lazy">
                {% else %}
                    <div class="no-backdrop">
                        <div class="label">{{ 'No backdrop'|trans }}</div>
                    </div>
                {% endif %}
                <div class="caption">{% if movie.backdrop_caption %}<span>{{ movie.backdrop_caption }}</span>{% endif %}</div>
            </div>
            {% if backdrops|length %}
                <div class="additional-images backdrop-item">
                    {% for b in backdrops %}
                        <div class="additional-item">
                            <img src="{{ b.path }}" alt="{{ b.caption ?? ('backdrop'|trans ~ ' ' ~ loop.index) }}" data-caption="{{ b.caption }}" data-id="{{ b.id }}" loading="lazy">
                            <div class="set-item"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if posters|length %}
                <div class="additional-images poster-item">
                    {% for p in posters %}
                        <div class="additional-item">
                            <img src="{{ p.path }}" alt="{{ p.caption ?? ('poster'|trans ~ ' ' ~ loop.index) }}" data-caption="{{ p.caption }}" data-id="{{ p.id }}" loading="lazy">
                            <div class="set-item"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="contribution contribution-backdrop hide">
                <h3>{{ 'Add a new backdrop'|trans }}</h3>
                {{ form_start(backdropForm) }}
                {{ form_widget(backdropForm) }}
                {{ form_end(backdropForm) }}
                <div class="dismiss"><i class="fa-solid fa-plus"></i></div>
            </div>
            <div class="contribution contribution-poster hide">
                <h3>{{ 'Add a new poster'|trans }}</h3>
                {{ form_start(posterForm) }}
                {{ form_widget(posterForm) }}
                {{ form_end(posterForm) }}
                <div class="dismiss"><i class="fa-solid fa-plus"></i></div>
            </div>
            {{ include('blocks/movie/_rating.html.twig', {id: movie.id, seen: hasBeenSeen}) }}
            <div class="ygg">
                <a href="{{ ygg }}" target="_blank">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                </a>
            </div>
        </div>

        <div class="movie-info">
            <div class="top">
                <div class="movie-detail">
                    <div class="part-1">
                        <h1 class="title">{{ movie.title }}</h1>
                        <div class="info">{{ 'Original Title'|trans }} : {{ movie.original_title }}</div>
                        {% for watchProvider in watchProviders %}
                            <div class="watch-providers">
                                {% if watchProvider.native_name is defined %}<h3>{{ watchProvider.native_name }}</h3>{% endif %}
                                {% if watchProvider.flatrate is defined %}
                                    <div class="streaming">{{ 'Available in streaming'|trans }}</div>
                                    <div class="provider-list">
                                        {% for provider in watchProvider.flatrate %}
                                            <div class="provider">
                                                <div class="name">{{ provider.provider_name }}</div>
                                                <div class="logo">
                                                    <img src="{{ imageConfig.url }}{{ imageConfig.logo_sizes.2 }}{{ provider.logo_path }}" alt="{{ provider.provider_name }}" loading="lazy">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if watchProvider.buy is defined %}
                                    <div class="buy">{{ 'Available to buy'|trans }}</div>
                                    <div class="provider-list">
                                        {% for provider in watchProvider.buy %}
                                            <div class="provider">
                                                <div class="name">{{ provider.provider_name }}</div>
                                                <div class="logo">
                                                    <img src="{{ imageConfig.url }}{{ imageConfig.logo_sizes.2 }}{{ provider.logo_path }}" alt="{{ provider.provider_name }}" loading="lazy">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if watchProvider.rent is defined %}
                                    <div class="buy">{{ 'Available to rent'|trans }}</div>
                                    <div class="provider-list">
                                        {% for provider in watchProvider.rent %}
                                            <div class="provider">
                                                <div class="name">{{ provider.provider_name }}{% if provider.native_name is defined %} ({{ provider.native_name }}){% endif %}</div>
                                                <div class="logo">
                                                    <img src="{{ imageConfig.url }}{{ imageConfig.logo_sizes.2 }}{{ provider.logo_path }}" alt="{{ provider.provider_name }}" loading="lazy">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="genres">
                            {% for genre in movie.genres %}
                                <div class="genre">
                                    <a href="{{ path('app_movies_by_genre', {genres: genre.id}) }}">{{ genre.name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <label for="overview" class="overview">
                            {{ 'Overview'|trans }} :
                            <div class="the-overview">
                                {% if movie.overview|length %}
                                    {% if movie.overview matches '/\\n/' %}
                                        {{ movie.overview|raw|nl2br }}
                                    {% else %}
                                        {{ movie.overview|raw }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if overviewWasEmpty %}
                                <div class="overview-add" title="{{ 'Edit the overview'|trans }}"><i class="fa-solid fa-plus"></i></div>
                                <div class="overview-textarea">
                                    <textarea name="overview" id="overview" placeholder="{{ 'Add an overview'|trans }} ...">{{ movie.overview|trim }}</textarea>
                                    <div class="overview-buttons">
                                        <button class="btn btn-danger btn-sm" id="overview-delete">{{ 'Delete'|trans }}</button>
                                        <button class="btn btn-warning btn-sm" id="overview-cancel">{{ 'Cancel'|trans }}</button>
                                        <button class="btn btn-primary btn-sm" id="overview-save">{{ 'Save'|trans }}</button>
                                    </div>
                                </div>
                            {% endif %}
                        </label>
                        {% if movieVideos|length %}
                            <div class="videos">
                                {% for video in movieVideos %}
                                    <h3>{{ video.title }}</h3>
                                    <div class="contributors">
                                        {{ 'Added by'|trans }}
                                        <div>&nbsp</div>
                                        {% for u in video.users %}
                                            {% if not loop.last %}
                                                {{ include('blocks/user/_user.html.twig', {user: u}) }}{% if loop.index < loop.length-1 %},&nbsp;{% endif %}
                                            {% else %}
                                                {% if not loop.first %}
                                                    &nbsp;{{ 'and'|trans }}&nbsp;
                                                {% endif %}
                                                {{ include('blocks/user/_user.html.twig', {user: u}) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="video">
                                        {{ video.code|raw }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="part-2">
                        <div class="part-2L">
                            {% if movie.runtime %}
                                <div class="info">
                                    {{ 'Runtime'|trans }} :
                                    {% if movie.runtime//60 > 0 %}
                                        {{ movie.runtime//60 }}
                                        {% if movie.runtime//60>1 %}{{ 'Hours'|trans }}{% else %}{{ 'Hour'|trans }}{% endif %}
                                    {% endif %}
                                    {% if movie.runtime%60 %}
                                        {{ movie.runtime%60 }} {{ 'Minute'|trans }}{% if movie.runtime%60>1 %}s{% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if movie.revenue > 0 %}
                                <div class="info">
                                    {{ 'Revenue'|trans }} : {{ movie.revenue }}$
                                </div>
                            {% endif %}
                            {% if movie.vote_count %}
                                <div class="info">
                                    <div>{{ 'Average Vote'|trans }} : {{ movie.vote_average }}</div>
                                    <div>{{ 'Vote Count'|trans }} : {{ movie.vote_count }}</div>
                                </div>
                            {% endif %}
                            {% if movie.homepage | length %}
                                <div class="info">
                                    {{ 'Home Page'|trans }} :
                                    <a href="{{ movie.homepage }}" target="_blank" rel="noopener">
                                        <span data-descr="{{ 'Visit the official Movie Website'|trans }}">
                                            {{ movie.homepage }}&nbsp;<i class="bi bi-link-45deg"></i>
                                         </span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if movie.imdb_id | length %}
                                <div class="info">
                                    <a href="https://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank" rel="noopener">
                                        <span data-descr="{{ 'Visit the Movie Page on IMDB'|trans }}">
                                            {{ 'IMDB Page'|trans }}&nbsp;<i class="bi bi-link-45deg"></i>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}

                            {% if dates is empty %}
                                <div class="info">
                                    {{ 'Release Date'|trans }} : {{ movie.release_date|format_date('short') }}
                                </div>
                            {% else %}
                                <div class="infos">
                                    <h2>{{ 'Release Dates'|trans }}</h2>
                                    {% for location in dates %}
                                        <div class="country">
                                            <div class="name">{{ location.iso_3166_1|country_name(locale) }}</div>
                                            <div class="dates">
                                                {% for date in location.release_dates %}
                                                    <div class="event">
                                                        {{ date.type|trans }}{% if date.note is defined and date.note|length %}&nbsp;-&nbsp;{{ date.note }}{% endif %}
                                                        &nbsp;:&nbsp;{{ date.release_date|format_date('short') }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if movie.production_companies %}
                                <h2>{{ 'Production'|trans }}</h2>
                                <div class="productions">
                                    {{ 'Production Companies'|trans }} :
                                    <div>
                                        {% for cie in movie.production_companies %}
                                            <div class="production">
                                                <div>{{ cie.name }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if movie.production_countries %}
                                <div class="productions">
                                    {{ 'Production Countries'|trans }} :
                                    <div>
                                        {% for country in movie.production_countries %}
                                            <div class="production">{{ country.iso_3166_1 |country_name(locale) }} {# ({{ country.name }}) #}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if movie.belongs_to_collection %}
                            <div class="part-2R">
                                {#                                <h2>{{ 'Belongs to Collection'|trans }}</h2> #}
                                <div class="collection">
                                    {% if movie.belongs_to_collection.backdrop_path %}
                                        <div class="banner">
                                            <img src="{{ imageConfig.url }}{{ imageConfig.backdrop_sizes.0 }}{{ movie.belongs_to_collection.backdrop_path }}" alt="{{ movie.belongs_to_collection.name }}" loading="lazy">
                                        </div>
                                    {% endif %}
                                    <div class="content">
                                        <h2>{{ movie.belongs_to_collection.name }}</h2>
                                        {% if movie.belongs_to_collection.poster_path %}
                                            <div class="poster">
                                                <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.1 }}{{ movie.belongs_to_collection.poster_path }}" alt="" loading="lazy">
                                            </div>
                                        {% endif %}
                                        <div>
                                            <a href="{{ path('app_movie_collection', {mid: movie.id, id: movie.belongs_to_collection.id }) }}?from={{ from }}" class="btn btn-secondary mt-3">
                                                {{ 'See the Collection'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="movie-user">
                    {% if hasBeenSeen %}
                        <div class="favorite" data-user="{{ user.id }}" data-media="{{ userMovieId }}">
                            <div class="control">
                                {{ 'Add to favorites'|trans|upper }}
                                <label class="switch">
                                    <input type="checkbox" {% if is_favorite(user.id, userMovieId, 'movie') %} checked{% endif %}/>
                                    <span></span>
                                </label>
                            </div>
                            <span class="message"></span>
                        </div>
                    {% endif %}

                    {% if movieLists is not empty %}
                        <div class="movie-collection{% if hasBeenSeen == false %} d-none hide{% endif %}">
                            <div class="label">{{ 'My movie lists'|trans }}</div>
                            <div class="field">
                                <div class="list" data-movie="{{ movie.id }}">
                                    {% for movieList in movieLists %}
                                        <div class="item{% if movieList.id in movieListIds %} selected{% endif %}" data-id="{{ movieList.id }}">{{ movieList.title }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="movie-links{% if hasBeenSeen == false %} d-none hide{% endif %}">
                        <div class="label">{{ 'Where to watch'|trans }}</div>
                        <div class="field">
                            <div class="list" data-movie="{{ movie.id }}">
                                {% for link in movie.links %}
                                    <a href="{{ link.linkPath }}" target="_blank" rel="noopener">
                                        <div class="link">
                                            <img src="{{ imageConfig.url }}{{ imageConfig.logo_sizes.2 }}{{ link.provider.logoPath }}" alt="{{ link.provider.providerName }}" loading="lazy">
                                            <div class="name">{{ link.name }}</div>
                                        </div>
                                    </a>
                                {% else %}
                                    <div id="no-link">{{ 'No link'|trans }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="movie-links-form{% if hasBeenSeen == false %} d-none hide{% endif %}">
                        <div class="label">{{ 'Add a link to watch the movie'|trans }}</div>
                        <form action="{{ path('app_movie_add_link') }}" id="add-a-movie-link">
                            {# Set a name #}
                            <div class="form-row">
                                <label for="movie-link-name">{{ 'Add a name'|trans }}
                                    <input type="text" name="movie-link-name" id="movie-link-name" placeholder="{{ 'Enter a name'|trans }}">
                                </label>
                            </div>
                            {# Paste a link #}
                            <div class="form-row">
                                <label for="movie-link-url">{{ 'Add a link'|trans }}
                                    <input type="text" name="movie-link-url" id="movie-link-url" placeholder="{{ 'Paste the link here'|trans }}">
                                </label>
                            </div>
                            {# Select movie provider #}
                            <div class="form-row">
                                <label for="movie-link-provider"><span>{{ 'Select a provider'|trans }}</span>
                                    <select name="movie-link-provider" id="movie-link-provider">
                                        <option value="0">{{ 'Select a provider'|trans }}</option>
                                        {% for p in providers %}
                                            <option value="{{ p.providerId }}">{{ p.providerName }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            {# Submit the form #}
                            <div class="form-row">
                                <button type="submit" class="add-a-link">
                                    <span><i class="fa-solid fa-plus"></i></span>
                                    <span>{{ 'Add a link'|trans }}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% if cast is not empty %}
                <h2>{{ 'Casting'|trans }}</h2>
                <div class="cast">
                    <div class="content">
                        {% for actor in cast %}
                            {% if actor.profile_path|length %}
                                <a href="{{ path('app_people', {id: actor.id}) }}">
                                    <div class="actor">
                                        <div class="profile" style="background-image: url('{{ imageConfig.url }}{{ imageConfig.profile_sizes.1 }}{{ actor.profile_path }}')" data-id="{{ actor.id }}"></div>
                                        <div>
                                            <div class="name">{{ actor.name }}</div>
                                            <div class="character">{{ actor.character }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% for actor in cast %}
                            {% if actor.profile_path|length == 0 %}
                                <a href="{{ path('app_people', {id: actor.id}) }}">
                                    <div class="actor">
                                        <div class="profile" data-id="{{ actor.id }}"></div>
                                        <div>
                                            <div class="name">{{ actor.name }}</div>
                                            <div class="character">{{ actor.character }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if sortedCrew is not empty %}
                <h2>{{ 'Crew'|trans }}</h2>
                <div class="crew">
                    <div class="content">
                        {% for data in sortedCrew %}
                            <a href="{{ path('app_people', {id: data.id}) }}">
                                <div class="member">
                                    {% if data.profile_path|length %}
                                        <div class="profile" style="background-image: url('{{ imageConfig.url }}{{ imageConfig.profile_sizes.1 }}{{ data.profile_path }}')" data-id="{{ data.id }}"></div>
                                    {% else %}
                                        <div class="profile" data-id="{{ data.id }}"></div>
                                    {% endif %}
                                    <div>
                                        <div class="name">{{ data.name }}</div>
                                        <div class="job">{{ data.job }}</div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if recommendations is not empty %}
                <h2>{{ 'Recommendations'|trans }}</h2>
                <div class="recommendations">
                    {% for recommendation in recommendations %}
                        <div class="recommendation">
                            <a href="{{ path('app_movie', {id: recommendation.id}) }}">
                                {% if recommendation.poster_path %}
                                    <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.1 }}{{ recommendation.poster_path }}" alt="{{ recommendation.original_title }}" loading="lazy">
                                {% else %}
                                    <div class="no-poster">
                                        <img src="/images/default/no_poster_dark.png" class="d-block w-100" alt="{{ recommendation.original_title }}" loading="lazy">
                                        <div class="title">{{ recommendation.title }}</div>
                                        <div class="original-title">{{ recommendation.original_title }}</div>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if images.backdrops|length or images.logos|length or images.posters|length %}
                <section>
                    <div class="images">
                        <h4>{{ 'Images'|trans }}</h4>
                        {% if images.backdrops|length %}
                            <h5>{{ 'Backdrops'|trans }}</h5>
                            <div>
                                {% for backdrop in images.backdrops %}
                                    <img class="backdrop" src="{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ backdrop.file_path }}" alt="Some backdrop">
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if images.logos|length %}
                            <h5>{{ 'Logos'|trans }}</h5>
                            <div>
                                {% for logo in images.logos %}
                                    <img class="logo" src="{{ imageConfig.url ~ imageConfig.logo_sizes.6 ~ logo.file_path }}" alt="Some logo">
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if images.posters|length %}
                            <h5>{{ 'Posters'|trans }}</h5>
                            <div>
                                {% for poster in images.posters %}
                                    <img class="poster" src="{{ imageConfig.url ~ imageConfig.poster_sizes.6 ~ poster.file_path }}" alt="Some poster">
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <div class="globs" style="display: none">
        {
        "providers": {
        {% for provider in providers %}
            "{{ provider.providerId }}": {
            "name": "{{ provider.providerName }}",
            "logoPath": "{{ provider.logoPath }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
        }
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vanilla/movie.js') }}"></script>
    <script src="{{ asset('/js/vanilla/diaporama.js') }}"></script>
    <script>
        const paths = [
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
            "{{ path('app_movie_list_toggle') }}",
            "{{ path('app_movie_favorite_toggle', {'fav': 1, 'userId': 2, 'mediaId': 3}) }}",
            "{{ path('app_movie_overview_save') }}",
            "{{ path('app_movie_overview_delete') }}",
        ];
        const _app_movie_favorite_toggle = paths[5].slice(0, -6);
        const _app_movie_overview_save = paths[6];
        const _app_movie_overview_delete = paths[7];
        const movieId = {{ userMovieId }};
        txt['edit'] = "{{ 'Edit the overview'|trans }}";
        txt['later'] = "{{ 'Edit later'|trans }}";

        window.addEventListener("DOMContentLoaded", () => {
            initMovieStuff(paths, "{{ imageConfig.url }}{{ imageConfig.profile_sizes.2 }}", "{{ locale }}");

            initCollections();

            const images = document.querySelector(".movie-info")?.querySelector(".images")?.querySelectorAll("img");
            initDiaporama(images, "{{ app.request.locale }}");

            const poster = document.querySelector(".movie-header").querySelector(".poster");
            const image = poster.querySelector("img");

            image.addEventListener("onerror", (evt) => {
                console.log({evt});
                image.remove();
                const div = document.createElement("div");
                div.classList.add("replacement");
                poster.appendChild(div);
                alert("Alerte Poster !!!");
            });

            document.querySelector(".overview-add")?.addEventListener("click", (evt) => {
                evt.preventDefault();
                toggleTextarea();
            });
            document.querySelector("#overview-save")?.addEventListener("click", () => {
                /**
                 * @type {HTMLTextAreaElement} overview
                 */
                const overview = document.querySelector("#overview");
                const value = overview.value;
                const xhr = new XMLHttpRequest();
                console.log({value})
                xhr.onload = function () {
                    let data = JSON.parse(this.response);
                    console.log({data});
                    const theOverview = document.querySelector(".the-overview");
                    theOverview.innerHTML = data.overview;
                    toggleTextarea();
                }
                xhr.open("GET", _app_movie_overview_save + "?id=" + movieId + "&overview=" + value);
                xhr.send();
            });
            document.querySelector("#overview-cancel")?.addEventListener("click", () => {
                toggleTextarea();
            });
            document.querySelector("#overview-delete")?.addEventListener("click", () => {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let data = JSON.parse(this.response);
                    console.log({data});
                    const theOverview = document.querySelector(".the-overview");
                    theOverview.innerHTML = data.overview;
                    toggleTextarea();
                }
                xhr.open("GET", _app_movie_overview_delete + "?id=" + movieId);
                xhr.send();
                toggleTextarea();
            });

            function toggleTextarea() {
                const overviewTextarea = document.querySelector(".overview-textarea");
                /**
                 * @type {HTMLTextAreaElement} overview
                 */
                const overview = document.querySelector("#overview");
                const add = document.querySelector(".overview-add");
                overviewTextarea.classList.toggle("open");
                if (overviewTextarea.classList.contains("open")) {
                    add.innerHTML = '<i class="fa-solid fa-minus"></i>';
                    add.setAttribute('title', txt['later']);
                    overview.focus();
                } else {
                    const theOverview = document.querySelector(".the-overview");
                    overview.value = theOverview.innerHTML;
                    add.innerHTML = '<i class="fa-solid fa-plus"></i>';
                    add.setAttribute('title', txt['edit']);
                }
            }

            const header = document.querySelector(".movie-header");
            const contributions = header.querySelectorAll(".contribution");

            contributions?.forEach((contribution) => {
                /**
                 * @type {HTMLDivElement} dismiss
                 */
                const dismiss = contribution.querySelector(".dismiss");
                dismiss.addEventListener("click", () => {
                    contribution.classList.toggle("hide");
                    if (contribution.classList.contains("hide")) {
                        dismiss.innerHTML = '<i class="fa-solid fa-plus"></i>';
                    } else {
                        dismiss.innerHTML = '<i class="fa-solid fa-xmark"></i>';
                    }
                });
                const form = contribution.querySelector("form");
                const input = form.querySelector("input[type=file]");
                const submit = form.querySelector("button[type=submit]");

                // TODO: css for disabled submit
                submit.disabled = true;
                input.addEventListener("change", () => {
                    submit.disabled = false;
                });
                form.addEventListener("submit", (evt) => {
                    evt.preventDefault();
                    const formData = new FormData(form);
                    const xhr = new XMLHttpRequest();
                    xhr.onload = function () {
                        let data = JSON.parse(this.response);
                        console.log({data});
                        if (data.success) {
                            if (data.type === 'backdrop') {
                                const backdrop = header.querySelector(".backdrop");
                                backdrop.innerHTML = '<img src="' + data.path + '" alt="' + (data.caption ?? 'backdrop') + '" data-caption="' + data.caption + '"><div class="caption">' + data.caption + '</div>';
                                /**
                                 * @type {HTMLButtonElement} clearPreview
                                 */
                                const clearPreview = form.querySelector('.dropzone-preview-button');
                                clearPreview.click();
                                dismiss.click();

                                let backdrops = header.querySelector(".backdrops");
                                if (!backdrops) {
                                    const div = document.createElement("div");
                                    div.classList.add("backdrops");
                                    header.appendChild(div);
                                    backdrops = header.querySelector(".backdrops");
                                }
                                const backdropsItem = document.createElement("div");
                                backdropsItem.classList.add("backdrops-item");
                                const img = document.createElement("img");
                                img.src = data.path;
                                img.setAttribute("alt", data.caption ?? 'backdrop');
                                img.setAttribute("data-caption", data.caption);
                                backdropsItem.appendChild(img);
                                const setBackdrop = document.createElement("div");
                                setBackdrop.classList.add("set-backdrop");
                                setBackdrop.innerHTML = '<i class="fa-solid fa-arrow-right-from-bracket"></i>';
                                setBackdrop.addEventListener("click", changeBackdrop);
                                backdropsItem.appendChild(setBackdrop);
                                backdrops.appendChild(backdropsItem);
                                // backdropsItem.scrollIntoView();
                            }
                            if (data.type === 'poster') {
                                const poster = header.querySelector(".poster");
                                poster.innerHTML = '<img src="' + data.path + '" alt="' + (data.caption ?? 'poster') + '" data-caption="' + data.caption + '"><div class="caption">' + data.caption + '</div>';
                                /**
                                 * @type {HTMLButtonElement} clearPreview
                                 */
                                const clearPreview = form.querySelector('.dropzone-preview-button');
                                clearPreview.click();
                                dismiss.click();

                                let posters = header.querySelector(".posters");
                                if (!posters) {
                                    const div = document.createElement("div");
                                    div.classList.add("posters");
                                    header.appendChild(div);
                                    posters = header.querySelector(".posters");
                                }
                                const postersItem = document.createElement("div");
                                postersItem.classList.add("posters-item");
                                const img = document.createElement("img");
                                img.src = data.path;
                                img.setAttribute("alt", data.caption ?? 'poster');
                                img.setAttribute("data-caption", data.caption);
                                postersItem.appendChild(img);
                                const setPoster = document.createElement("div");
                                setPoster.classList.add("set-poster");
                                setPoster.innerHTML = '<i class="fa-solid fa-arrow-right-from-bracket"></i>';
                                setPoster.addEventListener("click", changeBackdrop);
                                postersItem.appendChild(setPoster);
                                posters.appendChild(postersItem);
                                // postersItem.scrollIntoView();
                            }
                        }
                    }
                    xhr.open("POST", form.action);
                    xhr.send(formData);
                });
            });

            const backdropImages = header.querySelector(".backdrops")?.querySelectorAll("img");
            initDiaporama(backdropImages, document.querySelector("html").getAttribute("lang"));
            const posterImages = header.querySelector(".posters")?.querySelectorAll("img");
            initDiaporama(posterImages, document.querySelector("html").getAttribute("lang"));

            const setBackdrops = header.querySelector(".backdrops")?.querySelectorAll(".set-backdrop");
            setBackdrops?.forEach((setBackdrop) => {
                setBackdrop.addEventListener("click", changeBackdrop);
            });
            const setPosters = header.querySelector(".posters")?.querySelectorAll(".set-poster");
            setPosters?.forEach((setPoster) => {
                setPoster.addEventListener("click", changePoster);
            });

            /** @type {HTMLFormElement} form */
            const form = document.querySelector("#add-a-movie-link");
            const providers = JSON.parse(document.querySelector(".globs").textContent).providers;
            form.addEventListener("submit", (evt) => {
                evt.preventDefault();
                // const formData = new FormData();
                /** @type {HTMLInputElement} name */
                const name = form.querySelector("#movie-link-name");
                /** @type {HTMLInputElement} url */
                const url = form.querySelector("#movie-link-url");
                /** @type {HTMLSelectElement} provider */
                const provider = form.querySelector("#movie-link-provider");
                // formData.append("movie-link-name", name.value);
                // formData.append("movie-link-url", url.value);
                // formData.append("movie-link-provider", provider.value);
                // console.log({formData});
                const data = {
                    "movie-link-name": name.value,
                    "movie-link-url": url.value,
                    "movie-link-provider": provider.value,
                    "movie-link-movie": movieId
                };
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let data = {"success": true, "linkPath": "https://www.google.com", "logoPath": "/images/default/no_poster_dark.png", "name": "Google"};
                    data = JSON.parse(this.response);
                    console.log({data});
                    if (data.success) {
                        const list = document.querySelector(".movie-links").querySelector(".list");
                        const link = document.createElement("a");
                        const providerId = parseInt(provider.value);
                        link.href = url.value;
                        link.target = "_blank";
                        link.rel = "noopener";
                        const div = document.createElement("div");
                        div.classList.add("link");
                        const icon = document.createElement("div");
                        icon.classList.add("icon");
                        const img = document.createElement("img");
                        img.src = "{{ imageConfig.url }}" + "{{ imageConfig.logo_sizes.2 }}" + providers[providerId].logoPath;
                        img.alt = providers[providerId].name;
                        img.loading = "lazy";
                        icon.appendChild(img);
                        div.appendChild(icon);
                        const nameDiv = document.createElement("div");
                        nameDiv.classList.add("name");
                        nameDiv.innerHTML = name.value;
                        div.appendChild(nameDiv);
                        link.appendChild(div);
                        list.appendChild(link);
                        name.value = "";
                        url.value = "";
                        provider.value = "0";
                        const noLink = document.querySelector("#no-link");
                        if (noLink) {
                            noLink.remove();
                        }
                    }
                }
                xhr.open("POST", form.action);
                // xhr.send(formData);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.send(JSON.stringify(data));
            });

            function changeBackdrop(evt) {
                evt.stopPropagation();
                evt.preventDefault();
                const img = evt.currentTarget.parentElement.querySelector("img");
                const src = img.src;
                const caption = img.getAttribute("data-caption");
                const backdropImg = header.querySelector(".backdrop").querySelector("img");
                const captionDiv = header.querySelector(".backdrop").querySelector(".caption");
                backdropImg.src = src;
                backdropImg.setAttribute("alt", caption ?? 'backdrop');
                captionDiv.innerHTML = caption ? "<span>" + caption + "</span>" : "";
            }

            function changePoster(evt) {
                evt.stopPropagation();
                evt.preventDefault();
                const img = evt.currentTarget.parentElement.querySelector("img");
                const src = img.src;
                const caption = img.getAttribute("data-caption");
                const posterImg = header.querySelector(".poster").querySelector("img");
                const captionDiv = header.querySelector(".poster").querySelector(".caption");
                posterImg.src = src;
                posterImg.setAttribute("alt", caption ?? 'poster');
                captionDiv.innerHTML = caption ? "<span>" + caption + "</span>" : "";
            }

            document.querySelector(".favorite")?.querySelector("input[type='checkbox']").addEventListener("change", toggleFavorite);

            function toggleFavorite(evt) {
                const fav = evt.target.checked ? 1 : 0;
                const userId = fav.getAttribute("data-user");
                const mediaId = fav.getAttribute("data-media");

                // console.log({fav});
                let url = _app_movie_favorite_toggle + '/' + userId + '/' + mediaId + '/' + fav;
                // console.log({url});

                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let data = JSON.parse(this.response);
                    let message = evt.target.closest(".favorite").querySelector(".message");
                    // console.log({data});
                    message.innerHTML = data.message;
                    message.classList.remove("added", "removed");
                    message.classList.add(data.class);
                }
                xhr.open("GET", url);
                xhr.send();
            }
        })
    </script>
{% endblock %}