{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Register'|trans }}{% endblock %}

{% block body %}

    <div class="register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="register-dialog">
            {{ form_start(registrationForm) }}
            <div class="header"><h5>{{ 'Registration'|trans }}</h5></div>
            <div class="body">
                <div class="control">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="control">
                    {{ form_row(registrationForm.username) }}
                </div>
                <div class="control">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="checkbox">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>

            <div class="footer">
                <button type="submit" class="btn btn-secondary float-end">{{ 'Register'|trans }}</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
{% block morejs %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#registration_form_email").focus();
        });
    </script>
{% endblock %}