{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My lists'|trans }}{% endblock %}

{% block body %}
    {% set layout = movieListCookie.layout %}
    {{ include('blocks/_mainMenu.html.twig') }}

    <div class="container-fluid">
        <div class="movie-list-page">

            <main>
                {{ include('blocks/_nav.html.twig') }}
                <div class="movie-list-tools">
                    <a href="{{ path('app_movie_list_new') }}">
                        <div class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> {{ 'Add list'|trans }}</div>
                    </a>
                    <div class="movie-list-layout-items">
                        <div data-type="roomy" title="{{ 'Roomy movie list'|trans }}" class="movie-list-layout-item{% if layout == 'roomy' %} active{% endif %}">
                            <i class="fa-solid fa-table-cells-large"></i>
                        </div>
                        <div data-type="list" title="{{ 'List movie list'|trans }}" class="movie-list-layout-item{% if layout == 'list' %} active{% endif %}">
                            <i class="fa-solid fa-table-list"></i>
                        </div>
                    </div>
                </div>
                <div class="wrapper {{ movieListCookie.layout }}">
                    {% for movieList in movieLists %}
                        <div class="movie-list" data-id="{{ movieList.id }}">
                            <a href="{{ path('app_movie_list_show', {id: movieList.id}) }}{% if from is defined %}?from={{ from }}{% endif %}">
                                <div class="logo" style="background-image: url('/images/movie_lists/thumbnails/{{ movieList.thumbnail }}')"></div>
                                <div class="infos">
                                    <div class="name">{{ movieList.title }}</div>
                                    <div class="info">
                                        {{ movieList.movies|length ?: 'None'|trans }} {{ ((movieList.movies|length) > 1 ? 'Movies':'Movie')|trans }}
                                    </div>
                                    <div class="backdrop" style="background-image: url('/images/movie_lists/banners/{{ movieList.banner }}')"></div>
                                    <div id="{{ movieList.id }}" class="tools">
                                        <i class="fa-solid fa-pen-to-square" title="{{ 'Edit'|trans }}"></i>
                                        {# <i class="fa-solid fa-eye-slash" title="{{ 'Hide'|trans }}"></i> #}
                                        <i class="fa-solid fa-trash-can" title="{{ 'Delete'|trans }}"></i>
                                    </div>
                                </div>
                            </a>
                            <div class="movie-list-anchor"><i class="fa-solid fa-bars"></i></div>
                        </div>
                    {% else %}
                        <div class="no-list">
                            {{ 'No movie list yet'|trans }}<br>
                            {{ 'Create one by clicking the button above'|trans }}

                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <dialog id="confirm-deletion" class="form-dialog2">
        <div class="overlay">
            <div class="header">
                {{ 'Delete this list?'|trans }}
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="content">
                {{ 'Do you really want to delete this list?'|trans }}
                <span></span>
                {{ 'This operation is final and cannot be cancelled.'|trans }}
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary delete-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-secondary delete-done">{{ 'Delete'|trans }}</button>
            </div>
        </div>
    </dialog>

    {#    {{ show_source_code(_self) }} #}
{% endblock %}

