{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My Collections'|trans }} ▶ ︎{{ 'New collection'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        <div class="my-collections-page">
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Collections', url: path('app_movie_list_index')}, thisPage: 'New collection'|trans}) }}

            <h1>{{ 'New collection'|trans }}</h1>

            <main>
                {{ include('blocks/collection/_form.html.twig') }}
            </main>

        </div>
        <footer>
            {{ include('blocks/_pageFooter.html.twig') }}
        </footer>
    </div>
{% endblock %}
