{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My lists'|trans }} ▶ ︎{{ movieList.title }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">
        <div class="my-movie-list-page">

            {{ include('blocks/_nav.html.twig') }}

            <header>
                <div class="banner">
                    {% if movieList.banner %}
                        <img src="/images/movie_lists/banners/{{ movieList.banner }}" alt="{{ movieList.title }}'s banner" loading="lazy">
                        <div class="thumbnail" style="background-color: {{ movieList.color }}">
                            {% if movieList.thumbnail %}
                                <img src="/images/movie_lists/thumbnails/{{ movieList.thumbnail }}" alt="{{ movieList.title }}'s thumbnail" loading="lazy">
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </header>

            <main>
                <h1>{{ movieList.title }}</h1>
                {% if movieList.description|length %}
                    <aside>
                        <details>
                            <summary>{{ 'Description'|trans }}</summary>
                            <div class="description">{{ movieList.description|raw }}</div>
                        </details>
                    </aside>
                {% endif %}
                <section>
                    <h2>{{ movieList.movies|length ?: 'none'|trans }} {{ ((movieList.movies|length) > 1 ? 'Movies':'Movie')|trans }}</h2>
                    <div class="movies">
                        {% for movie in movies %}
                            {% set poster = movie.posterPath ? imageConfig.url ~ imageConfig.poster_sizes.3 ~ movie.posterPath : movie.posterPath %}
                            {{ include('blocks/movie/_discover.html.twig', { discover: movie, title: movie.title, poster: poster, id: movie.movieDbId }) }}
                        {% else %}
                            {{ 'Nothing to show'|trans }}
                        {% endfor %}
                    </div>
                </section>
            </main>

            <footer>
                {{ include('blocks/_pageFooter.html.twig') }}
            </footer>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/movie.js"></script>
    <script>
        const paths = [
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
        ];
        window.addEventListener("DOMContentLoaded", () => {
            initMovieStuff(paths, "", "{{ locale }}");
        })
    </script>
{% endblock %}


