<div class="form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="save">
        <button class="btn btn-secondary">
            <i class="fa-solid {{ icon }}"></i>
            {{ button_label }}
        </button>
    </div>
    {{ form_end(form) }}
</div>
