{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Blog'trans }} ▶ ︎{{ 'Edit ArticleImage'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="blog">
            <div class="header"></div>

            <h1>{{ 'Edit ArticleImage'|trans }}</h1>
            <div class="image-article">

                <div class="preview">
                    <img src="/images/articles/images/{{ article_image.path }}" alt="{{ article_image.path }}" loading="lazy">
                </div>

                {{ include('article_image/_form.html.twig', {'button_label': 'Update'|trans, 'icon': 'fa-pen-to-square'|raw}) }}

                <div class="back-delete">
                    {{ include('article_image/_delete_form.html.twig') }}
                </div>
            </div>

        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            {#const body = document.querySelector("body");#}
            {#const container = document.querySelector(".container");#}

            {#body.setAttribute("style", "background-image: url(\"/images/articles/images/{{ article_image.path }}\"); background-position: center center; background-size: cover;");#}
            {#container.setAttribute("style", "opacity: .97");#}
        })
    </script>
{% endblock %}