{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Blog'|trans }} ▶ ︎ArticleImage index{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="blog">
            <div class="header">
                <h1>{{ 'Blog'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage: 'Images'|trans, user: app.user, parent: {url: path('app_blog'), page: 'Blog'|trans}}) }}

            <h1>{{ 'ArticleImage index'|trans }}</h1>

            <table class="table w100">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Path</th>
                    <th>Article</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for article_image in article_images %}
                    <tr>
                        <td>{{ article_image.id }}</td>
                        <td>{{ article_image.path }}</td>
                        <td>{{ article_image.article.title }}</td>
                        <td>
                            <div class="thumbnail"><img src="/images/articles/images/{{ article_image.path }}" alt=""></div>
                        </td>
                        <td>
                            {#                            <a href="{{ path('app_article_image_show', {'id': article_image.id}) }}">{{ 'show'|trans }}</a> #}
                            <i id="show-{{ article_image.id }}" class="fa-solid fa-eye" data-path="{{ article_image.path }}"></i>
                            <a href="{{ path('app_article_image_edit', {'id': article_image.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'no records found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="btn btn-secondary">
                <a href="{{ path('app_article_image_new') }}">{{ 'Create new'|trans }}</a>
            </div>

            {{ include('blocks/_pageFooter.html.twig') }}

            <div class="show">
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <script>
                window.addEventListener("DOMContentLoaded", () => {
                    const showButtons = document.querySelectorAll('[id^="show-"]');
                    const showModal = document.querySelector(".show");
                    const close = document.querySelector(".close");

                    showButtons.forEach(showButton => {
                        showButton.addEventListener("click", (e) => {
                            const path = showButton.getAttribute("data-path");
                            const imageShow = document.createElement("img");
                            imageShow.setAttribute("src", "/images/articles/images/" + path);
                            showModal.append(imageShow);
                            showModal.classList.add("visible");
                            setTimeout(() => {
                                imageShow.classList.add("visible");
                            }, 10);
                        })
                    })

                    close.addEventListener("click", () => {
                        const imageShow = showModal.lastElementChild;
                        setTimeout(() => {
                            imageShow.classList.remove(("visible"));
                        }, 10);
                        setTimeout(() => {
                            imageShow.remove();
                            showModal.classList.remove("visible");
                        }, 400);
                    })
                })
            </script>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {

            initHeader();
            setTimeout(() => {
                document.querySelector(".header").setAttribute("style", "background-color: transparent");
            }, 0);
        });

        function initHeader() {
            let ticking = false;
            setH1();
            window.addEventListener('resize', setH1);

            window.addEventListener('scroll', () => {
                if (!ticking) {
                    window.requestAnimationFrame(function () {
                        setH1();
                        ticking = false;
                    });
                }
                ticking = true;
            });

        }

        function setH1() {
            const header = document.querySelector(".header");
            const h1 = document.querySelector("h1");
            let left, bottom, ratio;
            ratio = (header.clientHeight - window.scrollY) / header.clientHeight;
            if (ratio < 0) ratio = 0;
            if (ratio > 1) ratio = 1;
            ratio = ratio ** 3;
            left = 32 + ((header.clientWidth - 64) * (1 - ratio));
            bottom = 16 - ((h1.clientHeight / 2) * (1 - ratio));
            h1.setAttribute("style", "left: " + left.toString() + "px; bottom: " + bottom + "px; opacity: " + ratio + "; transform: scale(" + ratio + ")");
        }
    </script>
{% endblock %}