{% extends 'base.html.twig' %}

{% block title %}ArticleImage index{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/_pageHeader.html.twig') }}

        <div class="blog">
            <div class="header"></div>

            {{ include('blocks/_nav.html.twig', {thisPage: 'Images'|trans, user: app.user, parent: {url: path('app_blog'), page: 'Blog'|trans}}) }}

            <h1>{{ 'ArticleImage index'|trans }}</h1>

            <table class="table w100">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Path</th>
                    <th>Article</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for article_image in article_images %}
                    <tr>
                        <td>{{ article_image.id }}</td>
                        <td>{{ article_image.path }}</td>
                        <td>{{ article_image.article.title }}</td>
                        <td><div class="thumbnail"><img src="/images/articles/images/{{ article_image.path }}" alt=""></div></td>
                        <td>
                            {#                            <a href="{{ path('app_article_image_show', {'id': article_image.id}) }}">{{ 'show'|trans }}</a> #}
                            <i id="show-{{ article_image.id }}" class="fa-solid fa-eye" data-path="{{ article_image.path }}"></i>
                            <a href="{{ path('app_article_image_edit', {'id': article_image.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'no records found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="btn btn-secondary">
                <a href="{{ path('app_article_image_new') }}">{{ 'Create new'|trans }}</a>
            </div>

            {{ include('blocks/_pageFooter.html.twig') }}

            <div class="show">
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <script>
                window.addEventListener("DOMContentLoaded", () => {
                    const showButtons = document.querySelectorAll('[id^="show-"]');
                    const showModal = document.querySelector(".show");
                    const close = document.querySelector(".close");

                    showButtons.forEach(showButton => {
                        showButton.addEventListener("click", (e) => {
                            const path = showButton.getAttribute("data-path");
                            const imageShow = document.createElement("img");
                            imageShow.setAttribute("src", "/images/articles/images/" + path);
                            showModal.append(imageShow);
                            showModal.classList.add("visible");
                            setTimeout(() => {
                                imageShow.classList.add("visible");
                            }, 10);
                        })
                    })

                    close.addEventListener("click", () => {
                        const imageShow = showModal.lastElementChild;
                        setTimeout(() => {
                            imageShow.classList.remove(("visible"));
                        }, 10);
                        setTimeout(() => {
                            imageShow.remove();
                            showModal.classList.remove("visible");
                        }, 400);
                    })
                })
            </script>
        </div>
    </div>
{% endblock %}
