{% extends 'base.html.twig' %}

{% block title %}{{ 'New ArticleImage'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="blog">
            <div class="header"></div>

            <h1>{{ 'Create new ArticleImage'|trans }}</h1>

            <div class="image-article">
                {{ include('article_image/_form.html.twig', {'button_label': 'Save'|trans, 'icon': 'fa-download'|raw}) }}

                <div class="back-delete">
                    <button class="btn btn-secondary">
                        <a href="{{ path('app_article_image_index') }}">
                            <i class="fa-solid fa-arrow-left"></i>
                            {{ 'back to list'|trans }}
                        </a>
                    </button>
                </div>
            </div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <script>
        window.addEventListener("DOMContentLoaded", () => {

            const drop = document.querySelector('#article_image_drop');
            const path = document.querySelector('#article_image_path');

            drop.addEventListener('change', () => {
                path.value = slugify(drop.files[0].name);
            })
        })
        slugify = (text) => {
            return text
                .toString()
                .normalize('NFD')                   // split an accented letter in the base letter and the acent
                .replace(/[\u0300-\u036f]/g, '')   // remove all previously split accents
                .toLowerCase()
                .trim()
                .replace(/[^a-z0-9 .]/g, '')   // remove all chars not letters, numbers and spaces (to be replaced)
                .replace(/\s+/g, '-');
        };
    </script>
{% endblock %}
