{% if is_granted('ROLE_USER') %}
    <div class="menu">
        {% if user.avatar %}
            <img class="avatar" src="/images/users/avatars/{{ user.avatar }}" alt="{{ user.username }}">
        {% else %}
            <img class="avatar" src="/images/default/no_avatar.png" alt="{{ user.username }}">
        {% endif %}
        <div class="menu-items">
            <div class="menu-item">
                <a href="{{ path('app_personal_profile') }}">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                    <div>{{ 'My Account'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_personal_list') }}">
                    <div class="icon"><i class="fa-solid fa-children"></i></div>
                    <div>{{ 'People search'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_event') }}">
                    <div class="icon"><i class="fa-solid fa-calendar-days"></i></div>
                    <div>{{ 'My Events'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_activity_index') }}">
                    <div class="icon"><i class="fa-solid fa-person-walking"></i></div>
                    <div>{{ 'Activity'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_personal_movies') }}">
                    <div class="icon"><i class="fa-sharp fa-solid fa-film"></i></div>
                    <div>{{ 'My Movies'|trans }}</div>
                </a>
            </div>
            <div class="menu-item menu-item-collections">
                <a href="{{ path('app_movie_list_index') }}">
                    <div class="icon"><i class="fa-solid fa-clapperboard"></i></div>
                    <div>{{ 'My Movie lists'|trans }}</div>
                </a>
                {% set movieLists = userMovieLists(user) %}
                <div class="sub-menu">
                    {% for ml in movieLists %}
                        <div class="menu-item">
                            <a href="{{ path('app_movie_list_show', {id: ml.id}) }}">
                                <div class="image-collection">
                                    <img src="/images/movie_lists/thumbnails/{{ ml.image }}" alt="{{ ml.name }}"></div>
                                <div>{{ ml.name }} ({{ ml.count }})</div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="menu-item">
                        <a href="{{ path('app_movie_list_new') }}">
                            <div class="icon"><i class="fa-solid fa-plus"></i></div>
                            <div>{{ 'Add list'|trans }}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_index') }}">
                    <div class="icon"><i class="fa-solid fa-tv"></i></div>
                    <div>{{ 'My series'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_today') }}">
                    <div class="icon"><i class="fa-solid fa-calendar-day"></i></div>
                    <div>{{ 'My series airing today'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_this_week') }}">
                    <div class="icon"><i class="fa-solid fa-calendar-day"></i></div>
                    <div>{{ 'Episodes of the week'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_to_start') }}">
                    <div class="icon"><i class="fa-solid fa-play"></i></div>
                    <div>{{ 'My series to start'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_to_end') }}">
                    <div class="icon"><i class="fa-solid fa-forward-step"></i></div>
                    <div>{{ 'My series to end'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_upcoming_episodes') }}">
                    <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                    <div>{{ 'Upcoming episodes'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_upcoming_series') }}">
                    <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                    <div>{{ 'Upcoming series'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_series_from_country', {countryCode: user.country ?? 'US'}) }}">
                    <div class="icon"><i class="fa-solid fa-flag"></i></div>
                    <div>{{ 'Series by country of origin'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_youtube') }}">
                    <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                    <div>{{ 'My Youtube Videos'|trans }}</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_youtube_search') }}">
                    <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div>{{ 'Youtube video search'|trans }}</div>
                </a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const boundingRect = elementPosition(document.querySelector(".menu"));
            const documentWith = document.documentElement.clientWidth;
            if (boundingRect.viewportX + 414 > documentWith) {
                const subMenu = document.querySelector(".sub-menu");
                subMenu.classList.add("to-left");
            }

            function elementPosition(a) {
                const b = a.getBoundingClientRect();
                return {
                    clientX: a.offsetLeft,
                    clientY: a.offsetTop,
                    viewportX: (b.x || b.left),
                    viewportY: (b.y || b.top)
                }
            }
        });
    </script>
{% endif %}