{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎
    {{ 'Filter'|trans }}
{% endblock %}

{% form_theme form _self %}

{% block _tv_filter_with_genres_row %}
    {#        {{ dump() }} #}
    <div class="checkboxes">
        <div class="label">{{ name|trans }}</div>
        <div id="tv_filter_with_genres" class="group">
            {% for choice in choices %}
                <div class="checkbox">
                    <label for="tv_filter_with_genres_{{ loop.index0 }}">
                        <div class="form-switch">
                            <input type="checkbox" {{ choice.value in data ? 'checked':'' }}
                                   value="{{ choice.value }}"
                                   id="tv_filter_with_genres_{{ loop.index0 }}"
                                   name="tv_filter[with_genres][]"/>
                            <span></span>
                        </div>
                        {{ choice.label|trans }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig') }}

        <div class="filter-series">
            <header>
                {{ include('blocks/series/_filter.html.twig') }}
            </header>
            <main>
                <div class="wrapper">
                    {% for serie in series %}
                        <div data-type="card">
                            {{ include('blocks/series/_card-filter.html.twig') }}
                        </div>
                    {% else %}
                        <div class="nothing-found">
                            <div class="message">
                                <div class="content">{{ 'Nothing found'|trans }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>
            <footer>
                {{ include('blocks/_pageFooter.html.twig') }}
            </footer>
        </div>
    </div>
    <div class="global-data" style="display: none">
        {
        "app_series_filter_save_settings": "{{ path('app_series_filter_save_settings') }}",
        "app_series_filter_load_settings": "{{ path('app_series_filter_load_settings') }}",
        "logos": {{ logos|json_encode|raw }}
        }
    </div>
{% endblock %}
