{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Series by country of origin'|trans }} - {{ countryName }}{% endblock %}
{% block description %}{{ 'List of the series I\'m watching, aired today'|trans }}{% endblock %}
{% block keywords %}{{ 'Series, Tv Shows'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig', {user: app.user}) }}

        <div class="today-series">
            <main>
                <div class="wrapper">
                    {#
                    "id" => 763
                 s  "name" => "The Winter King"
                 s  "poster_path" => "https://image.tmdb.org/t/p/w342/fYx5q9hPAmbDrWzsYUDhxZJnigC.jpg"
                 s  "serie_id" => 689
                 s  "first_date_air" => "2023-12-21 00:00:00"
                    "created_at" => "2023-07-24 09:07:45"
                    "overview" => "Au cinquième siècle, bien avant que l'unification de la Grande-Bretagne, les vies sont souvent éphémères dans ce pays sauvage constitué de factions et de tribus ▶"
                    "backdrop_path" => "/1dj1BYNBt4bictaUJPbszPiDCnc.jpg"
                 s  "number_of_episodes" => 10
                    "number_of_seasons" => 1
                 s  "original_name" => "The Winter King"
                    "updated_at" => "2023-10-18 18:15:54"
                 s  "status" => "Returning Series"
                    "episode_durations" => "{"1": [{"1": null}, {"2": null}, {"3": null}, {"4": null}, {"5": null}, {"6": null}, {"7": null}, {"8": null}], "episode_run_time": []}"
                    "upcoming_date_year" => 2023
                    "upcoming_date_month" => 8
                 s  "origin_country" => "["GB"]"
                    "user_id" => 2
                 sv "viewed_episodes" => 1
                 sv "serie_completed" => 0
                    "time_shifted" => 1
                    "modified_at" => "2023-10-18 18:15:54"
                    "alert_id" => null
                    "next_episode_to_watch_id" => 32377
                    "next_episode_to_air_id" => 32377
                    "next_episode_check_date" => "2023-10-28 20:34:21" #}
                    {% for s in series %}
                        <div class="home-discover" data-id="{{ s.serie_id }}">
                            <a href="{{ path('app_series_show', {'id': s.id}) }}?from={{ from }}&c={{ countryCode }}" title="{{ s.name }}">
                                <div>
                                    <img src="{{ s.poster_path }}" alt="{{ 'Poster' }}" loading="lazy">
                                    <span class="status">{{ s.status|trans }}</span>
                                    <div class="view{% if s.serie_completed %} completed{% else %}{% if s.viewed_episodes %} in-progress{% endif %}{% endif %}">
                                        <span class="viewed-episodes">{{ s.viewed_episodes }}</span>&nbsp;/&nbsp;<span class="total-episodes">{{ s.number_of_episodes }}</span>
                                    </div>
                                    <div class="started">
                                        {% if s.started_at %}
                                            {% if s.started_at|date("H:i")=="00:00" %}
                                                {{ s.started_at|format_date('short') }}
                                            {% else %}
                                                {{ s.started_at|format_datetime('short', 'short') }}
                                            {% endif %}
                                        {% else %}
                                            {% if s.first_date_air %}
                                                {% if 'now'|date("Y-m-d") >= s.first_date_air|date("Y-m-d") %}
                                                    {{ 'Start to watch'|trans }}
                                                {% else %}
                                                    {{ 'Coming soon'|trans }}
                                                {% endif %}
                                            {% else %}
                                                {{ 'No date'|trans }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <span class="title">{{ s.name }}{% if s.original_name != s.name %} - {{ s.original_name }}{% endif %}{% if s.localized_name %} - {{ s.localized_name }}{% endif %}</span>
                                {% if s.first_date_air %}
                                    <span class="date">{{ s.first_date_air|format_date('short') }}</span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
