{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My series'|trans }}{% endblock %}
{% block description %}{{ 'List of all the series I have watched in my life'|trans }}{% endblock %}
{% block keywords %}{{ 'Series, Tv Shows'|trans }}{% endblock %}
{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig') }}

        <div class="my-series">
            <div class="header">
                {{ include('blocks/series/_quotes.html.twig') }}
                <h1>{{ 'My series'|trans }}</h1>
                <div class="backdrop"></div>
                {{ include('blocks/_clock.html.twig') }}
            </div>
            <main>
                <div class="series">
                    {% if series|length %}
                        <div class="series-tools mobile">
                            <div class="pages mobile">
                                {{ include('blocks/series/_pagination.html.twig') }}
                            </div>
                        </div>
                        <div class="wrapper">
                            {% for serie in series %}
                                <div data-id="{{ serie.id }}">
                                    {{ include('blocks/series/_card.html.twig') }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="series-tools bottom">
                            <div class="pages">
                                {{ include('blocks/series/_pagination.html.twig') }}
                            </div>
                        </div>
                        <div class="series-tools">
                            <div class="pages">
                                {{ include('blocks/series/_pagination.html.twig') }}
                            </div>
                            <div class="numbers">
                                {{ numbers.episodes }} {{ 'episodes'|trans }}
                                / {{ numbers.seasons }} {{ 'seasons'|trans }}
                            </div>
                            <div class="choose-origin-country">
                                <label for="choose-origin-country">
                                    {{ 'Series by country of origin'|trans }}
                                    <select name="choose-origin-country" id="choose-origin-country">
                                        {% for countryCode, countryName in countries %}
                                            <option value="{{ countryCode }}">{{ getEmojiFlag(countryCode) }}&nbsp;{{ countryName }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="search-serie">
                                <h2>{{ 'Search series'|trans }}</h2>
                                <label class="label" for="search-tmdb-name">{{ 'Name of the series'|trans }}</label>
                                <div class="group">
                                    <div class="field">
                                        <input id="search-tmdb-name" type="search" value="" placeholder="{{ 'Enter the name'|trans }}">
                                    </div>
                                    <div>
                                        <button id="search-tmdb-series" type="submit">{{ 'Search'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="history">
                                <h2>{{ 'History'|trans }}</h2>
                                <div class="history-wrapper">
                                    {% for h in history %}
                                        <a href="{{ path('app_series_show', {id: h.id}) }}?p={{ pages.page }}&from=my_series">
                                            <div class="episode-history">
                                                <div class="poster"><img src="{{ h.poster_path }}" alt=""></div>
                                                <div class="offset">{{ h.offset }}</div>
                                                <div class="name">
                                                    <div>{{ h.name }}</div>
                                                    <div>{% if h.localized_name and h.localized_name|lower|trim != h.name|lower|trim %}<i>{{ h.localized_name }}</i>{% endif %}</div>
                                                </div>
                                                <div class="date">{{ h.viewed_at|format_datetime('relative_medium', 'short')|capitalize }}</div>
                                                <div class="episode">{{ 'S%02dE%02d'|format(h.season_number, h.episode_number) }}</div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="history-more" data-per-page="{{ historyPerPage }}">{{ 'See more'|trans }}</div>
                            </div>
                            <div class="settings">
                                <h2>{{ 'Settings'|trans }}</h2>

                                <div class="per-page">
                                    <label class="label" for="per-page">{{ 'Results per page'|trans }}</label>
                                    <div class="field">
                                        {% set slider_value = 2 %}
                                        {% for key, value in pages.per_page_values %}
                                            {% if value == pages.per_page %}
                                                {% set slider_value = key %}
                                            {% endif %}
                                        {% endfor %}
                                        <input id="per-page" type="range" value="{{ slider_value }}"
                                               list="per-page-list"
                                               min="1" max="{{ pages.per_page_values|length }}">
                                        <datalist id="per-page-list">
                                            {% for key, value in pages.per_page_values %}
                                                <option value="{{ key }}" label="{{ value }}"></option>
                                            {% endfor %}
                                        </datalist>
                                        <div class="value">{{ pages.per_page }}</div>
                                    </div>
                                </div>
                                <div class="sort">
                                    <div class="group-settings">
                                        <div class="order-by">
                                            <label class="label" for="order-by">{{ 'Order by'|trans }}</label>
                                            <div class="field">
                                                <select id="order-by" class="left">
                                                    <option value="firstDateAir"{% if pages.order_by=='firstDateAir' %} selected{% endif %}>{{ 'First Air Date'|trans }}</option>
                                                    <option value="id"{% if pages.order_by=='id' %} selected{% endif %}>{{ 'Add order'|trans }}</option>
                                                    <option value="modifiedAt"{% if pages.order_by=='modifiedAt' %} selected{% endif %}>{{ 'Last modified by user'|trans }}</option>
                                                    <option value="updatedAt"{% if pages.order_by=='updatedAt' %} selected{% endif %}>{{ 'Last modified by TMDB'|trans }}</option>
                                                    <option value="name"{% if pages.order_by=='name' %} selected{% endif %}>{{ 'Name'|trans }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="order">
                                            <label class="label" for="order">{{ 'Order'|trans }}</label>
                                            <div class="field">
                                                <select id="order" class="right">
                                                    <option value="desc"{% if pages.order=='desc' %} selected{% endif %}>{{ 'Descending'|trans }}</option>
                                                    <option value="asc"{% if pages.order=='asc' %} selected{% endif %}>{{ 'Ascending'|trans }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apply">
                                        <button id="apply" type="submit">{{ 'Apply'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div>Rien à afficher</div>
                    {% endif %}
                    <div class="new-series-preview">
                        <div class="message">
                            <div class="content"></div>
                            <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
                        </div>
                        <div class="wrapper"></div>
                    </div>
                </div>
            </main>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <div id="globs-data" style="display: none">
        {
        "app_series_index": "{{ path('app_series_index') }}",
        "app_series_new": "{{ path('app_series_new') }}",
        "app_series_show": "{{ path('app_series_show', {id:0})|slice(0, -1) }}",
        "app_series_search": "{{ path('app_series_search') }}",
        "app_series_history": "{{ path('app_series_history') }}",
        "app_series_set_settings": "{{ path('app_series_set_settings') }}",
        "app_series_from_country": "{{ path('app_series_from_country', {countryCode:'FR'})|slice(0, -3) }}",
        "locale": "{{ app.request.locale }}",
        "current_page": {{ pages.page }},
        "per_page": {{ pages.per_page }},
        "order_by": "{{ pages.order_by }}",
        "order": "{{ pages.order }}",
        "from": "{{ from }}"
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/seriesIndex.js" type="module"></script>
{% endblock %}