{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Series search'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">

        {{ include('blocks/_nav.html.twig') }}

        <div class="series-search">
            <div class="header">
                {{ include('blocks/series/_quotes.html.twig') }}
{#                <h1>{{ 'Series search'|trans }}</h1>#}
                <h1 class="typed"><span {{ stimulus_controller('symfony/ux-typed', {
                        strings: [
                            'Series search'|trans,
                            'Browse results'|trans,
                            'See the details of a series'|trans,
                            'Add a series'|trans,
                        ],
                        smartBackspace: true,
                        startDelay: 100,
                        backSpeed: 40,
                        backDelay: 1000,
                        loop: true,
                        showCursor: true,
                        cursorChar: '◻️',
                    }) }}></span></h1>
                <div class="backdrop"></div>
            </div>
            <div class="search">
                {{ form_start(form) }}
                {{ form_widget(form.query, {'attr': {'class': 'form-control', 'value': query, 'autofocus': 'autofocus'}}) }}
                {{ form_widget(form.year, {'attr': {'class': 'form-control', 'value': year}}) }}
                {{ form_widget(form.search, { 'attr': {'class': 'btn btn-secondary'} }) }}
                {{ form_end(form) }}
            </div>
            {% if series|length %}
                <div class="series">
                    <div class="series-tools mobile">
                        <div class="pages mobile">
                            {{ include('blocks/series/_pagination-search.html.twig') }}
                        </div>
                    </div>
                    <div class="wrapper">
                        {% for serie in series %}
                            <div data-type="card">
                                {{ include('blocks/series/_card-search.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="series-tools">
                        <div class="pages">
                            {{ include('blocks/series/_pagination-search.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let letterRatios = [];

        window.addEventListener("DOMContentLoaded", () => {
            initPages();
            animateQuotes();
            document.querySelector("#serie_search_query").focus();
            document.querySelector(".header").classList.add("fade-bg");
        });

        let quoteInterval = [2000, 3000, 4000, 5000];
        let quoteIntervalId = [0, 0, 0, 0];
        let quotes = ["", "", "", ""], quoteDivs;

        function initPages() {
            const viewportWidth = document.body.clientWidth;
            if (viewportWidth > 768) {
                const seriesDiv = document.querySelector(".series");
                if (seriesDiv) {
                    const seriesToolsDiv = seriesDiv.querySelector(".series-tools:not(.mobile)");
                    seriesToolsDiv.classList.add("sticky");
                }
            }
        }

        function animateQuotes() {
            quoteDivs = document.querySelectorAll(".quote");
            let i = 0;

            quoteDivs.forEach(() => {
                quoteIntervalId[i] = setInterval(getQuote, quoteInterval[i], i);
                i++;
            });
        }

        function getQuote(idx) {
            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                let data = JSON.parse(this.response), str;
                const quoteDiv = quoteDivs[idx];
                str = data['quote'];
                // console.log({str});
                quotes[idx] = str.replace(/\r\n|\r|\n/g, '<br>');
                quoteInterval[idx] = Math.floor(2000 + (30 * 1000 * Math.random()));

                quoteDiv.classList.add("hidden");
                setTimeout(() => {
                    quoteDiv.querySelector("div").innerHTML = quotes[idx];
                    quoteDiv.classList.remove("hidden");
                    clearInterval(quoteIntervalId[idx]);
                    startInterval(idx, quoteInterval[idx]);
                }, 500);
            }
            xhr.open("GET", '/fr/series/quote');
            xhr.send();
        }

        function startInterval(idx, duration) {
            quoteIntervalId[idx] = setInterval(getQuote, duration, idx);
        }
    </script>
{% endblock %}