{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}myTvTime ▶ ︎
    {% if parameters.from == 'top_rated' %}
        {{ 'Top Rated Series'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'search' %}
        {{ 'Series search'|trans }}
    {% elseif parameters.from == 'today' %}
        {{ 'Latest Serie'|trans }}
    {% else %}
        {{ 'My Series'|trans }}
    {% endif %}
    ▶ ︎{{ serie.name }}
{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig') }}

        <div class="serie-page">
            <div class="header">
                <div class="backdrop" style="background-image: url('{{ serie.backdropPath }}')"></div>
                <div class="poster">
                    <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                </div>
                <div class="infos">
                    <h1>{{ serie.name }}
                        {% if serie.firstDateAir %}
                            <span>({{ serie.firstDateAir|date("Y") }})</span>
                        {% endif %}
                    </h1>
                    <h2>{{ season.name }}</h2>
                    <div class="info">
                        {% if season.overview|length %}
                            <div>{{ season.overview }}</div>
                        {% endif %}
                    </div>
                    {% if seasonViewing %}
                        <div class="viewing-progress">{{ 'Progress'|trans }} : <span></span>
                            / {{ seasonViewing.episodeCount }} {{ 'episodes'|trans }}</div>
                    {% endif %}
                    {% if not localized %}
                        <div class="info">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            {{ 'Information about this season (episode titles and descriptions) is not available in your language'|trans }}
                            .
                        </div>
                    {% endif %}
                </div>
                <div class="vote-graph"></div>
            </div>
            <main>
                <article class="full">
                    <section>
                        <div class="episodes-layout">
                            <div data-type="roomy"
                                 class="episodes-layout-item{% if seasonsCookie.layout == 'roomy' %} active{% endif %}">
                                <i class="fa-solid fa-table-cells-large"></i></div>
                            <div data-type="compact"
                                 class="episodes-layout-item{% if seasonsCookie.layout == 'compact' %} active{% endif %}">
                                <i class="fa-solid fa-table-cells"></i></div>
                            <div data-type="list"
                                 class="episodes-layout-item{% if seasonsCookie.layout == 'list' %} active{% endif %}">
                                <i class="fa-solid fa-table-list"></i></div>
                        </div>
                        <div class="episodes {{ seasonsCookie.layout }}">
                            {% for episode in episodes %}
                                {% set now = 'now'|date("Y-m-d") %}
                                {% set upcoming = episode.air_date > now %}
                                {% set past = episode.air_date < now %}
                                <div class="episode">
                                    <div class="still">
                                        <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                                        <div class="episode-name">{{ episode.name }}</div>
                                        <div class="episode-number{% if episode.viewing and episode.viewing.viewedAt %} viewed{% endif %}">{{ episode.episode_number }}</div>
                                    </div>
                                    <div class="infos">
                                        <h4>
                                            {{ 'Episode'|trans }} {{ episode.episode_number }} :
                                            {% if episode.viewing
                                                and episode.name matches '/[EÉ]pisod[eio]+\\s\\d+/' %}
                                                {% if episode.viewing.substituteName is not null %}
                                                    {{ episode.viewing.substituteName }}
                                                {% else %}
                                                    {{ episode.name }} ({{ 'TBA'|trans }})
                                                {% endif %}
                                            {% else %}
                                                {{ episode.name }}
                                            {% endif %}
                                        </h4>
                                        {% if episode.viewing
                                            and past
                                            and episode.name matches '/[EÉ]pisod[eio]+\\s\\d+/'
                                            and episode.viewing.substituteName is null %}
                                            <div class="substituteName">
                                                <label>
                                                    {{ 'Substitute name'|trans }} :
                                                    <input type="text" data-id="{{ episode.viewing.id }}">
                                                </label>
                                                <button class="btn btn-primary btn-sm"
                                                        data-id="{{ episode.viewing.id }}">{{ 'Apply'|trans }}</button>
                                            </div>
                                        {% endif %}

                                        {% if episode.overview|length %}
                                            <div class="info">{{ episode.overview }}</div>
                                        {% endif %}
                                        {% if episode.runtime %}
                                            <div class="info">{{ 'Runtime'|trans }}
                                                : {{ episode.runtime }} {{ episode.runtime>1 ? 'minutes':'minute' }}</div>
                                        {% endif %}
                                        {% if episode.air_date %}
                                            <div class="info">
                                                {% if past %}
                                                    {{ 'This episode aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% elseif upcoming %}
                                                    {{ 'This episode will be aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% else %}
                                                    {{ 'This episode is aired from today.'|trans }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="episode-viewing">
                                        {% if episode.viewing %}
                                            {% set viewed = episode.viewing.viewedAt %}
                                            <div class="view" data-id="{{ episode.viewing.id }}">
                                                <div class="view-value">
                                                    {% if episode.viewing.viewedAt %}
                                                        <i class="fa-solid fa-check"></i>
                                                    {% else %}
                                                        <i class="fa-solid fa-plus"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="view-provider{% if viewed %} show{% endif %}">
                                                    {% if episode.viewing.networkType == 'flatrate' and episode.viewing.networkId %}
                                                        <div class="provider" data-id="{{ episode.viewing.networkId }}">
                                                            <img src="{{ watchProviders[episode.viewing.networkId].logo_path }}"
                                                                 alt="{{ watchProviders[episode.viewing.networkId].provider_name }}"
                                                                 title="{{ watchProviders[episode.viewing.networkId].provider_name }}">
                                                        </div>
                                                    {% else %}
                                                        <div class="provider other" data-id="-1"></div>
                                                    {% endif %}
                                                    <div class="view-providers">
                                                        {% if watchProviders %}
                                                            {% if watchProviders is defined %}
                                                                {% for provider in watchProviders %}
                                                                    <div class="provider"
                                                                         data-id="{{ provider.provider_id }}">
                                                                        <img src="{{ provider.logo_path }}"
                                                                             alt="{{ provider.provider_name }}"
                                                                             title="{{ provider.provider_name }}">
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <div class="provider other" data-id="-1"></div>
                                                    </div>
                                                </div>
                                                <div class="view-device {{ episode.viewing.deviceType ?? 'tv' }}{% if viewed %} show{% endif %}"
                                                     data-device="{{ episode.viewing.deviceType ?? 'tv' }}">
                                                    <span>
                                                        {% if episode.viewing.deviceType is null %}?{% endif %}
                                                        {% if episode.viewing.deviceType == 'tv' %}TV{% endif %}
                                                    </span>
                                                    <div class="view-devices">
                                                        <div class="device desktop" data-device="desktop"></div>
                                                        <div class="device laptop" data-device="laptop"></div>
                                                        <div class="device tablet" data-device="tablet"></div>
                                                        <div class="device phone" data-device="phone"></div>
                                                        <div class="device tv" data-device="tv"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vote{% if viewed %} show{% endif %}"
                                                 data-id="{{ episode.viewing.id }}"
                                                 data-number="{{ episode.episode_number }}">
                                                <div class="vote-graduation{% if episode.viewing.vote == 10 %} active{% endif %}"
                                                     data-title="10" data-value="10"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=9 %} active{% endif %}"
                                                     data-title="9" data-value="9"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=8 %} active{% endif %}"
                                                     data-title="8" data-value="8"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=7 %} active{% endif %}"
                                                     data-title="7" data-value="7"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=6 %} active{% endif %}"
                                                     data-title="6" data-value="6"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=5 %} active{% endif %}"
                                                     data-title="5" data-value="5"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=4 %} active{% endif %}"
                                                     data-title="4" data-value="4"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=3 %} active{% endif %}"
                                                     data-title="3" data-value="3"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=2 %} active{% endif %}"
                                                     data-title="2" data-value="2"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=1 %} active{% endif %}"
                                                     data-title="1" data-value="1"></div>
                                                <div class="vote-value">{% if episode.viewing.vote %}{{ episode.viewing.vote }} / 10{% endif %}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    {% if credits %}
                        {{ include('blocks/series/_cast.html.twig', {from: parameters.from, media: "tv", id: serie.id}) }}
                        {{ include('blocks/series/_crew.html.twig', {from: parameters.from, media: "tv", id: serie.id}) }}
                    {% endif %}
                </article>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <div class="season-data" style="display: none">
        {
        "watchProviders": {{ watchProviders|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initSubstituteName();
            initView();
            initVote();
            initLayout();
            setViewedEpisodeCount();

            voteGraph();
        });

        function initSubstituteName() {
            const substituteNames = document.querySelectorAll('.substituteName');
            document.querySelector('input')?.focus();

            substituteNames?.forEach((substituteName) => {
                const applyButton = substituteName.querySelector('button');
                const input = substituteName.querySelector('input');
                applyButton.addEventListener('click', saveSubstituteName);
                input.addEventListener('keyup', (e) => {
                    if (e.code === 'Enter') {
                        saveSubstituteName(e);
                    }
                });
            });
        }

        function saveSubstituteName(e) {
            const substituteName = e.target.parentElement.querySelector('input').value;
            const id = e.target.dataset.id;
            const url = '{{ path('app_episode_substitute_name') }}';
            const data = JSON.stringify({
                id: id,
                substituteName: substituteName
            });
            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                window.location.reload();
            }
            xhr.open("GET", url + '?data=' + data, true);
            xhr.send();
        }

        function initView() {
            const watchProviders = JSON.parse(document.querySelector('.season-data').textContent).watchProviders;
            const views = document.querySelectorAll('.view');

            views.forEach((view) => {
                const viewValue = view.querySelector('.view-value');
                const viewProvider = view.querySelector('.view-provider');
                const viewProviders = view.querySelector('.view-providers');
                const providers = viewProviders.querySelectorAll('.provider');
                const viewDevice = view.querySelector('.view-device');
                const devices = viewDevice.querySelectorAll('.device');
                const vote = view.parentElement.querySelector('.vote');
                const id = view.getAttribute('data-id');
                const url = '{{ path('app_episode_view', {id: 0, view: 0})|slice(0,-3) }}' + id + '/';
                const urlNetwork = '{{ path('app_episode_view_network', {id: 0, networkId: 0})|slice(0,-3) }}' + id + '/';
                const urlDevice = '{{ path('app_episode_view_device', {id: 0, device: 'tv'})|slice(0,-4) }}' + id + '/';

                viewValue.addEventListener('click', () => {
                    const i = viewValue.querySelector('i');
                    const episodeView = i.classList.contains('fa-check') ? "1" : "0";
                    const xhr = new XMLHttpRequest();
                    xhr.onload = function () {
                        let data = {seasonCompleted: false, episodeViewed: false, viewedEpisodeCount: 0};
                        data = JSON.parse(this.responseText);
                        const provider = view.querySelector('.view-provider');
                        const device = view.querySelector('.view-device');
                        if (data.episodeViewed) {
                            viewValue.innerHTML = '<i class="fa-solid fa-check"></i>';
                            vote.classList.add('show');
                            provider.classList.add('show');
                            device.classList.add('show');
                        } else {
                            viewValue.innerHTML = '<i class="fa-solid fa-plus"></i>';
                            vote.classList.remove('show');
                            provider.classList.remove('show');
                            device.classList.remove('show');
                        }
                        if (data.seasonCompleted) {
                            viewValue.classList.add('completed');
                        } else {
                            viewValue.classList.remove('completed');
                        }
                        const viewingProgress = document.querySelector('.viewing-progress');
                        viewingProgress.querySelector("span").innerText = data.viewedEpisodeCount;
                    }
                    xhr.open("GET", url + episodeView, true);
                    xhr.send();
                });

                providers.forEach((provider) => {
                    provider.addEventListener('click', () => {
                        const providerId = provider.getAttribute('data-id');
                        const xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            const data = JSON.parse(this.responseText);
                            const networkId = data.networkId;
                            const userProvider = viewProvider.querySelector('.provider');

                            if (networkId !== -1) {
                                const img = userProvider.querySelector('img') || document.createElement('img');
                                img.setAttribute('src', watchProviders[networkId].logo_path);
                                img.setAttribute('alt', watchProviders[networkId].name);
                                img.setAttribute('title', watchProviders[networkId].name);

                                userProvider.appendChild(img);
                                userProvider.classList.remove('other');
                                userProvider.setAttribute('data-id', networkId);
                            } else {
                                userProvider.querySelector('img').remove();
                                userProvider.classList.add('other');
                                userProvider.setAttribute('data-id', -1);
                            }
                        }
                        xhr.open("GET", urlNetwork + providerId, true);
                        xhr.send();
                    });
                });
                viewProvider.addEventListener('mouseenter', () => {
                    const providers = view.querySelector('.view-providers');
                    providers.classList.add('visible');
                    setTimeout(() => {
                        providers.classList.add('show');
                    }, 0);
                });
                viewProvider.addEventListener('mouseleave', () => {
                    const providers = view.querySelector('.view-providers');
                    providers.classList.remove('show');
                    setTimeout(() => {
                        providers.classList.remove('visible');
                    }, 125);
                });

                devices.forEach((device) => {
                    device.addEventListener('click', () => {
                        let deviceName = device.getAttribute('data-device');
                        let oldDeviceName = viewDevice.getAttribute('data-device');
                        const xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            const data = JSON.parse(this.responseText);
                            const newDeviceName = data.device;
                            viewDevice.classList.remove(oldDeviceName);
                            viewDevice.classList.add(newDeviceName);
                            viewDevice.setAttribute('data-device', newDeviceName);
                            if (newDeviceName === 'tv') {
                                viewDevice.querySelector('span').innerText = 'TV';
                            } else {
                                viewDevice.querySelector('span').innerText = '';
                            }
                        }
                        xhr.open("GET", urlDevice + deviceName, true);
                        xhr.send();
                    });
                });
                viewDevice.addEventListener('mouseenter', () => {
                    const devices = view.querySelector('.view-devices');
                    devices.classList.add('visible');
                    setTimeout(() => {
                        devices.classList.add('show');
                    }, 0);
                });
                viewDevice.addEventListener('mouseleave', () => {
                    const devices = view.querySelector('.view-devices');
                    devices.classList.remove('show');
                    setTimeout(() => {
                        devices.classList.remove('visible');
                    }, 125);
                });
            });
        }

        function setViewedEpisodeCount() {
            const viewingProgress = document.querySelector('.viewing-progress');
            if (!viewingProgress) return;

            const views = document.querySelectorAll('.view');
            let count = 0;

            views.forEach((view) => {
                const viewValue = view.querySelector('.view-value');
                const i = viewValue.querySelector('i');
                count += i.classList.contains('fa-check') ? 1 : 0;
            });
            viewingProgress.querySelector("span").innerText = count;
        }

        function initVote() {
            const votes = document.querySelectorAll('.vote');

            votes.forEach((vote) => {
                // const voteValue = vote.querySelector('.vote-value');
                const voteGraduations = vote.querySelectorAll('.vote-graduation');
                const id = vote.getAttribute('data-id');
                const url = '{{ path('app_episode_vote', {id: 0, vote: 0})|slice(0,-3) }}' + id + '/';

                voteGraduations.forEach((graduation) => {
                    graduation.addEventListener('click', (e) => {
                        let value = e.currentTarget.getAttribute('data-value');
                        const voteValueDiv = e.currentTarget.parentElement.querySelector('.vote-value');
                        const voteValue = voteValueDiv.innerText;

                        if (value === "1" && voteValue === "1") {
                            value = "0";
                        }

                        const xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            const data = JSON.parse(xhr.responseText);
                            const voteValue = data.vote;
                            const episodeNumber = data.episodeNumber;

                            voteValueDiv.innerText = voteValue + " / 10";
                            voteGraduations.forEach((graduation) => {
                                const voteGraduationValue = parseInt(graduation.getAttribute('data-value'));
                                if (voteGraduationValue <= voteValue) {
                                    graduation.classList.add('active');
                                } else {
                                    graduation.classList.remove('active');
                                }
                            });
                            voteBar(episodeNumber, voteValue);
                        }
                        xhr.open("GET", url + value, true);
                        xhr.send();
                    });
                });

                voteGraduations.forEach((voteGraduation) => {
                    voteGraduation.addEventListener('mouseenter', (e) => {
                        lightOn(e.currentTarget);
                    });
                    voteGraduation.addEventListener('mouseleave', (e) => {
                        lightOff(e.currentTarget.parentElement);
                    });
                });
            });
        }

        function lightOn(graduation) {
            const vote = graduation.parentElement;
            const voteGraduations = lightOff(vote);
            const value = parseInt(graduation.getAttribute('data-value'));
            voteGraduations.forEach((voteGraduation) => {
                const voteGraduationValue = parseInt(voteGraduation.getAttribute('data-value'));
                if (voteGraduationValue <= value) {
                    voteGraduation.classList.add('light-on');
                }
            });
        }

        function lightOff(vote) {
            const voteGraduations = vote.querySelectorAll('.vote-graduation');
            voteGraduations.forEach((voteGraduation) => {
                voteGraduation.classList.remove('light-on');
            });
            return voteGraduations;
        }

        function initLayout() {
            const layouts = document.querySelectorAll('.episodes-layout-item');
            layouts.forEach((layout) => {
                layout.addEventListener('click', (e) => {
                    layouts.forEach((layout) => {
                        layout.classList.remove('active');
                    });
                    e.currentTarget.classList.add('active');
                    const type = e.currentTarget.getAttribute('data-type');
                    const episodes = document.querySelector('.episodes');
                    const time = new Date();
                    time.setFullYear(time.getFullYear() + 1);
                    episodes.classList.remove('roomy', 'compact', 'list');
                    episodes.classList.add(type);
                    document.cookie = "series_seasons=" + encodeURIComponent(JSON.stringify({layout: type})) + "; expires=" + time.toUTCString() + "; path=/";
                });
            });
        }

        const colorVote = [
            '#39C049',
            '#66BA45',
            '#83B847',
            '#97B14E',
            '#A5A749',
            '#AB9949',
            '#AE8D4C',
            '#AF784B',
            '#AB664F',
            '#9F5656',
            '#8B4A5F',
        ];
        const episodes = JSON.parse('{{ episodesVotes|json_encode()|raw }}');
        const episodeCount = episodes.length;
        let offsetX, offsetY, barWidth, barSpace, barOffset;
        let voteGraphDiv;
        const graphic = {width: 500, height: 300};

        function voteGraph() {
            const viewingProgress = document.querySelector('.viewing-progress');
            if (!viewingProgress) return;

            const div = document.createElement('div');
            const graph = document.createElement('canvas');

            graph.classList.add('graph');
            graph.width = 600;
            graph.height = 400;

            const ctx = graph.getContext('2d');
            ctx.fillStyle = "#0000001f";
            ctx.fillRect(0, 0, graph.width, graph.height);
            ctx.font = "24px sans-serif";
            div.appendChild(graph);

            voteGraphDiv = document.querySelector('.vote-graph');
            voteGraphDiv.appendChild(div);

            offsetX = (graph.width - graphic.width) / 2;
            offsetY = graph.height - (graph.height - graphic.height) / 2;
            barSpace = graphic.width / episodeCount;
            barWidth = barSpace * .8;
            barOffset = barSpace * .1;
            episodes.forEach((episode) => {
                episodeBar(episode, ctx);
            });
            console.log({episodes});
        }

        function voteBar(episodeNumber, vote) {
            const graph = document.querySelector('.graph');
            const ctx = graph.getContext('2d');
            const episode = episodes[episodeNumber - 1];
            episode.vote = vote;
            episodeBar(episode, ctx);
        }

        function episodeBar(episode, ctx) {
            const x = offsetX + (episode.number - 1) * barSpace + barOffset
            const y = offsetY - (episode.vote * 30);
            const w = barWidth;
            const h = episode.vote * 30;
            let textWidth;

            ctx.fillStyle = "#3333331f";
            ctx.strokeStyle = "#3333331f";
            ctx.clearRect(x - barOffset, offsetY - 301, barSpace, 302);
            ctx.fillRect(x, offsetY - 300, w, 300);
            ctx.strokeRect(x, offsetY - 300, w, 300);

            ctx.fillStyle = colorVote[10 - episode.vote];
            ctx.strokeStyle = "#ffffff";
            ctx.lineWidth = 2;
            ctx.fillRect(x, y, w, h);
            ctx.strokeRect(x, y, w, h);

            ctx.fillStyle = "#ffffff";
            textWidth = ctx.measureText(episode.number);
            ctx.fillText(episode.number, x + (barSpace - textWidth.width) / 2, offsetY + 25);
            if (episode.vote) {
                textWidth = ctx.measureText(episode.vote);
                ctx.fillText(episode.vote, x + (barSpace - textWidth.width) / 2, y - 10);
            }
        }
    </script>
{% endblock %}