{% extends 'base.html.twig' %}

    {% block title %}myTvTime ▶ ︎
        {% if from == 'popular' %}
            {{ 'Popular Series'|trans }}
        {% elseif from == 'search' %}
            {{ 'Series search'|trans }}
        {% elseif from == 'my_series_to_start' %}
            {{ 'My series to start'|trans }}
        {% elseif from == 'my_series_to_end' %}
            {{ 'My series to end'|trans }}
        {% elseif from == 'upcoming_series' %}
            {{ 'Upcoming series'|trans }}
        {% elseif from == 'upcoming_episodes' %}
            {{ 'Upcoming episodes'|trans }}
        {% elseif from == 'today' %}
            {{ 'My series airing today'|trans }}
        {% elseif from == 'week' %}
            {{ 'Episodes of the week'|trans }}
        {% elseif from == 'my-events' %}
            {{ 'My events'|trans }}
        {% else %}
            {{ 'My series'|trans }}
        {% endif %}
        ▶ ︎{{ serie.localized_name ?? serie.name }}
    {% endblock %}

{% block body %}
    {#    <div class="bubble"> #}
    {#        <div class="body"></div> #}
    {#        <div class="tail"></div> #}
    {#    </div> #}
    <div class="bubble-v2">
        <div class="still"></div>
        <div class="infos"></div>
        <div class="tail"></div>
    </div>
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig') }}

        <div class="serie-page">
            <div class="header">
                {% if serie.backdrop_path|length %}
                    <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdrop_path }}')"></div>
                {% else %}
                    <div class="backdrop" style="background-image: url('/images/default/no_banner_dark.png')"></div>
                {% endif %}
                <div class="posters">
                    <div class="poster">
                        {% if serie.poster_path|length %}
                            {% if addThisSeries %}
                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ serie.name }}">
                            {% else %}
                                <img src="{{ "/images/series/posters" ~ serie.poster_path }}" alt="{{ serie.name }}">
                            {% endif %}
                        {% else %}
                            <img src="/images/default/no_poster.png" alt="{{ serie.name }}">
                        {% endif %}
                        {% if watchProviders %}
                            <div class="watch-providers">
                                {% if watchProviders.flatrate is defined %}
                                    {% for flatrate in watchProviders.flatrate %}
                                        <div class="watch-provider">
                                            <div class="logo">
                                                <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ flatrate.logo_path }}"
                                                     alt="{{ flatrate.provider_name }}">
                                            </div>
                                            <div class="watch">
                                                <div>{{ 'Available in streaming'|trans }}</div>
                                                <div><a href="{{ watchProviders.link }}">{{ 'Watch now'|trans }}</a></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if watchProviders.buy is defined %}
                                    {% for buy in watchProviders.buy %}
                                        <div class="watch-provider">
                                            <div class="logo">
                                                <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ buy.logo_path }}"
                                                     alt="{{ buy.provider_name }}">
                                            </div>
                                            <div class="watch">
                                                <div>{{ 'Available to rent or buy'|trans }}</div>
                                                <div><a href="{{ watchProviders.link }}">{{ 'Watch now'|trans }}</a></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="arrow"></div>
                    </div>
                    {% if serie.seriePosters|length > 1 %}
                        <div class="poster-list">
                            {% for seriePoster in serie.seriePosters %}
                                <div class="poster-item">
                                    <img src="{{ "/images/series/posters" ~ seriePoster.posterPath }}" alt="{{ serie.name }}">
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="infos">
                    <h1>
                        {% if serieId %}
                            <div id="localized-name">
                                <span>
                                    {% if serie.localized_name is defined and serie.localized_name|length %}
                                        {{ serie.localized_name }} ({{ serie.name }})
                                    {% else %}
                                        {{ serie.name }}
                                    {% endif %}
                                </span>
                                <div id="edit-localized-name" data-id="{{ serieId }}"><i class="fa-solid fa-pen"></i></div>
                            </div>
                        {% else %}
                            {{ serie.name }}
                        {% endif %}
                        {% if serie.first_air_date %}
                            <span>({{ serie.first_air_date|date("Y") }})</span>
                        {% else %}
                            <div class="no-date">
                                <span>
                                    {% if serie.upcoming_date_year is defined and serie.upcoming_date_year %}
                                        ({% if serie.upcoming_date_month %}{{ serie.upcoming_date_month }}/{% endif %}{{ serie.upcoming_date_year }})
                                    {% else %}
                                        — {{ 'No date yet'|trans }}
                                    {% endif %}
                                </span>
                                {% if serieId %}
                                    <div class="no-date-form">
                                        <div>{{ 'Found a date'|trans }}</div>
                                        <form name="upcoming">
                                            <label for="upcoming-month">{{ 'Month'|trans }} :
                                                <input type="number" id="upcoming_month" name="upcoming[month]" value="{{ serie.upcoming_date_month }}" min="1" max="12" style="width: 3rem">
                                            </label>
                                            <label for="upcoming-year">{{ 'Year'|trans }} :
                                                <input type="number" id="upcoming_year" name="upcoming[year]" value="{{ serie.upcoming_date_year }}" min="{{ currentYear }}" style="width: 5rem">
                                            </label>
                                            <button type="submit" id="upcoming_save" name="upcoming[save]" value="{{ serie.id }}" class="btn btn-primary">
                                                {{ 'Save'|trans }}
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </h1>
                    <div class="info">
                        {% for genre in serie.genres %}
                            {{ genre.name }}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        {% if serie.episode_run_time|length %}
                            •
                            {{ serie.episode_run_time.0 }} {{ 'minutes'|trans }}
                        {% endif %}
                    </div>
                    <div class="info">
                    </div>
                    <div class="info">
                        <div class="tagline">{{ serie.tagline }}</div>
                        <div class="view-vote">
                            {% if user %}
                                {% if not addThisSeries %}
                                    {#                                    <div class="d-flex-1"> #}
                                    {#                                        <div class="duration-string"></div> #}
                                    {#                                        <button id="test" data-id="{{ serieId }}" #}
                                    {#                                                class="btn btn-primary">{{ 'Time spent watching my series'|trans }}</button> #}
                                    {#                                    </div> #}
                                    {% if serie.number_of_episodes > 0 %}
                                        <div class="view-count">{{ viewedEpisodes }} {{ (viewedEpisodes>1?'viewed episodes':'viewed episode')|trans }}</div>
                                        <div class="view-average">
                                            <div class="circle">
                                                {% set percent = (viewedEpisodes / serie.number_of_episodes * 100)|round %}
                                                {% if percent > 100 %}
                                                    {% set percent = 100 %}
                                                {% endif %}
                                                <div class="percentage">{{ percent }}%</div>
                                            </div>
                                            <div class="circle-start"></div>
                                            <div class="circle-end"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if serie.vote_count %}
                                <div class="vote-count">{{ serie.vote_count }} {{ 'votes'|trans }}</div>
                                <div class="vote-average">
                                    <div class="circle">
                                        <div class="percentage">{{ (serie.vote_average * 10)|round }}%</div>
                                    </div>
                                    <div class="circle-start"></div>
                                    <div class="circle-end"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info">
                        {% if serie.overview|length %}
                            <div class="overview">{{ serie.overview|e }}</div>
                        {% endif %}
                    </div>
                    <div class="info">
                        {% if serie.created_by|length %}
                            <div class="creators">
                                {% for c in serie.created_by %}
                                    <a href="{{ path('app_people', {id: c.id}) }}">
                                        <div class="creator">
                                            <div class="profile">
                                                {% if c.profile_path %}
                                                    <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ c.profile_path }}"
                                                         alt="{{ c.name }}">
                                                {% else %}
                                                    <img src="/images/default/no_avatar.png" alt="{{ c.name }}">
                                                {% endif %}
                                            </div>
                                            <div>{{ c.name }}</div>
                                            <div>
                                                {% if c.gender is defined %}
                                                    {{ (c.gender==1?'creator.she':'creator.he')|trans }}
                                                {% else %}
                                                    {{ 'creation'|trans }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if serie.serieBackdrops|length > 0 %}
                            <div class="backdrop-list-wrapper">
                                {{ 'Backdrops'|trans }}
                                <div class="backdrop-list">
                                    {% for serieBackdrop in serie.serieBackdrops %}
                                        <div class="backdrop-item">
                                            <img src="{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serieBackdrop.backdropPath }}" alt="{{ serie.name }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if nextEpisodeToWatch %}
                            <div class="next-block">
                                {{ include('blocks/series/_next_episode_to_watch.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                    {% if whatsNew %}
                        <div class="what-s-new">
                            {% for news in whatsNew %}
                                <div class="news">{{ news }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="add-and-others">
                    {% if user %}
                        {% if addThisSeries %}
                            <div class="add" data-id="{{ serie.id }}">{{ 'Add'|trans }}</div>
                        {% endif %}
                    {% endif %}
                    <div class="ygg">
                        <a href="https://www5.yggtorrent.fi/engine/search?name={{ ygg }}&do=search&order=desc&sort=publish_date"
                           target="_blank">
                            <div></div>
                        </a>
                    </div>
                    <div class="ygg-original">
                        <a href="https://www5.yggtorrent.fi/engine/search?name={{ yggOriginal }}&do=search&order=desc&sort=publish_date"
                           target="_blank">
                            <div></div>
                        </a>
                    </div>
                    <div class="tmdb">
                        <a href="https://www.themoviedb.org/tv/{{ serie.id }}" target="_blank" rel="noopener">
                            <div></div>
                        </a>
                    </div>
                </div>
            </div>

            <main>
                <aside class="tablet">
                    {{ include('blocks/series/_aside.html.twig') }}
                </aside>
                <article>
                    <section>
                        <div class="seasons">
                            {% set globalIndex = 1 %}
                            {% for season in serie.seasons|reverse %}
                                {% if season.season_number %}
                                    {% set url = path('app_series_tmdb_season', {id: serie.id, seasonNumber: season.season_number})~'?from='~from~'&p='~page %}
                                    {% if query is defined %} {% set url = url ~ '&query=' ~ query %}{% endif %}
                                    {% if year is defined %} {% set url = url ~ '&year=' ~ year %}{% endif %}
                                    {% if backId is defined %} {% set url = url ~ '&back=' ~ backId %}{% endif %}
                                    <a href="{{ url }}">
                                        <div class="season">
                                            <div class="poster">
                                                {% if season.poster_path|length %}
                                                    <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ season.poster_path }}" alt="{{ season.name }}">
                                                {% else %}
                                                    {% if serie.poster_path %}
                                                        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ season.name }}">
                                                    {% else %}
                                                        <img src="/images/default/no_poster.png" alt="{{ season.name }}">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <h4>{{ season.name }}</h4>
                                                {% if season.air_date %}{{ season.air_date|slice(0,4) }} | {% endif %}
                                                {{ season.episode_count }} {{ ((season.episode_count>1) ? 'episodes' : 'episode')|trans }}
                                                {% if season.seasonViewing is defined %}
                                                    <div class="details" data-season-number="{{ season.season_number }}">
                                                        <div>
                                                            {{ include('blocks/series/_season_viewing.html.twig', {shift: isTimeShifted}) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if season.overview|length %}
                                                    <div>{{ season.overview|e }}</div>
                                                {% endif %}
                                                {% if season.air_date %}
                                                    <div>
                                                        {% if season.air_date < 'now'|date("Y-m-d") %}
                                                            {{ 'The season season_number of serie_name aired from season_air_date.'|trans({"season_number": season.season_number, "serie_name": serie.name, "season_air_date": (season.air_date|format_date('medium'))}) }}
                                                        {% elseif season.air_date > 'now'|date("Y-m-d") %}
                                                            {{ 'The season season_number of serie_name will be aired from the season_air_date.'|trans({"season_number": season.season_number, "serie_name": serie.name, "season_air_date": (season.air_date|format_date('medium'))}) }}
                                                        {% else %}
                                                            {{ 'The season season_number of serie_name is aired from today.'|trans({"season_number": season.season_number, "serie_name": serie.name}) }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                    {% set globalIndex = globalIndex + season.episode_count %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    {% if credits %}
                        {{ include('blocks/series/_cast.html.twig', {from: from, media: "tv", id: serie.id}) }}
                        {{ include('blocks/series/_crew.html.twig', {from: from, media: "tv", id: serie.id}) }}
                    {% endif %}
                    {% if images.backdrops|length or images.logos|length or images.posters|length %}
                        <section>
                            <div class="images">
                                <h4>{{ 'Images'|trans }}</h4>
                                {% if images.backdrops|length %}
                                    <h5>{{ 'Backdrops'|trans }}</h5>
                                    <div>
                                        {% for backdrop in images.backdrops %}
                                            <img class="backdrop"
                                                 src="{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ backdrop.file_path }}"
                                                 alt="Some backdrop">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if images.logos|length %}
                                    <h5>{{ 'Logos'|trans }}</h5>
                                    <div class="d-flex f-wrap f-gap-1">
                                        <div class="logo-bg-dark">
                                            {% for logo in images.logos %}
                                                <img class="logo"
                                                     src="{{ imageConfig.url ~ imageConfig.logo_sizes.3 ~ logo.file_path }}"
                                                     alt="Some logo">
                                            {% endfor %}
                                        </div>
                                        <div class="logo-bg-light">
                                            {% for logo in images.logos %}
                                                <img class="logo"
                                                     src="{{ imageConfig.url ~ imageConfig.logo_sizes.3 ~ logo.file_path }}"
                                                     alt="Some logo">
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if images.posters|length %}
                                    <h5>{{ 'Posters'|trans }}</h5>
                                    <div>
                                        {% for poster in images.posters %}
                                            <img class="poster"
                                                 src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ poster.file_path }}"
                                                 alt="Some poster">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    {% endif %}
                    {% if serie.videos|length %}
                        {% if serie.videos.results|length %}
                            <section>
                                <div class="videos">
                                    <h4>{{ 'Videos'|trans }}</h4>
                                    <div>
                                        {% for video in serie.videos.results %}
                                            <div class="video">
                                                <h5>{{ video.type }}</h5>
                                                <h6>{{ 'Published at'|trans }} {{ video.published_at|format_datetime() }}</h6>
                                                <iframe src="https://www.youtube.com/embed/{{ video.key }}"
                                                        title="{{ video.name }}"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endif %}
                </article>
                <aside class="desktop">
                    {{ include('blocks/series/_aside.html.twig') }}
                </aside>
            </main>
            <div class="translationModalBack">
                <div class="translationModal">
                    <div class="trans-header">
                        <h4>{{ 'Translate new keywords'|trans }}</h4>
                    </div>
                    <div class="trans-content"></div>
                    <div class="trans-footer">
                        <button type="button" aria-label="{{ 'Cancel'|trans }}"
                                aria-roledescription="{{ 'Cancel and close the dialog'|trans }}">{{ 'Cancel'|trans }}</button>
                        <button type="submit" aria-label="{{ 'Translate'|trans }}"
                                aria-roledescription="{{ 'Add translated keywords, close the dialog and reload the page'|trans }}">{{ 'Translate'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    {% if serieId %}
        {{ include('blocks/movie/_localizedName.html.twig') }}
        {{ include('blocks/series/_addDirectLink.html.twig') }}
    {% endif %}
    <dialog class="viewed-update">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </dialog>
    <dialog class="viewed-update-db-world">
        <div class="loading">
            <div class="world"><i class="fa-solid fa-globe"></i></div>
            <div class="arrows"><i class="fa-solid fa-arrow-up"></i></div>
            <div class="db"><i class="fa-solid fa-database"></i></div>
        </div>
    </dialog>
    <dialog class="viewed-episode">
        <div class="overlay">
            <div class="header">
                {{ 'Where did you watched it?'|trans }}
                <button value="nope" class="close"><i class="fa-solid fa-circle-xmark"></i></button>
            </div>
            <div class="content">
                <div class="networks">
                    <div class="wrapper">
                        {% for network in serie.networks %}
                            <div class="network" data-type="network" data-id="{{ network.id }}">
                                <div class="logo"
                                     style="background-image: url('{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ network.logo_path }}')"></div>
                                <div class="label">{{ network.name }}</div>
                            </div>
                        {% endfor %}
                        {% if watchProviders.flatrate is defined %}
                            {% for flatrate in watchProviders.flatrate %}
                                <div class="network" data-type="flatrate" data-id="{{ flatrate.provider_id }}">
                                    <div class="logo"
                                         style="background-image: url('{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ flatrate.logo_path }}')"></div>
                                    <div class="label">{{ flatrate.provider_name }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if watchProviders.buy is defined %}
                            {% for buy in watchProviders.buy %}
                                <div class="network" data-type="buy" data-id="{{ buy.provider_id }}">
                                    <div class="logo"
                                         style="background-image: url('{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ buy.logo_path }}')"></div>
                                    <div class="label">{{ buy.provider_name }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="network" data-type="other">
                            <div class="logo other"></div>
                            <div class="label">{{ 'Other'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="devices">
                    <div class="choice">
                        <div class="device desktop" data-type="desktop"></div>
                        <div class="label">{{ 'Desktop'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device laptop" data-type="laptop"></div>
                        <div class="label">{{ 'Laptop'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device phone" data-type="phone"></div>
                        <div class="label">{{ 'Phone'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device tablet" data-type="tablet"></div>
                        <div class="label">{{ 'Tablet'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device tv" data-type="tv"></div>
                        <div class="label">{{ 'Tv'|trans }}</div>
                    </div>
                </div>
                <div class="check-them-all">
                    <label for="checkThemAll">
                        <input type="checkbox" id="checkThemAll" checked>{{ 'Mark previous episodes as viewed'|trans }}
                    </label>
                </div>
                <div class="remember-choice">
                    <label for="rememberChoice">
                        <input type="checkbox" id="rememberChoice" checked
                               title="{{ 'Remember my choice as long as I stay on this page'|trans }}">{{ 'Remember my choices'|trans }}
                    </label>
                </div>
                <div class="live-watch">
                    <label for="liveWatch">
                        <input type="checkbox" id="liveWatch"
                               title="{{ 'Episodes seen as they happen'|trans }}">{{ 'Episodes seen as they happen'|trans }}
                    </label>
                </div>
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary viewed-episode-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-secondary viewed-episode-done">{{ 'Done'|trans }}</button>
            </div>
        </div>
    </dialog>
    <div id="globs-data" style="display: none">
        {
        "app_series_render_translation_fields": "{{ path('app_series_render_translation_fields') }}",
        "app_series_render_translation_select": "{{ path('app_series_render_translation_select') }}",
        "app_series_render_translation_save": "{{ path('app_series_render_translation_save') }}",
        "app_series_new": "{{ path('app_series_new') }}",
        "app_series_show": "{{ path('app_series_show', {id:0})|slice(0, -1) }}",
        "app_series_viewing": "{{ path('app_series_viewing') }}",
        "app_user_connected": "{{ path('app_user_connected') }}",
        "app_series_toggle_favorite": "{{ path('app_series_toggle_favorite', {'fav': 1, 'userId': 2, 'mediaId': 3})|slice(0, -6) }}",
        "app_series_duration": "{{ path('app_series_duration') }}",
        "app_series_toggle_time_shifted": "{{ path('app_series_toggle_time_shifted', {'shifted': 0, 'userId': 2, 'serieId': 3})|slice(0, -6) }}",
        "app_series_alert": "{{ path('app_series_alert', {serieId: 0, tmdb: 'show', isActivated: 0})|slice(0, -8) }}",
        "app_series_alert_provider": "{{ path('app_series_alert_provider', {id: 0, providerId: 0})|slice(0, -3) }}",
        "app_series_upcoming_date": "{{ path('app_series_upcoming_date') }}",
        "still": "{{ imageConfig.url ~ imageConfig.still_sizes.3 }}",
        "userId": "{{ user?user.id:0 }}",
        "serieId": "{{ serieId }}",
        "number_of_episodes": {{ serie.number_of_episodes }}
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if serieId %}
        <script src="/js/localize.js" type="module"></script>
        <script src="/js/directLink.js" type="module"></script>
    {% endif %}
    <script src="/js/serie.js"></script>
    <script src="/js/diaporama.js"></script>
    <script src="/js/seriesShow.js" type="module"></script>
    <script>
        const paths = [
            "{{ path('app_series_render_translation_fields') }}",
            "{{ path('app_series_render_translation_select') }}",
            "{{ path('app_series_render_translation_save') }}",
            "{{ path('app_series_new') }}",
            "{{ path('app_series_show', {id:0})|slice(0, -1) }}",
            "{{ path('app_series_viewing') }}",
            "{{ path('app_user_connected') }}",
            "{{ path('app_series_toggle_favorite', {'fav': 1, 'userId': 2, 'mediaId': 3})|slice(0, -6) }}",
            "{{ path('app_series_duration') }}",
            "{{ path('app_series_toggle_time_shifted', {'shifted': 0, 'userId': 2, 'serieId': 3})|slice(0, -6) }}",
            "{{ path('app_series_alert', {serieId: 0, tmdb: 'tmdb', isActivated: 0})|slice(0, -7) }}",
        ];
        const serie = "{{ serieId }}";
        let myCanvas, palettes;

        window.addEventListener("DOMContentLoaded", () => {
            {% if user and serieId %}
            {% set percent = serie.number_of_episodes > 0 ? ((viewedEpisodes / serie.number_of_episodes * 100)|round) : 0 %}
            {% if percent > 100 %} {% set percent = 100 %} {% endif %}
            initSerieStuff(paths, [
                [".vote-average", 10 * parseFloat("{{ serie.vote_average }}")],
                [".view-average", parseFloat("{{ percent }}")]
            ]);
            {% else %}
            initSerieStuff(paths, [
                [".vote-average", 10 * parseFloat("{{ serie.vote_average }}")],
                undefined
            ]);
            {% endif %}

            const images = document.querySelector(".serie-page").querySelector(".images")?.querySelectorAll("img");
            const posters = document.querySelector(".serie-page").querySelector(".poster-list")?.querySelectorAll("img");
            const backdrops = document.querySelector(".serie-page").querySelector(".backdrop-list")?.querySelectorAll("img");
            const locale = document.querySelector("html").getAttribute("lang");

            initDiaporama(images, locale);
            initDiaporama(posters, locale);
            initDiaporama(backdrops, locale);
        });
    </script>
{% endblock %}
