{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My series to end'|trans }}{% endblock %}
{% block description %}{{ 'List of my series to end'|trans }}{% endblock %}
{% block keywords %}{{ 'Series, Tv Shows'|trans }}{% endblock %}
{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig') }}

        <div class="my-series">
            <div class="header">
                {{ include('blocks/series/_quotes.html.twig') }}
                <h1>{{ 'My series to end'|trans }}</h1>
                <div class="backdrop"></div>
            </div>
            <main>
                <div class="series stretch">
                    <div class="series-tools mobile">
                        <div class="pages mobile">
                            {{ include('blocks/series/_pagination-v2.html.twig', {route: 'app_series_to_end'}) }}
                        </div>
                    </div>
                    <div class="wrapper">
                        {% if series|length %}
                            {% for serie in series %}
                                <div data-id="{{ serie.id }}">
                                    {{ include('blocks/series/_card.html.twig') }}
                                </div>
                            {% endfor %}
                        {% else %}
                            Rien à afficher
                        {% endif %}
                    </div>
                    <div class="series-tools desktop">
                        <div class="pages desktop">
                            {{ include('blocks/series/_pagination-v2.html.twig', {route: 'app_series_to_end'}) }}
                        </div>
                        <div class="series-filter">
                            <label for="series-sort">
                                {{ 'Sort by'|trans }}:
                                <select id="series-sort">
                                    <option value="created_at"{% if settings.sort == 'created_at' %} selected{% endif %}>{{ 'Date added'|trans }}</option>
                                    <option value="first_date_air"{% if settings.sort == 'first_date_air' %} selected{% endif %}>{{ 'First Air at'|trans }}</option>
                                    <option value="modified_at"{% if settings.sort == 'modified_at' %} selected{% endif %}>{{ 'Last modified by user'|trans }}</option>
                                    <option value="name"{% if settings.sort == 'name' %} selected{% endif %}>{{ 'Name'|trans }}</option>
                                    <option value="progress"{% if settings.sort == 'progress' %} selected{% endif %}>{{ 'Progress'|trans }}</option>
                                </select>
                            </label>
                            <label for="series-order">
                                {{ 'Order by'|trans }}:
                                <select id="series-order">
                                    <option value="DESC"{% if settings.sort == 'DESC' %} selected{% endif %}>{{ 'Descending'|trans }}</option>
                                    <option value="ASC"{% if settings.sort == 'ASC' %} selected{% endif %}>{{ 'Ascending'|trans }}</option>
                                </select>
                            </label>
                            <label for="include-upcoming-episodes">
                                <input type="checkbox" id="include-upcoming-episodes"{% if settings.includeUpcomingEpisodes %} checked{% endif %}>
                                {{ 'Include upcoming episodes'|trans }}
                            </label>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <div id="globs-data" style="display: none">
        {
        "posters": {{ posters|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "posterPath": "{{ posterPath }}"
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/seriesToStartOrEnd.js" type="module"></script>
{% endblock %}
