{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Upcoming series'|trans }}{% endblock %}
{% block description %}{{ 'List of my series to come'|trans }}{% endblock %}
{% block keywords %}{{ 'Series, Tv Shows'|trans }}{% endblock %}
{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">

        {{ include('blocks/_nav.html.twig') }}

        <div class="my-series">
            <div class="header">
                {{ include('blocks/series/_quotes.html.twig') }}
                <h1>{{ 'Upcoming series'|trans }}</h1>
                <div class="backdrop"></div>
            </div>
            <main class="w100">
                <div class="series stretch">
                    <div class="series-tools mobile">
                        <div class="pages mobile">
                            {{ include('blocks/series/_pagination-v2.html.twig', {route: 'app_series_upcoming_series'}) }}
                        </div>
                    </div>
                    <div class="wrapper">
                        {% if series|length %}
                            {% for serie in series %}
                                <div data-id="{{ serie.id }}">
                                    {{ include('blocks/series/_card-upcoming.html.twig') }}
                                </div>
                            {% endfor %}
                        {% else %}
                            Rien à afficher
                        {% endif %}
                    </div>
                    <div class="series-tools desktop">
                        <div class="pages desktop">
                            {{ include('blocks/series/_pagination-v2.html.twig', {route: 'app_series_upcoming_series'}) }}
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <div id="globs-data" style="display: none">
        {
        "posters": {{ posters|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "posterPath": "{{ posterPath }}"
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/seriesToStartOrEnd.js" type="module"></script>
{% endblock %}
