<div class="form">
    {{ form_start(form) }}
    <div class="form-row">
        <label for="{{ form.title.vars.id }}" class="{{ form.title.vars.required ? 'required' }}">
            <div>{{ form.title.vars.label }}</div>
            {{ form_widget(form.title) }}
        </label>
    </div>
    <div class="form-row">
        <label for="{{ form.description.vars.id }}" class="{{ form.description.vars.required ? 'required' }}">
            <div>{{ form.description.vars.label }}</div>
            {{ form_widget(form.description) }}
        </label>
    </div>
    <div class="form-row">
        <label for="{{ form.color.vars.id }}" class="{{ form.color.vars.required ? 'required' }}">
            <div>{{ form.color.vars.label }}</div>
            {{ form_widget(form.color) }}
        </label>
    </div>
    <div class="form-row">
        <div class="field">
            <label for="{{ form.dropThumbnail.vars.id }}" class="{{ form.dropThumbnail.vars.required ? 'required' }}">
                <div>{{ form.dropThumbnail.vars.label }}</div>
                {{ form_widget(form.dropThumbnail) }}
            </label>
        </div>
        <div class="field">
            <label for="{{ form.dropBanner.vars.id }}" class="{{ form.dropBanner.vars.required ? 'required' }}">
                <div>{{ form.dropBanner.vars.label }}</div>
                {{ form_widget(form.dropBanner) }}
            </label>
        </div>
    </div>
    <div class="form-row right">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
</div>
