{% extends 'base.html.twig' %}
{% block morecss %}
{#    <link href="{{ asset("tv.css") }}" rel="stylesheet">#}
{% endblock %}

{% block title %}myTvTime::{{ season.name }}{% endblock %}
{% block body %}
{#    {% if app.debug=='dev' %}{{ dump() }}{% endif %}#}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Homepage'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_home_tv') }}">{{ 'Tv Shows'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_tv', {id: tv.id}) }}">{{ tv.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_season', {id: tv.id, season_number: season.season_number}) }}">{{ season.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="{{ episode.name }}">{{ episode.name }}</li>
            </ol>
        </nav>

        <div class="episode-info">
            <h1><a href="{{ path('app_tv', {id: tv.id}) }}">{{ tv.name }}</a></h1>
            <h2>
                {{ 'Season'|trans }} {{ season.season_number }} :
                <a href="{{ path('app_season', {id: tv.id, season_number: season.season_number }) }}">
                    <span class="data">{{ season.name }}</span>
                </a>
            </h2>
            <div class="episode-detail">
                <div class="episode">
                    <div class="detail">
                        <div class="name">{{ 'Episode'|trans }} {{ episode.episode_number }} : {{ episode.name }}</div>
                        <div class="air-date">{{ 'Air Date'|trans }} : <span class="data">{{ episode.air_date|format_date('short') }}</span></div>
                        {% if episode.overview | length %}
                            <div class="overview">{{ 'Overview'|trans }} : {{ episode.overview }}</div>
                        {% endif %}
                        {% if episode.crew is not empty %}
                        {% endif %}
                        {% if episode.guest_stars is not empty %}
                            <div class="guests-label"> {{ 'Guests'|trans }}</div>
                            <div class="guests">
                                {% for guest in episode.guest_stars %}
                                    <div class="guest">
                                        <div class="profile">
                                            {% if guest.profile_path | length %}
                                                <img src="{{ imageConfig.url }}{{ imageConfig.profile_sizes.0 }}{{ guest.profile_path }}" alt="{{ tv.name }} | {{ guest.name }}">
                                            {% endif %}
                                        </div>
                                        <div class="name">{{ guest.name }}</div>
                                        <div class="known-for">{{ guest.known_for_department }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="poster">
                        {% if episode.still_path | length %}
                            <img src="{{ imageConfig.url }}{{ imageConfig.still_sizes.3 }}{{ episode.still_path }}" alt="{{ tv.name }} | {{ episode.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {{ include('blocks/pageFooter.html.twig') }}
    </div>
{% endblock %}
