{% if user and serieId %}
    <div class="favorite" data-user="{{ user.id }}" data-media="{{ serieId }}">
        <div class="control">
            {{ 'Add to favorites'|trans }}
            <label class="switch">
                <input type="checkbox" {% if is_favorite(user.id, serieId, 'series') %} checked{% endif %}/>
                <span></span>
            </label>
        </div>
        <span class="message"></span>
    </div>
    <div class="timeShifted" data-user="{{ user.id }}" data-media="{{ serieId }}">
        <div class="control">
            {{ 'Airing D+1'|trans }}
            <label class="switch">
                <input type="checkbox" {% if isTimeShifted %} checked{% endif %}/>
                <span></span>
            </label>
        </div>
    </div>
    {#    <div class="todos"> #}
    {#        TODOS #}
    {#        <div class="todo"> #}
    {#            <div class="todo-text">Ajouter un switch pour masquer les épisodes et saisons à venir</div> #}
    {#            <div class="todo-close"><i class="fa-solid fa-xmark"></i></div> #}
    {#        </div> #}
    {#    </div> #}
{% endif %}
<div class="key-facts">
    {% if user and serieId %}
        <h4>{{ 'Direct link'|trans }}</h4>
        {#        <pre>{{ dump(serie.directLink) }}</pre> #}
        <div class="direct-link">
            {% if serie.directLink|length %}
                <div class="label">{{ 'Watch now'|trans }}</div>
                <div class="direct-link-list">
                    {% for dl in serie.directLink %}
                        {% if dl.type == 'dir' %}
                            <div class="link-pass" data-title="{{ 'Watch'|trans }} {{ dl.name }}">
                        {% endif %}
                        {% if dl.type == 'season' %}
                            <div class="link-pass" data-title="{{ 'Watch season'|trans }} {{ dl.name }}">
                        {% endif %}
                        {% if dl.type == 'link' %}
                            <div class="link-pass" data-title="{{ 'Watch on'|trans }} {{ dl.name }}{% if 'playlist' in dl.url %} - {{ 'Playlist'|trans }}{% endif %}{% if 'search_query' in dl.url %} - {{ 'Search page'|trans }}{% endif %}">
                        {% endif %}
                        {% if dl.type == 'file' %}
                            <div class="link-pass" data-title="{{ 'Play video'|trans }} “{{ dl.name }}”">
                        {% endif %}
                        <a href="{{ dl.url }}" target="_blank">
                            {% if dl.type == 'link' or dl.type == 'season' %}
                                {% if dl.logoPath %}
                                    <img src="{{ dl.logoPath }}" alt="{{ dl.name }}" loading="lazy">
                                {% else %}
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                {% endif %}
                            {% endif %}
                            {% if dl.type == 'file' %}
                                <span>{{ dl.ext }}</span>
                            {% endif %}
                            {% if dl.type == 'dir' %}
                                <i class="fa-solid fa-folder"></i>
                            {% endif %}
                        </a>
                        <div class="link-tool" id="edit-direct-link-{{ block }}"><i class="fa-solid fa-pen" data-title="{{ 'Edit url'|trans }}"></i></div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="label">{{ 'Add a link'|trans }}</div>
                <div class="link-tool" id="new-direct-link-{{ block }}"><i class="fa-solid fa-circle-plus" data-title="{{ 'New url'|trans }}"></i></div>
            {% endif %}
        </div>
    {% endif %}
    <h4>{{ 'Key facts'|trans }}</h4>
    <div class="fact">
        <div class="fact-label">{{ 'Original name'|trans }}</div>
        <div class="fact-content">{{ serie.original_name }}</div>
    </div>
    <div class="fact">
        <div class="fact-label">{{ 'Original language'|trans }}</div>
        <div class="fact-content">{{ serie.original_language|language_name(locale)|capitalize }}</div>
    </div>
    <div class="fact">
        <div class="fact-label">{{ 'Original Country'|trans }}</div>
        {% for country in serie.origin_country %}
            <div class="fact-content">{{ country|country_name(locale) }}</div>
        {% endfor %}
    </div>
    <div class="fact">
        <div class="fact-label">{{ 'Status'|trans }}</div>
        <div class="fact-content">{{ serie.status|trans }}</div>
    </div>
    {% if serie.networks|length %}
        <div class="fact">
            <div class="fact-label">{{ (serie.networks|length>1?'Networks':'Network')|trans }}</div>
            <div class="networks">
                {% for network in serie.networks %}
                    <div class="network-detail">
                        <div class="frame">
                            {% if network.logo_path %}
                                <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                            {% else %}
                                {{ network.name }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if keywords.results|length %}
        <div class="fact">
            <div class="label">{{ 'Keywords'|trans }}</div>
            <div class="keywords">
                {% for keyword in keywords.results %}
                    <div class="keyword{% if keyword.name in missingTranslations %} new{% endif %}" data-original="{{ keyword.name|trim }}">
                        <div class="original">{{ keyword.name|trim }}</div>
                        {% if keyword.name not in missingTranslations %}
                            <div class="translated">{{ keyword.name|trans({},'tags') }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
