<div class="home-discover" data-id="{{ serie.id }}">
    <a href="{{ path('app_series_tmdb', {'id': serie.id}) }}?from={{ from }}" title="{{ serie.name }}">
        <img src="{{ serie.poster_path }}" alt="{{ 'Poster' }}">
        <div class="title">
            <div>
                {{ serie.name }}{% if serie.first_air_date is defined %}<br>{{ serie.first_air_date|format_date() }}{% endif %}
            </div>
        </div>
        {% if serie.origin_country|length %}
            <div class="countries">
                {% for country in serie.origin_country %}
                    <div class="country" data-title="{{ country|country_name }}">{{ getEmojiFlag(country) }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% if serie.has_progress %}
            <div class="progress" data-title="{{ 'progression'|trans }} {{ serie.progress * 100 }}%"><div class="progress-value" style="width: {{ serie.progress * 100 }}%"></div></div>
        {% endif %}
    </a>
</div>
