<div class="home-discover" data-id="{{ serie.id }}">
    <a href="{{ path('app_series_'~type, {'id': serie.id}) }}?from={{ from }}" title="{{ serie.name }}">
        {% if poster_path %}
            <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ poster_path }}" alt="{{ 'Poster' }}">
        {% else %}
            <div class="no-image">{{ 'No image'|trans }}</div>
        {% endif %}
        <div class="title">
            <div>{{ serie.name }} {% if serie.upcomingDateYear is defined and serie.upcomingDateYear %} ({{ serie.upcomingDateYear }}){% endif %}</div>
        </div>
        {% if from is defined and from == 'people' %}
            {% if serie.first_air_date is defined and serie.first_air_date %}
                <div class="date">{{ 'Release Date'|trans }} : {{ serie.first_air_date|format_date('short') }}</div>
            {% endif %}
        {% endif %}
    </a>
</div>
