<div class="home-discover{% if todayAiring.episodeNumbers.0 == 1 %} new-season{% endif %}"
     data-id="{{ todayAiring.serieId }}">
    <a href="{{ path('app_series_show', {'id': todayAiring.serieId}) }}?from={{ from }}{% if extra is defined %}&extra={{ extra }}&d={{ today_offset }}{% endif %}" title="{{ todayAiring.serieName }}">
        <div>
            {% if todayAiring.seriePosterPath %}
            <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ todayAiring.seriePosterPath }}" alt="{{ 'Poster' }}" loading="lazy">
            {% else %}
            <img src="/images/default/no_poster_dark.png" alt="{{ 'Poster' }}" loading="lazy">
            {% endif %}
            {% if todayAiring.episodeNumbers.0 == 1 %}
                {% if todayAiring.seasonNumber == 1 %}
                    <div class="new-season">{{ 'Premiere'|trans }}</div>
                {% else %}
                    <div class="new-season">{{ 'New season'|trans }}</div>
                {% endif %}
            {% endif %}
            {% if todayAiring.episodeNumbers|length == 1 and todayAiring.episodeNumbers.0 > 1 %}
                {% if todayAiring.episodeNumbers.0 == todayAiring.seasonEpisodeCount %}
                    <div class="finale">{{ 'Finale'|trans }}</div>
                {% endif %}
            {% endif %}
        </div>
        <div class="title">
            <div>{{ todayAiring.serieName }}</div>
            {% if todayAiring.localizedName %}
                <div class="localized-name">{{ todayAiring.localizedName }}</div>
            {% endif %}
        </div>
        <div class="episode">
            <div class="episode-detail">
                {% if todayAiring.seasonNumber %}
                    {{ 'Season'|trans }} {{ todayAiring.seasonNumber }}
                {% else %}
                    <span class="spe">{{ 'Specials'|trans }}</span>
                {% endif %}
                <br>
                {% if todayAiring.episodeNumbers|length == 1 %}
                    {{ 'Episode'|trans }} {{ todayAiring.episodeNumbers.0 }}
                {% else %}
                    {% if todayAiring.episodeNumbers|length == todayAiring.seasonEpisodeCount %}
                        <span class="all">{{ 'All episodes'|trans }} ({{ todayAiring.seasonEpisodeCount }})</span>
                    {% else %}
                        {{ 'Episodes'|trans }}
                        {% for episode in todayAiring.episodeNumbers %}
                            {% if loop.last %}&amp; {% endif %}{{ episode }}{% if loop.index < loop.length - 1 %},{% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            {% if todayAiring.viewed %}
                <div class="episode-viewed"><i class="fa-solid fa-check"></i></div>
            {% endif %}
        </div>
    </a>
</div>
