<a href="{{ path('app_serie_show', {'id': serie.serie_id}) }}?p={{ pages.page }}&from={{ from }}" title="{{ serie.name }}">
    <div class="serie" id="{{ serie.serie_id }}">
        {% if serie.backdrop_path %}
            <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdrop_path }}')"></div>
        {% endif %}
        <div class="poster">
            {% if serie.poster_path %}
                <img src="{{ "/images/series/posters" ~ serie.poster_path }}" alt="{{ 'Poster' }}">
            {% else %}
                <div class="no-image">{{ 'No image'|trans }}</div>
            {% endif %}
        </div>
        <div class="infos">
            <div>{{ serie.name }}</div>
            <div>{{ 'First Air at'|trans }} : {{ serie.first_date_air ? serie.first_date_air|format_date() : (serie.upcoming_date_year ? (serie.upcoming_date_month ? serie.upcoming_date_month ~ '/' : '') ~ serie.upcoming_date_year : ('No date yet'|trans)) }}</div>
            <div>
                {{ 'Added at'|trans }} : {{ serie.created_at ? serie.created_at|format_date() : '' }}
                {% if serie.serie_updated_at is defined %}
                    — {{ 'Updated at'|trans }} : {{ serie.serie_updated_at ? serie.serie_updated_at|format_datetime() : '' }}
                {% endif %}
            </div>
            <div>{{ serie.overview }}</div>
        </div>
        {% if serie.networks|length %}
            <div class="network-list">
                {% for network in serie.networks %}
                    <div class="network-item">
                        {% if network.logo_path|length %}
                            <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.1 ~ network.logo_path }}"
                                 alt="{{ network.name }}">
                        {% else %}
                            {{ network.name|slice(0,1)|capitalize }}
                        {% endif %}
                        <div class="network-name">{{ network.name }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if serie.favorite %}
            <div class="favorite">{{ 'Favorite'|trans }}</div>
        {% endif %}
        {% if serie.class is defined %}
            <div class="{{ serie.class }}">
                {% if serie.air_date_relative is defined %}
                    <div class="upcoming-date">{{ serie.air_date|trans }}</div>
                {% else %}
                    <div class="upcoming-date">{{ serie.air_date|raw }}</div>
                {% endif %}
                <div class="upcoming-episode">{{ serie.episode }}</div>
                {% if serie.event is defined %}
                    <div class="upcoming-event">{{ serie.event|trans }}</div>
                {% endif %}
            </div>
        {% endif %}
        {% if serie.prodStatus is defined %}
            <div class="{{ serie.prodClass }}">
                <div>{{ serie.prodStatus }}</div>
            </div>
        {% endif %}
        <div class="front"></div>
    </div>
</a>
