{% if credits.cast %}
    {% if credits.cast|length %}
        <section>
            <div class="cast">
                <h4>{{ 'Cast'|trans }} ({{ credits.cast|length }})</h4>
                <div class="list">
                    {% for people in credits.cast %}
                        <a href="{{ path('app_people', {id: people.id}) }}{% if from is defined and media is defined and id is defined %}{% if media=="tv" %}?from={{ from }}{% if from=='series_from_country' %}&c={{ query }}{% endif %}&media=tv&id={{ id }}{% if season is defined %}&season={{ season.season_number }}{% endif %}{% endif %}{% endif %}">
                            <div class="people">
                                <div class="profile">
                                    {% if people.profile_path %}
                                        {% if imageConfig is defined %}
                                            <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ people.profile_path }}" alt="{{ people.name }}">
                                        {% else %}
                                            <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                        {% endif %}
                                    {% else %}
                                        <img src="/images/default/no_avatar.png" alt="{{ people.name }}">
                                    {% endif %}
                                    {% if people.recurring_character is defined and people.recurring_character %}
                                        <div class="status">
                                            <i class="fa-solid fa-rotate-right" title="{{ 'Recurring character'|trans }}"></i>
                                        </div>
                                    {% endif %}
                                    {% if people.guest_star is defined and people.guest_star %}
                                        <div class="status">
                                            <i class="fa-solid fa-star" title="{{ 'Guest star'|trans }}"></i></div>
                                    {% endif %}
                                </div>
                                <div class="people-infos">
                                    <div>{{ people.name }}</div>
                                    {% if people.character is defined %}
                                        <div>{{ people.character }}</div>
                                    {% endif %}
                                    {% if people.episodesString is defined %}
                                        <div title="{{ people.episodesString }}">{{ people.episodes }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}
