{# {{ dump(form.with_genres) }} #}
{%  set layout=getFormFilterLayout() %}
{{ form_start(form) }}
<div class="form-row">
    {#    Tools   #}
    <div class="form-group ml-auto">
        <i class="fa-solid fa-upload" id="reset-form" data-title="{{ 'Load last form settings'|trans }}"></i>
        <i class="fa-solid fa-download" id="save-form" data-title="{{ 'Save form settings'|trans }}"></i>
        {% if layout=='open' %}
            <i class="fa-solid fa-circle-arrow-up" id="toggle-view" data-title="{{ 'Toggle form settings'|trans }}"></i>
        {% else %}
            <i class="fa-solid fa-circle-arrow-down" id="toggle-view" data-title="{{ 'Toggle form settings'|trans }}"></i>
        {% endif %}
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {#    With status   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_status) }}">
                <input type="checkbox" {{ form.switch_with_status.vars.checked ? 'checked':'' }} name="{{ field_name(form.switch_with_status) }}" id="{{ field_name(form.switch_with_status) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ form.with_status.vars.id }}">
                <div>{{ form.with_status.vars.label|trans }}</div>
                {{ form_widget(form.with_status) }}
            </label>
        </div>
    </div>
    {#    With type   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_type) }}">
                <input type="checkbox" {{ form.switch_with_type.vars.checked ? 'checked':'' }} name="{{ field_name(form.switch_with_type) }}" id="{{ field_name(form.switch_with_type) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ form.with_type.vars.id }}">
                <div>{{ form.with_type.vars.label|trans }}</div>
                {{ form_widget(form.with_type) }}
            </label>
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {#    Watch region   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_watch_region) }}">
                <input type="checkbox" {{ form.switch_watch_region.vars.checked ? 'checked':'' }} name="{{ field_name(form.switch_watch_region) }}" id="{{ field_name(form.switch_watch_region) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ field_name(form.watch_region) }}">
                <div>{{ field_label(form.watch_region) }}</div>
                <select name="{{ field_name(form.watch_region) }}" id="{{ field_name(form.watch_region) }}">
                    <option value="">{{ field_label(form.watch_region) }}</option>
                    {% for label, value in field_choices(form.watch_region) %}
                        <option value="{{ value }}" {{ field_value(form.watch_region)==value ? 'selected':'' }}>{{ label }}{{ getEmojiFlag(value) }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    {#    With watch monetization types   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_watch_monetization_types) }}">
                <input type="checkbox" {{ form.switch_with_watch_monetization_types.vars.checked ? 'checked':'' }} name="{{ field_name(form.switch_with_watch_monetization_types) }}" id="{{ field_name(form.switch_with_watch_monetization_types) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ form.with_watch_monetization_types.vars.id }}">
                <div>{{ form.with_watch_monetization_types.vars.label|trans }}</div>
                {{ form_widget(form.with_watch_monetization_types) }}
            </label>
        </div>
    </div>
    {#    With watch providers   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_watch_providers) }}">
                <input type="checkbox" {{ form.switch_with_watch_providers.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_with_watch_providers) }}" id="{{ field_name(form.switch_with_watch_providers) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ form.with_watch_providers.vars.id }}">
                <div>{{ form.with_watch_providers.vars.label|trans }}</div>
                {{ form_widget(form.with_watch_providers) }}
        </div>
        <div class="form-field">
            <div class="logo">
                {% if form.with_watch_providers.vars.value %}
                    <img src="{{ logos[form.with_watch_providers.vars.value] }}" alt="{{ form.with_watch_providers.vars.value }}"/>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {#    Language   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_language) }}">
                <input type="checkbox" {{ form.switch_language.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_language) }}" id="{{ field_name(form.switch_language) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ field_name(form.language) }}">
                <div>{{ field_label(form.language) }}</div>
                <select name="{{ field_name(form.language) }}" id="{{ field_name(form.language) }}">
                    <option value="">{{ field_label(form.language) }}</option>
                    {% for label, value in field_choices(form.language) %}
                        <option value="{{ value }}" {{ field_value(form.language)==value?'selected':'' }}>{{ label }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    {#    Timezone   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_timezone) }}">
                <input type="checkbox" {{ form.switch_timezone.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_timezone) }}" id="{{ field_name(form.switch_timezone) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ field_name(form.timezone) }}">
                <div>{{ field_label(form.timezone) }}</div>
                <select name="{{ field_name(form.timezone) }}" id="{{ field_name(form.timezone) }}">
                    <option value="">{{ field_label(form.timezone) }}</option>
                    {% for label, value in field_choices(form.timezone) %}
                        <option value="{{ value }}" {{ field_value(form.timezone)==value?'selected':'' }}>{{ label }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {#    With origin country   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_origin_country) }}">
                <input type="checkbox" {{ form.switch_with_origin_country.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_with_origin_country) }}" id="{{ field_name(form.switch_with_origin_country) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ field_name(form.with_origin_country) }}">
                <span>{{ field_label(form.with_origin_country) }}</span>
                <select name="{{ field_name(form.with_origin_country) }}" id="{{ field_name(form.with_origin_country) }}">
                    <option value="">{{ field_label(form.with_origin_country) }}</option>
                    {% for label, value in field_choices(form.with_origin_country) %}
                        <option value="{{ value }}" {{ field_value(form.with_origin_country)==value?'selected':'' }}>{{ label }}{{ getEmojiFlag(value) }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    {#    With original language   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_original_language) }}">
                <input type="checkbox" {{ form.switch_with_original_language.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_with_original_language) }}" id="{{ field_name(form.switch_with_original_language) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <label for="{{ field_name(form.with_original_language) }}">
                <div>{{ field_label(form.with_original_language) }}</div>
                <select name="{{ field_name(form.with_original_language) }}" id="{{ field_name(form.with_original_language) }}">
                    <option value="">{{ field_label(form.with_original_language) }}</option>
                    {% for label, value in field_choices(form.with_original_language) %}
                        <option value="{{ value }}" {{ field_value(form.with_original_language)==value?'selected':'' }}>{{ label }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {#    With genres   #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_genres) }}">
                <input type="checkbox" {{ form.switch_with_genres.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_with_genres) }}" id="{{ field_name(form.switch_with_genres) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.with_genres) }}
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {# First air date year #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_first_air_date_year) }}">
                <input type="checkbox" {{ form.switch_first_air_date_year.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_first_air_date_year) }}" id="{{ field_name(form.switch_first_air_date_year) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.first_air_date_year, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# First air date (greater than or equal) #}
    <div class="form-group" data-title="{{ 'After this date. Enabling this field without filling it in is equivalent to "After now".'|trans }}">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_first_air_date_gte) }}">
                <input type="checkbox" {{ form.switch_first_air_date_gte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_first_air_date_gte) }}" id="{{ field_name(form.switch_first_air_date_gte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.first_air_date_gte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# First air date (less than or equal) #}
    <div class="form-group" data-title="{{ 'Before this date. Enabling this field without filling it in is equivalent to "Before now".'|trans }}">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_first_air_date_lte) }}">
                <input type="checkbox" {{ form.switch_first_air_date_lte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_first_air_date_lte) }}" id="{{ field_name(form.switch_first_air_date_lte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.first_air_date_lte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# No date #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_include_null_first_air_date) }}">
                <input type="checkbox" {{ form.switch_include_null_first_air_date.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_include_null_first_air_date) }}" id="{{ field_name(form.switch_include_null_first_air_date) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <div class="checkbox">
                <label for="{{ field_name(form.include_null_first_air_date) }}">
                    <div class="form-switch">
                        <input type="checkbox" {{ form.include_null_first_air_date.vars.checked ? 'checked':'' }}
                               id="{{ field_name(form.include_null_first_air_date) }}"
                               value="{{ field_value(form.include_null_first_air_date) }}"
                               name="{{ field_name(form.include_null_first_air_date) }}"/>
                        <span></span>
                    </div>
                    {{ form_label(form.include_null_first_air_date) }}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {# Average vote (greater than or equal) #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_vote_average_gte) }}">
                <input type="checkbox" {{ form.switch_vote_average_gte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_vote_average_gte) }}" id="{{ field_name(form.switch_vote_average_gte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.vote_average_gte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# Average vote (less than or equal) #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_vote_average_lte) }}">
                <input type="checkbox" {{ form.switch_vote_average_lte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_vote_average_lte) }}" id="{{ field_name(form.switch_vote_average_lte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.vote_average_lte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# Count vote (greater than or equal) #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_vote_count_gte) }}">
                <input type="checkbox" {{ form.switch_vote_count_gte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_vote_count_gte) }}" id="{{ field_name(form.switch_vote_count_gte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.vote_count_gte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# Count vote (less than or equal) #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_vote_count_lte) }}">
                <input type="checkbox" {{ form.switch_vote_count_lte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_vote_count_lte) }}" id="{{ field_name(form.switch_vote_count_lte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.vote_count_lte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {# Runtime (greater than or equal) #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_runtime_gte) }}">
                <input type="checkbox" {{ form.switch_with_runtime_gte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_with_runtime_gte) }}" id="{{ field_name(form.switch_with_runtime_gte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.with_runtime_gte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# Runtime (less than or equal) #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_with_runtime_lte) }}">
                <input type="checkbox" {{ form.switch_with_runtime_lte.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_with_runtime_lte) }}" id="{{ field_name(form.switch_with_runtime_lte) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.with_runtime_lte, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="form-row{% if layout=='collapse' %} d-none{% endif %}">
    {# Miscellaneous #}
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_screened_theatrically) }}">
                <input type="checkbox" {{ form.switch_screened_theatrically.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_screened_theatrically) }}" id="{{ field_name(form.switch_screened_theatrically) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <div class="checkbox">
                <label for="{{ field_name(form.screened_theatrically) }}">
                    <div class="form-switch">
                        <input type="checkbox" {{ form.screened_theatrically.vars.checked ? 'checked':'' }}
                               id="{{ field_name(form.screened_theatrically) }}"
                               value="{{ field_value(form.screened_theatrically) }}"
                               name="{{ field_name(form.screened_theatrically) }}"/>
                        <span></span>
                    </div>
                    {{ form_label(form.screened_theatrically) }}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-switch">
            <label for="{{ field_name(form.switch_include_adult) }}">
                <input type="checkbox" {{ form.switch_include_adult.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_include_adult) }}" id="{{ field_name(form.switch_include_adult) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            <div class="checkbox">
                <label for="{{ field_name(form.include_adult) }}">
                    <div class="form-switch">
                        <input type="checkbox" {{ form.include_adult.vars.checked ? 'checked':'' }}
                               id="{{ field_name(form.include_adult) }}"
                               value="{{ field_value(form.include_adult) }}"
                               name="{{ field_name(form.include_adult) }}"/>
                        <span></span>
                    </div>
                    {{ form_label(form.include_adult) }}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-row">
    {#    Sort by and order by   #}
    <div class="form-group">
        <div class="form-field">
            <label for="{{ form.sort_by.vars.id }}">
                <div>{{ form.sort_by.vars.label|trans }}</div>
                {{ form_widget(form.sort_by) }}
            </label>
        </div>
        <div class="form-field">
            <label for="{{ form.order_by.vars.id }}">
                <div>{{ form.order_by.vars.label }}</div>
                {{ form_widget(form.order_by) }}
            </label>
        </div>
    </div>
    {#    Page   #}
    <div class="form-group">
        <div class="form-switch {{ form.switch_page.vars.attr.class }}">
            <label for="{{ field_name(form.switch_page) }}">
                <input type="checkbox" {{ form.switch_page.vars.checked ? 'checked' : '' }} name="{{ field_name(form.switch_page) }}" id="{{ field_name(form.switch_page) }}"/>
                <span></span>
            </label>
        </div>
        <div class="form-field">
            {{ form_row(form.page, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-field">
            {{ total_results }} {{ (total_results>1 ?'results':'result')|trans }}
        </div>
        /
        <div class="form-field">
            {{ total_pages }} {{ (total_pages>1 ?'pages':'page')|trans }}
        </div>
    </div>
    {# Pages #}
    {% if total_pages > 1 %}
        <div class="pages">
            {% for page in 1..total_pages %}
                {% if page == form.page.vars.value %}
                    <div class="btn current-page">{{ page }}</div>
                {% else %}
                    <button type="submit" name="{{ field_name(form.page) }}" value="{{ page }}" data-title="{{ 'Go to page'|trans }} {{ page }}" class="btn btn-primary">{{ page }}</button>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {# Submit #}
    <input type="submit" class="btn btn-primary ml-auto" value="{{ 'Search'|trans }}"/>
</div>
{{ form_end(form) }}
