{% set seasonViewing = season.seasonViewing %}
{% set episodes = season.episodes %}
{% set TMDBUpdateInProgress = episodes|length < seasonViewing.episodes|length %}
{% if seasonViewing %}
    {% if seasonViewing.episodeCount > 0 %}
        <div class="viewing" data-season-number="{{ seasonViewing.seasonNumber }}">
            {% if TMDBUpdateInProgress %}
                {% for episodeViewing in seasonViewing.episodes %}
                    {% set name = "Episode"|trans ~ " " ~ episodeViewing.episodeNumber %}
                    <div class="ep"
                         data-number="{{ episodeViewing.episodeNumber }}"
                         data-viewed="{{ episodeViewing.viewedAt?1:0 }}"
                            {% if episodeViewing.airDate %}
                                {% if shift %}
                                    {% if shift > 0 %}
                                        data-air-date="{{ episodeViewing.airDate|date_modify("+"~shift~" day")|format_date('long') }}"
                                    {% else %}
                                        data-air-date="{{ episodeViewing.airDate|date_modify(shift~" day")|format_date('long') }}"
                                    {% endif %}
                                {% else %}
                                    data-air-date="{{ episodeViewing.airDate|format_date('long') }}"
                                {% endif %}
                            {% else %}
                                data-air-date="{{ 'No date yet'|trans }}"
                            {% endif %}
                         data-name="{{ name }}"
                         data-still-path=""
                         data-vote="{{ episodeViewing.vote }}"
                         data-locale="{{ locale }}"
                         data-global-index="{{ globalIndex }}">
                        {% if episodeViewing.viewedAt %}
                            <i class="fa-solid fa-circle-check"></i>
                        {% else %}
                            <span>{{ episodeViewing.episodeNumber }}</span>
                        {% endif %}
                        {% set globalIndex = globalIndex + 1 %}
                    </div>
                {% endfor %}
            {% else %}
                {% for episodeViewing in seasonViewing.episodes %}
                    {% set now = 'now'|date('Y-m-d') %}
                    {% set air = episodeViewing.airDate %}
                    {% if air %}
                        {% if shift %}
                            {% if shift > 0 %}
                                {% set air = air|date_modify("+"~shift~" day") %}
                            {% else %}
                                {% set air = air|date_modify(shift~" day") %}
                            {% endif %}
                        {% else %}
                            {% set air = air|date('Y-m-d') %}
                        {% endif %}
                    {% endif %}
                    {% if episodeViewing.episodeNumber <= season.episode_count and (air and air <= now) %}
                        {% set episode = episodes[episodeViewing.episodeNumber-1] %}
                        {% if episode.name matches '/[EÉ]pisod[eio]+\\s\\d+/'
                            and episodeViewing.substituteName is not null %}
                            {% set name = episodeViewing.substituteName %}
                        {% else %}
                            {% set name = episode.name %}
                        {% endif %}
                        <div class="ep{% if seasonViewing.seasonCompleted %} full{% endif %}"
                             data-number="{{ episodeViewing.episodeNumber }}"
                             data-viewed="{{ episodeViewing.viewedAt?1:0 }}"
                                {% if episode.air_date %}
                                    data-air-date="{{ episode.air_date|format_date('long') }}"
                                {% else %}
                                    data-air-date="{{ 'No date yet'|trans }}"
                                {% endif %}
                             data-name="{{ name }}"
                             data-still-path="{{ episode.still_path }}"
                             data-vote="{{ episodeViewing.vote }}"
                             data-locale="{{ locale }}"
                             data-global-index="{{ globalIndex }}">
                            {% if episodeViewing.viewedAt %}
                                <i class="fa-solid fa-circle-check"></i>
                            {% else %}
                                <span>{{ episodeViewing.episodeNumber }}</span>
                            {% endif %}
                            {% set globalIndex = globalIndex + 1 %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endif %}


