<dialog id="watch-provider-dialog">
    <div class="content" role="search">
        <div class="dialog-title">{{ 'Where did you watch the series?'|trans }}</div>
        <form method="dialog">
            <input type="hidden" name="action" value="select"/>
            <div class="watch-provider-search">
                <label for="watch-provider-search"><i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" id="watch-provider-search" name="watch-provider-search" placeholder="{{ 'Start typing...'|trans }}" autofocus/>
                </label>
            </div>
            <div class="watch-provider-list">
                {% for wp in allWatchProviders %}
                    <div class="watch-provider" data-name="{{ wp.provider_name }}">
                        <label for="watch-provider-{{ wp.provider_id }}">
                            <input type="radio" id="watch-provider-{{ wp.provider_id }}" name="watch-provider" value="{{ wp.provider_id }}"/>
                            <div class="logo"><img src="{{ wp.logo_path }}" alt="{{ wp.provider_name }}" loading="lazy"></div>
                            {{ wp.provider_name }}
                        </label>
                    </div>
                {% endfor %}
                <div class="watch-provider" data-name="other">
                    <label for="watch-provider--1">
                        <input type="radio" id="watch-provider--1" name="watch-provider" value="{{ 'Other'|trans }}"/>
                        {{ 'Other'|trans }}
                    </label>
                </div>
            </div>
            <menu>
                <li>
                    <button class="btn btn-secondary" value="cancel">{{ 'Cancel'|trans }}</button>
                </li>
                <li>
                    <button class="btn btn-primary" value="select">{{ 'Select'|trans }}</button>
                </li>
            </menu>
        </form>
    </div>
</dialog>
