{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::TikTok' }}{% endblock %}
{% set user = app.user %}
{% set total_results = 0 %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container-fluid">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="tt-header">
            <div class="banner">
                <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Homepage'|trans }}</a></li>
                            <li class="breadcrumb-item active" aria-current="{{ 'My TikTok Videos'|trans }}">{{ 'My TikTok Videos'|trans }}</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>

        <div class="tt-videos">
            {{ component('tik_tok_add_video', {class: 'getter', 'id': user.id, 'locale': locale}) }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/tiktok.js"></script>
    <script>
        $(function () {
            initTiktok(
                "{{ locale }}",
                [
                    "{{ path('app_tik_tok_more') }}",
                    "{{ path('app_tik_tok_video', {id: 0 }) }}",
                ],
                {{ user.id }});
        })
    </script>
{% endblock %}