{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎TikTok{% endblock %}
{% set user = app.user %}
{% set total_results = 0 %}

{% block body %}
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="tt-header">
            <div class="banner"></div>
        </div>

        {{ include('blocks/_nav.html.twig', {thisPage: 'My TikTok Videos'}) }}

        <div class="tt-videos">
            {{ component('tik_tok_add_video', {class: 'getter', 'id': user.id, 'locale': locale}) }}
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/tiktok.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initTiktok(
                "{{ locale }}",
                [
                    "{{ path('app_tik_tok_more') }}",
                    "{{ path('app_tik_tok_video', {id: 0 }) }}",
                ],
                {{ user.id }}
            );
        })
    </script>
{% endblock %}