<div class="article-preview" data-id="{{ article.id }}">
    {% if article.banner %}
        <div class="banner" style="background-image: url('/images/articles/banners/{{ article.banner }}')"></div>
    {% endif %}
    <div class="apercu">
        {% if article.thumbnail %}
            <div class="thumbnail">
                <img src="/images/articles/thumbnails/{{ article.thumbnail }}" alt="{{ article.title }}">
            </div>
        {% endif %}
        <div class="presentation">
            <div class="title-author">
                <div><a href="{{ path('app_blog_article', {id: article.id}) }}" class="title">{{ article.title }}</a></div>
                <div class="author">{{ 'By'|trans }} {{ article.user.username?:article.user.email }}</div>
            </div>
            <div class="abstract">{{ article.abstract }}</div>
            <div class="dates">
                <div class="date" title="{{ article.createdAt|format_datetime() }}">{{ 'Created'|trans }} : {{ article.createdAt|ago }}</div>
                <div class="date" title="{{ article.updatedAt|format_datetime() }}">{{ 'Updated'|trans }} : {{ article.updatedAt|ago }}</div>
                <div class="date" title="{{ article.publishedAt|format_datetime() }}">{{ 'Published'|trans }} : {{ article.publishedAt|ago }}</div>
{#                <div class="date">{{ 'Created At'|trans }} : {{ article.createdAt|format_datetime() }}</div>#}
{#                <div class="date">{{ 'Updated At'|trans }} : {{ article.updatedAt|format_datetime() }}</div>#}
{#                <div class="date">{{ 'Published At'|trans }} : {{ article.publishedAt|format_datetime() }}</div>#}
            </div>
            {% if article.id in userArticleIds %}
                <div id="{{ article.id }}" class="tools">
                    <i class="fa-solid fa-pen-to-square" title="{{ 'Edit'|trans }}"></i>
                    <i class="fa-solid fa-trash-can" title="{{ 'Delete'|trans }}"></i>
                </div>
            {% endif %}
        </div>
    </div>
</div>

