<div data-id="{{ id }}" class="home-discover"{% if more is defined %} style="opacity: 0; transform: scale({{ random(100)/100 }}) rotate({{ random(-360, 360) }}deg)"{% endif %}>
    <a href="{{ path('app_movie', {id: id}) }}{% if from is defined %}?from={{ from }}{% if mandatory is defined %}{% for k,v in mandatory %}&--{{ k }}={{ v }}{% endfor %}{% endif %}{% if before is defined %}&before={{ before }}{% endif %}{% endif %}">
        {% if poster %}
            <img src="{{ poster }}" alt="{{ title }}">
        {% else %}
            <div class="no-poster">{{ 'No poster'|trans }}</div>
        {% endif %}
        <div class="title">{{ title }}</div>
        {% if discover.release_date is defined and discover.release_date|length %}
            <div class="date">{{ 'Release Date'|trans }} : {{ discover.release_date|format_date('short') }}</div>
        {% endif %}
        {% if discover.releaseDate is defined and discover.releaseDate|length %}
            <div class="date">{{ 'Release Date'|trans }} : {{ discover.releaseDate|format_date('short') }}</div>
{#            <div class="date">{{ discover.releaseDate|slice(0,4) }}</div>#}
        {% endif %}
    </a>
{#    {% if app.user is not null and userMovies is defined %}#}
{#        {{ include('blocks/movie/_rating.html.twig', {scale: 0.75, seen: id in userMovies}) }}#}
{#    {% endif %}#}
    {% if discover.movie_lists is defined %}
        {% if discover.movie_lists is not empty %}
            <div class="movie-lists">
                {% for list in discover.movie_lists %}
                    <div class="movie-list">
                        <a href="{{ path("app_movie_list_show", {id: list.id}) }}">
                            <img
                                    src="/images/movie_lists/thumbnails/{{ list.thumbnail }}"
                                    alt="{{ list.title }}"
                                    style="border-color: {{ list.color }}"
                            >
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
