<div data-id="{{ id }}" class="home-discover">
    <a href="{{ path('app_movie', {id: id}) }}">
        <img src="{{ poster }}" alt="{{ title }}">
        <div class="title">{{ title }}</div>
        {% if discover.release_date is defined and discover.release_date|length %}
            <div class="date">{{ 'Release Date'|trans }} : {{ discover.release_date|format_date('short') }}</div>
        {% endif %}
        {% if discover.releaseDate is defined and discover.releaseDate|length %}
            <div class="date">{{ 'Release Date'|trans }} : {{ discover.releaseDate|format_date('short') }}</div>
{#            <div class="date">{{ discover.releaseDate|slice(0,4) }}</div>#}
        {% endif %}
    </a>
    {% if app.user is not null and userMovies is defined %}
        {{ include('blocks/movie/_rating.html.twig', {scale: 0.75, seen: id in userMovies}) }}
    {% endif %}
    {% if discover.my_collections is defined %}
        {% if discover.my_collections is not empty %}
            <div class="my-collections">
                {% for collection in discover.my_collections %}
                    <div class="my-collection">
                        <a href="{{ path("app_collection_show", {id: collection.id}) }}">
                            <img
                                    src="/images/collections/thumbnails/{{ collection.thumbnail }}"
                                    alt="{{ collection.title }}"
                                    style="border: 2px solid {{ collection.color }}"
                            >
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
