<div id="{{ id }}" class="home-discover">
    <a href="{{ path(route, {id: id}) }}">
        <img src="{{ poster }}" alt="{{ title }}">
        <div class="title">{{ title }}</div>
        {% if discover.release_date is defined and discover.release_date|length %}
            <div class="date">{{ 'Release Date'|trans }} : {{ discover.release_date|format_date('short') }}</div>
        {% endif %}
    </a>
    {% if app.user is not null and userMovies is defined %}
        <div class="user" style="transform: scale(.75)">
            <div class="rating" id="{{ id }}">
                <div class="star" data-rate="1"></div>
                <div class="star" data-rate="2"></div>
                <div class="star" data-rate="3"></div>
                <div class="star" data-rate="4"></div>
                <div class="star" data-rate="5"></div>
            </div>
            <div class="has-been-seen{% if id in userMovies %} yes{% endif %}" id="{{ id }}"><i class="bi bi-check-circle-fill"></i></div>
        </div>
    {% endif %}
    {% if discover.my_collections is defined %}
        {% if discover.my_collections is not empty %}
            <div class="my-collections">
                {% for collection in discover.my_collections %}
                    <div class="my-collection">
                        <img src="/images/collections/thumbnails/{{ collection.thumbnail }}" alt="{{ collection.title }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
