<div class="home-discover" id="{{ id }}" data-title="{{ title }}">
    <a href="{{ path(route, {id: id}) }}">
        <img src="{{ poster }}" alt="{{ title }}">
        <div class="title">{{ title }}</div>
        {% if discover.release_date is defined and discover.release_date|length %}
            <div class="date">{{ 'Release Date'|trans }} : {{ discover.release_date|format_date('short') }}</div>
        {% endif %}
    </a>
    {% if app.user is not null and userMovies is defined %}
        <div class="has-been-seen{% if discover.id in userMovies %} yes{% endif %}" id="{{ id }}">
            <i class="bi bi-check-circle-fill"></i>
        </div>
    {% endif %}
</div>
