{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}{{ 'Activity'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="activity">
            <div class="header">
                <h1>{{ 'Activity'|trans }}</h1>
                <div class="backdrop"></div>
                {{ include('blocks/_clock.html.twig') }}
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage: 'Activity', user: app.user, from: 'home', style: 'width: 100%'}) }}

            <main>
                {% if activity is null %}
                    <a href="{{ path('app_activity_new') }}"
                       class="no-activity btn btn-primary">{{ 'Activate'|trans }}</a>
                {% else %}
                    <div class="activity-tools">
                        {% if message %}
                            <div class="message">
                                {{ message }}
                                <div class="close"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                        {% endif %}
                        <a href="{{ path('app_activity_edit', {id: activity.id}) }}"
                           class="activity-goals btn btn-primary">{{ 'Goals'|trans }}</a>
                    </div>
                    {% for year in years %}
                        {% for week in year %}
                            {% if week.0.week == currentWeek %}
                                <div class="recent-activity">
                                    <h2>{{ 'Recent activity'|trans }} : {{ 'Week'|trans }} {{ currentWeek }}</h2>
                                    <div class="days">
                                        {% set tab = 1 %}
                                        {% for day in week %}
{#                                            <pre>{{ dump(day) }}</pre>#}
                                            <div class="day">
                                                {% set date = day.day|format_date('full')|capitalize %}
                                                <div class="date">{{ fixIfFirstDayOfTheMonth(date) }}</div>
                                                <div class="activity-of-the-day">
                                                    <div class="rings-of-the-day">
                                                        {% set percentMove = (day.moveResult / activity.moveGoal * 100)|round %}
                                                        {% set percentExercise = (day.exerciseResult / activity.exerciseGoal * 100)|round %}
                                                        {% set percentStandUp = (day.standUpResult / activity.standUpGoal * 100)|round %}
                                                        {% set timesMove = (day.moveResult / activity.moveGoal)|round(0, 'floor') %}
                                                        {% set timesExercise = (day.exerciseResult / activity.exerciseGoal)|round(0, 'floor') %}
                                                        {% set timesStandUp = (day.standUpResult / activity.standUpGoal)|round(0, 'floor') %}
                                                        <div class="drawn-rings" data-move="{{ percentMove }}"
                                                             data-exercise="{{ percentExercise }}"
                                                             data-stand-up="{{ percentStandUp }}">
                                                            <canvas id="rings-{{ day.id }}" width="512" height="512" style="scale: .25; translate: -37.5% -37.5%;"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="move">
                                                        <div class="block-header">
                                                            <div class="title">{{ 'Move'|trans }}</div>
                                                            <div class="doubled{% if percentMove >= 200 %} visible{% endif %}" title="{{ 'goal'|trans }}">
                                                                <div>x{{ timesMove }}</div>
                                                            </div>
                                                            <div class="completed{% if day.isMoveRingCompleted %} visible{% endif %}" title="{{ 'goal'|trans }}">
                                                                <i class="fa-solid fa-circle-check"></i>
                                                            </div>
                                                        </div>
                                                        <div class="block-body">
                                                            {% set goal = activity.moveGoal %}
                                                            {% for objective in goals.move %}
                                                                {% if day.day|date("Y-m-d") >= objective.start|date("Y-m-d") and day.day|date("Y-m-d") <= objective.end|date("Y-m-d") %}
                                                                    {% set goal = objective.amount %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% set percent = (day.moveResult / goal * 100)|round %}
                                                            <div class="progress move" data-percent="{{ percent }}">
                                                                <div class="circle">
                                                                    <div class="percentage">{{ percent }}%</div>
                                                                </div>
                                                                <div class="circle-start"></div>
                                                                <div class="circle-end">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <div class="details">
                                                                <div class="detail">
                                                                    <div class="result" data-id="{{ activity.id }}"
                                                                         data-day="{{ day.id }}"
                                                                         data-title="{{ 'Click me to edit'|trans }}"
                                                                         tabindex="{{ tab }}">
                                                                        {% set tab = tab + 1 %}
                                                                        <span>{{ day.moveResult }}</span> KCal
                                                                        <label>
                                                                            <input type="number" name="moveResult" value="{{ day.moveResult }}"/>
                                                                        </label>
                                                                    </div>
                                                                    /
                                                                    <div class="goal"
                                                                         data-title="{{ 'Click the goals button to modify'|trans }}">{{ goal }} KCal
                                                                    </div>
                                                                </div>
                                                                <div class="detail">
                                                                    <div class="steps" data-id="{{ activity.id }}"
                                                                         data-day="{{ day.id }}"
                                                                         data-title="{{ 'Click me to edit'|trans }}"
                                                                         tabindex="{{ tab }}">
                                                                        {% set tab = tab + 1 %}
                                                                        {{ 'Steps'|trans }}&nbsp;:
                                                                        <span>{{ day.steps }}</span>
                                                                        <label>
                                                                            <input type="number" name="steps" value="{{ day.steps }}"/>
                                                                        </label>
                                                                    </div>
                                                                    <div class="distance" data-id="{{ activity.id }}"
                                                                         data-day="{{ day.id }}"
                                                                         data-title="{{ 'Click me to edit'|trans }}"
                                                                         tabindex="{{ tab }}">
                                                                        {% set tab = tab + 1 %}
                                                                        {{ 'Distance'|trans }}&nbsp;:
                                                                        <span>{{ day.distance }}</span>km
                                                                        <label>
                                                                            <input type="number" name="distance" value="{{ day.distance }}"/>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="exercise">
                                                        <div class="block-header">
                                                            <div class="title">{{ 'Exercise'|trans }}</div>
                                                            <div class="doubled{% if percentExercise >= 200 %} visible{% endif %}"
                                                                 title="{{ 'goal'|trans }}">
                                                                <div>x{{ timesExercise }}</div>
                                                            </div>
                                                            <div class="completed{% if day.isExerciseRingCompleted %} visible{% endif %}"
                                                                 title="{{ 'goal'|trans }}"><i
                                                                        class="fa-solid fa-circle-check"></i></div>
                                                        </div>
                                                        <div class="block-body">
                                                            {% set goal = activity.exerciseGoal %}
                                                            {% for objective in goals.exercise %}
                                                                {% if day.day|date("Y-m-d") >= objective.start|date("Y-m-d") and day.day|date("Y-m-d") <= objective.end|date("Y-m-d") %}
                                                                    {% set goal = objective.amount %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% set percent = (day.exerciseResult / goal * 100)|round %}
                                                            <div class="progress exercise" data-percent="{{ percent }}">
                                                                <div class="circle">
                                                                    <div class="percentage">{{ percent }}%</div>
                                                                </div>
                                                                <div class="circle-start"></div>
                                                                <div class="circle-end">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <div class="details">
                                                                <div class="detail">
                                                                    <div class="result" data-id="{{ activity.id }}"
                                                                         data-day="{{ day.id }}"
                                                                         data-title="{{ 'Click me to edit'|trans }}"
                                                                         tabindex="{{ tab }}">{% set tab = tab + 1 %}
                                                                        <span class="value">{{ day.exerciseResult }}</span>
                                                                        <span class="unit">{{ day.exerciseResult>1?'minutes'|trans:'minute'|trans }}</span>
                                                                        <label><input type="number"
                                                                                      name="exerciseResult"
                                                                                      value="{{ day.exerciseResult }}"/></label>
                                                                    </div>
                                                                    /
                                                                    <div class="goal"
                                                                         data-title="{{ 'Click the goals button to modify'|trans }}">{{ goal }} {{ 'minutes'|trans }}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="stand-up">
                                                        <div class="block-header">
                                                            <div class="title">{{ 'Stand up'|trans }}</div>
                                                            <div class="doubled{% if percentStandUp >= 200 %} visible{% endif %}"
                                                                 title="{{ 'goal'|trans }}">
                                                                <div>x{{ (timesStandUp) }}</div>
                                                            </div>
                                                            <div class="completed{% if day.isStandUpRingCompleted %} visible{% endif %}"
                                                                 title="{{ 'goal'|trans }}"><i
                                                                        class="fa-solid fa-circle-check"></i></div>
                                                        </div>
                                                        <div class="block-body">
                                                            {% set goal = activity.standUpGoal %}
                                                            {% for objective in goals.standUp %}
                                                                {% if day.day|date("Y-m-d") >= objective.start|date("Y-m-d") and day.day|date("Y-m-d") <= objective.end|date("Y-m-d") %}
                                                                    {% set goal = objective.amount %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% set percent = (day.standUpResult / goal * 100)|round %}
                                                            <div class="progress stand-up" data-percent="{{ percent }}">
                                                                <div class="circle">
                                                                    <div class="percentage">{{ percent }}%</div>
                                                                </div>
                                                                <div class="circle-start"></div>
                                                                <div class="circle-end">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <div class="details">
                                                                <div class="detail">
                                                                    <div class="result">{{ day.standUpResult }}</div>
                                                                    /
                                                                    <div class="goal"
                                                                         data-title="{{ 'Click the goals button to modify'|trans }}">{{ goal }}</div>
                                                                </div>
                                                                <div class="wrapper">
                                                                    <div class="hours" data-id="{{ activity.id }}"
                                                                         data-day="{{ day.id }}">
                                                                        {{ include('blocks/activity/_standUp.html.twig', {ups: day.standUp}) }}
                                                                    </div>
                                                                    <div class="graduations">
                                                                        <div class="quarter">0</div>
                                                                        <div class="quarter">6</div>
                                                                        <div class="quarter">12</div>
                                                                        <div class="quarter">18</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="week">
                                    <h2>{{ 'Activity of week'|trans }} {{ week.0.week }}</h2>
                                    <div class="days">
                                        {% for day in week|reverse %}
                                            {{ include("blocks/activity/_day.html.twig") }}
                                        {% endfor %}
                                    </div>
                                    <div class="graphs">
                                        {% set moveMax = 0 %}
                                        {% set stepsMax = 0 %}
                                        {% set distanceMax = 0 %}
                                        {% set exerciseMax = 0 %}
                                        {% set standUpMax = 0 %}
                                        {% for day in week|reverse %}
                                            {% set moveMax = moveMax > (day ? day.moveResult : 0) ? moveMax : (day ? day.moveResult : 0) %}
                                            {% set stepsMax = stepsMax > (day ? day.steps : 0) ? stepsMax : (day ? day.steps : 0) %}
                                            {% set distanceMax = distanceMax > (day ? day.distance : 0) ? distanceMax : (day ? day.distance : 0) %}
                                            {% set exerciseMax = exerciseMax > (day ? day.exerciseResult : 0) ? exerciseMax : (day ? day.exerciseResult : 0) %}
                                            {% set standUpMax = standUpMax > (day ? day.standUpResult : 0) ? standUpMax : (day ? day.standUpResult : 0) %}
                                        {% endfor %}
                                        <div class="graph">
                                            {% for day in week|reverse %}
                                                {% set height = day ? day.moveResult : 0 %}
                                                {% if height %}
                                                    {% set height = height / moveMax * 100 %}
                                                {% endif %}
                                                <div class="bar bar-move" style="height: {{ height }}px; background-position-y: -{{ 100 - height|round(0, 'ceil') }}px">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="graph">
                                            {% for day in week|reverse %}
                                                {% set height = day ? day.steps : 0 %}
                                                {% if height %}
                                                    {% set height = height / stepsMax * 100 %}
                                                {% endif %}
                                                <div class="bar bar-steps" style="height: {{ height }}px; background-position-y: -{{ 100 - height|round(0, 'ceil') }}px">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="graph">
                                            {% for day in week|reverse %}
                                                {% set height = day ? day.distance : 0 %}
                                                {% if height %}
                                                    {% set height = height / distanceMax * 100 %}
                                                {% endif %}
                                                <div class="bar bar-distance" style="height: {{ height }}px; background-position-y: -{{ 100 - height|round(0, 'ceil') }}px">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="graph">
                                            {% for day in week|reverse %}
                                                {% set height = day ? day.exerciseResult : 0 %}
                                                {% if height %}
                                                    {% set height = height / exerciseMax * 100 %}
                                                {% endif %}
                                                <div class="bar bar-exercise" style="height: {{ height }}px; background-position-y: -{{ 100 - height|round(0, 'ceil') }}px">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="graph">
                                            {% for day in week|reverse %}
                                                {% set height = day ? day.standUpResult : 0 %}
                                                {% if height %}
                                                    {% set height = height / standUpMax * 100 %}
                                                {% endif %}
                                                <div class="bar bar-stand-up" style="height: {{ height }}px; background-position-y: -{{ 100 - height|round(0, 'ceil') }}px">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </main>
            {{ include('blocks/_pageFooter.html.twig') }}
        </div>
    </div>
    <div id="activity-values" style="display: none">
        {
        "app_activity_stand_up_toggle": "{{ path('app_activity_stand_up_toggle', {id: activity.id}) }}",
        "app_activity_save_data": "{{ path('app_activity_save_data', {id: activity.id}) }}",
        "app_activity_save_day": "{{ path('app_activity_save_day', {id: activity.id}) }}"
        }
    </div>
    <dialog id="activity-dialog">
        <div class="content">
            <div class="activity-dialog-title"></div>
            <form method="dialog">
                <label>{{ 'Move'|trans }} :
                    <input type="number" id="moveResult" name="moveResult"/> KCal
                </label>
                <label>{{ 'Steps'|trans }} :
                    <input type="number" id="steps" name="steps"/> {{ 'steps'|trans }}
                </label>
                <label>{{ 'Distance'|trans }} :
                    <input id="distance" name="distance"/> {{ 'km'|trans }}
                </label>
                <label>{{ 'Exercise'|trans }} :
                    <input type="number" id="exerciseResult" name="exerciseResult"/> {{ 'minutes'|trans }}
                </label>
                <label>{{ 'Stand up'|trans }}
                    <div class="stand-up">
                        <div class="block-body">
                            <div class="details">
                                <div class="detail">
                                    <div class="result">18</div>
                                    /
                                    <div class="goal">{{ activity.standUpGoal }}</div>
                                </div>
                                <div class="wrapper">
                                    <div class="hours" data-id="{{ activity.id }}" data-day="0">
                                        {{ include('blocks/activity/_standUp.html.twig', {ups: [0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]}) }}
                                    </div>
                                    <div class="graduations">
                                        <div class="quarter">0</div>
                                        <div class="quarter">6</div>
                                        <div class="quarter">12</div>
                                        <div class="quarter">18</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </label>
                <menu>
                    <li>
                        <button class="btn btn-secondary" value="cancel">{{ 'Cancel'|trans }}</button>
                    </li>
                    <li>
                        <button class="btn btn-primary" value="update">{{ 'Update'|trans }}</button>
                    </li>
                </menu>
            </form>
        </div>
    </dialog>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/activityIndex.js" type="module"></script>
{% endblock %}