<dialog id="alarm-set">
    <div class="alarms">
        {% set alarms = userAlarms(app.user) %}
        {% for alarm in alarms %}
            <div class="alarm{% if loop.index == loop.last %} active{% endif %}">
                <div class="alarm-data" data-id="{{ alarm.id }}" data-owner="{{ alarm.owner.id }}"
                     data-recurrence="{{ alarm.recurrence }}" data-by-days="{{ alarm.recurrenceByDays is null ? "once" : alarm.recurrenceByDays == true ? "every" : "week" }}"
                     data-description="{{ alarm.description }}" data-days="{{ alarm.days }}" data-time="{{ alarm.time|format_time('short') }}">
                    <div class="alarm-time">{{ alarm.time|format_time('short') }}</div>
                    <div class="alarm-recurrence">
                        {% if alarm.recurrenceByDays %}
                            <span class="alarm-recurrence-days">{{ (alarm.days > 1 ? 'Every %days% days': 'Every day')|trans({'%days%': alarm.days}) }}</span>
                        {% else %}
                            <span class="alarm-recurrence-days">{{ alarm.getMonday ? 'Mon'|trans : '' }}</span>
                            <span class="alarm-recurrence-days">{{ alarm.getTuesday ? 'Tue'|trans : '' }}</span>
                            <span class="alarm-recurrence-days">{{ alarm.getWednesday ? 'Wed'|trans : '' }}</span>
                            <span class="alarm-recurrence-days">{{ alarm.getThursday ? 'Thu'|trans : '' }}</span>
                            <span class="alarm-recurrence-days">{{ alarm.getFriday ? 'Fri'|trans : '' }}</span>
                            <span class="alarm-recurrence-days">{{ alarm.getSaturday ? 'Sat'|trans : '' }}</span>
                            <span class="alarm-recurrence-days">{{ alarm.getSunday ? 'Sun'|trans : '' }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="alarm-name">{{ alarm.name }}</div>
                <div class="alarm-switch">
                    <label class="switch">
                        <input type="checkbox" id="alarm-switch-{{ alarm.id }}" name="alarm-switch-{{ alarm.id }}" {% if alarm.active %} checked{% endif %}/>
                        <span></span>
                    </label>
                </div>
            </div>
        {% endfor %}
        {% set alarm = alarms.last %}
    </div>
    <div class="content">
        <form method="dialog">
            <input type="hidden" id="alarm-id" name="alarm-id" value="{{ alarm.id }}"/>
            <label for="alarm-name">{{ 'Name'|trans }}
                <input type="text" id="alarm-name" name="alarm-name" maxlength="255" placeholder="{{ 'Name'|trans }}..." value="{{ alarm.name }}"/>
            </label>
            <label for="alarm-description">{{ 'Description'|trans }}
                <input type="text" id="alarm-description" name="alarm-description" maxlength="255" placeholder="{{ 'Description'|trans }}..." value="{{ alarm.description }}"/>
            </label>
            <label for="alarm-time">{{ 'Time'|trans }}
                <input type="time" id="alarm-time" name="alarm-time" value="{{ alarm.time|format_time('short') }}"/>
            </label>
            <div class="alarm-recurrence">
                <div class="alarm-tab-bar">
                    <div class="alarm-tab-name{% if alarm.recurrenceByDays is null %} active{% endif %}" data-id="once">{{ 'Simple alarm'|trans }}</div>
                    <div class="alarm-tab-name{% if alarm.recurrenceByDays == 1 %} active{% endif %}" data-id="every">{{ 'Days'|trans }}</div>
                    <div class="alarm-tab-name{% if alarm.recurrenceByDays is not null and alarm.recurrenceByDays == 0 %} active{% endif %}" data-id="week">{{ 'Week'|trans }}</div>
                </div>
                <div class="alarm-tab-body">
                    <div class="alarm-tab-content{% if alarm.recurrenceByDays is null %} active{% endif %}" data-id="once">
                        {% if alarm.time|format_time('short') > 'now'|date('H:m') %}
                            {{ 'Today at'|trans }} {{ alarm.time|format_time('short') }}
                        {% else %}
                            {{ 'Tomorrow at' }} {{ alarm.time|format_time('short') }}
                        {% endif %}
                    </div>
                    <div class="alarm-tab-content{% if alarm.recurrenceByDays == 1 %} active{% endif %}" data-id="every">
                        <label for="alarm-days">
                            {{ 'Every'|trans }}
                            <input type="number" id="alarm-days" name="alarm-days" min="1" value="{{ alarm.days }}"/>
                            {{ 'days'|trans }}
                        </label>
                    </div>
                    <div class="alarm-tab-content{% if alarm.recurrenceByDays is not null and alarm.recurrenceByDays == 0 %} active{% endif %}" data-id="week">
                        <div class="days-of-week">
                            <label for="alarm-monday">
                                <input type="checkbox" id="alarm-monday" name="alarm-monday"{% if alarm.getMonday %} checked{% endif %} data-shift="1"/>{{ 'Monday'|trans }}
                            </label>
                            <label for="alarm-tuesday">
                                <input type="checkbox" id="alarm-tuesday" name="alarm-tuesday"{% if alarm.getTuesday %} checked{% endif %} data-shift="2"/>{{ 'Tuesday'|trans }}
                            </label>
                            <label for="alarm-wednesday">
                                <input type="checkbox" id="alarm-wednesday" name="alarm-wednesday"{% if alarm.getWednesday %} checked{% endif %} data-shift="4"/>{{ 'Wednesday'|trans }}
                            </label>
                            <label for="alarm-thursday">
                                <input type="checkbox" id="alarm-thursday" name="alarm-thursday"{% if alarm.getThursday %} checked{% endif %} data-shift="8"/>{{ 'Thursday'|trans }}
                            </label>
                            <label for="alarm-friday">
                                <input type="checkbox" id="alarm-friday" name="alarm-friday"{% if alarm.getFriday %} checked{% endif %} data-shift="16"/>{{ 'Friday'|trans }}
                            </label>
                            <label for="alarm-saturday">
                                <input type="checkbox" id="alarm-saturday" name="alarm-saturday"{% if alarm.getSaturday %} checked{% endif %} data-shift="32"/>{{ 'Saturday'|trans }}
                            </label>
                            <label for="alarm-sunday">
                                <input type="checkbox" id="alarm-sunday" name="alarm-sunday"{% if alarm.getSunday %} checked{% endif %} data-shift="64"/>{{ 'Sunday'|trans }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alarm-validation">
                <button id="alarm-cancel" type="button" class="btn btn-secondary" value="cancel">Annuler</button>
                <button id="alarm-activate" type="submit" class="btn btn-primary" value="activate">{{ 'Activate'|trans }}</button>
            </div>
        </form>
    </div>
</dialog>
<script src="/js/alarm.js" type="module"></script>
