<div class="flash-messages">
    {% set count=0 %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% set count=count+1 %}
            <div class="flash-message {{ label }}">
                {% if label=='alert' %}
                    <div class="still">
                        <a href="{{ message.href }}">
                            <img src="{{ message.episode_still_path ?? message.season_poster_path ?? '/images/default/no_poster_dark.png' }}" alt="{{ message.name }}" loading="lazy">
                        </a>
                        <div class="countries">
                            {% for country in message.origin_country_array %}
                                <a href="{{ message.country_page }}">
                                    <div class="country" data-title="{{ country|country_name }}">{{ getEmojiFlag(country) }}</div>
                                </a>
                            {% endfor %}
                        </div>
                        {% if message.provider_logo_path %}
                            <a href="{{ message.direct_link }}" target="_blank" rel="noopener noreferrer">
                                <div class="watch-provider">
                                    <img src=" {{ message.provider_logo_path }}" alt="{{ message.provider_name }}" data-tile="{{ message.provider_name }}" loading="lazy">
                                </div>
                            </a>
                        {% endif %}
                    </div>
                    <div class="infos">
                        <div>
                            {{ message.name }}
                            {% if message.original_name %} | {{ message.original_name }}{% endif %}
                            {% if message.localized_name %} | {{ message.localized_name }}{% endif %}
                        </div>
                        <div>{{ 'Episode'|trans }} {{ 'S%02dE%02d'|format(message.alert_season_number, message.alert_episode_number) }}</div>
                        <div class="silence" id="disable-this-alert" data-id="{{ message.alert_id }}" data-title="{{ 'Disable the alert for this episode'|trans }}"><i class="fa-regular fa-bell-slash"></i></div>
                    </div>
                {% else %}
                    {{ message|raw }}
                {% endif %}
                <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
            </div>
        {% endfor %}
    {% endfor %}
    {% if count > 1 %}
        <div class="flash-message warning close-all" id="close-all-alerts">
            <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
            {{ 'Close count alerts'|trans({'count': count}) }}
        </div>
    {% endif %}
</div>
