{% set user = app.user %}
{% set route = app.request.attributes.get('_route') %}
{% set parameters = app.request.query %}
{% set route_params = app.request.attributes.get('_route_params') %}

<nav class="nav-new-menu">
    <div class="general">
        <a href="{{ path('app_home') }}" class="main">{{ 'Home'|trans }}</a>
        <a href="{{ path('app_blog') }}" class="main">{{ 'Blog'|trans }}</a>
        <a href="{{ path('app_movie_list') }}" class="main">{{ 'Movies'|trans }}</a>
        <div class="search-movie">
            <div class="label">{{ 'search by'|trans }}</div>
            <div class="links">
                <a href="{{ path('app_movies_search') }}">{{ 'Name'|trans }}</a>
                <a href="{{ path('app_movies_by_genre', {genres: '1'}) }}">{{ 'Genre'|trans }}</a>
                <a href="{{ path('app_movies_by_date', {date: '2022'}) }}">{{ 'Date'|trans }}</a>
            </div>
        </div>
        <a href="{{ path('app_serie_popular') }}" class="main">{{ 'Series'|trans }}</a>
        <div class="series-links">
            <a href="{{ path('app_serie_search') }}">{{ 'Series search'|trans }}</a>
        </div>
    </div>
    <div class="user-legal">
        {% if user %}
            <div class="user-links">
                <div class="user">
                    {{ user.username }}
                    {% if user.avatar|length %}
                        <div class="thumbnail">
                            <img class="avatar" src="/images/users/avatars/{{ user.avatar }}" alt="{{ user.username }}">
                        </div>
                    {% endif %}
                </div>
                <a href="{{ path('app_personal_profile') }}">{{ 'My Account'|trans }}</a>
                <a href="{{ path('app_personal_list') }}">{{ 'People search'|trans }}</a>
                <a href="{{ path('app_event') }}">{{ 'My Events'|trans }}</a>
                <a href="{{ path('app_activity_index') }}">{{ 'Activity'|trans }}</a>
                <a href="{{ path('app_personal_movies') }}">{{ 'My Movies'|trans }}</a>
                <a href="{{ path('app_collection') }}">{{ 'My Movie Collections'|trans }}</a>
                <a href="{{ path('app_serie_index') }}">{{ 'My Series'|trans }}</a>
                <a href="{{ path('app_serie_today') }}">{{ 'My Series airing today'|trans }}</a>
                <a href="{{ path('app_serie_to_start') }}">{{ 'My Series to start'|trans }}</a>
                <a href="{{ path('app_serie_to_end') }}">{{ 'My Series to end'|trans }}</a>
                <a href="{{ path('app_youtube') }}">{{ 'My Youtube Videos'|trans }}</a>
                <a href="{{ path('app_youtube_search') }}">{{ 'Youtube video search'|trans }}</a>
            </div>
        {% else %}
            <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
            <a href="{{ path('app_login') }}">{{ 'Connexion'|trans }}</a>
        {% endif %}
        <div class="legal">
            {% set p = '' %}
            {% if parameters|length %}
                {% for key, value in parameters %}
                    {% set p = p ~ (loop.index0 ? '&':'?') ~ key ~ '=' ~ value %}
                {% endfor %}
            {% endif %}
            <div class="locales">
                <a href="{{ path(route, route_params|merge({'_locale': 'fr'})) ~ p }}"><img src="/images/interface/fr.png" alt="{{ 'French'|trans }}"></a>
                <a href="{{ path(route, route_params|merge({'_locale': 'en'})) ~ p }}"><img src="/images/interface/en.png" alt="{{ 'English'|trans }}"></a>
                <a href="{{ path(route, route_params|merge({'_locale': 'de'})) ~ p }}"><img src="/images/interface/de.png" alt="{{ 'German'|trans }}"></a>
                <a href="{{ path(route, route_params|merge({'_locale': 'es'})) ~ p }}"><img src="/images/interface/es.png" alt="{{ 'Spanish'|trans }}"></a>
            </div>
            <a href="{{ path('app_contact', {from: route|slice(4), params: route_params|serialize(format = 'json', context = [])}) }}">{{ 'Contact'|trans }}</a>
            <a href="{{ path('app_rgpd') }}">{{ 'Confidentiality policy'|trans }}</a>
            {% if user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_dashboard_index') }}">{{ 'Another action'|trans }}</a>
                    <a href="/api">{{ 'API Platform'|trans }}</a>
                    <a href="{{ path('app_php_info') }}">{{ 'Php Info'|trans }}</a>
                {% endif %}
                <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="nav-toggler">
    <div class="connexion">
        {% if user %}
            <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
        {% else %}
            <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
            <a href="{{ path('app_login') }}">{{ 'Connexion'|trans }}</a>
        {% endif %}
    </div>
    <div class="toggler">
        <button type="button" aria-label="toggle curtain navigation">
            <span class="line l1"></span>
            <span class="line l2"></span>
            <span class="line l3"></span>
        </button>
        <script>
            const toggler = document.querySelector('.nav-toggler');
            const hamburgerButton = toggler.querySelector('button');
            const navigation = document.querySelector('nav.nav-new-menu');
            const connexion = toggler.querySelector(".connexion");

            hamburgerButton.addEventListener("click", toggleNav);
            document.addEventListener("click", closeNav);

            toggler.addEventListener("mouseenter", showConnexion);
            toggler.addEventListener("mouseleave", hideConnexion);

            function toggleNav(evt) {
                evt.stopPropagation();
                hamburgerButton.classList.toggle("active");
                navigation.classList.toggle("active");
                if (navigation.classList.contains("active")) {
                    hideConnexion();
                } else {
                    showConnexion();
                }
            }

            function closeNav(evt) {
                if (hamburgerButton.classList.contains("active")) {
                    if (!navigation.contains(evt.target)) {
                        evt.preventDefault();
                    }
                    hamburgerButton.classList.remove("active");
                    navigation.classList.remove("active");
                }
            }

            function showConnexion() {
                connexion.classList.add("show");
                setTimeout(() => {
                    connexion.classList.add("visible")
                }, 0);
            }

            function hideConnexion() {
                connexion.classList.remove("visible");
                setTimeout(() => {
                    connexion.classList.remove("show")
                }, 300);
            }
        </script>
    </div>
</div>
{#{% for message in app.flashes('success') %}#}
{#    <div class="alert alert-success" role="alert">#}
{#        {{ message|trans }}#}
{#    </div>#}
{#{% endfor %}#}