<nav class="nav-breadcrumb" {% if style is defined %}style="{{ style }}" {% endif %}aria-label="{{ 'Navigation'|trans }}">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Home'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_movie_list') }}">{{ 'Movies'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_series_popular') }}">{{ 'Series'|trans }}</a></li>
        <li>
            {{ include('blocks/user/_userMenu.twig') }}
        </li>
        {% if breadcrumb is defined %}
            <li class="breadcrumb-item">
                {% for item in breadcrumb %}
                    {% if item.url is defined %}
                        <div class="breadcrumb-part"><a href="{{ item.url }}">{{ item.name }}</a></div>
                    {% else %}
                        <div class="breadcrumb-part">{{ item.name|capitalize }}</div>
                    {% endif %}
                    {% if loop.index < loop.length %}
                        <div class="separator">▶︎</div>
                    {% endif %}
                {% endfor %}
            </li>
        {% else %}
            {% if parent is defined %}
                <li class="breadcrumb-item"><a href="{{ parent.url }}" accesskey="<">{{ parent.page|trans }}</a></li>
            {% endif %}
            {% if thisPage is defined %}
                <li class="breadcrumb-item active" aria-current="{{ thisPage }}">{{ thisPage }}</li>
            {% endif %}
        {% endif %}
    </ol>
    {% if from is defined %}
        {% if from == 'blog' %}
            {#                <div class="btn btn-secondary ml"><a href="{{ path('app_article_image_index') }}">{{ 'Images'|trans }}</a></div> #}
        {% endif %}
        {% if from == 'today' %}
            <a href="{{ path('app_series_today') }}" class="ml">
                <button class="btn btn-primary">{{ 'Today'|trans }}</button>
            </a>
        {% endif %}
        {% if route == 'app_personal_movies' %}
            {% if collections|length %}
                <div class="choose-collection">
                    <label>{{ 'Pin a collection'|trans }}
                        <select>
                            <option value="0">{{ 'Select a collection'|trans }}</option>
                            {% for c in collections %}
                                <option value="{{ c.id }}"{% if settings is defined %}{% if settings.data.0.collection_id == c.id %} selected{% endif %}{% endif %}>{{ c.title }}
                                    ({{ c.movies|length }})
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                    <label class="switch">
                        <input type="checkbox"{% if settings is defined %}{% if settings.data.0.pinned %} checked{% endif %}{% endif %}/>
                        <span></span>
                    </label>
                </div>
            {% endif %}
        {% endif %}
        {% if from == 'profile' %}
            <div class="btn btn-secondary ml">
                <a href="{{ path('app_user_change_password') }}">{{ 'Change password'|trans }}</a></div>
        {% endif %}
    {% endif %}
</nav>
{#<pre>{{ dump(route) }}</pre>#}