{# {% set route = app.request.attributes.get('_route') %} #}
{% set parameters = app.request.query %}
{% set route_params = app.request.attributes.get('_route_params') %}

<nav class="top-menu">
    <a href="{{ path('app_home') }}" class="top-item">{{ 'Home'|trans }}</a>
    <a href="{{ path('app_blog') }}" class="top-item">{{ 'Blog'|trans }}</a>
    <a href="{{ path('app_movie_list') }}" class="top-item">{{ 'Movies'|trans }}</a>
    <a href="{{ path('app_series_popular') }}" class="top-item">{{ 'Series'|trans }}</a>
    <a href="{{ path('app_contact', {from: route|slice(4), params: route_params|serialize(format = 'json', context = [])}) }}" class="top-item">{{ 'Contact'|trans }}</a>
    <div class="d-flex-1">
        <div id="multi-search" class="top-item"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div id="multi-people" class="top-item"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
        {% if user %}
            <div id="settings" class="top-item"><i class="fa-solid fa-sliders"></i></div>
        {% endif %}
        <div id="localisation" class="top-item"><a href="{{ path('app_open_layers') }}"><i class="fa-solid fa-map"></i></a></div>
        {% if user %}
            <div id="alarms" class="top-item"><i class="fa-solid fa-clock"></i></div>
        {% endif %}
        {#        {{ dump(user) }} #}
    </div>
</nav>
