<nav class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';" aria-label="{{ 'Navigation'|trans }}">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
        {{ include('blocks/movie/bracket.html.twig') }}
        {{ include('blocks/user/breadcrumb.html.twig') }}
        {% if parent is defined %}
            <li class="breadcrumb-item"><a href="{{ parent.url }}">{{ parent.page|trans }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="{{ thisPage }}">{{ thisPage }}</li>
        {% if from is defined %}
            {% if from == 'youtube' %}
                <div class="tag-button"><a href="{{ path('app_youtube_search') }}" title="{{ 'Go to the search by tag page'|trans }}">{{ 'Search by tag'|trans }}</a></div>
            {% endif %}
            {% if from == 'user movies' %}
                {% if collections|length %}
                    <div class="choose-collection">
                        <label>{{ 'Pin a collection'|trans }}
                            <select>
                                <option value="0">{{ 'Select a collection'|trans }}</option>
                                {% for c in collections %}
                                    <option value="{{ c.id }}">{{ c.title }} ({{ c.movies|length }})</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label class="switch">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </ol>
</nav>
