<nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
        {{ include('blocks/movie/bracket.html.twig') }}
        {{ include('blocks/user/breadcrumb.html.twig') }}
        {% if parent is defined %}
            <li class="breadcrumb-item"><a href="{{ parent.url }}">{{ parent.page|trans }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="{{ thisPage|trans }}">{{ thisPage|trans }}</li>
    </ol>
</nav>
