{% set movies_route = ['app_home', 'app_movie', 'app_movie_collection', 'app_movies_by_genre', 'app_movies_by_date', 'app_movies_search'] %}
{% set series_route = ['app_home_series', 'app_show'] %}
{% set tv_route = ['app_home_tv', 'app_tv', 'app_season', 'app_episode'] %}
{% set youtube_route = ['app_youtube'] %}
{% set user_route = ['app_personal_account', 'app_personal_movies'] %}
{% set user = app.user %}
{% set path = app.request.pathInfo %}

{# {{ dump() }} #}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand logo" href="{{ path('app_home') }}"><span>{{ 'myTvTime' }}</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="" style="color: #cbaa4f; font-size: 1.5em;"><i class="bi bi-list"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 mb-2 mb-lg-0">
                <li class="nav-item mt-2">
                    <a class="nav-link" href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="{{ path('app_home_series') }}">{{ 'Series'|trans }}</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="{{ path('app_home_tv') }}">{{ 'Tv Shows'|trans }}</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link{% if user is null %} disabled{% endif %}" href="{{ path('app_youtube') }}">{{ 'Youtube' }}</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link{% if user is null %} disabled{% endif %}" href="{{ path('app_tik_tok') }}">{{ 'TikTok' }}</a>
                </li>
                <li class="nav-item dropdown mt-2 user-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.avatar is defined and  user.avatar|length %}
                            <img class="user-menu-img" src="/images/users/avatars/{{ user.avatar }}" alt="{{ user.username }}">
                        {% else %}
                            <i class="bi bi-person-circle"></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if user is null %}
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'Register'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">{{ 'Connexion'|trans }}</a></li>
                        {% else %}
                            <li><span class="dropdown-item-text">{{ 'Welcome'|trans }}&nbsp;{{ user.username }}&nbsp;!</span></li>
                            <li><a class="dropdown-item" href="{{ path('app_personal_profile') }}">{{ 'My Account'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_personal_movies') }}">{{ 'My Movies'|trans }}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_dashboard_index') }}">{{ 'Another action'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_php_info') }}">{{ 'Php Info'|trans }}</a></li>
                            {% endif %}
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            {% set params = '' %}
                            {% if route in ['app_movies_search'] %} {% set params = '?query='~query~'&year='~year %} {% endif %}
                            <div class="locale">
                                <a href="/fr{{ path[3:]~params }}"><img src="/images/interface/fr.png" alt="{{ 'French'|trans }}"></a>
                                <a href="/en{{ path[3:]~params }}"><img src="/images/interface/en.png" alt="{{ 'English'|trans }}"></a>
                                <a href="/de{{ path[3:]~params }}"><img src="/images/interface/de.png" alt="{{ 'German'|trans }}"></a>
                                <a href="/es{{ path[3:]~params }}"><img src="/images/interface/es.png" alt="{{ 'Spanish'|trans }}"></a>
                            </div>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        {% if user is not null %}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message|trans }}
    </div>
{% endfor %}