{% if route != 'app_home_series' %}
    {% set page = pages.page %}
    {% set max = pages.total_pages>1000?1000:pages.total_pages %}

    <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'Film Paginator' }}">
        {% if page > 6 %}
            <a class="btn btn-secondary" href="{{ path(route, {page: '1', sort: sorts.sort_by}) }}"><i class="bi bi-chevron-bar-left"></i></a>
        {% endif %}
        {% if page > 1 %}
            <a class="btn btn-secondary" href="{{ path(route, {page: page-1, sort: sorts.sort_by}) }}"><i class="bi bi-chevron-left"></i></a>
        {% endif %}

        {% if max >= 10 %}
            {% if page <= 5 %}
                {% for p in 1..10 %}
                    {% if p == page %}
                        <a class="btn btn-outline-secondary" href="#">{{ p }}</a>
                    {% else %}
                        <a class="btn btn-secondary" href="{{ path(route, {page: p, sort: sorts.sort_by}) }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page > 5 and page < max-5 %}
                {% for p in page-5..page+4 %}
                    {% if p == page %}
                        <a class="btn btn-outline-secondary" href="#">{{ p }}</a>
                    {% else %}
                        <a class="btn btn-secondary" href="{{ path(route, {page: p, sort: sorts.sort_by}) }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page >= max-5 %}
                {% for p in max-10..max %}
                    {% if p == page %}
                        <a class="btn btn-outline-secondary" href="#">{{ p }}</a>
                    {% else %}
                        <a class="btn btn-secondary" href="{{ path(route, {page: p, sort: sorts.sort_by}) }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% for p in 1..max %}
                {% if p == page %}
                    <a class="btn btn-outline-secondary" href="#">{{ p }}</a>
                {% else %}
                    <a class="btn btn-secondary" href="{{ path(route, {page: p, sort: sorts.sort_by}) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page < max-1 %}
            <a class="btn btn-secondary" href="{{ path(route, {page: page+1, sort: sorts.sort_by}) }}"><i class="bi bi-chevron-right"></i></a>
        {% endif %}
        {% if page < max-5 %}
            <a class="btn btn-secondary" href="{{ path(route, {page: max, sort: sorts.sort_by}) }}"><i class="bi bi-chevron-bar-right"></i></a>
        {% endif %}
    </div>

    <div class="home-discovers-footer-infos">
        <div>{{ 'Page'|trans }} : {{ pages.page }}</div>
        <div>{{ 'Total Pages'|trans }} : {{ pages.total_pages }}</div>
        <div>{{ 'Total Results'|trans }} : {{ pages.total_results }}</div>
    </div>
{% else %}
    <div class="home-discovers-footer">
        <div class="pages">
            {% if page > 1 %}
                <div class="page"><a href="{{ path(route, {page: page-1}) }}">{{ 'Previous Page'|trans }}</a></div>
            {% endif %}
            <div class="page"><a href="{{ path(route, {page: page+1}) }}">{{ 'Next Page'|trans }}</a></div>
        </div>
    </div>
{% endif %}