{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::Youtube' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container-fluid">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="yt-header">
            <div class="banner">
                <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Homepage'|trans }}</a></li>
                            <li class="breadcrumb-item active" aria-current="{{ 'My Youtube Videos'|trans }}">{{ 'My Youtube Videos'|trans }}</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>

        <div class="yt-videos">
            {{ component('youtube_add_video', {class: 'getter', 'id': user.id, 'preview': preview, 'locale': locale}) }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/youtube.js"></script>
    <script>
        $(function () {
            initYoutube(
                    {{ app.user.id }},
                "{{ locale }}",
                [
                    "{{ path('app_youtube_video', {id: 0}) }}",
                    "{{ path('app_youtube_more') }}"
                ]
            );

            const myLink = document.getElementById('link');
            myLink.addEventListener("input", () => {
                setTimeout(function () {
                    $(myLink).val("");
                }, 2000);
            });
            document.addEventListener("visibilitychange", () => {
                if (document.visibilityState === 'visible') {
                    myLink.focus();
                    myLink.select();
                }
            });
        })

    </script>
{% endblock %}