{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::YoutubeVideo' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="yt-videos">
            {{ component('youtube_add_video', {class: 'search', 'id': user.id, 'preview': preview, 'locale': locale}) }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
