{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::Youtube' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="yt-header">
            <div class="banner"></div>
        </div>

        <div class="yt-videos">
            {{ include('blocks/nav.html.twig', {thisPage: 'My Youtube Videos'}) }}
            {{ component('youtube_add_video', {class: 'getter', 'id': user.id, 'preview': preview, 'locale': locale}) }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/youtube.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initYoutube(
                    {{ app.user.id }},
                "{{ locale }}",
                [
                    "{{ path('app_youtube_video', {id: 0}) }}",
                    "{{ path('app_youtube_more') }}"
                ]
            );
        })
    </script>
{% endblock %}