{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::Youtube' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    <style>
        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }
        }

        @media (min-width: 1016px) {
            .container {
                max-width: 1016px;
            }
        }

        @media (min-width: 1352px) {
            .container {
                max-width: 1352px;
            }
        }

        @media (min-width: 1688px) {
            .container {
                max-width: 1688px;
            }
        }

        @media (min-width: 2024px) {
            .container {
                max-width: 2024px;
            }
        }

        @media (min-width: 2360px) {
            .container {
                max-width: 2360px;
            }
        }
    </style>
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="yt-header">
            <div class="banner"></div>
        </div>

        <div class="yt-videos">
            {{ include('blocks/_nav.html.twig', {thisPage: 'My Youtube Videos'|trans}) }}
            {{ component('youtube_add_video', {class: 'getter', 'id': user.id, 'preview': preview, 'locale': locale}) }}
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtube.js"></script>
    <script>
        const paths =[
            "{{ path('app_youtube_video', {id: 0}) }}",
            "{{ path('app_youtube_more') }}"
        ];
        window.addEventListener("DOMContentLoaded", () => {
            initYoutube({{ app.user.id }}, "{{ locale }}", paths);
        })
    </script>
{% endblock %}