{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/youtube.css">
{% endblock %}

{% block title %}myTvTime ▶ ︎Youtube{% endblock %}
{% set user = app.user %}
{% set locale = app.request.locale %}

{% block body %}
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="yt-header">
            <div class="banner">
                {{ include('blocks/_clock.html.twig') }}
                <div class="youtube">
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="search-on-yt">
                    <a href="https://www.youtube.com/results?search_query=" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div class="history">
                    <a href="https://www.youtube.com/feed/history" target="_blank">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="yt-videos">
            {{ include('blocks/_nav.html.twig', {thisPage: 'My Youtube Videos'|trans}) }}
            {#            {{ component('youtube_add_video', {class: 'getter', 'id': user.id, 'preview': preview, 'settings': settings, 'locale': locale}) }} #}
            <div class="getter">
                <h1 id="h1" data-total-results="{{ videoCount }}">
                    {{ videoCount ?: 'No'|trans }} {{ videoCount > 1 ? 'Videos'|trans : 'Video'|trans }} {{ 'since'|trans }} {{ firstView|format_date('short') }}
                </h1>
                <h2 id="time-spend">{{ time2Human }}</h2>
                <div class="parameters">
                    <div class="title">{{ 'Add a Youtube video'|trans }}</div>
                    <div class="content minimise">
                        <div class="input">
                            <form>
                                <div class="link">
                                    <div>{{ 'Link'|trans }} :</div>
                                    <label for="link">
                                        <input id="link" type="search" name="link" autofocus>
                                    </label>
                                </div>
                                <div class="page">
                                    <label for="page">
                                        <input type="checkbox" id="page" name="page"{{ settings.page ? " checked": "" }}>
                                        {{ 'Go to the video page'|trans }}
{#                                        <div><i class="fa-solid fa-check"></i></div>#}
                                    </label>
                                </div>
                                <div class="sort">
                                    <div>{{ 'sort'|trans }} :</div>
                                    <label for="sort">
                                        <select id="sort" type="search" name="sort">
                                            <option value="addedAt"{% if settings.sort == 'AddedAt' %} selected{% endif %}>{{ 'Date added'|trans }}</option>
                                            <option value="publishedAt"{% if settings.sort == 'publishedAt' %} selected{% endif %}>{{ 'Date of publication'|trans }}</option>
                                            <option value="contentDuration"{% if settings.sort == 'contentDuration' %} selected{% endif %}>{{ 'Duration'|trans }}</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="order">
                                    <div>{{ 'order'|trans }} :</div>
                                    <label for="order">
                                        <select id="order" type="search" name="order">
                                            <option value="DESC"{% if settings.order == 'DESC' %} selected{% endif %}>{{ 'Descendant'|trans }}</option>
                                            <option value="ASC"{% if settings.order == 'ASC' %} selected{% endif %}>{{ 'Ascendant'|trans }}</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="reload">
                                    <button id="reload" type="submit" class="btn btn-secondary">{{ 'Reload'|trans }}</button>
                                </div>
                            </form>
                        </div>
                        <div class="example">
                            <b>{{ 'For example'|trans }} :</b>
                            <div class="text-center">{{ preview.title }}</div>
                            <a href="https://youtu.be/{{ preview.link }}" target="_blank" rel="noopener"><span><span>{{ preview.link }}</span></span></a>
                            <a href="https://youtu.be/{{ preview.link }}" target="_blank" rel="noopener"><span>https://youtu.be/<span>{{ preview.link }}</span></span></a>
                            <a href="https://youtu.be/{{ preview.link }}" target="_blank" rel="noopener"><span>https://www.youtube.com/watch?v=<span>{{ preview.link }}</span></span></a>
                            <a href="https://youtu.be/7KFxzeyse2g" target="_blank" rel="noopener"><span>https://www.youtube.com/shorts/<span>7KFxzeyse2g</span></span></a>
                        </div>
                        <div class="thumbnail">
                            <img src="{{ preview.url }}" alt="{{ preview.title }}">
                        </div>
                    </div>
                    <div class="icon-minimise">
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <script>
                        window.addEventListener("DOMContentLoaded", () => {
                            const icon = document.querySelector(".icon-minimise");
                            icon.addEventListener("click", () => {
                                const content = document.querySelector(".content");
                                content.classList.toggle("minimise");
                                if (content.classList.contains("minimise")) {
                                    icon.lastElementChild.classList.remove("fa-circle-minus");
                                    icon.lastElementChild.classList.add("fa-circle-plus");
                                } else {
                                    icon.lastElementChild.classList.remove("fa-circle-plus");
                                    icon.lastElementChild.classList.add("fa-circle-minus");
                                }
                            });
                        });
                    </script>
                </div>

                <div id="result" class="result">
                    {% if videos|length %}
                        {% for video in videos %}
                            {{ include('blocks/youtube/_video.html.twig', {item: video}) }}
                        {% endfor %}
                    {% if videoCount > (videos|length) %}
                        <div id="see-more" class="see-more">
                            <div id="more" class="btn btn-sm btn-secondary">{{ 'See more results'|trans }}</div>
                        </div>
                    {% endif %}
                    {% else %}
                        <div class="yt-videos-none">{{ 'No Videos at this Time'|trans }}</div>
                        <script>
                            window.addEventListener("DOMContentLoaded", () => {
                                const videoCount = {{ count }};
                                if (!videoCount) {
                                    document.querySelector(".tag-button").style.display = "none";
                                    document.querySelector(".menu-item.youtube-video-search").style.display = "none";
                                }
                                document.querySelector(".icon").addEventListener("click", () => {
                                    document.querySelector(".content").classList.toggle("minimise");
                                });
                            });
                        </script>
                    {% endif %}
                </div>
            </div>

            <div id="status" class="status"></div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtube.js"></script>
    <script>
        const paths = [
            "{{ path('app_youtube_video', {id: 0}) }}",
            "{{ path('app_youtube_more') }}",
            "{{ path('app_youtube_add_video') }}",
            "{{ path('youtube_settings_save') }}"
        ];
        window.addEventListener("DOMContentLoaded", () => {
            initYoutube({{ app.user.id }}, "{{ locale }}", paths);
        })
    </script>
{% endblock %}