{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/youtube.css">
{% endblock %}

{% block title %}myTvTime ▶ ︎Youtube{% endblock %}
{% set user = app.user %}
{% set locale = app.request.locale %}

{% block body %}
    <div class="container">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="yt-header">
            <div class="banner">
                {{ include('blocks/_clock.html.twig') }}
                <div class="history">
                    <a href="https://www.youtube.com/feed/history" target="_blank">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="yt-videos">
            {{ include('blocks/_nav.html.twig', {thisPage: 'My Youtube Videos'|trans}) }}
            {{ component('youtube_add_video', {class: 'getter', 'id': user.id, 'preview': preview, 'settings': settings, 'locale': locale}) }}
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtube.js"></script>
    <script>
        const paths =[
            "{{ path('app_youtube_video', {id: 0}) }}",
            "{{ path('app_youtube_more') }}"
        ];
        window.addEventListener("DOMContentLoaded", () => {
            initYoutube({{ app.user.id }}, "{{ locale }}", paths);
        })
    </script>
{% endblock %}