{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::Youtube' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container-fluid">

        {{ include('blocks/pageHeader.html.twig') }}

        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Homepage'|trans }}</a></li>
                    <li class="breadcrumb-item active" aria-current="{{ 'My Youtube Videos'|trans }}">{{ 'My Youtube Videos'|trans }}</li>
                </ol>
            </div>
        </nav>

        <div class="yt-videos">
            {{ component('youtube_add_video', {class: 'getter', 'id': user.id, 'preview': preview, 'locale': locale}) }}
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
