{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/youtube.css">
{% endblock %}

{% block title %}myTvTime ▶ ︎Youtube ▶ ︎ {{ 'My Youtube playlists'|trans }}{% endblock %}
{% set user = app.user %}
{% set locale = app.request.locale %}

{% block body %}
    <div class="scroll-watcher"></div>
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="yt-header">
            <div class="banner">
                {{ include('blocks/_clock.html.twig') }}
                <div class="title">{{ 'Playlists'|trans }}</div>
                <div class="youtube" data-title="{{ 'Go to Youtube'|trans }}">
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="search-on-yt" data-title="{{ 'Search on Youtube'|trans }}">
                    <a href="https://www.youtube.com/results?search_query=" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div class="history" data-title="{{ 'Your history on Youtube'|trans }}">
                    <a href="https://www.youtube.com/feed/history" target="_blank">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="yt-playlists">
            {{ include('blocks/_nav.html.twig') }}
            {#            <pre>{{ dump(playlists) }}</pre> #}
            <div class="playlists-tools">
                <div class="new-playlist">
                    <label for="new-playlist" data-title="{{ 'Just paste a playlist link or type it and press Enter key'|trans }}">{{ 'New playlist'|trans }}
                        <input type="text" id="new-playlist" data-title="{{ 'Enter or paste a playlist URL'|trans }}">
                        <button class="btn btn-primary">{{ 'Add'|trans }}</button>
                    </label>
                </div>
                <div class="filter">
                    <label for="playlist-filter" data-title="{{ 'Filter by name'|trans }}">{{ 'Filter'|trans }}
                        <input type="search" id="playlist-filter" placeholder="{{ 'Filter playlists'|trans }}">
                    </label>
                </div>
            </div>
            <div class="playlists list-page">
                {% for p in playlists %}
                    <div class="playlist" style="background-color: {{ p.averageColor }};">
{#                        <div class="backdrop" style="background-image: url('{{ p.thumbnailUrl }}');"></div>#}
                        {% if p.performChecks %}
                            <div class="update">{{ 'Updated today'|trans }}</div>
                        {% endif %}
                        {% if p.newVideos %}
                            <div class="new-videos">{{ 'New videos!'|trans }}</div>
                        {% endif %}
                        <div class="thumbnail">
                            <img src="{{ p.thumbnailUrl }}" alt="{{ p.title }}">
                        </div>
                        <div class="infos">
                            <div class="title-date">
                                <div class="title">
                                    {{ p.title }}
                                </div>
                                <div class="date">
                                    {{ p.publishedAt|format_datetime('relative_full', 'short')|capitalize }}
                                </div>
                            </div>
                            <div class="description">{{ p.description ?? 'No description'|trans }}</div>
                            <div class="nb-videos{% if p.newVideos %} new{% endif %}">{{ p.playListCount }} {{ 'videos'|trans }}</div>
                            <div class="actions">
                                <a href="https://www.youtube.com/playlist?list={{ p.playlistId }}" target="_blank" class="btn btn-primary">{{ 'Watch on Youtube'|trans }}</a>
                                <a href="{{ path('app_youtube_playlist', {id: p.id}) }}" class="btn btn-primary">{{ 'Details'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}
        <div id="global-data" style="display: none">
            {
            "userId": {{ app.user.id }}, "locale": "{{ locale }}",
            "app_youtube_add_playlist": "{{ path('app_youtube_add_playlist') }}"
            }
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtubePlaylists.js" type="module"></script>
    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
{% endblock %}