{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/youtube.css">
{% endblock %}

{% block title %}myTvTime ▶ ︎Youtube ▶ ︎ {{ 'Youtube playlist'|trans }}{% endblock %}
{% set user = app.user %}
{% set locale = app.request.locale %}

{% block body %}
    <div class="scroll-watcher"></div>
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="yt-header">
            <div class="banner">
                {{ include('blocks/_clock.html.twig') }}
                <div class="title">{{ 'Playlists'|trans }}</div>
                <div class="youtube" data-title="{{ 'Go to Youtube'|trans }}">
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="search-on-yt" data-title="{{ 'Search on Youtube'|trans }}">
                    <a href="https://www.youtube.com/results?search_query=" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div class="history" data-title="{{ 'Your history on Youtube'|trans }}">
                    <a href="https://www.youtube.com/feed/history" target="_blank">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="yt-playlists">
            {{ include('blocks/_nav.html.twig') }}

            <div class="playlists playlist-page">
                <div class="playlist">
                    <div class="backdrop" style="background-image: url('{{ playlist.thumbnailUrl }}');"></div>
                    {% if playlist.performChecks %}
                        <div class="update">{{ 'Updated today'|trans }}</div>
                    {% endif %}
                    {% if playlist.newVideos %}
                        <div class="new-videos">{{ 'New videos!'|trans }}</div>
                    {% endif %}
                    <div class="thumbnail">
                        <img src="{{ playlist.thumbnailUrl }}" alt="{{ playlist.title }}">
                    </div>
                    <div class="infos">
                        <div class="title">
                            {{ playlist.title }}
                        </div>
                        <div class="published-at">{{ playlist.publishedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                        {% if playlist.channelId %}
                            <a href="https://www.youtube.com/channel/{{ playlist.channelId }}" target="_blank" class="channel" data-title="{{ 'See channel'|trans }} « {{ playlist.channelTitle }} »">{{ playlist.channelTitle }}</a>
                        {% endif %}
                        {% if playlist.description %}
                            <div class="description">{{ playlist.description|nl2br }}</div>
                        {% endif %}
                        <div class="nb-videos{% if playlist.newVideos %} new{% endif %}">{{ playlist.playListCount }} {{ 'videos'|trans }}</div>
                        <div class="actions d-flex m-auto">
                            <a href="https://www.youtube.com/playlist?list={{ playlist.playlistId }}" target="_blank" class="btn btn-primary" data-title="{{ 'Watch on Youtube'|trans }}"><i class="fab fa-youtube"></i></a>
                            <a href="{{ path('app_youtube_playlist', {id: playlist.id}) }}" class="btn btn-primary" data-title="{{ 'Reload'|trans }}"><i class="fas fa-arrows-rotate"></i></a>
                            <div id="copy-link" data-link="{{ playlist.playlistId }}" class="btn btn-primary" data-title="{{ 'Copy playlist ID'|trans }}"><i class="fas fa-copy"></i></div>
                            <div id="sort-list" class="btn btn-primary" data-title="{{ 'Toggle videos order'|trans }}"><i class="fas fa-sort"></i></div>
                        </div>
                    </div>
                </div>
                <div class="videos">
                    <div class="tags">
                        <div class="add-tag">
                            <div class="tags-field">
                                <label for="new-tag">{{ 'Tags'|trans }}</label>
                                <input id="new-tag" type="search" name="tag_query" list="other-tags" autocomplete="off" autofocus>
                            </div>
                        </div>
{#                        {% for tag in playlist.tags %}#}
{#                            <div class="tag">#}
{#                                #{{ tag }}#}
{#                                <div class="close" data-id="{{ tag.id }}"><i class="fas fa-times"></i></div>#}
{#                            </div>#}
{#                        {% endfor %}#}
                    </div>
                    {% for video in videoList %}
                        <div class="video{% if video.youtubeVideoId %} watched{% endif %}"{% if video.youtubeVideoId %} id="{{ video.youtubeVideoId }}"{% endif %}>
                            <div class="video-stuff">
                                <div class="thumbnail">
                                    <img src="{{ video.thumbnailUrl }}" alt="{{ video.title }}">
                                    <div class="duration">{{ video.duration }}</div>
                                </div>
                                <div class="infos">
                                    <div class="title">{{ video.title }}</div>
                                    <div class="published-at"><i class="fab fa-youtube"></i> {{ video.publishedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                                    {% if video.youtubeVideoViewedAt %}
                                        <div class="viewed-at"><i class="fas fa-eye"></i> {{ video.youtubeVideoViewedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="video-tools" data-id="{{ video.id }}" data-title="Id: {{ video.id }} / Youtube video id: {{ video.youtubeVideoId }}">
                                <div class="number">{{ loop.index }}</div>
                                <div class="channel">
                                    <img src="{{ video.channelThumbnail }}" alt="{{ video.channelTitle }}">
                                    <div class="channel-title">{{ video.channelTitle }}</div>
                                </div>
                                <div class="stats">
                                    <div>{{ video.viewCount > 1000000 ? ((video.viewCount/1000000)|round(1) ~ 'M') : (video.viewCount > 1000 ? ((video.viewCount/1000)|round(1) ~ 'k') : video.viewCount) }} {{ (video.viewCount > 1 ? 'views':'view')|trans }}</div>
                                    <div><i class="fas fa-thumbs-up"></i> {{ video.likeCount > 1000000 ? ((video.likeCount/1000000)|round(1) ~ 'M') : (video.likeCount > 1000 ? ((video.likeCount/1000)|round(1) ~ 'k') : video.likeCount) }}</div>
                                </div>
                                <div class="tools">
                                    {% if video.youtubeVideoId %}
                                        <div class="remove-video" data-id="{{ video.youtubeVideoId }}" data-link="{{ video.link }}"><i class="fas fa-minus"></i></div>
                                        <a href="{{ path('app_youtube_video', {id: video.youtubeVideoId}) }}"><i class="fas fa-arrow-right-long"></i></a>
                                    {% else %}
                                        <div class="add-video" data-link="{{ video.link }}"><i class="fas fa-plus"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
{#                <div class="dumpies">#}
{#                    <pre>{{ dump(playlist) }}</pre>#}
{#                    <pre>{{ dump(videoList) }}</pre>#}
{#                </div>#}
            </div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}
        <div id="global-data" style="display: none">
            {
            "app_youtube_video": "{{ path('app_youtube_video', {id: 0})|slice(0, -1) }}",
            "app_youtube_add_video": "{{ path('app_youtube_add_video') }}",
            "app_youtube_remove_video": "{{ path('app_youtube_video_delete', {id: 0})|slice(0, -1) }}",
            "tags": {{ tagArr|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            }
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtubePlaylist.js" type="module"></script>
    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
{% endblock %}