{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/youtube.css">
{% endblock %}

{% block title %}myTvTime ▶ ︎Youtube ▶ ︎ {{ 'Youtube playlist'|trans }}{% endblock %}
{% set user = app.user %}
{% set locale = app.request.locale %}

{% block body %}
    <div class="scroll-watcher"></div>
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="yt-header">
            <div class="banner">
                {{ include('blocks/_clock.html.twig') }}
                <div class="title">{{ 'Playlists'|trans }}</div>
                <div class="youtube" data-title="{{ 'Go to Youtube'|trans }}">
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="search-on-yt" data-title="{{ 'Search on Youtube'|trans }}">
                    <a href="https://www.youtube.com/results?search_query=" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div class="history" data-title="{{ 'Your history on Youtube'|trans }}">
                    <a href="https://www.youtube.com/feed/history" target="_blank">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="yt-playlists">
            {{ include('blocks/_nav.html.twig', {thisPage: 'My Youtube Playlists'|trans}) }}

            <div class="playlists playlist-page">
                <div class="playlist">
                    <div class="backdrop" style="background-image: url('{{ playlist.thumbnailUrl }}');"></div>
                    {% if playlist.performChecks %}
                        <div class="update">{{ 'Updated today'|trans }}</div>
                    {% endif %}
                    {% if playlist.newVideos %}
                        <div class="new-videos">{{ 'New videos!'|trans }}</div>
                    {% endif %}
                    <div class="thumbnail">
                        <img src="{{ playlist.thumbnailUrl }}" alt="{{ playlist.title }}">
                    </div>
                    <div class="infos">
                        <div class="title">
                            {{ playlist.title }}
                        </div>
                        <div class="published-at">{{ playlist.publishedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                        {% if playlist.description %}
                            <div class="description">{{ playlist.description|nl2br }}</div>
                        {% endif %}
                        <div class="nb-videos{% if playlist.newVideos %} new{% endif %}">{{ playlist.playListCount }} {{ 'videos'|trans }}</div>
                        <div class="actions">
                            <a href="https://www.youtube.com/playlist?list={{ playlist.playlistId }}" target="_blank" class="btn btn-primary">{{ 'Watch on Youtube'|trans }}</a>
                            <a href="{{ path('app_youtube_playlist', {id: playlist.id}) }}" class="btn btn-primary">{{ 'Reload'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="videos">
                    {% for video in videoList %}
                        <div class="video{% if video.youtubeVideoId %} watched{% endif %}">
                            <div class="thumbnail">
                                <img src="{{ video.thumbnailUrl }}" alt="{{ video.title }}">
                                <div class="duration">{{ video.duration }}</div>
                            </div>
                            <div class="infos">
                                <div class="title">{{ video.title }}</div>
                                <div class="published-at"><i class="fab fa-youtube"></i> {{ video.publishedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                                {% if video.youtubeVideoViewedAt %}
                                    <div class="viewed-at"><i class="fas fa-eye"></i> {{ video.youtubeVideoViewedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                                {% endif %}
                                <div class="channel">
                                    <img src="{{ video.channelThumbnail }}" alt="{{ video.channelTitle }}">
                                    <div class="channel-title">{{ video.channelTitle }}</div>
                                    {% if video.youtubeVideoId %}
                                        <a href="{{ path('app_youtube_video', {id: video.youtubeVideoId}) }}"><i class="fas fa-arrow-right-long"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="dumpies">
                    <pre>{{ dump(playlist) }}</pre>
                    <pre>{{ dump(videoList) }}</pre>
                    <pre>{{ dump(playlistItems) }}</pre>
                </div>
            </div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
{% endblock %}