{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/youtube.css">
{% endblock %}
{% block title %}myTvTime ▶ ︎{{ 'Youtube video search'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <style>
    </style>
    <div class="container">
        <div class="youtube-search">
            <div class="header">
                <h1>{{ 'Youtube video search'|trans }}</h1>
                <div class="backdrop"></div>
            </div>
            {{ include('blocks/_nav.html.twig', {thisPage: 'Youtube video search'|trans}) }}
            <main class="w100">
                <div class="search">
                    <div class="group">
                        <div class="field">
                            <label class="label" for="search-tag">{{ 'Tags'|trans }}&nbsp;:</label>
                            <input id="search-tag" type="text" value="" placeholder="{{ 'Start taping…'|trans }}">
                        </div>
                        <div class="tags"></div>
                        <div class="method">
                            <label for="method">
                                {{ 'Selection'|trans }}
                                <select id="method">
                                    <option value="and">Tous le mots-clés</option>
                                    <option value="or" selected>Au moins un mot-clé</option>
                                </select>
                            </label>
                            {#                            <div class="arrow"><i class="fa-solid fa-caret-down"></i></div> #}
                        </div>
                        <button class="apply" type="submit">{{ 'Apply'|trans }}</button>
                    </div>
                </div>
                <div class="results"></div>
            </main>
            <div id="global-data" style="display: none">
                {
                    "app_youtube_video_by_tag": "{{ path('app_youtube_video_by_tag') }}",
                    "tags": {{ tagArr|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                    "text": {{ textArr|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
                }
            </div>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtubeSearch.js" type="module"></script>
{% endblock %}