{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎Youtube ▶ ︎{{ video.title }}{% endblock %}
{% set user = app.user %}
{% if video.channel.customUrl %}
    {% set url = video.channel.customUrl %}
{% else %}
    {% set url = 'channel/' ~ video.channel.youtubeId %}
{% endif %}

{% block body %}
    <div class="container">
        {% if userAlreadyLinked %}
            <div class="flash-messages">
                <div class="flash-message success">
                    {{ 'You have already added this video previously.'|trans }}
                    <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
                </div>
            </div>
        {% endif %}

        {{ include('blocks/_mainMenu.html.twig') }}

        {{ include('blocks/_nav.html.twig', {parent: {url: path('app_youtube'), page: 'My Youtube Videos'}, thisPage: video.title}) }}

        <main>
            <div class="yt-video-page">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/{{ video.link }}" title="{{ video.title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="the-video">
                    <div class="details">
                        <div class="title-tags">
                            <div class="title-trash">
                                <div class="title">{{ video.title }}</div>
                                <div class="youtube" data-title="{{ 'See this video on Youtube'|trans }}"><a href="https://youtu.be/{{ video.link }}" target="_blank"><i class="fa-brands fa-youtube"></i></a></div>
                                <div class="copy" data-link="{{ video.link }}" data-title="{{ 'Copy the link'|trans }}"><i class="fa-solid fa-copy"></i></div>
                                <div class="trash" data-dialog="delete-video" data-title="{{ 'Delete the video'|trans }}"><i class="fa-solid fa-trash"></i></div>
                            </div>
                            <div class="tags">
                                <div class="add-tag">
                                    <div class="tags-field">
                                        <label for="new-tag">{{ 'Tags'|trans }}</label>
                                        <input id="new-tag" type="search" name="tag_query" list="other-tags" autocomplete="off" autofocus>
                                    </div>
                                </div>
                                {% for tag in video.tags %}
                                    <div class="tag">
                                        #{{ tag }}
                                        <div class="close" data-id="{{ tag.id }}"><i class="fa-solid fa-circle-xmark"></i></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="date">{{ 'Published at'|trans }} : {{ video.publishedAt|format_date('full')|capitalize }}</div>
                        <div class="description">{{ description|raw }}</div>
                        <div class="channel">
                            <div class="thumbnail">
                                <a href="https://www.youtube.com/{{ url }}" target="_blank" rel="noopener">
                                    {% if video.channel.thumbnailDefaultUrl %}
                                        <img src="{{ video.channel.thumbnailDefaultUrl }}" alt="{{ video.channel.title }}" class="w-100" loading="lazy">
                                    {% else %}
                                        {{ video.channel.title|first }}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="title">{{ video.channel.title }}</div>
                        </div>
                    </div>
                    {% if video.youtubeVideoComments|length %}
                        <div class="comments">
                            {% for comment in video.youtubeVideoComments %}
                                <div class="comment">
                                    <div class="user"></div>
                                    <div class="date">{{ comment.createdAt|date('d/m/Y @ H:m:i') }}</div>
                                    <div class="content">
                                        {{ comment.content|nl2br|raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="qr-code">
                        <img src="https://api.qrcode-monkey.com/qr/custom?data=https://www.youtube.com/watch?v={{ video.link }}" alt="QR Code" loading="lazy">
                    </div>
                </div>
                <div class="copied-text">{{ 'Copied!'|trans }}</div>
            </div>
        </main>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <dialog class="delete-video">
        <div class="overlay">
            <div class="header">
                {{ 'Delete this video'|trans }}
                <button value="nope" class="close"><i class="fa-solid fa-circle-xmark"></i></button>
            </div>
            <div class="content">
                {{ 'Do you really want to delete this video?'|trans }}
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary delete-video-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-danger delete-video-done">{{ 'Delete'|trans }}</button>
            </div>
        </div>
    </dialog>

    <div id="global-data" style="display: none">
        {
        "app_youtube": "{{ path('app_youtube') }}",
        "yt_video_delete": "{{ path('app_youtube_video_delete', {id: video.id}) }}",
        "yt_video_add_tag": "{{ path('app_youtube_video_add_tag', {id: video.id, tag: 'tag', tagId: 0})|slice(0, -5) }}",
        "yt_video_remove_tag": "{{ path('app_youtube_video_remove_tag', {id: video.id, tag: 1})|slice(0, -1) }}",
        "tags": {{ tagArr|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/youtubeVideo.js" type="module"></script>
{% endblock %}
