{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::YoutubeVideo' }}{% endblock %}
{% set user = app.user %}

{% block body %}
{#    {% if app.debug=='dev' %}{{ dump() }}{% endif %}#}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="yt-video-page">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/{{ video.link }}" title="{{ video.title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                    <div class="details">
                        <div class="title">{{ video.title }}</div>
                        <div class="date">{{ 'Published at'|trans }} : {{ video.publishedAt|format_date('full')|capitalize }}</div>
                        <div class="description">{{ video.description|nl2br }}</div>
                        <div class="channel">
                            {% if video.channel.customUrl %}
                                {% set url = video.channel.customUrl %}
                            {% else %}
                                {% set url = video.channel.youtubeId %}
                            {% endif %}
                            <div class="thumbnail">
                                <a href="https://www.youtube.com/c/{{ url }}" target="_blank">
                                    {% if video.channel.thumbnailDefaultUrl %}
                                        <img src="{{ video.channel.thumbnailDefaultUrl }}" alt="{{ video.channel.title }}" class="w-100">
                                    {% else %}
                                        {{ video.channel.title|first }}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="title">{{ video.channel.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
