{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'My Collections'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_pageHeader.html.twig') }}

    <div class="container">
        <div class="my-collections-page">

            {{ include('blocks/_nav.html.twig', {thisPage: 'My Collections'}) }}

            <div class="add-collection"><i class="fa-solid fa-circle-plus"></i> {{ 'Add collection'|trans }}</div>
            <div class="wrapper">
                {% if collections is empty %}
                    <div class="no-collection">
                        Pas de collection pour le moment
                    </div>
                {% else %}
                    {% for collection in collections %}
                        <div class="collection">
                            <a href="{{ path('app_collection_display', {id: collection.id}) }}">
                                <div class="logo" style="background-image: url('/images/collections/thumbnails/{{ collection.thumbnail }}')"></div>
                                <div class="infos">
                                    <div class="name">{{ collection.title }}</div>
                                    <div class="info">
                                        {{ collection.movies|length ?: 'None'|trans }} {{ ((collection.movies|length) > 1 ? 'Movies':'Movie')|trans }}
                                        {#                                    <a href="{{ path('app_collection_display', {id: collection.id}) }}"><i class="fa-solid fa-arrow-right-long"></i> Voir la collection</a> #}
                                    </div>
                                    <div class="backdrop" style="background-image: url('/images/collections/banners/{{ collection.banner }}')"></div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {{ include('blocks/_pageFooter.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        window.addEventListener("DOMContentLoaded", () => {

            document.querySelector(".add-collection").addEventListener("click", addNewCollection);
        });

        function addNewCollection(evt) {
            evt.currentTarget.classList.add("click");
            setTimeout(() => {
                window.location.href = "{{ path('app_collection_new') }}";
            }, 100);
        }

    </script>
{% endblock %}

