{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'My Collections'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}

    <div class="container">
        <div class="my-collections-page">

            {{ include('blocks/_nav.html.twig', {thisPage: 'My Collections'}) }}
            {{ include('blocks/source/_button.html.twig') }}

            <div class="add-collection"><i class="fa-solid fa-circle-plus"></i> {{ 'Add collection'|trans }}</div>
            <div class="wrapper">
                {% if collections is empty %}
                    <div class="no-collection">
                        Pas de collection pour le moment
                    </div>
                {% else %}
                    {% for collection in collections %}
                        <div class="collection" data-id="{{ collection.id }}">
                            <a href="{{ path('app_collection_show', {id: collection.id}) }}">
                                <div class="logo" style="background-image: url('/images/collections/thumbnails/{{ collection.thumbnail }}')"></div>
                                <div class="infos">
                                    <div class="name">{{ collection.title }}</div>
                                    <div class="info">
                                        {{ collection.movies|length ?: 'None'|trans }} {{ ((collection.movies|length) > 1 ? 'Movies':'Movie')|trans }}
                                    </div>
                                    <div class="backdrop" style="background-image: url('/images/collections/banners/{{ collection.banner }}')"></div>
                                    <div id="{{ collection.id }}" class="tools">
                                        <i class="fa-solid fa-pen-to-square" title="{{ 'Edit'|trans }}"></i>
{#                                        <i class="fa-solid fa-eye-slash" title="{{ 'Hide'|trans }}"></i>#}
                                        <i class="fa-solid fa-trash-can" title="{{ 'Delete'|trans }}"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
    <dialog class="confirm-deletion">
        <div class="overlay">
            <div class="header">
                {{ 'Delete this collection?'|trans }}
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="content">
                {{ 'Do you really want to delete this collection?'|trans }}
                <span></span>
                {{ 'This operation is final and cannot be cancelled.'|trans }}
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary delete-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-secondary delete-done">{{ 'Delete'|trans }}</button>
            </div>
        </div>
    </dialog>

    {{ show_source_code(_self) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/source.js"></script>
    <script>
        const locale = "{{ app.request.locale }}";
        let confirmDialog;

        window.addEventListener("DOMContentLoaded", () => {

            document.querySelector(".add-collection").addEventListener("click", addNewCollection);
            confirmDialog = document.querySelector(".confirm-deletion");

            initTools(confirmDialog);
        });

        function initTools(dialog) {
            const tools = document.querySelectorAll(".tools");
            const collections = document.querySelectorAll(".collection");

            tools.forEach(tool => {
                tool.querySelector(".fa-pen-to-square").addEventListener("click", editCollection);
                // tool.querySelector(".fa-eye-slash").addEventListener("click", hideCollection);
                tool.querySelector(".fa-trash-can").addEventListener("click", deleteCollection);
            });

            collections.forEach(collection => {
                collection.addEventListener("mouseenter", showTools);
                collection.addEventListener("mouseleave", hideTools);
            });


            dialog.querySelector(".delete-done").addEventListener("click", () => {
                closeDialog(dialog, true);
            })
            dialog.querySelector(".delete-cancel").addEventListener("click", () => {
                closeDialog(dialog, false);
            })
            dialog.querySelector(".close").addEventListener('click', function () {
                closeDialog(dialog, false);
            });
        }

        function openDialog(dialog, id, elem) {
            const infos = elem.closest(".infos");
            dialog.querySelector("span").innerHTML = infos.querySelector(".name").innerHTML;
            dialog.setAttribute("data-id", id);

            if (typeof dialog.showModal === "function") {
                dialog.showModal();
                setTimeout(() => {
                    dialog.classList.add("show")
                }, 0);
            } else {
                console.error("L'API <dialog> n'est pas prise en charge par ce navigateur.");
            }
        }

        function closeDialog(dialog, deleteCollection) {
            let deletedId = parseInt(dialog.getAttribute("data-id"));
            dialog.removeAttribute("data-id");
            dialog.classList.remove("show");
            setTimeout(() => {
                dialog.close()
            }, 300);
            if (deleteCollection) {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    const selector = ".collection[data-id=\"" + deletedId + "\"]";
                    const collection = document.querySelector(selector);
                    setTimeout(() => {
                        a.classList.add("deleted");
                    }, 0);
                    setTimeout(() => {
                        const wrapper = collection.closest(".wrapper");
                        wrapper.removeChild(collection);
                    }, 300);
                }
                xhr.open("GET", "/" + locale + "/collection/delete/" + deletedId);
                xhr.send();
            }
        }

        function showTools(evt) {
            const tools = evt.currentTarget.querySelector(".tools");
            tools.classList.add("show");
        }

        function hideTools(evt) {
            const tools = evt.currentTarget.querySelector(".tools");
            tools.classList.remove("show");
        }

        function addNewCollection(evt) {
            evt.currentTarget.classList.add("click");
            setTimeout(() => {
                window.location.href = "{{ path('app_collection_new') }}";
            }, 100);
        }

        function editCollection(evt) {
            const id = evt.currentTarget.parentElement.getAttribute("id");
            console.log('edit', {id});
            evt.preventDefault();
            window.location.href = "/" + locale + "/collection/edit/" + id;
        }

        // function hideCollection(evt) {
        //     const id = evt.currentTarget.parentElement.getAttribute("id");
        //     console.log('hide', {id});
        //     evt.preventDefault();
        // }

        function deleteCollection(evt) {
            const id = evt.currentTarget.parentElement.getAttribute("id");
            console.log('delete', {id});
            evt.preventDefault();
            openDialog(confirmDialog, id, evt.currentTarget);
        }
    </script>
{% endblock %}

