{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'My Collections'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/pageHeader.html.twig') }}

    <div class="container">
        <div class="my-collections-page">

            <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
                    {{ include('blocks/movie/bracket.html.twig') }}
                    <li class="breadcrumb-item active" aria-current="{{ 'My Collections'|trans }}">{{ 'My Collections'|trans }}</a></li>
                </ol>
            </nav>

            <div class="wrapper">
                {% if collections is empty %}
                    Pas de collection pour le moment
                {% else %}
                    {% for collection in collections %}
                            <div class="collection">
                                <a href="{{ path('app_collection_display', {id: collection.id}) }}">
                                <div class="logo" style="background-image: url('/images/collections/thumbnails/{{ collection.thumbnail }}')"></div>
                                <div class="infos">
                                    <div class="name">{{ collection.title }}</div>
                                    <div class="info">
                                        {{ collection.movies|length ?: 'none'|trans }} {{ ((collection.movies|length) > 1 ? 'Movies':'Movie')|trans }}
                                        {#                                    <a href="{{ path('app_collection_display', {id: collection.id}) }}"><i class="fa-solid fa-arrow-right-long"></i> Voir la collection</a> #}
                                    </div>
                                    <div class="backdrop" style="background-image: url('/images/collections/banners/{{ collection.banner }}')"></div>
                                </div>
                                </a>
                            </div>
                    {% endfor %}
                {% endif %}
            </div>

            {{ include('blocks/pageFooter.html.twig') }}
        </div>
    </div>
{% endblock %}
