{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My Collections'|trans }} ▶ ︎{{ collection.title }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        <div class="my-collection-page">

            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Collections', url: path('app_collection')}, thisPage: collection.title}) }}

            <header>
                <div class="banner">
                    {% if collection.banner %}
                        <img src="/images/collections/banners/{{ collection.banner }}" alt="{{ collection.title }}'s banner">
                        <div class="thumbnail" style="background-color: {{ collection.color }}">
                            {% if collection.thumbnail %}
                                <img src="/images/collections/thumbnails/{{ collection.thumbnail }}" alt="{{ collection.title }}'s thumbnail">
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </header>

            <main>
                <h1>{{ collection.title }}</h1>
                {% if collection.description|length %}
                    <aside>
                        <details>
                            <summary>{{ 'Description'|trans }}</summary>
                            <div class="description">{{ collection.description|raw }}</div>
                        </details>
                    </aside>
                {% endif %}
                <section>
                    <h2>{{ collection.movies|length ?: 'none'|trans }} {{ ((collection.movies|length) > 1 ? 'Movies':'Movie')|trans }}</h2>
                    <div class="movies">
                        {#                        {% for i in (collection.movies|length)-1..0 %} #}
                        {#                            {% set movie = collection.movies[i] %} #}
                        {% for movie in movies %}
                            {% set poster = movie.posterPath ? imageConfig.url ~ imageConfig.poster_sizes.3 ~ movie.posterPath : movie.posterPath %}
                            {{ include('blocks/movie/_discover.html.twig', { discover: movie, title: movie.title, poster: poster, id: movie.movieDbId }) }}
                        {% else %}
                            {{ 'Nothing to show'|trans }}
                        {% endfor %}
                    </div>
                </section>
            </main>

            <footer>
                {{ include('blocks/_pageFooter.html.twig') }}
            </footer>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/movie.js"></script>
    <script>
        const paths = [
            "{{ path('profile_infos') }}",
            "", {# {{ path('imdb_infos') }}", #}
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
        ];
        window.addEventListener("DOMContentLoaded", () => {
            initMovieStuff(paths, "", "{{ locale }}");
        })
    </script>
{% endblock %}


