{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}myTvTime ▶ ︎
    {% if parameters.from == 'top_rated' %}
        {{ 'Top Rated Series'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'search' %}
        {{ 'Series search'|trans }}
    {% elseif parameters.from == 'today' %}
        {{ 'Latest Serie'|trans }}
    {% else %}
        {{ 'My Series'|trans }}
    {% endif %}
    ▶ ︎{{ serie.name }}
{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        {% if parameters.from == 'top_rated' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Top rated Series', url: path('app_serie_top_rated')~'?p='~parameters.page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'search' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series search', url: path('app_serie_search', {page: parameters.page})~'?query='~parameters.query~'&year='~parameters.year~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'today' %}
            {{ include('blocks/_nav.html.twig', {thisPage: serie.name}) }}
        {% elseif parameters.from == 'to_start' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Series to start', url: path('app_serie_to_start')~'?p='~parameters.page~'&b=1#'~parameters.backId}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'to_end' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Series to end', url: path('app_serie_to_end')~'?p='~parameters.page~'&b=1#'~parameters.backId}, thisPage: serie.name}) }}
        {% else %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Series', url: path('app_serie_index')~'?p='~parameters.page~'&b=1#'~parameters.backId}, thisPage: serie.name}) }}
        {% endif %}

        <div class="serie-page">
            <div class="header">
                {% if serie.backdropPath|length %}
                    <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdropPath }}')"></div>
                {% else %}
                    <div class="backdrop" style="background-image: url('/images/default/no_banner_dark.png')"></div>
                {% endif %}
                <div class="poster">
                    {% if season.poster_path|length %}
                        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ season.poster_path }}"
                             alt="{{ season.name }}">
                    {% else %}
                        <img src="/images/default/no_poster.png" alt="{{ season.name }}">
                    {% endif %}
                </div>
                <div class="infos">
                    <h1>{{ serie.name }}
                        {% if serie.firstDateAir %}
                            <span>({{ serie.firstDateAir|date("Y") }})</span>
                        {% endif %}
                    </h1>
                    <h2>{{ season.name }}</h2>
                    <div class="info">
                        {% if season.overview|length %}
                            <div>{{ season.overview }}</div>
                        {% endif %}
                    </div>
                    {% if seasonViewing %}
                        <div class="viewing-progress">{{ 'Progress'|trans }} : <span></span> / {{ seasonViewing.episodeCount }} {{ 'episodes'|trans }}</div>
                    {% endif %}
                </div>
            </div>
            <main>
                <article class="full">
                    {% if credits %}
                        {{ include('blocks/serie/_cast.html.twig') }}
                        {{ include('blocks/serie/_crew.html.twig') }}
                    {% endif %}
                    <section>
                        <div class="episodes">
                            {% for episode in episodes %}
                                <div class="episode">
                                    <div class="still">
                                        {% if episode.still_path|length %}
                                            <img src="{{ imageConfig.url ~ imageConfig.still_sizes.3 ~ episode.still_path }}"
                                                 alt="{{ episode.name }}">
                                        {% else %}
                                            {% if serie.posterPath %}
                                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.posterPath }}"
                                                     alt="{{ episode.name }}">
                                            {% else %}
                                                <img src="/images/default/no_poster.png" alt="{{ episode.name }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <h4>
                                            {{ 'Episode'|trans }} {{ episode.episode_number }} :
                                            {% if episode.viewing
                                                and episode.name matches '/[EÉ]pisod[eio]+\\s\\d+/'
                                                and episode.viewing.substituteName is not null %}
                                                {{ episode.viewing.substituteName }}
                                            {% else %}
                                                {{ episode.name }}
                                            {% endif %}
                                        </h4>

                                        {% if episode.viewing
                                            and episode.name matches '/[EÉ]pisod[eio]+\\s\\d+/'
                                            and episode.viewing.substituteName is null %}
                                            <div class="substituteName">
                                                <label>
                                                    {{ 'Substitute name'|trans }} :
                                                    <input type="text" data-id="{{ episode.viewing.id }}">
                                                </label>
                                                <button class="btn btn-primary btn-sm" data-id="{{ episode.viewing.id }}">{{ 'Apply'|trans }}</button>
                                            </div>
                                        {% endif %}

                                        {% if episode.overview|length %}
                                            <div class="info">{{ episode.overview }}</div>
                                        {% endif %}
                                        {% if episode.runtime %}
                                            <div class="info">{{ 'Runtime'|trans }}
                                                : {{ episode.runtime }} {{ episode.runtime>1 ? 'minutes':'minute' }}</div>
                                        {% endif %}
                                        {% if episode.air_date %}
                                            <div class="info">
                                                {% if episode.air_date < 'now'|date("Y-m-d") %}
                                                    {{ 'This episode aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% elseif episode.air_date > 'now'|date("Y-m-d") %}
                                                    {{ 'This episode will be aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% else %}
                                                    {{ 'This episode is aired from today.'|trans }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="episode-viewing">
                                        {% if episode.viewing %}
                                            <div class="view" data-id="{{ episode.viewing.id }}">
                                                <div class="view-value">
                                                    {% if episode.viewing.viewedAt %}
                                                        <i class="fa-solid fa-check"></i>
                                                    {% else %}
                                                        <i class="fa-solid fa-times"></i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="vote{% if episode.viewing.viewedAt %} show{% endif %}" data-id="{{ episode.viewing.id }}">
                                                <div class="vote-graduation{% if episode.viewing.vote == 10 %} active{% endif %}" data-title="10" data-value="10"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=9 %} active{% endif %}" data-title="9" data-value="9"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=8 %} active{% endif %}" data-title="8" data-value="8"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=7 %} active{% endif %}" data-title="7" data-value="7"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=6 %} active{% endif %}" data-title="6" data-value="6"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=5 %} active{% endif %}" data-title="5" data-value="5"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=4 %} active{% endif %}" data-title="4" data-value="4"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=3 %} active{% endif %}" data-title="3" data-value="3"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=2 %} active{% endif %}" data-title="2" data-value="2"></div>
                                                <div class="vote-graduation{% if episode.viewing.vote >=1 %} active{% endif %}" data-title="1" data-value="1"></div>
                                                <div class="vote-value">{% if episode.viewing.vote %}{{ episode.viewing.vote }} / 10{% endif %}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </article>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initSubstituteName();
            initView();
            initVote();
            setViewedEpisodeCount();
        });

        function initSubstituteName() {
            const substituteNames = document.querySelectorAll('.substituteName');
            document.querySelector('input')?.focus();

            substituteNames?.forEach((substituteName) => {
                const applyButton = substituteName.querySelector('button');
                const input = substituteName.querySelector('input');
                applyButton.addEventListener('click', saveSubstituteName);
                input.addEventListener('keyup', (e) => {
                    if (e.code === 'Enter') {
                        saveSubstituteName(e);
                    }
                });
            });
        }

        function saveSubstituteName(e) {
            const substituteName = e.target.parentElement.querySelector('input').value;
            const id = e.target.dataset.id;
            const url = '{{ path('app_episode_substitute_name') }}';
            const data = JSON.stringify({
                id: id,
                substituteName: substituteName
            });
            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                window.location.reload();
            }
            xhr.open("GET", url + '?data=' + data, true);
            xhr.send();
        }

        function initView() {
            const views = document.querySelectorAll('.view');

            views.forEach((view) => {
                const viewValue = view.querySelector('.view-value');
                const vote = view.parentElement.querySelector('.vote');
                const id = view.getAttribute('data-id');
                const url = '{{ path('app_episode_view', {id: 0, view: 0})|slice(0,-3) }}' + id + '/';

                viewValue.addEventListener('click', (e) => {
                    const i = viewValue.querySelector('i');
                    const episodeView = i.classList.contains('fa-check') ? "1" : "0";
                    const xhr = new XMLHttpRequest();
                    xhr.onload = function () {
                        let data = {"seasonCompleted": 0, "episodeViewed": 0, "viewedEpisodeCount": 0};
                        data = JSON.parse(this.responseText);
                        if (data.episodeViewed) {
                            viewValue.innerHTML = '<i class="fa-solid fa-check"></i>';
                            vote.classList.add('show');
                        } else {
                            viewValue.innerHTML = '<i class="fa-solid fa-times"></i>';
                            vote.classList.remove('show');
                        }
                        if (data.seasonCompleted) {
                            viewValue.classList.add('completed');
                        } else {
                            viewValue.classList.remove('completed');
                        }
                        const viewingProgress = document.querySelector('.viewing-progress');
                        viewingProgress.querySelector("span").innerText = data.viewedEpisodeCount;
                    }
                    xhr.open("GET", url + episodeView, true);
                    xhr.send();
                });
            });
        }

        function setViewedEpisodeCount() {
            const viewingProgress = document.querySelector('.viewing-progress');
            if (!viewingProgress) return;

            const views = document.querySelectorAll('.view');
            let count = 0;

            views.forEach((view) => {
                const viewValue = view.querySelector('.view-value');
                const i = viewValue.querySelector('i');
                count += i.classList.contains('fa-check') ? 1 : 0;
            });
            viewingProgress.querySelector("span").innerText = count;
        }

        function initVote() {
            const votes = document.querySelectorAll('.vote');

            votes.forEach((vote) => {
                // const voteValue = vote.querySelector('.vote-value');
                const voteGraduations = vote.querySelectorAll('.vote-graduation');
                const id = vote.getAttribute('data-id');
                const url = '{{ path('app_episode_vote', {id: 0, vote: 0})|slice(0,-3) }}' + id + '/';

                voteGraduations.forEach((graduation) => {
                    graduation.addEventListener('click', (e) => {
                        let value = e.currentTarget.getAttribute('data-value');
                        const voteValueDiv = e.currentTarget.parentElement.querySelector('.vote-value');
                        const voteValue = voteValueDiv.innerText;

                        if (value === "1" && voteValue === "1") {
                            value = "0";
                        }

                        const xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            const data = JSON.parse(xhr.responseText);
                            const voteValue = data.vote;

                            voteValueDiv.innerText = voteValue;
                            voteGraduations.forEach((graduation) => {
                                const voteGraduationValue = parseInt(graduation.getAttribute('data-value'));
                                if (voteGraduationValue <= voteValue) {
                                    graduation.classList.add('active');
                                } else {
                                    graduation.classList.remove('active');
                                }
                            });
                        }
                        xhr.open("GET", url + value, true);
                        xhr.send();
                    });
                });

                voteGraduations.forEach((voteGraduation) => {
                    voteGraduation.addEventListener('mouseenter', (e) => {
                        lightOn(e.currentTarget);
                    });
                    voteGraduation.addEventListener('mouseleave', (e) => {
                        lightOff(e.currentTarget.parentElement);
                    });
                });
            });
        }

        function lightOn(graduation) {
            const vote = graduation.parentElement;
            const voteGraduations = lightOff(vote);
            const value = parseInt(graduation.getAttribute('data-value'));
            voteGraduations.forEach((voteGraduation) => {
                const voteGraduationValue = parseInt(voteGraduation.getAttribute('data-value'));
                if (voteGraduationValue <= value) {
                    voteGraduation.classList.add('light-on');
                }
            });
        }

        function lightOff(vote) {
            const voteGraduations = vote.querySelectorAll('.vote-graduation');
            voteGraduations.forEach((voteGraduation) => {
                voteGraduation.classList.remove('light-on');
            });
            return voteGraduations;
        }
    </script>
{% endblock %}