{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}myTvTime ▶ ︎
    {% if parameters.from == 'popular' %}
        {{ 'Popular Series'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'top_rated' %}
        {{ 'Top Rated Series'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'airing_today' %}
        {{ 'Series Airaing Today'|trans }}
    {% elseif parameters.from == 'on_the_air' %}
        {{ 'Series On The Air'|trans }}
    {% elseif parameters.from == 'search' %}
        {{ 'Series search'|trans }}
    {% elseif parameters.from == 'latest' %}
        {{ 'Latest Serie'|trans }}
    {% else %}
        {{ 'My Series'|trans }}
    {% endif %}
    ▶ ︎{{ serie.name }}
{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        {% if parameters.from == 'popular' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Popular Series', url: path('app_serie_popular')~'?p='~parameters.page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'top_rated' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Top rated Series', url: path('app_serie_top_rated')~'?p='~parameters.page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'airing_today' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series Airing Today', url: path('app_serie_airing_today')~'?p='~parameters.page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'on_the_air' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series On The Air', url: path('app_serie_on_the_air')~'?p='~parameters.page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'search' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series search', url: path('app_serie_search', {page: parameters.page})~'?query='~parameters.query~'&year='~parameters.year~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'latest' %}
            {{ include('blocks/_nav.html.twig', {thisPage: serie.name}) }}
        {% else %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Series', url: path('app_serie_index')~'?p='~parameters.page~'&b=1#'~parameters.backId}, thisPage: serie.name}) }}
        {% endif %}

        <div class="serie-page">
            <div class="header">
                {% if serie.backdropPath|length %}
                    <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdropPath }}')"></div>
                {% else %}
                    <div class="backdrop" style="background-image: url('/images/default/no_banner_dark.png')"></div>
                {% endif %}
                <div class="poster">
                    {% if season.poster_path|length %}
                        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ season.poster_path }}" alt="{{ season.name }}">
                    {% else %}
                        <img src="/images/default/no_poster.png" alt="{{ season.name }}">
                    {% endif %}
                </div>
                <div class="infos">
                    <h1>{{ serie.name }}
                        {% if serie.firstDateAir %}
                            <span>({{ serie.firstDateAir|date("Y") }})</span>
                        {% endif %}
                    </h1>
                    <h2>{{ season.name }}</h2>
                    <div class="info">
                        {% if season.overview|length %}
                            {#                            <h5>{{ 'Synopsis'|trans }}</h5> #}
                            <div>{{ season.overview }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <main>
                <article class="full">
                    {% if credits %}
                        {{ include('blocks/serie/_cast.html.twig') }}
                        {{ include('blocks/serie/_crew.html.twig') }}
                    {% endif %}
                    <section>
                        <div class="episodes">
                            {% for episode in episodes %}
                                <div class="episode">
                                    <div class="still">
                                        {% if episode.still_path|length %}
                                            <img src="{{ imageConfig.url ~ imageConfig.still_sizes.3 ~ episode.still_path }}" alt="{{ episode.name }}">
                                        {% else %}
                                            {% if serie.posterPath %}
                                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.posterPath }}" alt="{{ episode.name }}">
                                            {% else %}
                                                <img src="/images/default/no_poster.png" alt="{{ episode.name }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <h4>{{ 'Episode'|trans }} {{ episode.episode_number }} : {{ episode.name }}</h4>
                                        {% if episode.overview|length %}
                                            <div class="info">{{ episode.overview }}</div>
                                        {% endif %}
                                        {% if episode.runtime %}
                                            <div class="info">{{ 'Runtime'|trans }} : {{ episode.runtime }} {{ episode.runtime>1 ? 'minutes':'minute' }}</div>
                                        {% endif %}
                                        {% if episode.air_date %}
                                            <div class="info">
                                                {% if episode.air_date < 'now'|date("Y-m-d") %}
                                                    {{ 'This episode aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% elseif episode.air_date > 'now'|date("Y-m-d") %}
                                                    {{ 'This episode will be aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% else %}
                                                    {{ 'This episode is aired from today.'|trans }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </article>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
