{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}
    {% if parameters.from == 'popular' %}
        MyTvTime::{{ 'Popular Series'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'top_rated' %}
        MyTvTime::{{ 'Top Rated Series'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'airing_today' %}
        MyTvTime::{{ 'Series Airaing Today'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'on_the_air' %}
        MyTvTime::{{ 'Series On The Air'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'search' %}
        MyTvTime::{{ 'Series search'|trans }}::{{ serie.name }}
    {% elseif parameters.from == 'latest' %}
        MyTvTime::{{ 'Latest Serie'|trans }}::{{ serie.name }}
    {% else %}
        MyTvTime::{{ 'My Series'|trans }}::{{ serie.name }}
    {% endif %}
{% endblock %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container">
        {% if parameters.from == 'popular' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Popular Series', url: path('app_serie_popular')~'?p='~parameters.page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'top_rated' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Top rated Series', url: path('app_serie_top_rated')~'?p='~parameters.page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'airing_today' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series Airing Today', url: path('app_serie_airing_today')~'?p='~parameters.page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'on_the_air' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series On The Air', url: path('app_serie_on_the_air')~'?p='~parameters.page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'search' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series search', url: path('app_serie_search', {page: parameters.page})~'?query='~parameters.query~'&year='~parameters.year~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif parameters.from == 'latest' %}
            {{ include('blocks/_nav.html.twig', {thisPage: serie.name}) }}
        {% else %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Series', url: path('app_serie_index')~'?p='~parameters.page~'&b=1#'~parameters.backId}, thisPage: serie.name}) }}
        {% endif %}

        <div class="serie-page">
            <div class="header">
                {% if serie.backdropPath|length %}
                    <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdropPath }}')"></div>
                {% else %}
                    <div class="backdrop" style="background-image: url('/images/default/no_banner_dark.png')"></div>
                {% endif %}
                <div class="poster">
                    {% if season.poster_path|length %}
                        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ season.poster_path }}" alt="{{ season.name }}">
                    {% else %}
                        <img src="/images/default/no_poster.png" alt="{{ season.name }}">
                    {% endif %}
                </div>
                <div class="infos">
                    <h1>{{ serie.name }}
                        {% if serie.firstDateAir %}
                            <span>({{ serie.firstDateAir|date("Y") }})</span>
                        {% endif %}
                    </h1>
                    <h2>{{ season.name }}</h2>
                    <div class="info">
                        {% if season.overview|length %}
                            {#                            <h5>{{ 'Synopsis'|trans }}</h5> #}
                            <div>{{ season.overview }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <main>
                <article class="full">
                    <section>
                        <div class="episodes">
                            {% for episode in season.episodes %}
                                {#
                                "air_date" => "2022-08-21"
                                "episode_number" => 1
                                "id" => 1971015
                                "name" => "Les héritiers du dragon"
                                "overview" => "A Westeros, la chute de la maison Targaryen s'annonce. Une guerre civile arrive et va s'appeler la Danse des Dragons."
                                "production_code" => ""
                                "runtime" => 66
                                "season_number" => 1
                                "show_id" => 94997
                                "still_path" => "/3oumSnkavc4pcMFvPbgWDUTclNb.jpg"
                                "vote_average" => 7.9
                                "vote_count" => 38
                                "crew" => array:4 [▶]
                                "guest_stars" => array:28 [▼
                                0 => array:11 [▼
                                    "character" => "Lord Corlys 'The Sea Snake' Velaryon"
                                    "credit_id" => "60257dc1dd2589003ebdb5ba"
                                    "order" => 5
                                    "adult" => false
                                    "gender" => 2
                                    "id" => 55412
                                    "known_for_department" => "Acting"
                                    "name" => "Steve Toussaint"
                                    "original_name" => "Steve Toussaint"
                                    "popularity" => 13.914
                                    "profile_path" => "/s4qDz1g0UzasoQlcUtgqkaAVbdC.jpg"
                                #}
                                <div class="episode">
                                    <div class="still">
                                        {% if episode.still_path|length %}
                                            <img src="{{ imageConfig.url ~ imageConfig.still_sizes.3 ~ episode.still_path }}" alt="{{ episode.name }}">
                                        {% else %}
                                            {% if serie.posterPath %}
                                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.posterPath }}" alt="{{ episode.name }}">
                                            {% else %}
                                                <img src="/images/default/no_poster.png" alt="{{ episode.name }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <h4>{{ 'Episode'|trans }} {{ episode.episode_number }} : {{ episode.name }}</h4>
                                        {% if episode.overview|length %}
                                            <div class="info">{{ episode.overview }}</div>
                                        {% endif %}
                                        {% if episode.runtime %}
                                            <div class="info">{{ 'Runtime'|trans }} : {{ episode.runtime }} {{ 'minutes' }}</div>
                                        {% endif %}
                                        {% if episode.air_date %}
                                            <div class="info">
                                                {% if episode.air_date < 'now'|date("Y-m-d") %}
                                                    {{ 'This episode aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% elseif episode.air_date > 'now'|date("Y-m-d") %}
                                                    {{ 'This episode will be aired from episode_air_date.'|trans({"episode_air_date": (episode.air_date|format_date('full'))}) }}
                                                {% else %}
                                                    {{ 'This episode is aired from today.'|trans }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
{#                                        {% if episode.guest_stars|length %}#}
{#                                            <div class="guests">#}
{#                                                {% for guest in episode.guest_stars %}#}
{#                                                    <div class="guest">#}
{#                                                        <div class="profile">#}
{#                                                            {% if guest.profile_path %}#}
{#                                                                <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ guest.profile_path }}" alt="{{ guest.name }}">#}
{#                                                            {% else %}#}
{#                                                                <img src="/images/default/no_avatar.png" alt="{{ guest.name }}">#}
{#                                                            {% endif %}#}
{#                                                        </div>#}
{#                                                        <div>{{ guest.name }}</div>#}
{#                                                        <div>{{ guest.character }}</div>#}
{#                                                    </div>#}
{#                                                {% endfor %}#}
{#                                            </div>#}
{#                                        {% endif %}#}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </article>
            </main>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
