{% extends 'base.html.twig' %}

    {% block title %}
        {% if from == 'popular' %}
            MyTvTime::{{ 'Popular Series'|trans }}::{{ serie.name }}
        {% elseif from == 'top_rated' %}
            MyTvTime::{{ 'Top Rated Series'|trans }}::{{ serie.name }}
        {% elseif from == 'airing_today' %}
            MyTvTime::{{ 'Series Airaing Today'|trans }}::{{ serie.name }}
        {% elseif from == 'on_the_air' %}
            MyTvTime::{{ 'Series On The Air'|trans }}::{{ serie.name }}
        {% elseif from == 'search' %}
            MyTvTime::{{ 'Series search'|trans }}::{{ serie.name }}
        {% elseif from == 'latest' %}
            MyTvTime::{{ 'Latest Serie'|trans }}::{{ serie.name }}
        {% else %}
            MyTvTime::{{ 'My Series'|trans }}::{{ serie.name }}
        {% endif %}
    {% endblock %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    {{ include('blocks/pageHeader.html.twig') }}
    <div class="container">
        {% if from == 'popular' %}
            {{ include('blocks/nav.html.twig', {parent: {page: 'Popular Series', url: path('app_serie_popular')~'?p='~page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'top_rated' %}
            {{ include('blocks/nav.html.twig', {parent: {page: 'Top rated Series', url: path('app_serie_top_rated')~'?p='~page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'airing_today' %}
            {{ include('blocks/nav.html.twig', {parent: {page: 'Series Airing Today', url: path('app_serie_airing_today')~'?p='~page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'on_the_air' %}
            {{ include('blocks/nav.html.twig', {parent: {page: 'Series On The Air', url: path('app_serie_on_the_air')~'?p='~page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'search' %}
            {{ include('blocks/nav.html.twig', {parent: {page: 'Series search', url: path('app_serie_search', {page: page})~'?query='~query~'&year='~year~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'latest' %}
            {{ include('blocks/nav.html.twig', {thisPage: serie.name}) }}
        {% else %}
            {{ include('blocks/nav.html.twig', {parent: {page: 'My Series', url: path('app_serie_index')~'?p='~page~'&b=1#'~backId}, thisPage: serie.name}) }}
        {% endif %}

        <div class="serie-page">
            <div class="header">
                {% if serie.backdrop_path|length %}
                    <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdrop_path }}')"></div>
                {% else %}
                    <div class="backdrop" style="background-image: url('/images/default/no_banner_dark.png')"></div>
                {% endif %}
                <div class="poster">
                    {% if serie.poster_path|length %}
                        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ serie.name }}">
                    {% else %}
                        <img src="/images/default/no_poster.png" alt="{{ serie.name }}">
                    {% endif %}
                    {% if watchProviders %}
                        <div class="watch-providers">
                            {% if watchProviders.flatrate is defined %}
                                {% for flatrate in watchProviders.flatrate %}
                                    <div class="watch-provider">
                                        <div class="logo">
                                            <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ flatrate.logo_path }}" alt="{{ flatrate.provider_name }}">
                                        </div>
                                        <div class="watch">
                                            <div>{{ 'Available in streaming'|trans }}</div>
                                            <div><a href="{{ watchProviders.link }}">{{ 'Watch now'|trans }}</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if watchProviders.buy is defined %}
                                {% for buy in watchProviders.buy %}
                                    <div class="watch-provider">
                                        <div class="logo">
                                            <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ buy.logo_path }}" alt="{{ buy.provider_name }}">
                                        </div>
                                        <div class="watch">
                                            <div>{{ 'Available to rent or buy'|trans }}</div>
                                            <div><a href="{{ watchProviders.link }}">{{ 'Watch now'|trans }}</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="arrow"></div>
                </div>
                <div class="infos">
                    <h1>{{ serie.name }} <span>({{ serie.first_air_date|date("Y") }})</span></h1>
                    <div class="info">
                        {% for genre in serie.genres %}
                            {{ genre.name }}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        {% if serie.episode_run_time|length %}
                            •
                            {{ serie.episode_run_time.0 }} {{ 'minutes'|trans }}
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="tagline">{{ serie.tagline }}</div>
                    </div>
                    <div class="info">
                        {% if serie.overview %}
                            <h5>{{ 'Synopsis' }}</h5>
                            <div>{{ serie.overview }}</div>
                        {% endif %}
                    </div>
                    {% if serie.created_by|length %}
                        <div class="creators">
                            {% for c in serie.created_by %}
                                <div class="creator">
                                    <div class="profile">
                                        {% if c.profile_path %}
                                            <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ c.profile_path }}" alt="{{ c.name }}">
                                        {% else %}
                                            <img src="/images/default/no_avatar.png" alt="{{ c.name }}">
                                        {% endif %}
                                    </div>
                                    <div>{{ c.name }}</div>
                                    <div>
                                        {% if c.gender is defined %}
                                            {{ (c.gender==1?'creator.she':'creator.he')|trans }}
                                        {% else %}
                                            {{ 'creation'|trans }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if index is defined %}
                    {% if index %}
                        <div class="seen" data-id="{{ serie.id }}"><i class="fa-solid fa-eye"></i></div>
                    {% else %}
                        <div class="add" data-id="{{ serie.id }}"><i class="fa-solid fa-circle-plus"></i></div>
                    {% endif %}
                {% endif %}
            </div>

            <main>
                <article>
                    {% if credits.cast|length %}
                        <section>
                            <div class="cast">
                                <h4>{{ 'Cast'|trans }}</h4>
                                <div class="list">
                                    {% for people in credits.cast %}
                                        <div class="people">
                                            <div class="profile">
                                                {% if people.profile_path %}
                                                    <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    <img src="/images/default/no_avatar.png" alt="{{ people.name }}">
                                                {% endif %}
                                            </div>
                                            <div>{{ people.name }}</div>
                                            {% if people.character is defined %}
                                                <div>{{ people.character }}</div>
                                            {% endif %}
                                            <div>
                                                {% if people.gender is defined %}
                                                    {{ (people.known_for_department~(people.gender==1?'.she':'.he'))|trans }}
                                                {% else %}
                                                    {{ people.known_for_department|trans }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    <section>
                        <div class="seasons">
                            {% for season in serie.seasons %}
                                <div class="season">
                                    <div class="poster">
                                        {% if season.poster_path|length %}
                                            <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ season.poster_path }}" alt="{{ season.name }}">
                                        {% else %}
                                            {% if serie.poster_path %}
                                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ season.name }}">
                                            {% else %}
                                                <img src="/images/default/no_poster.png" alt="{{ season.name }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <h4>{{ season.name }}</h4>
                                        <div>{% if season.air_date %}{{ season.air_date|slice(0,4) }} | {% endif %}{{ season.episode_count }} {{ 'episodes'|trans }}</div>
                                        {% if season.overview|length %}
                                            <div>{{ season.overview }}</div>
                                        {% endif %}
                                        {% if season.air_date %}
                                            <div>
                                                {{ 'The season season_number of serie_name aired from season_air_date.'|trans({"season_number": season.season_number, "serie_name": serie.name, "season_air_date": (season.air_date|format_date('medium'))}) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    {% if images.backdrops|length or images.logos|length or images.posters|length %}
                        <section>
                            <div class="images">
                                <h4>{{ 'Images'|trans }}</h4>
                                {% if images.backdrops|length %}
                                    <h5>{{ 'Backdrops'|trans }}</h5>
                                    <div>
                                        {% for backdrop in images.backdrops %}
                                            <img class="backdrop" src="{{ imageConfig.url ~ imageConfig.backdrop_sizes.2 ~ backdrop.file_path }}">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if images.logos|length %}
                                    <h5>{{ 'Logos'|trans }}</h5>
                                    <div>
                                        {% for logo in images.logos %}
                                            <img class="logo" src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ logo.file_path }}">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if images.posters|length %}
                                    <h5>{{ 'Posters'|trans }}</h5>
                                    <div>
                                        {% for poster in images.posters %}
                                            <img class="poster" src="{{ imageConfig.url ~ imageConfig.poster_sizes.2 ~ poster.file_path }}">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    {% endif %}
                </article>
                <aside>
                    <div class="key-facts">
                        <h4>{{ 'Key facts'|trans }}</h4>
                        <div class="fact">
                            <div class="label">{{ 'Original name'|trans }}</div>
                            <div class="content">{{ serie.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="label">{{ 'Original language'|trans }}</div>
                            <div class="content">{{ serie.original_language|language_name(locale) }}</div>
                        </div>
                        <div class="fact">
                            <div class="label">{{ 'Original Country'|trans }}</div>
                            {% for country in serie.origin_country %}
                                <div class="content">{{ country|country_name(locale) }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact">
                            <div class="label">{{ 'Status'|trans }}</div>
                            <div class="content">{{ serie.status|trans }}</div>
                        </div>
                        <div class="fact">
                            {% if serie.networks|length %}
                                <div class="label">{{ (serie.networks|length>1?'Networks':'Network')|trans }}</div>
                                {% for network in serie.networks %}
                                    <div class="content">
                                        {% if network.logo_path %}
                                            <div class="frame">
                                                <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ network.logo_path }}" alt="{{ network.name }}">
                                            </div>
                                        {% else %}
                                            {{ network.name }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if keywords.results|length %}
                            <div class="fact">
                                <div class="label">{{ 'Keywords'|trans }}</div>
                                <div class="keywords">
                                    {% for keyword in keywords.results %}
                                        <div class="keyword{% if keyword.name in missingTranslations %} new{% endif %}" data-original="{{ keyword.name }}">
                                            {{ keyword.name|trans({},'tags') }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if similar.results|length %}
                            <div class="fact">
                                <div class="label">{{ 'Similar Series'|trans }}</div>
                                <div class="similar">
                                    {% for serie in similar.results %}
                                        <div class="poster">
                                            {% if serie.poster_path|length %}
                                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ serie.name }}">
                                            {% else %}
                                                <img src="/images/default/no_poster.png" alt="{{ serie.name }}">
                                                <div class="name">{{ serie.name }}</div>
                                            {% endif %}
                                            {% if serieIds|length %}
                                                {% if serie.id in serieIds %}
                                                    <div class="seen"><i class="fa-solid fa-eye"></i></div>
                                                {% else %}
                                                    <div class="add" data-id="{{ serie.id }}"><i class="fa-solid fa-circle-plus"></i></div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </aside>
            </main>
            <div class="translationModalBack">
                <div class="translationModal">
                    <div class="trans-header">
                        <h4>{{ 'Translate new keywords'|trans }}</h4>
                    </div>
                    <div class="trans-content"></div>
                    <div class="trans-footer">
                        <button type="button" aria-label="{{ 'Cancel'|trans }}" aria-roledescription="{{ 'Cancel and close the dialog'|trans }}">{{ 'Cancel'|trans }}</button>
                        <button type="submit" aria-label="{{ 'Translate'|trans }}" aria-roledescription="{{ 'Add translated keywords, close the dialog and reload the page'|trans }}">{{ 'Translate'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ include('blocks/pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/serie.js"></script>
    <script>
        const paths = [
            "{{ path('app_serie_render_translation_fields') }}",
            "{{ path('app_serie_render_translation_select') }}",
            "{{ path('app_serie_render_translation_save') }}",
            "{{ path('app_serie_new') }}"
        ];

        window.addEventListener("DOMContentLoaded", () => {

            initSerieStuff(paths);
        })
    </script>
{% endblock %}
