{% extends 'base.html.twig' %}

    {% block title %}
        {% if from == 'popular' %}
            MyTvTime::{{ 'Popular Series'|trans }}::{{ serie.name }}
        {% elseif from == 'top_rated' %}
            MyTvTime::{{ 'Top Rated Series'|trans }}::{{ serie.name }}
        {% elseif from == 'airing_today' %}
            MyTvTime::{{ 'Series Airaing Today'|trans }}::{{ serie.name }}
        {% elseif from == 'on_the_air' %}
            MyTvTime::{{ 'Series On The Air'|trans }}::{{ serie.name }}
        {% elseif from == 'search' %}
            MyTvTime::{{ 'Series search'|trans }}::{{ serie.name }}
        {% elseif from == 'latest' %}
            MyTvTime::{{ 'Latest Serie'|trans }}::{{ serie.name }}
        {% else %}
            MyTvTime::{{ 'My Series'|trans }}::{{ serie.name }}
        {% endif %}
    {% endblock %}

{% block body %}
    <div class="bubble">
        <div class="body">{{ 'Episode'|trans }}&nbsp;<span></span></div>
        <div class="tail"></div>
    </div>
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    {{ include('blocks/_pageHeader.html.twig') }}
    <div class="container">
        {% if from == 'popular' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Popular Series', url: path('app_serie_popular')~'?p='~page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'top_rated' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Top rated Series', url: path('app_serie_top_rated')~'?p='~page~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'airing_today' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series Airing Today', url: path('app_serie_airing_today')~'?p='~page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'on_the_air' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series On The Air', url: path('app_serie_on_the_air')~'?p='~page~'&b=1#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'search' %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'Series search', url: path('app_serie_search', {page: page})~'?query='~query~'&year='~year~'#'~serie.id}, thisPage: serie.name}) }}
        {% elseif from == 'latest' %}
            {{ include('blocks/_nav.html.twig', {thisPage: serie.name}) }}
        {% else %}
            {{ include('blocks/_nav.html.twig', {parent: {page: 'My Series', url: path('app_serie_index')~'?p='~page~'&b=1#'~backId}, thisPage: serie.name}) }}
        {% endif %}

        <div class="serie-page">
            <div class="header">
                {% if serie.backdrop_path|length %}
                    <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdrop_path }}')"></div>
                {% else %}
                    <div class="backdrop" style="background-image: url('/images/default/no_banner_dark.png')"></div>
                {% endif %}
                <div class="poster">
                    {% if serie.poster_path|length %}
                        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ serie.name }}">
                    {% else %}
                        <img src="/images/default/no_poster.png" alt="{{ serie.name }}">
                    {% endif %}
                    {% if watchProviders %}
                        <div class="watch-providers">
                            {% if watchProviders.flatrate is defined %}
                                {% for flatrate in watchProviders.flatrate %}
                                    <div class="watch-provider">
                                        <div class="logo">
                                            <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ flatrate.logo_path }}" alt="{{ flatrate.provider_name }}">
                                        </div>
                                        <div class="watch">
                                            <div>{{ 'Available in streaming'|trans }}</div>
                                            <div><a href="{{ watchProviders.link }}">{{ 'Watch now'|trans }}</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if watchProviders.buy is defined %}
                                {% for buy in watchProviders.buy %}
                                    <div class="watch-provider">
                                        <div class="logo">
                                            <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ buy.logo_path }}" alt="{{ buy.provider_name }}">
                                        </div>
                                        <div class="watch">
                                            <div>{{ 'Available to rent or buy'|trans }}</div>
                                            <div><a href="{{ watchProviders.link }}">{{ 'Watch now'|trans }}</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="arrow"></div>
                </div>
                <div class="infos">
                    <h1>
                        {{ serie.name }}
                        {% if serie.first_air_date %}
                            <span>({{ serie.first_air_date|date("Y") }})</span>
                        {% endif %}
                    </h1>
                    <div class="info">
                        {% for genre in serie.genres %}
                            {{ genre.name }}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        {% if serie.episode_run_time|length %}
                            •
                            {{ serie.episode_run_time.0 }} {{ 'minutes'|trans }}
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="view-vote">
                            <div class="tagline">{{ serie.tagline }}</div>
                            {% if index is defined %}
                                {% if index %}
                                    <div class="view-count">{{ viewedEpisodes }} {{ (viewedEpisodes>1?'viewed episodes':'viewed episode')|trans }}</div>
                                    <div class="view-average">
                                        <div class="circle">
                                            {% set percent = (viewedEpisodes / serie.number_of_episodes * 100)|round %}
                                            {% if percent > 100 %}
                                                {% set percent = 100 %}
                                            {% endif %}
                                            <div class="percentage">{{ percent }}%</div>
                                        </div>
                                        <div class="circle-start"></div>
                                        <div class="circle-end"></div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="vote-count">{{ serie.vote_count }} votes</div>
                            <div class="vote-average">
                                <div class="circle">
                                    <div class="percentage">{{ (serie.vote_average * 10)|round }}%</div>
                                </div>
                                <div class="circle-start"></div>
                                <div class="circle-end"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        {% if serie.overview|length %}
                            {#                            <h5>{{ 'Synopsis'|trans }}</h5> #}
                            <div>{{ serie.overview }}</div>
                        {% endif %}
                    </div>
                    {% if serie.created_by|length %}
                        <div class="creators">
                            {% for c in serie.created_by %}
                                <a href="{{ path('app_people', {id: c.id}) }}">
                                    <div class="creator">
                                        <div class="profile">
                                            {% if c.profile_path %}
                                                <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ c.profile_path }}" alt="{{ c.name }}">
                                            {% else %}
                                                <img src="/images/default/no_avatar.png" alt="{{ c.name }}">
                                            {% endif %}
                                        </div>
                                        <div>{{ c.name }}</div>
                                        <div>
                                            {% if c.gender is defined %}
                                                {{ (c.gender==1?'creator.she':'creator.he')|trans }}
                                            {% else %}
                                                {{ 'creation'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if whatsNew %}
                        <div class="what-s-new">
                            {% if whatsNew.original_name|length %}
                                <div class="new-status">{{ whatsNew.original_name }}</div>
                            {% endif %}
                            {% if whatsNew.status|length %}
                                <div class="new-status">{{ whatsNew.status|trans }}</div>
                            {% endif %}
                            {% if whatsNew.episode %}
                                <div class="new-episode">{{ whatsNew.episode }} {{ ((whatsNew.episode > 1)?'new episodes':'new episode')|trans }}</div>
                            {% endif %}
                            {% if whatsNew.season %}
                                <div class="new-season">{{ whatsNew.season }} {{ ((whatsNew.season > 1)?'new seasons':'new season')|trans }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if index is defined %}
                    {% if index %}
                        <div class="seen" data-id="{{ serie.id }}"><i class="fa-solid fa-eye"></i></div>
                    {% else %}
                        <div class="add" data-id="{{ serie.id }}"><i class="fa-solid fa-circle-plus"></i></div>
                    {% endif %}
                {% endif %}
                <div class="ygg">
                    <a href="https://www5.yggtorrent.fi/engine/search?name={{ ygg }}&do=search&order=desc&sort=publish_date" target="_blank">
                        <div></div>
                    </a>
                </div>
                <div class="ygg-original">
                    <a href="https://www5.yggtorrent.fi/engine/search?name={{ yggOriginal }}&do=search&order=desc&sort=publish_date" target="_blank">
                        <div></div>
                    </a>
                </div>
                <div class="tmdb">
                    <a href="https://www.themoviedb.org/tv/{{ serie.id }}" target="_blank" rel="noopener">
                        <div></div>
                    </a>
                </div>
            </div>

            <main>
                <article>
                    {% if credits %}
                        {% if credits.cast %}
                            {% if credits.cast|length %}
                                <section>
                                    <div class="cast">
                                        <h4>{{ 'Cast'|trans }}</h4>
                                        <div class="list">
                                            {% for people in credits.cast %}
                                                <a href="{{ path('app_people', {id: people.id}) }}">
                                                    <div class="people">
                                                        <div class="profile">
                                                            {% if people.profile_path %}
                                                                <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ people.profile_path }}" alt="{{ people.name }}">
                                                            {% else %}
                                                                <img src="/images/default/no_avatar.png" alt="{{ people.name }}">
                                                            {% endif %}
                                                        </div>
                                                        <div>{{ people.name }}</div>
                                                        {% if people.character is defined %}
                                                            <div>{{ people.character }}</div>
                                                        {% endif %}
                                                        <div>
                                                            {% if people.gender is defined %}
                                                                {{ (people.known_for_department~(people.gender==1?'.she':'.he'))|trans }}
                                                            {% else %}
                                                                {{ people.known_for_department|trans }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <section>
                        <div class="seasons">
                            {% set globalIndex = 1 %}
                            {% for season in serie.seasons %}
                                {% set url = path('app_serie_tmdb_season', {id: serie.id, seasonNumber: season.season_number})~'?from='~from~'&p='~page %}
                                {% if query is defined %} {% set url = url ~ '&query=' ~ query %}{% endif %}
                                {% if year is defined %} {% set url = url ~ '&year=' ~ year %}{% endif %}
                                {% if backId is defined %} {% set url = url ~ '&back=' ~ backId %}{% endif %}
                                <a href="{{ url }}">
                                    <div class="season">
                                        <div class="poster">
                                            {% if season.poster_path|length %}
                                                <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ season.poster_path }}" alt="{{ season.name }}">
                                            {% else %}
                                                {% if serie.poster_path %}
                                                    <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ season.name }}">
                                                {% else %}
                                                    <img src="/images/default/no_poster.png" alt="{{ season.name }}">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <h4>{{ season.name }}</h4>
                                            {% if season.air_date %}{{ season.air_date|slice(0,4) }} | {% endif %}
                                            {{ season.episode_count }} {{ ((season.episode_count>1) ? 'episodes' : 'episode')|trans }}
                                            <div class="details" data-season-number="{{ season.season_number }}">
                                                <div>
                                                    {{ include('blocks/serie/_viewing_season.html.twig', {season_number: season.season_number, episode_count: season.episode_count}) }}
                                                </div>
                                            </div>
                                            {% if season.overview|length %}
                                                <div>{{ season.overview }}</div>
                                            {% endif %}
                                            {% if season.air_date %}
                                                <div>
                                                    {% if season.air_date < 'now'|date("Y-m-d") %}
                                                        {{ 'The season season_number of serie_name aired from season_air_date.'|trans({"season_number": season.season_number, "serie_name": serie.name, "season_air_date": (season.air_date|format_date('medium'))}) }}
                                                    {% elseif season.air_date > 'now'|date("Y-m-d") %}
                                                        {{ 'The season season_number of serie_name will be aired from the season_air_date.'|trans({"season_number": season.season_number, "serie_name": serie.name, "season_air_date": (season.air_date|format_date('medium'))}) }}
                                                    {% else %}
                                                        {{ 'The season season_number of serie_name is aired from today.'|trans({"season_number": season.season_number, "serie_name": serie.name}) }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% set globalIndex = globalIndex + season.episode_count %}
                            {% endfor %}
                        </div>
                    </section>
                    {% if images.backdrops|length or images.logos|length or images.posters|length %}
                        <section>
                            <div class="images">
                                <h4>{{ 'Images'|trans }}</h4>
                                {% if images.backdrops|length %}
                                    <h5>{{ 'Backdrops'|trans }}</h5>
                                    <div>
                                        {% for backdrop in images.backdrops %}
                                            <img class="backdrop" src="{{ imageConfig.url ~ imageConfig.backdrop_sizes.2 ~ backdrop.file_path }}" alt="Some backdrop">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if images.logos|length %}
                                    <h5>{{ 'Logos'|trans }}</h5>
                                    <div>
                                        <div class="logo-bg-dark">
                                            {% for logo in images.logos %}
                                                <img class="logo" src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ logo.file_path }}" alt="Some logo">
                                            {% endfor %}
                                        </div>
                                        <div class="logo-bg-light">
                                            {% for logo in images.logos %}
                                                <img class="logo" src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ logo.file_path }}" alt="Some logo">
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if images.posters|length %}
                                    <h5>{{ 'Posters'|trans }}</h5>
                                    <div>
                                        {% for poster in images.posters %}
                                            <img class="poster" src="{{ imageConfig.url ~ imageConfig.poster_sizes.2 ~ poster.file_path }}" alt="Some poster">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    {% endif %}
                </article>
                <aside>
                    <div class="key-facts">
                        <h4>{{ 'Key facts'|trans }}</h4>
                        <div class="fact">
                            <div class="label">{{ 'Original name'|trans }}</div>
                            <div class="content">{{ serie.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="label">{{ 'Original language'|trans }}</div>
                            <div class="content">{{ serie.original_language|language_name(locale) }}</div>
                        </div>
                        <div class="fact">
                            <div class="label">{{ 'Original Country'|trans }}</div>
                            {% for country in serie.origin_country %}
                                <div class="content">{{ country|country_name(locale) }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact">
                            <div class="label">{{ 'Status'|trans }}</div>
                            <div class="content">{{ serie.status|trans }}</div>
                        </div>
                        <div class="fact">
                            {% if serie.networks|length %}
                                <div class="label">{{ (serie.networks|length>1?'Networks':'Network')|trans }}</div>
                                {% for network in serie.networks %}
                                    <div class="content">
                                        {% if network.logo_path %}
                                            <div class="frame">
                                                <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ network.logo_path }}" alt="{{ network.name }}">
                                            </div>
                                        {% else %}
                                            {{ network.name }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if keywords.results|length %}
                            <div class="fact">
                                <div class="label">{{ 'Keywords'|trans }}</div>
                                <div class="keywords">
                                    {% for keyword in keywords.results %}
                                        <div class="keyword{% if keyword.name in missingTranslations %} new{% endif %}" data-original="{{ keyword.name }}">
                                            <div class="original">{{ keyword.name }}</div>
                                            {% if keyword.name not in missingTranslations %}
                                                <div class="translated">{{ keyword.name|trans({},'tags') }}</div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if similar.results|length %}
                            <div class="fact">
                                <div class="label">{{ 'Similar Series'|trans }}</div>
                                <div class="similar">
                                    {% for serie in similar.results %}
                                        <a href="{{ path('app_serie_tmdb', {'id': serie.id}) }}?p={{ page }}&from={{ from }}" title="{{ serie.name }}">
                                            <div class="poster">
                                                {% if serie.poster_path|length %}
                                                    <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}" alt="{{ serie.name }}">
                                                {% else %}
                                                    <img src="/images/default/no_poster.png" alt="{{ serie.name }}">
                                                    <div class="name">{{ serie.name }}</div>
                                                {% endif %}
                                                {% if serieIds|length %}
                                                    {% if serie.id in serieIds %}
                                                        <div class="seen"><i class="fa-solid fa-eye"></i></div>
                                                    {% else %}
                                                        <div class="add" data-id="{{ serie.id }}"><i class="fa-solid fa-circle-plus"></i></div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </aside>
            </main>
            <div class="translationModalBack">
                <div class="translationModal">
                    <div class="trans-header">
                        <h4>{{ 'Translate new keywords'|trans }}</h4>
                    </div>
                    <div class="trans-content"></div>
                    <div class="trans-footer">
                        <button type="button" aria-label="{{ 'Cancel'|trans }}" aria-roledescription="{{ 'Cancel and close the dialog'|trans }}">{{ 'Cancel'|trans }}</button>
                        <button type="submit" aria-label="{{ 'Translate'|trans }}" aria-roledescription="{{ 'Add translated keywords, close the dialog and reload the page'|trans }}">{{ 'Translate'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <dialog class="viewed-update">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </dialog>
    <dialog class="viewed-update-db-world">
        <div class="loading">
            <div class="world"><i class="fa-solid fa-globe"></i></div>
            <div class="arrows"><i class="fa-solid fa-arrow-up"></i></div>
            <div class="db"><i class="fa-solid fa-database"></i></div>
        </div>
    </dialog>
    <dialog class="viewed-episode">
        <div class="overlay">
            <div class="header">
                {{ 'Where did you watched it?'|trans }}
                <button value="nope" class="close"><i class="fa-solid fa-circle-xmark"></i></button>
            </div>
            <div class="content">
                <div class="networks">
                    <div class="wrapper">
                        {% for network in serie.networks %}
                            <div class="network" data-type="network" data-id="{{ network.id }}">
                                <div class="logo" style="background-image: url('{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ network.logo_path }}')"></div>
                                <div class="label">{{ network.name }}</div>
                            </div>
                        {% endfor %}
                        {% if watchProviders.flatrate is defined %}
                            {% for flatrate in watchProviders.flatrate %}
                                <div class="network" data-type="flatrate" data-id="{{ flatrate.provider_id }}">
                                    <div class="logo" style="background-image: url('{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ flatrate.logo_path }}')"></div>
                                    <div class="label">{{ flatrate.provider_name }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if watchProviders.buy is defined %}
                            {% for buy in watchProviders.buy %}
                                <div class="network" data-type="buy" data-id="{{ buy.provider_id }}">
                                    <div class="logo" style="background-image: url('{{ imageConfig.url ~ imageConfig.logo_sizes.2 ~ buy.logo_path }}')"></div>
                                    <div class="label">{{ buy.provider_name }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="network" data-type="other">
                            <div class="logo other"></div>
                            <div class="label">{{ 'Other'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="devices">
                    <div class="choice">
                        <div class="device desktop" data-type="desktop"></div>
                        <div class="label">{{ 'Desktop'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device laptop" data-type="laptop"></div>
                        <div class="label">{{ 'Laptop'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device phone" data-type="phone"></div>
                        <div class="label">{{ 'Phone'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device tablet" data-type="tablet"></div>
                        <div class="label">{{ 'Tablet'|trans }}</div>
                    </div>
                    <div class="choice">
                        <div class="device tv" data-type="tv"></div>
                        <div class="label">{{ 'Tv'|trans }}</div>
                    </div>
                </div>
                <div class="check-them-all">
                    <label for="checkThemAll">
                        <input type="checkbox" id="checkThemAll" checked>{{ 'Mark previous episodes as viewed'|trans }}
                    </label>
                </div>
                <div class="remember-choice">
                    <label for="rememberChoice">
                        <input type="checkbox" id="rememberChoice" checked title="{{ 'Remember my choice as long as I stay on this page'|trans }}">{{ 'Remember my choices'|trans }}
                    </label>
                </div>
            </div>
            <div class="footer">
                <button value="nope" class="btn btn-secondary viewed-episode-cancel">{{ 'Cancel'|trans }}</button>
                <button value="yass" class="btn btn-secondary viewed-episode-done">{{ 'Done'|trans }}</button>
            </div>
        </div>
    </dialog>
{% endblock %}
{% block morejs %}
    <script src="/js/serie.js"></script>
    <script>
        const paths = [
            "{{ path('app_serie_render_translation_fields') }}",
            "{{ path('app_serie_render_translation_select') }}",
            "{{ path('app_serie_render_translation_save') }}",
            "{{ path('app_serie_new') }}",
            "{{ path('app_serie_show', {id:0}) }}",
            "{{ path('app_serie_viewing') }}",
            "{{ path('app_user_connected') }}"
        ];
        const serie = {{ serie.id }};
        const _app_serie_viewing = paths[5];
        const _app_user_connected = paths[6];
        const _locale = "{{ app.request.locale }}";
        const txt = {
            "vu": {"fr": "vu", "en": "seen"},
            "pasVu": {"fr": "pas vu", "en": "not seen"}
        }
        const number_of_episodes = {{ serie.number_of_episodes }};
        let viewedEpisodesDialog, currentDialog, episodeClicked = {viewed: 0, episodeNumber: 0, seasonNumber: 0};

        window.addEventListener("DOMContentLoaded", () => {
            {% set percent = (viewedEpisodes / serie.number_of_episodes * 100)|round %}
            {% if percent > 100 %}
            {% set percent = 100 %}
            {% endif %}
            initSerieStuff(paths, [
                [".vote-average", 10 * parseFloat({{ serie.vote_average }})
                ],
                {% if index is defined %}
                {% if index %}
                [".view-average", parseFloat({{ percent }})
                ]
                {% endif %}
                {% endif %}
            ]);

            viewedEpisodesDialog = document.querySelector(".viewed-episode");
            initViewedEpisodes(viewedEpisodesDialog);
            episodeAddEvent();

            function episodeAddEvent() {
                const episodes = document.querySelectorAll(".ep");
                episodes.forEach(episode => {
                    episode.addEventListener('mousemove', bubbleIt);
                    episode.addEventListener('mouseenter', bubbleItShow);
                    episode.addEventListener('mouseleave', bubbleItHide);
                    episode.addEventListener('click', toggleView);
                })
            }

            function bubbleItShow(evt) {
                const bubble = document.querySelector(".bubble");
                const viewed = parseInt(this.getAttribute("data-viewed"));
                const episode = this.getAttribute("data-number");
                bubble.setAttribute("style", "translate: " + evt.pageX + "px " + evt.pageY + "px;");
                bubble.querySelector("span").innerText = episode.toString() + (viewed ? (" 🤓") : (" 🥺"));
                bubble.classList.add("show");
            }

            function bubbleItHide() {
                const bubble = document.querySelector(".bubble");
                bubble.classList.remove("show");
                bubble.querySelector("span").innerText = "";
            }

            function bubbleIt(evt) {
                const bubble = document.querySelector(".bubble");
                bubble.setAttribute("style", "translate: " + evt.pageX + "px " + evt.pageY + "px;");
            }

            function initViewedEpisodes(dialog) {
                const devices = dialog.querySelectorAll(".device");
                const networks = dialog.querySelectorAll(".network");
                console.log(dialog.querySelector(".networks").clientWidth);
                console.log(dialog.querySelector(".wrapper").clientWidth);

                currentDialog = dialog;

                dialog.querySelector(".viewed-episode-done").addEventListener("click", () => {
                    closeDialog(dialog, true);
                })
                dialog.querySelector(".viewed-episode-cancel").addEventListener("click", () => {
                    closeDialog(dialog, false);
                })
                dialog.querySelector(".close").addEventListener('click', function () {
                    closeDialog(dialog, false);
                });
                devices.forEach(device => {
                    device.addEventListener("click", (evt) => {
                        devices.forEach(d => d.classList.remove("active"));
                        evt.currentTarget.classList.add("active");
                    })
                })
                networks.forEach(network => {
                    network.addEventListener("click", (evt) => {
                        networks.forEach(n => n.classList.remove("active"));
                        evt.currentTarget.classList.add("active");
                    })
                })
            }

            function openDialog(dialog) {
                const devices = dialog.querySelectorAll(".device");
                const networks = dialog.querySelectorAll(".network");
                const checkThemAllDiv = dialog.querySelector(".check-them-all");

                if (!dialog.querySelector("#rememberChoice").checked) {
                    devices.forEach(d => d.classList.remove("active"));
                    networks.forEach(n => n.classList.remove("active"));
                    checkThemAllDiv.classList.remove("show");
                }

                if (typeof dialog.showModal === "function") {
                    dialog.showModal();
                    setTimeout(() => {
                        dialog.classList.add("show")
                    }, 0);
                } else {
                    console.error("L'API <dialog> n'est pas prise en charge par ce navigateur.");
                    /*dialog.setAttribute("open");
                    let offset = document.querySelector("html").scrollTop;
                    dialog.setAttribute("style", "translate: 0 " + offset + "px;");
                    dialog.classList.remove("d-none");
                    dialog.classList.add("d-block");*/
                }
            }

            function closeDialog(dialog, toggle) {
                /*dialog.classList.add("d-none");
                dialog.classList.remove("d-block");
                dialog.removeAttribute("style");*/
                dialog.classList.remove("show");
                setTimeout(() => {
                    dialog.close()
                }, 300);
                if (toggle) {
                    let network = dialog.querySelector(".network.active");
                    let device = dialog.querySelector(".device.active");
                    let all = dialog.querySelector("#checkThemAll").checked;
                    toggleEpisodeView(network, device, all);
                }
            }

            function toggleView(evt) {
                const ep = this;
                episodeClicked.viewed = parseInt(ep.getAttribute("data-viewed")) === 0 ? 1 : 0;
                episodeClicked.episodeNumber = parseInt(ep.getAttribute("data-number"));
                episodeClicked.seasonNumber = parseInt(ep.parentElement.getAttribute("data-season-number"));
                evt.preventDefault();

                if (episodeClicked.viewed) {
                    const checkThemAllDiv = currentDialog.querySelector(".check-them-all");
                    if (areUnseenEpisodesBefore(parseInt(ep.getAttribute("data-global-index")))) {
                        checkThemAllDiv.classList.add("show");
                    } else {
                        checkThemAllDiv.classList.remove("show");
                        checkThemAllDiv.querySelector("#checkThemAll").checked = false;
                    }
                    openDialog(viewedEpisodesDialog);
                } else {
                    toggleEpisodeView();
                }
            }

            function areUnseenEpisodesBefore(index) {
                if (index === 1) return false;
                const eps = document.querySelector("main").querySelector(".seasons").querySelectorAll(".ep");

                for (let i = 0; i < index - 1; i++) {
                    if (parseInt(eps[i].getAttribute("data-viewed")) === 0) return true;
                }
                return false;
            }

            function toggleEpisodeView(network = null, device = null, all = false) {

                stillConnected();

                let networkId = null, networkType = null, deviceType = null;

                if (network) {
                    networkType = network.getAttribute("data-type");
                    networkId = network.getAttribute("data-id");
                }
                if (device) {
                    deviceType = device.getAttribute("data-type");
                }

                const e_viewed = episodeClicked.viewed;
                const e_number = episodeClicked.episodeNumber;
                const s_number = episodeClicked.seasonNumber;
                const update = document.querySelector(".viewed-update-db-world");
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let data = JSON.parse(this.response);
                    let blocks = data['blocks'];
                    let viewedEpisodes = data['viewedEpisodes'];
                    let episodeText = data['episodeText'];

                    blocks.forEach(block => {
                        console.log({block});
                        const details = document.querySelector(".details[data-season-number=\"" + block['season'] + "\"]");
                        if (details) {
                            const oldViewingDiv = details.querySelector(".viewing").parentNode;
                            const newViewingDiv = document.createElement("div");
                            newViewingDiv.innerHTML = block.view.content;
                            details.insertBefore(newViewingDiv, oldViewingDiv);
                            details.removeChild(oldViewingDiv);
                        }
                    })
                    updateViewCount(".view-count", ".view-average", viewedEpisodes, episodeText);
                    episodeAddEvent();
                    update.classList.remove("show");
                    setTimeout(() => {
                        update.close()
                    }, 300);

                }
                xhr.open("GET", _app_serie_viewing + '?id=' + serie + "&s=" + s_number + "&e=" + e_number + "&v=" + e_viewed + (networkType ? "&network-type=" + networkType : "") + (networkId ? "&network-id=" + networkId : "") + (deviceType ? "&device-type=" + deviceType : "") + (all ? "&all=" + 1 : ""));
                xhr.send();
                update.showModal();
                setTimeout(() => {
                    update.classList.add("show")
                }, 0);

            }

            function updateViewCount(textSelector, graphSelector, viewedEpisodes, episodeText) {
                let percent = Math.round(viewedEpisodes / number_of_episodes * 100);
                if (percent > 100) percent = 100;
                setVote([[graphSelector, percent]]);
                document.querySelector(graphSelector).querySelector(".percentage").innerHTML = percent + "%";
                document.querySelector(textSelector).innerHTML = viewedEpisodes + " " + episodeText;
            }

            function stillConnected() {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let data = JSON.parse(this.response);

                    if (!data.connected) {
                        window.location.reload();
                    }
                }
                xhr.open("GET", _app_user_connected);
                xhr.send();
            }
        });
    </script>
{% endblock %}
