{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    {{ include('blocks/pageHeader.html.twig') }}
    <div class="container">
        <div class="serie-page">
            <div class="header">
                <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdrop_path }}')"></div>
                <div class="poster">
                    <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.poster_path }}">

                </div>
                <div class="infos">
                    <h1>{{ serie.name }} ({{ serie.first_air_date|date("Y") }})</h1>
                    <div class="info">
                        {% for genre in serie.genres %}
                            {{ genre.name }}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                        {% if serie.episode_run_time|length %}
                            <i class="fa-solid fa-period"></i>
                            {{ serie.episode_run_time.0 }} {{ 'minutes'|trans }}
                        {% endif %}
                    </div>
                    <div class="info">
                        {% if serie.overview %}
                            <h5>{{ 'Synopsis' }}</h5>
                            <div>{{ serie.overview }}</div>
                        {% endif %}
                    </div>
                    {% if serie.created_by|length %}
                        <div class="creators">
                            {% for c in serie.created_by %}
                                <div class="creator">
                                    <div class="profile">
                                        {% if c.profile_path %}
                                            <img src="{{ imageConfig.url ~ imageConfig.profile_sizes.2 ~ c.profile_path }}">
                                        {% endif %}
                                    </div>
                                    <div>{{ c.name }}</div>
                                    <div>
                                        {% if c.gender %}
                                            {{ (c.gender==1?'creator.she':'creator.he')|trans }}
{#                                            ({{ c.gender }})#}
                                        {% else %}
                                            {{ 'creation'|trans }}
{#                                            ({{ c.gender }})#}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ include('blocks/pageFooter.html.twig') }}
    </div>
{% endblock %}
