{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'My Series to end'|trans }}{% endblock %}
{% block description %}{{ 'List of my series to end'|trans }}{% endblock %}
{% block keywords %}{{ 'Series, Tv Shows'|trans }}{% endblock %}
{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="container-fluid">
        <div class="my-series">
            <div class="header">
                {{ include('blocks/serie/_quotes.html.twig') }}
                <h1>{{ 'My Series to end'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('My Series to end'|trans)}) }}

            <main>
                <div class="series stretch">
                    <div class="series-tools mobile">
                        <div class="pages mobile">
                            {{ include('blocks/serie/_pagination-end.html.twig') }}
                        </div>
                    </div>
                    <div class="wrapper">
                        {% if series|length %}
                            {% for serie in series %}
                                <div data-id="{{ serie.id }}">
                                    {{ include('blocks/serie/_card.html.twig') }}
                                </div>
                            {% endfor %}
                        {% else %}
                            Rien à afficher
                        {% endif %}
                    </div>
                    <div class="series-tools desktop">
                        <div class="pages desktop">
                            {{ include('blocks/serie/_pagination-end.html.twig') }}
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
    <div id="globs-data" style="display: none">
        {
        "posters": {{ posters|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "posterPath": "{{ posterPath }}"
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/seriesToStartOrEnd.js" type="module"></script>
{% endblock %}