{% set route = app.request.attributes.get('_route') %}
{% set user = app.user %}
{% if user is not null %}{{ getAlerts(user, from??null) }}{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}myTvTime{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
    <link rel="manifest" href="/site.webmanifest?v=2">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <meta name="theme-color" content="#212a30" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#f0ecea" media="(prefers-color-scheme: light)">
    <meta name="description" content="{% block description %}My Tv Time{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Movies, Series, Youtube Videos{% endblock %}">
    <meta name="author" content="Olivier Jean-Marie">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/activity.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/alarm.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/article.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/chat.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/cv.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/devices.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/diaporama.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/event.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/form.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/localisation.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/logs.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/movie-list.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/movie.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/search.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/serie.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
        <link rel="stylesheet" href="{{ asset('styles/youtube.scss') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% include 'blocks/_topMenu.html.twig' %}
{% block body %}{% endblock %}
{% if user %}
    {% include "blocks/chat/_chatWrapper.html.twig" %}
    {% include "blocks/_alarms.html.twig" %}
    {% include "blocks/_settings.html.twig" %}
{% endif %}
{% include "blocks/_flash-messages.html.twig" %}
{% include "blocks/_multiSearch.html.twig" %}
{% include "blocks/_multiPeopleSearch.html.twig" %}
<div id="globs-settings" style="display: none">{ "app_set_settings": "{{ path('app_set_settings', {settings: 'foo'}) }}" }</div>
{% include "blocks/_accept.html.twig" %}
</body>
</html>
