{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}myTvTime{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}My Tv Time{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Movies, Series, Youtube Videos{% endblock %}">
    <meta name="author" content="Olivier Jean-Marie">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block morecss %} {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{# {% include '_notyf.html.twig' %} #}
<div class="flash-messages">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message {{ label }}">
                {{ message|raw }}
                <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% block body %}{% endblock %}
{% block morejs %}{% endblock %}
{% include "_cookie-consent.html.twig" %}
</body>
</html>