{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'User Account'|trans }}{% endblock %}

{% block body %}
    {#    {{ dump() }} #}
    <div class="container">
        {{ include('blocks/pageHeader.html.twig') }}

        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Homepage'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="{{ 'My Account'|trans }}">{{ 'My Account'|trans }}</li>
            </ol>
        </nav>

        <div class="user-account">

            {{ include('blocks/user_account/banner.html.twig') }}

            <div class="details">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.email) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.username) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.city) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.zipCode) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.country) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.preferredLanguage) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.avatar) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.banner) }}</div>
                </div>
                <div class="row">
                    {{ form_row(form.save) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {

            let inputAvatar = $('#user_avatar');
            let inputBanner = $('#user_banner');
            let banner = $('.banner');

            $(inputAvatar).mouseout(function () {
                $('.avatar img').css('border', '4px solid #dbdbdb');
                $('.avatar').css('filter', 'none');
            })

            $(inputAvatar).mouseenter(function () {
                $('.avatar img').css('border', '4px solid #D81F26');
                $('.avatar').css('filter', 'sepia(0.8)');
            })

            $(inputBanner).mouseout(function () {
                $(banner).css('border', '4px solid #dbdbdb');
                $(banner).css('filter', 'none');
            })

            $(inputBanner).mouseenter(function () {
                $(banner).css('border', '4px solid #D81F26');
                $(banner).css('filter', 'sepia(0.8)');
            })
        })
    </script>
{% endblock %}