{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'User Account'|trans }}{% endblock %}
{% block morecss %}
    <link href="{{ asset("user.css") }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        {{ include('blocks/pageHeader.html.twig') }}
        <div class="user-account">
            <div class="banner">
                {% if user.banner %}
                    <img src="{{ asset('usersBannerPath') }}{{ user.banner }}">
                    <div class="title">{{ user }}</div>
                {% else %}
                    {% if banner is not empty %}
                        <img src="{{ banner.image }}" class="" alt="">
                        <div class="title">{{ banner.title }}</div>
                    {% else %}
                        <img src="{{ asset('usersBannerPath') }}default.png">
                        <div class="title">{{ user }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="avatar">
                {% if user.avatar %}
                    <img src="{{ asset('usersAvatarPath') }}{{ user.avatar }}">
                {% else %}
                    <img src="{{ asset('userAccountNoAvatar') }}">
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
