{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="user-account">

            {{ include('blocks/user_account/banner.html.twig') }}

            <div class="user-movies">
                <h1>{{ 'Watched Films'|trans }} : {{ discovers|length }}</h1>

                <h4>{{ 'Time spent watching TV:'|trans }}
                    {{ runtime.total }}
                    {{ 'minutes'|trans }}
                    {{ 'i.e.'|trans }}
                    {% if runtime.years > 1 %}{{ runtime.years }} {{ 'years'|trans }}{% endif %}
                    {% if runtime.years == 1 %}{{ runtime.years }} {{ 'year'|trans }}{% endif %}
                    {% if runtime.mounths > 1 %}{{ runtime.mounths }} {{ 'mounths'|trans }}{% endif %}
                    {% if runtime.mounths == 1 %}{{ runtime.mounths }} {{ 'mounth'|trans }}{% endif %}
                    {% if runtime.days > 1 %}{{ runtime.days }} {{ 'days'|trans }}{% endif %}
                    {% if runtime.days == 1 %}{{ runtime.days }} {{ 'day'|trans }}{% endif %}
                    {% if runtime.hours > 1 %}{{ runtime.hours }} {{ 'hours'|trans }}{% endif %}
                    {% if runtime.hours == 1 %}{{ runtime.hours }} {{ 'hour'|trans }}{% endif %}
                    {{ 'and'|trans }}
                    {% if runtime.minutes > 1 %}{{ runtime.minutes }} {{ 'minutes'|trans }}{% endif %}
                    {% if runtime.minutes < 2 %}{{ runtime.minutes }} {{ 'minute'|trans }}{% endif %}
                </h4>

                <div class="search-block">
                    {{ component('user_movie_search', {class: 'search', id: user.id, poster_url: imageConfig.url, poster_size: imageConfig.poster_sizes.3}) }}
                </div>

                <div class="home-discovers-content">
                    {% for discover in discovers %}
                        {{ include('blocks/movie/discover.html.twig', {discover: discover, poster_url: imageConfig.url, poster_size: imageConfig.poster_sizes.3}) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
