{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime' }}{% endblock %}
{% block morecss %}
    <link href="{{ asset("app.css") }}" rel="stylesheet">
    <link href="{{ asset("user.css") }}" rel="stylesheet">
{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="user-account">
            <div class="banner">
                {% if user.banner %}
                    <img src="{{ asset('usersBannerPath') }}{{ user.banner }}" alt="">
                    <div class="title">{{ user }}</div>
                {% else %}
                    {% if banner is not empty %}
                        <img src="{{ banner.image }}" class="" alt="">
                        <div class="title">{{ banner.title }}</div>
                    {% else %}
                        <img src="{{ asset('usersBannerPath') }}default.png">
                        <div class="title">{{ user }}</div>
                    {% endif %}
                {% endif %}
                {% if weather is not empty %}
                    {{ include('blocks/weather.html.twig') }}
                    <div class="toggle open"><i class="bi bi-dash-circle"></i></div>
                {% endif %}
            </div>
            <div class="avatar">
                {% if user.avatar %}
                    <img src="{{ asset('usersAvatarPath') }}{{ user.avatar }}">
                {% else %}
                    <img src="{{ asset('userAccountNoAvatar') }}">
                {% endif %}
            </div>
            <div class="user-movies">
                <h1>{{ 'Watched Films'|trans }} : {{ discovers|length }}</h1>
                <h4>{{ 'Time spent watching TV:'|trans }}
                    {{ runtime.total }}
                    {{ 'minutes'|trans }}
                    {{ 'i.e.'|trans }}
                    {% if runtime.years > 1 %}{{ runtime.years }} {{ 'years'|trans }}{% endif %}
                    {% if runtime.years == 1 %}{{ runtime.years }} {{ 'year'|trans }}{% endif %}
                    {% if runtime.mounths > 1 %}{{ runtime.mounths }} {{ 'mounths'|trans }}{% endif %}
                    {% if runtime.mounths == 1 %}{{ runtime.mounths }} {{ 'mounth'|trans }}{% endif %}
                    {% if runtime.days > 1 %}{{ runtime.days }} {{ 'days'|trans }}{% endif %}
                    {% if runtime.days == 1 %}{{ runtime.days }} {{ 'day'|trans }}{% endif %}
                    {% if runtime.hours > 1 %}{{ runtime.hours }} {{ 'hours'|trans }}{% endif %}
                    {% if runtime.hours == 1 %}{{ runtime.hours }} {{ 'hour'|trans }}{% endif %}
                    {{ 'and'|trans }}
                    {% if runtime.minutes > 1 %}{{ runtime.minutes }} {{ 'minutes'|trans }}{% endif %}
                    {% if runtime.minutes < 2 %}{{ runtime.minutes }} {{ 'minute'|trans }}{% endif %}
                </h4>
                <div class="home-discovers-content">
                    {% for discover in discovers %}
                        <div class="home-discover" id="{{ discover.movie_db_id }}">
                            <a href="{{ path('app_movie', {id: discover.movie_db_id}) }}">
                                {% if discover.poster_path is defined and discover.poster_path|length %}
                                    <img src="{{ imageConfig.url }}{{ imageConfig.poster_sizes.3 }}{{ discover.poster_path }}" class="d-block w-100" alt="{{ discover.title }}">
                                {% else %}
                                    <img src="{{ asset('noposter_dark') }}" class="d-block w-100" alt="{{ discover.title }}">
                                {% endif %}
                                <div class="home-discover-title">{{ discover.title }}</div>
                                <div class="home-discover-date">{{ 'Release Date'|trans }} : {{ discover.release_date|format_date('short') }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
