<li class="bracket">
    [
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_serie_top_rated') }}"><span>{{ 'Top rated'|trans }}</span></a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_serie_airing_today') }}"><span>{{ 'Today'|trans }}</span></a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_serie_on_the_air') }}"><span>{{ 'On the air'|trans }}</span></a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_serie_search') }}"><span>{{ 'Search'|trans }}</span></a></li>
    </ol>
    ]
</li>
