<div class="home-discover" data-id="{{ todayAiring.serie.id }}">
    <a href="{{ path('app_serie_show', {'id': todayAiring.serie.id}) }}?from=today" title="{{ todayAiring.serie.name }}">
        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ todayAiring.serie.posterPath }}" alt="{{ 'Poster' }}">
        <div class="title">
            <div>{{ todayAiring.serie.name }}</div>
        </div>
        <div class="episode">
            {#            <div>{{ 'Season'|trans }} {{ todayAiring.serieViewing.season_number }} - {{ 'Episode'|trans }} {{ todayAiring.serieViewing.seasonViewing.episode_number }}</div> #}
            <div>
                {% for seasonNumber, value in todayAiring.seasons %}
                    {% if seasonNumber %}
                        {{ 'Season'|trans }} {{ seasonNumber }}
                    {% else %}
                        <span class="spe">{{ 'Specials'|trans }}</span>
                    {% endif %}
                    <br>
                    {% if value.episodes|length == 1 %}
                        {{ 'Episode'|trans }} {{ value.episodes.0 }}
                    {% else %}
                        {% if value.episodes|length == todayAiring.serieViewing.seasonViewing.seasonViewing.episodeCount %}
                            <span class="all">{{ 'All episodes'|trans }}</span>
                        {% else %}
                            {{ 'Episodes'|trans }}
                            {% for episode in value.episodes %}
                                {% if loop.last %}& {% endif %}{{ episode }}{% if loop.index < loop.length - 1 %},{% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>
</div>
