<div class="home-discover" data-id="{{ serie.id }}">
    <a href="{{ path('app_serie_'~type, {'id': serie.id}) }}?from={{ from }}" title="{{ serie.name }}">
        <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ poster_path }}" alt="{{ 'Poster' }}">
        <div class="title">
            <div>{{ serie.name }}</div>
        </div>
    </a>
</div>
