<a href="{{ path('app_serie_show', {'id': serie.id}) }}?p={{ pages.page }}&from={{ from }}" title="{{ serie.name }}">
    <div class="serie" id="{{ serie.id }}">
        {% if serie.backdropPath %}
            <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdropPath }}')"></div>
        {% endif %}
        <div class="poster">
            <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.posterPath }}" alt="{{ 'Poster' }}">
        </div>
        <div class="infos">
            <div>{{ serie.name }}</div>
            <div>{{ 'First Air at'|trans }} : {{ serie.firstDateAir ? serie.firstDateAir|format_date() : '' }}</div>
            <div>{{ 'Added at'|trans }} : {{ serie.createdAt ? serie.createdAt|format_date() : '' }} — {{ 'Updated at'|trans }} : {{ serie.updatedAt ? serie.updatedAt|format_datetime() : '' }}</div>
            <div>{{ serie.overview }}</div>
        </div>
        {% if serie.networks|length %}
            <div class="network-list">
                {% for network in serie.networks %}
                    <div class="network-item">
                        {% if network.logoPath|length %}
                            <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.1 ~ network.logoPath }}" alt="{{ network.name }}">
                        {% else %}
                            {{ network.name|slice(0,1)|capitalize }}
                        {% endif %}
                        <div class="network-name">{{ network.name }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if from == 'my_series' or from == 'my_series_to_start' or from == 'my_series_to_end' %}
            <div class="status
            {% if serie.viewing.viewedEpisodes == 0 %} start-watching{% endif %}
            {% if serie.viewing.serieCompleted and  serie.status in ["Returning Series"] %} more-to-come{% endif %}
            {% if serie.viewing.serieCompleted and  serie.status in ["Ended","Canceled"] %} that-s-all{% endif %}">
                {{ serie.status|trans }} —
                {% if serie.viewing.serieCompleted %}
                    {% if serie.status in ["Ended","Canceled"] %}
                        {{ 'That\'s all'|trans }}
                    {% endif %}
                    {% if serie.status in ["Returning Series"] %}
                        {{ 'More episodes to come'|trans }}
                    {% endif %}
                {% else %}
                    {% if serie.viewing.viewedEpisodes > 0 %}
                        {% if serie.nextEpisodeDays is defined %}
                            {{ 'Up to date!'|trans }}
                            {% if serie.nextEpisodeDays == 0 %}
                                {{ 'New episode today'|trans }}
                            {% elseif serie.nextEpisodeDays == 1 %}
                                {{ 'New episode tomorrow'|trans }}
                            {% else %}
                                {{ 'Next episode in'|trans }} {{ serie.nextEpisodeDays }} {{ 'days'|trans }}
                            {% endif %}
                        {% elseif serie.nextEpisodeNoDate is defined %}
                            {{ 'Up to date!'|trans }} {{ 'No date for the moment'|trans }}
                        {% else %}
                            {% set more = serie.numberOfEpisodes - serie.viewing.viewedEpisodes %}
                            {{ more }} {{ (more > 1 ? 'episodes more':'episode more')|trans }}
{#                            {{ 'Watching in progress'|trans }}, {{ more }} {{ (more > 1 ? 'episodes more':'episode more')|trans }}#}
                        {% endif %}
                    {% else %}
                        {{ 'Start watching the show'| trans }}, {{ serie.numberOfEpisodes }} {{ (serie.numberOfEpisodes>1?'episodes':'episode')|trans }}
                    {% endif %}
                {% endif %}
            </div>
            {#            {% if is_favorite(user.id, serie.id, 'serie') %} #}
            {#               Twig extention in src/Twig/FavoriteExtention.php #}
            {% if serie.favorite %}
                <div class="favorite">{{ 'Favorite'|trans }}</div>
            {% endif %}
            {% if serie.today %}
                <div class="today">{{ 'New episode today'|trans }}</div>
            {% endif %}
            {% if serie.tomorrow %}
                <div class="tomorrow">{{ 'New episode tomorrow'|trans }}</div>
            {% endif %}
            {% if serie.next is defined %}
                <div class="next">{{ 'Next episode'|trans }} {{ serie.nextEpisode }} : {{ serie.nextText }}, {{ serie.next|format_date('full') }}</div>
            {% endif %}
            {% if serie.passed is defined %}
                <div class="passed">{{ 'Next episode'|trans }} {{ serie.nextEpisode }} : {{ serie.passedText }} ({{ serie.passed }})</div>
            {% endif %}
        {% endif %}
        <div class="front"></div>
    </div>
</a>
