<a href="{{ path('app_serie_show', {'id': serie.id}) }}">
    <div class="serie">
        {% if serie.backdropPath %}
            <div class="backdrop" style="background-image: url('{{ imageConfig.url ~ imageConfig.backdrop_sizes.3 ~ serie.backdropPath }}')"></div>
        {% endif %}
        <div class="poster">
            <img src="{{ imageConfig.url ~ imageConfig.poster_sizes.3 ~ serie.posterPath }}" alt="{{ 'Poster' }}">
        </div>
        <div class="infos">
            <div>{{ serie.name }}</div>
            <div>{{ 'First Air at'|trans }} : {{ serie.firstDateAir ? serie.firstDateAir|format_date() : '' }}</div>
            <div>{{ 'Added at'|trans }} : {{ serie.addedAt ? serie.addedAt|format_date() : '' }}</div>
            <div>{{ serie.overview }}</div>
        </div>
        {% if serie.networks|length %}
            <div class="network">
                <img src="{{ imageConfig.url ~ imageConfig.logo_sizes.1 ~ serie.networks.0.logoPath }}" alt="{{ 'Network' }}">
            </div>
        {% endif %}
    </div>
</a>
