{% set total_results = this.tik_tok_results.count %}
<div {{ attributes }}>
    <h1 style="font-weight: 100" id="h1" data-total-results="{{ total_results }}">
        {{ total_results ?: 'No'|trans }} {{ total_results > 1 ? 'Videos'|trans : 'Video'|trans }}
    </h1>

    <div class="parameters">
        <div class="input">
            <form data-model="*">
                <label>{{ 'TikTok Link'|trans }} :
                    <input id="link" type="search" name="link" value="{{ link }}" autofocus>
                </label>
            </form>
        </div>
        <div class="example"></div>
    </div>
    {% if total_results %}
        <div id="result" class="result">
            {% for item in this.tik_tok_results.videos %}
                <div class="tt-video">
                    <a href="{{ path('app_tik_tok_video', {id: item.id}) }}">
                        <div class="thumbnail">
                            <img src="{{ this.thumbnail({tiktok: item}) }}" alt="{{ item.title }}">
                            <div class="title">{{ item.title }}</div>
                        </div>
                        <div class="details">
                            <div class="author">
                                <a href="{{ item.author_url }}" target="_blank" rel="noopener">
                                    <span data-descr="{{ item.author_name }}">
                                        {{ item.author_name|first }}
                                    </span>
                                </a>
                            </div>
                            <div class="infos">
                                <div class="info mt-2">{{ 'Added at'|trans }} : {{ item.added_at|format_datetime('full', 'medium') }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% if total_results > (this.tik_tok_results.videos|length) %}
                <div id="see-more" class="see-more">
                    <div id="more" class="btn btn-sm btn-secondary">{{ 'See more results'|trans }}</div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="yt-videos-none">{{ 'No Videos at this Time'|trans }}</div>
    {% endif %}
</div>
