{% set weather = this.forecast %}
{% if weather is not empty %}
    <div id="weather" class="weather"{% if weather.current.is_day == 0 %} style="background-color: rgba(32, 32, 32, 0.75);"{% endif %}>
{#        {{ dump(weather.forecast.forecastday.0) }}#}
        <div id="weather-content" class="content">
            <div class="content-row">
                <div class="city">{{ weather.location.name }}</div>
                <div class="vertical">
                    <div class="item">
                        <div>{{ weather.location.region }}</div>
                        -
                        <div>{{ weather.location.country }}</div>
                    </div>
                    <div class="item">
                        <div>{{ weather.current.last_updated|format_date('full') }}</div>
                    </div>
                </div>
                <div id="weather-temp" class="temperature">{{ weather.current.temp_c|round ~ '°' }}</div>
                <div class="vertical">
                    <div class="item">
                        <i class="bi bi-thermometer-half"></i>
                        {{ 'Min'|trans }} : {{ weather.forecast.forecastday.0.day.mintemp_c|round ~ '°' }}
                        {{ 'Max'|trans }} : {{ weather.forecast.forecastday.0.day.maxtemp_c|round ~ '°' }}
                        {{ 'Feelslike'|trans }} : {{ weather.current.feelslike_c|round ~ '°' }}
                    </div>
                </div>
                <div class="condition">
                    <img src="{{ weather.current.condition.icon }}" alt="">
                    <div class="vertical">{{ weather.current.condition.text }}</div>
                </div>
                <div class="vertical">
                    <div class="item">
                        <div><i class="bi bi-cloud-drizzle"></i> {{ 'Precipitation'|trans }} : {{ weather.current.precip_mm ~ 'mm' }}</div>
                        <div><i class="bi bi-droplet"></i> {{ 'Humidity'|trans }} : {{ weather.current.humidity ~ '%' }}</div>
                    </div>
                    <div class="item">
                        <div>{{ 'Pressure'|trans }} : {{ weather.current.pressure_mb }} {{ 'Millibars'|trans }}</div>
                    </div>
                    <div class="item">
                        <div><i class="bi bi-eye"></i> {{ 'Visibility'|trans }} : {{ weather.current.vis_km ~ 'km' }}</div>
                        <div><i class="bi bi-sun-fill"></i> {{ 'UV'|trans }} : {{ weather.current.uv }}</div>
                    </div>
                    <div class="item">
                        <i class="bi bi-wind"></i>
                        <div>{{ 'Wind'|trans }} : {{ weather.current.wind_kph }}{{ 'km/h'|trans }}</div>
                        <div>{{ 'Direction'|trans }} : {{ weather.current.wind_dir }} ({{ weather.current.wind_degree ~ '°' }})</div>
                    </div>
                    <div class="item">
                        <div>{{ 'Gust'|trans }} : {{ weather.current.gust_kph }}{{ 'km/h'|trans }}</div>
                    </div>
                    <div class="item">
                        <i class="bi bi-sun"></i>
                        <div>{{ 'Sunrise'|trans }} :
                            {% if weather.forecast.forecastday.0.astro.sunrise == 'No sunrise' %}
                                {{ 'No sunrise'|trans }}
                            {% else %}
                                {{ weather.forecast.forecastday.0.astro.sunrise|date("G:i") }}
                            {% endif %}
                        </div>
                        <div>{{ 'Sunset'|trans }} :
                            {% if weather.forecast.forecastday.0.astro.sunset == 'No sunset' %}
                                {{ 'No sunset'|trans }}
                            {% else %}
                                {{ weather.forecast.forecastday.0.astro.sunset|date("G:i") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="item">
                        <i class="bi bi-moon"></i>
                        <div>{{ 'Sunrise'|trans }} :
                            {% if weather.forecast.forecastday.0.astro.moonrise == 'No moonrise' %}
                                {{ 'No moonrise'|trans }}
                            {% else %}
                                {{ weather.forecast.forecastday.0.astro.moonrise|date("G:i") }}
                            {% endif %}
                        </div>
                        <div>{{ 'Sunset'|trans }} :
                            {% if weather.forecast.forecastday.0.astro.moonset == 'No moonset' %}
                                {{ 'No moonset'|trans }}
                            {% else %}
                                {{ weather.forecast.forecastday.0.astro.moonset|date("G:i") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-row">
                <div class="hours">
                    <div class="h24">
                        {% set now = "now"|date("H") %}
                        {% for hour in weather.forecast.forecastday.0.hour %}
                            {% set time = hour.time[11:2] %}
                            <div class="hour" {% if hour.is_day == 0 %}style="background-color: rgba(43,50,52,0.5)"{% endif %}>
                                <div>{{ time }}h</div>
                                <div><img src="{{ hour.condition.icon }}" alt="{{ hour.condition.text }}"></div>
                                <div>{{ hour.temp_c|round }}°C</div>
                            </div>
                            {% if time <= now and time+1 > now %}
                                <button class="btn hour" id="now" {% if hour.is_day == 0 %}style="background-color: rgba(43,50,52,0.5)"{% endif %}>
                                    <div>{{ "now"|date("H:i") }}</div>
                                    <div><img src="{{ weather.current.condition.icon }}" alt="{{ weather.current.condition.text }}"></div>
                                    <div>{{ 'Now'|trans }}</div>
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="toggler" class="toggle open"><i class="bi bi-dash-circle"></i></div>
        </div>
    </div>
{% endif %}
<script>
    // window.onload = () => {
        const banner = document.getElementById("user-banner");
        const avatar = document.getElementById("user-avatar");
        const toggle = document.getElementById("toggler");
        const weather = document.getElementById("weather");
        const content = document.getElementById("weather-content");
        const row = document.getElementsByClassName("content-row");
        const vertical = document.getElementsByClassName("vertical");
        const temperature = document.getElementById("weather-temp");
        let windowWidth = window.innerWidth;

        document.getElementById("now").focus();

        setInterval(windowWidthChanged, 125);

        toggle.addEventListener("click", weather_toggle);

        weather_toggle();

        function weather_toggle() {

            windowWidth = window.innerWidth;

            if (toggle.classList.contains("open")) {
                toggle.classList.remove("open");
                toggle.innerHTML = '<i class="bi bi-plus-circle">';
                if (windowWidth < 767.98) {
                    banner.setAttribute("style", "margin-bottom: 13em");
                    weather.setAttribute("style", "bottom: -13em");
                    avatar.setAttribute("style", "right: .5em");
                }
                else {
                    avatar.setAttribute("style", "right: 2em");
                }
                for (let i=0;i<row.length;i++) row.item(i).setAttribute("style", "flex-direction: row");
                content.setAttribute("style", "padding: 1em 1em 0 1em");
                temperature.setAttribute("style", "font-size: 3em");
                for (let i=0;i<vertical.length;i++) vertical.item(i).setAttribute("style", "display: none");
            } else {
                toggle.classList.add("open");
                toggle.innerHTML = '<i class="bi bi-dash-circle">';
                if (windowWidth < 767.98) {
                    banner.setAttribute("style", "margin-bottom: 32em");
                    weather.setAttribute("style", "bottom: -32em");
                    avatar.setAttribute("style", "right: .5em");
                }
                else {
                    avatar.setAttribute("style", "right: 26em");
                }
                for (let i=0;i<row.length;i++) row.item(i).setAttribute("style", "flex-direction: column");
                content.setAttribute("style", "padding: 1em");
                temperature.setAttribute("style", "font-size: 5em");
                for (let i=0;i<vertical.length;i++) vertical.item(i).setAttribute("style", "display: block");
            }
        }

        function windowWidthChanged() {

            let currentWidth = window.innerWidth;

            if (currentWidth !== windowWidth) {

                windowWidth = currentWidth;

                if (windowWidth < 767.98) {
                    if (toggle.classList.contains("open")) {
                        banner.setAttribute("style", "margin-bottom: 32em");
                        weather.setAttribute("style", "bottom: -32em");
                        avatar.setAttribute("style", "right: .5em");
                    } else {
                        banner.setAttribute("style", "margin-bottom: 13em");
                        weather.setAttribute("style", "bottom: -13em");
                    }
                } else {
                    banner.removeAttribute("style");
                    weather.removeAttribute("style");
                    if (toggle.classList.contains("open")) {
                        avatar.setAttribute("style", "right: 26em");
                    }
                }
            }
        }
    // }
</script>
