<div {{ attributes }}>
    <h1>{{ this.video_results.count ?: 'No'|trans }} {{ this.video_results.count > 1 ? 'Videos'|trans : 'Video'|trans }}</h1>
    <h5>{{ this.video_results.seconds2human }}</h5>
{#    <div style="max-width: 768px">#}
        <div class="parameters">
            <div class="row w-100">
                <div class="col-xl-5 col-lg-4 col-sm-12 mb-sm-4 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        <form data-model="*">
                            <label>{{ 'Link'|trans }} :
                                <input id="" type="search" name="link" value="{{ link }}" autofocus>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12 example">
                            <b>{{ 'For example'|trans }} :</b>
                            <div class="text-center">{{ this.getLinkPreview.title }}</div>
                            <a href="https://youtu.be/{{ preview }}" target="_blank"><span><span>{{ preview }}</span></span></a>
                            <a href="https://youtu.be/{{ preview }}" target="_blank"><span>https://youtu.be/<span>{{ preview }}</span></span></a>
                            <a href="https://youtu.be/7KFxzeyse2g" target="_blank"><span>https://www.youtube.com/shorts/<span>7KFxzeyse2g</span></span></a>
                            <a href="https://youtu.be/{{ preview }}" target="_blank"><span>https://www.youtube.com/watch?v=<span>{{ preview }}</span></span></a>
                        </div>
                        <div class="col-lg-5 col-sm-12 example-thumbnail">
                            <div>
                                <img src="{{ this.getLinkPreview.url }}" alt="{{ this.getLinkPreview.title }}" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#        </div>#}
    </div>
    {% if this.video_results.count %}
        <div class="result">
            {% for item in this.video_results.videos %}
                <div class="yt-video">
                    <a href="{{ path('app_youtube_video', {id: item.id}) }}">
                        <div class="thumbnail">
                            <img src="{{ item.thumbnailMediumPath }}" alt="{{ item.title }}">
                            {% if item.contentDuration < 36000 %} {# < 10:00:00 => 0:00:00 #}
                                {% if item.contentDuration < 3600 %} {# < 01:00:00 => 00:00 #}
                                    {% if item.contentDuration < 600 %} {# < 00:10:00 => 0:00 #}
                                        <div class="duration">{{ item.contentDuration|format_datetime('none', 'medium')[4:] }}</div>
                                    {% else %}
                                        <div class="duration">{{ item.contentDuration|format_datetime('none', 'medium')[3:] }}</div>
                                    {% endif %}
                                {% else %}
                                    <div class="duration">{{ item.contentDuration|format_datetime('none', 'medium')[1:] }}</div>
                                {% endif %}
                            {% else %}
                                <div class="duration">{{ item.contentDuration|format_datetime('none', 'medium') }}</div>
                            {% endif %}
                        </div>
                        <div class="details">
                            <div class="channel">
                                {% if item.channel.customUrl %}
                                    {% set url = item.channel.customUrl %}
                                {% else %}
                                    {% set url = item.channel.youtubeId %}
                                {% endif %}
                                <a href="https://www.youtube.com/c/{{ url }}" target="_blank">
                                    <span data-descr="{{ item.channel.title }}">
                                        {% if item.channel.thumbnailDefaultUrl %}
                                            <img src="{{ item.channel.thumbnailDefaultUrl }}" alt="{{ item.channel.title }}" class="w-100">
                                        {% else %}
                                            {{ item.channel.title|first }}
                                        {% endif %}
                                    </span>
                                </a>
                            </div>
                            <div class="infos">
                                <div class="info">{{ item.title }}</div>
                                <div class="info">{{ 'Published at'|trans }} : {{ item.publishedAt|format_date('short') }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="yt-videos-none">{{ 'No Videos at this Time'|trans }}</div>
    {% endif %}
</div>
<script>
    // document.addEventListener("visibilitychange", function() {
    //     if (document.visibilityState === 'visible') {
    //         var input = document.getElementsByName("link");
    //         // input.focus();
    //         // input.select();
    //         navigator.clipboard.readText().then(
    //             clipText => input.val = clipText);
    //     }
    // });

    // let pasteBtn = document.getElementById("paste");
    // let input = document.getElementsByName("link");
    //
    // pasteBtn.onclick = function () {
    //     navigator.clipboard.readText()
    //         .then(text => {
    //             input.value = text;
    //         })
    // };
</script>
