{% set newVideo = this.newVideo %}
{% set videos = this.videos %}
{% set count = this.videoCount %}
{% set beginning = this.firstView %}
{% set time_2_human = this.time2Human %}

{% set preview_url = this.preview_url %}
{% set preview_title = this.preview_title %}

{# {{ dump() }} #}
{#{{ 0|format_datetime('none', 'medium') }}#}
{#{{ 600|format_datetime('none', 'medium') }}#}
{#{{ 3599|format_datetime('none', 'medium') }}#}
{#{{ 3600|format_datetime('none', 'medium') }}#}
{#{{ 3601|format_datetime('none', 'medium') }}#}
{#{{ 4189|format_datetime('none', 'medium') }}#}
<div {{ attributes }}>
    {% if page and this.justAdded %}
        <div class="redirect" data-id="{{ this.justAdded }}"></div>
    {% endif %}
    <h1 id="h1" data-total-results="{{ count }}">
        {{ count ?: 'No'|trans }} {{ count > 1 ? 'Videos'|trans : 'Video'|trans }} {{ 'since'|trans }} {{ beginning|format_date('short') }}
    </h1>
    <h2>{{ time_2_human }}</h2>
    <div class="parameters">
        <div class="header">
            {{ 'Add a Youtube video'|trans }}
            <div>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>
        <div class="content">
            <div class="input">
                <form data-model="*">
                    <div class="link">
                        <label for="link">{{ 'Link'|trans }} :
{#                            <input id="link" type="search" name="link" value="{{ link }}" autofocus>#}
                            <input id="link" type="search" name="link" autofocus>
                        </label>
                    </div>
                    <div class="page">
                        <input type="checkbox" id="page" name="page"{{ page ? " checked": "" }}>
                        <label for="page">{{ 'Go to the video page'|trans }}</label>
                    </div>
                </form>
            </div>
            <div class="example">
                <b>{{ 'For example'|trans }} :</b>
                <div class="text-center">{{ preview_title }}</div>
                <a href="https://youtu.be/{{ preview }}" target="_blank" rel="noopener"><span><span>{{ preview }}</span></span></a>
                <a href="https://youtu.be/{{ preview }}" target="_blank" rel="noopener"><span>https://youtu.be/<span>{{ preview }}</span></span></a>
                <a href="https://youtu.be/{{ preview }}" target="_blank" rel="noopener"><span>https://www.youtube.com/watch?v=<span>{{ preview }}</span></span></a>
                <a href="https://youtu.be/7KFxzeyse2g" target="_blank" rel="noopener"><span>https://www.youtube.com/shorts/<span>7KFxzeyse2g</span></span></a>
            </div>
            <div class="thumbnail">
                <img src="{{ preview_url }}" alt="{{ preview_title }}">
            </div>
        </div>
    </div>

    {% if videos|length %}
        <div id="result" class="result">
            {% for video in videos %}
                {{ include('blocks/youtube/video.html.twig', {item: video}) }}
            {% endfor %}
            {% if count > (videos|length) %}
                <div id="see-more" class="see-more">
                    <div id="more" class="btn btn-sm btn-secondary">{{ 'See more results'|trans }}</div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="yt-videos-none">{{ 'No Videos at this Time'|trans }}</div>
    {% endif %}
</div>
