<div {{ attributes }}>
    <h1>{{ this.video_results.count }} {{ 'Videos'|trans }}</h1>
    <h5>{{ this.video_results.seconds2human }}</h5>
    <div class="parameters">
        <div class="row">
            <div class="col-5">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                    <div>
                        <label>{{ 'Youtube Link'|trans }} :
                            <input id="" type="search" name="link" value="{{ link }}" data-action="live#update" autofocus>
                        </label>
                        {#                <button id="paste" class="btn btn-primary btn-sm" style="background-color: #0d9488"><i class="bi bi-box-arrow-left"></i></button> #}
                    </div>
                </div>
            </div>
            <div class="col-7 flex-column justify-content-center">
                <div class="row">
                    <div class="col-4">
                        <img src="{{ this.getLinkPreview.url }}" alt="{{ this.getLinkPreview.title }}" class="w-100">
                    </div>
                    <div class="col-8 example">
                        <b>{{ 'For example'|trans }} :</b>
                        <div class="text-center">{{ this.getLinkPreview.title }}</div>
                        <a href="https://youtu.be/{{ preview }}" target="_blank"><span><span>{{ preview }}</span></span></a>
                        <a href="https://youtu.be/{{ preview }}" target="_blank"><span>https://youtu.be/<span>{{ preview }}</span></span></a>
                        <a href="https://youtu.be/{{ preview }}" target="_blank"><span>https://www.youtube.com/watch?v=<span>{{ preview }}</span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if this.video_results.count %}
        <div class="result">
            {% for item in this.video_results.videos %}
                <a href="{{ path('app_youtube_video', {v: item.id}) }}">
                    <div class="yt-video">
                        <div class="thumbnail">
                            <img src="{{ item.thumbnailMediumPath }}" alt="{{ item.title }}">
                            {% if item.contentDuration < 3600 %}
                                <div class="duration">{{ item.contentDuration|format_datetime('none', 'medium')[3:] }}</div>
                            {% else %}
                                <div class="duration">{{ item.contentDuration|format_datetime('none', 'medium') }}</div>
                            {% endif %}
                        </div>
                        <div class="details">
                            <div class="channel">
                            <span data-descr="{{ item.channel.title }}">
                                {% if item.channel.thumbnailDefaultUrl %}
                                    <img src="{{ item.channel.thumbnailDefaultUrl }}" alt="{{ item.channel.title }}" class="w-100">
                                {% else %}
                                    {{ item.channel.title|first }}
                                {% endif %}
                            </span>
                            </div>
                            <div class="infos">
                                <div class="info">{{ item.title }}</div>
                                <div class="info">{{ 'Published at'|trans }} : {{ item.publishedAt|format_date('short') }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="yt-videos-none">{{ 'No Videos at this Time'|trans }}</div>
    {% endif %}
</div>
<script>
    // document.addEventListener("visibilitychange", function() {
    //     if (document.visibilityState === 'visible') {
    //         var input = document.getElementsByName("link");
    //         // input.focus();
    //         // input.select();
    //         navigator.clipboard.readText().then(
    //             clipText => input.val = clipText);
    //     }
    // });

    // let pasteBtn = document.getElementById("paste");
    // let input = document.getElementsByName("link");
    //
    // pasteBtn.onclick = function () {
    //     navigator.clipboard.readText()
    //         .then(text => {
    //             input.value = text;
    //         })
    // };
</script>
