{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶︎ log{% endblock %}

{% block body %}
    <h1>myTvTime ▶︎ log</h1>
    <div class="container-fluid">
        <div class="logs">
            <div class="filters">
                <form action="{{ path('app_log_filter') }}?lines={{ count }}" method="get">
                    {#                    <div class="filter"> #}
                    {#                        <label for="date">Date</label> #}
                    {#                        <input type="date" name="date" id="date" value="{{ date }}"> #}
                    {#                    </div> #}
                    <div class="channel-filter">
                        <div>Channels :</div>
                        {% for channel in channels %}
                            <label for="{{ channel }}">
                                <input type="checkbox" id="channel_{{ channel }}" value="{{ channel }}" checked>{{ channel }}
                            </label>
                        {% endfor %}
                    </div>
                    <div class="level-filter">
                        <div>Levels :</div>
                        {% for level in levels %}
                            <label for="{{ level|lower }}">
                                <input type="checkbox" id="level_{{ level|lower }}" value="{{ level }}" checked>{{ level }}
                            </label>
                        {% endfor %}
                    </div>
                    <div class="filter">
                        <button type="submit" class="btn btn-secondary">Filter</button>
                    </div>
                </form>
            </div>
            <div class="log-titles">
                <div class="line"></div>
                <div class="date">Date</div>
                <div class="time">Time</div>
                <div class="channel">Channel</div>
                <div class="level">Level</div>
                <div class="message">Message</div>
            </div>
            {% for log in logs %}
                {% if log.date %}
                    <div class="log">
                        <div class="line">{{ loop.index }}</div>
                        <div class="date">{{ log.date|date('d/m/Y', false) }}</div>
                        <div class="time">{{ log.date|date('H:i:s', false) }}</div>
                        <div class="channel {{ log.channel }}">{{ log.channel }}</div>
                        <div class="level {{ log.level|lower }}">{{ log.level }}</div>
                        <div class="message">{{ log.message }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const inputs = document.querySelector(".channel-filter").querySelectorAll("input[type=checkbox]");
            inputs.forEach(input => {
                input.addEventListener("change", () => {
                    const channel = input.value;
                    const logs = document.querySelectorAll(`.log:has(>.channel.${channel})`);
                    logs.forEach(log => {
                        log.style.display = input.checked ? "flex" : "none";
                    });
                });
            });
            const input2s = document.querySelector(".level-filter").querySelectorAll("input[type=checkbox]");
            input2s.forEach(input2 => {
                input2.addEventListener("change", () => {
                    const level = input2.value.toLowerCase();
                    const logs = document.querySelectorAll(`.log:has(>.level.${level})`);
                    logs.forEach(log => {
                        log.style.display = input2.checked ? "flex" : "none";
                    });
                });
            });
        });
    </script>
{% endblock %}