{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}myTvTime ▶ ︎{{ 'Activity'|trans }} ▶ ︎{{ 'Challenge'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="activity">
            <div class="header">
                <h1>{{ 'Challenge'|trans }} ▶ ︎{{ challenge.name }}</h1>
                <div class="backdrop"></div>
                {{ include('blocks/_clock.html.twig') }}
            </div>
        </div>
        <div class="activity-challenge">
            {{ include('blocks/_nav.html.twig') }}
            <main>
                <div class="challenge-tools">
                    <a href="{{ path('app_activity_challenge_index') }}">
                        <div class="challenge-tool" data-title="{{ 'Back to challenges'|trans }}">
                            {{ ux_icon('fa6-solid:list', {height: '18px', width: '18px'}) }}
                        </div>
                    </a>
                    <a href="{{ path('app_activity_challenge_edit', {'id': challenge.id}) }}?from=show">
                        <div class="challenge-tool" data-title="{{ 'Edit challenge'|trans }}">
                            {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                        </div>
                    </a>
                    <a href="{{ path('app_activity_challenge_new') }}?from=show&id={{ challenge.id }}">
                        <div class="challenge-tool" data-title="{{ 'New challenge'|trans }}">
                            {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                        </div>
                    </a>
                    <a href="{{ path('app_activity_challenge_delete', {'id': challenge.id}) }}">
                        <div class="challenge-tool" data-title="{{ 'Delete challenge'|trans }}">
                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                        </div>
                    </a>
                </div>
                <div class="challenge-show">
                    {% if challenge.completed %}
                        <div class="challenge-completed">
                            {{ ux_icon('fa6-solid:crown', {height: '80px', width: '80px'}) }}
                        </div>
                    {% endif %}
                    <div class="challenge-show-info">{{ 'Name'|trans }} : {{ challenge.name }}</div>
                    <div class="challenge-show-info">{{ challenge.challenge|trans({'%value%': challenge.value}) }}</div>
                    <div class="challenge-show-info">{{ 'Progress'|trans }} : {{ challenge.progress }} {{ (challenge.progress>1?'days':'day')|trans }}</div>
                    <div class="challenge-show-info">{{ 'Goal'|trans }} : {{ challenge.goal }} {{ 'days'|trans }}</div>
                    <div class="challenge-show-info">{{ 'Challenge start'|trans }} : {{ challenge.startAt|format_date('relative_full') }}</div>
                    <div class="challenge-show-info">{{ 'Challenge end'|trans }} : {{ challenge.endAt|format_date('relative_full') }}</div>
                </div>
            </main>
            {{ include('blocks/_pageFooter.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/activityChallengeIndex.js" type="module"></script>
{% endblock %}
