{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}myTvTime::{{ 'Blog'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
                {{ include('blocks/movie/bracket.html.twig') }}
                <li class="breadcrumb-item"><a href="{{ path('app_blog') }}">{{ 'Blog'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="{{ article.title }}">{{ article.title }}</li>
            </ol>
        </nav>

        <div class="blog">
            <div class="content">
                <div class="articles">
                    <div class="article">
                        {% if article.banner %}
                            <div class="banner full" style="background-image: url('/images/articles/banners/{{ article.banner }}')"></div>
                        {% endif %}
                        <div class="apercu">
                            <div class="presentation">
                                <div class="title-author">
                                    <div class="title">{{ article.title }}</div>
                                    <div class="author">{{ 'By'|trans }} {{ article.user.username?:article.user.email }}</div>
                                </div>
                                <div class="dates">
                                    <div class="date">{{ 'Created At'|trans }} : {{ article.createdAt|format_datetime() }}</div>
                                    <div class="date">{{ 'Updated At'|trans }} : {{ article.updatedAt|format_datetime() }}</div>
                                    <div class="date">{{ 'Published At'|trans }} : {{ article.publishedAt|format_datetime() }}</div>
                                </div>
                                <div class="abstract full">{{ content|raw|nl2br }}</div>
                            </div>
                        </div>
                        {% if is_granted("ROLE_USER") %}
                            <div class="comment-form">
                                {% if comments is empty %}
                                    <div class="label">{{ 'Be the first to react!'|trans }}</div>
                                {% else %}
                                    <div class="label">{{ 'React!'|trans }} :</div>
                                {% endif %}
                                <div class="user">
                                    {% if user.avatar %}
                                        <img src="/images/users/avatars/{{ user.avatar }}" alt="{{ user.username?:user.email }}">
                                    {% endif %}
                                    <div class="name">{{ user.username?:user.email }}</div>
                                </div>
                                <div class="form">
                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}

                                    {{ form_row(form.text) }}

                                    {{ form_row(form.submit, { 'label': 'Add'|trans }) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if comments is not empty %}
                            <div class="comments">
                                <div class="label">{{ 'Comments'|trans }} :</div>
                                {% for comment in comments %}
                                    <div class="comment">
                                        {{ include('blocks/article/reaction.html.twig', {reaction: comment}) }}
                                        {% if comment.answers is not empty %}
                                            <div class="reactions" id="reactions-{{ comment.id }}">
                                                {% for answer in comment.answers %}
                                                    <div class="reaction{% if loop.index % 2 %} odd{% endif %}">
                                                        {{ include('blocks/article/reaction.html.twig', {reaction: answer}) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        {% if is_granted("ROLE_USER") %}
                                            <div class="react">
                                                <details>
                                                    <summary>{{ 'Answer'|trans }}</summary>
                                                    <div class="answer">
                                                        <div class="user">
                                                            {% if user.avatar %}
                                                                <img src="/images/users/avatars/{{ user.avatar }}" alt="{{ user.username?:user.email }}">
                                                            {% endif %}
                                                            <div class="name">{{ user.username?:user.email }}</div>
                                                        </div>
                                                        <textarea id="answer-{{ comment.id }}" data-id="{{ comment.id }}"></textarea>
                                                        <div class="submit" id="add-{{ comment.id }}" data-id="{{ comment.id }}">{{ 'Add'|trans }}</div>
                                                    </div>
                                                </details>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="tools"></div>
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script>
        let path = "{{ path('app_blog_article_add_answer', {cid: 0}) }}";
        const _app_blog_article_add_answer = path.substring(0, path.length - 1);

        window.addEventListener("DOMContentLoaded", () => {

            const submits = document.querySelectorAll(".submit");

            submits.forEach(submit => {
                submit.addEventListener("click", () => {
                    const comment_id = submit.getAttribute("data-id");
                    const textarea = document.querySelector("#answer-" + comment_id);

                    const xhr = new XMLHttpRequest();
                    xhr.onload = function () {
                        const data = this.response;

                        const reactions = document.querySelector("#reactions-" + comment_id);
                        const reaction = document.createElement("div");
                        const even = reactions.querySelectorAll(".reaction").length % 2;

                        reaction.classList.add("reaction");
                        if (!even) {
                            reaction.classList.add("odd");
                        }
                        reaction.innerHTML = data;
                        reactions.appendChild(reaction);
                        textarea.value = "";
                        textarea.focus();
                    }
                    xhr.open("GET", _app_blog_article_add_answer + comment_id + '?text=' + textarea.value);
                    xhr.send();
                })
            })
        })
    </script>
{% endblock %}