{% extends 'base.html.twig' %}

{% block title %}MyTvTime::{{ 'Edit Article'|trans }}{% endblock %}
{% block description %}{{ 'List of all my articles'|trans }}{% endblock %}
{% block keywords %}{{ 'article'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {{ include('blocks/_mainMenu.html.twig') }}
        <div class="blog">
            <div class="header">
                <h1>{{ 'Edit article'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('Edit article'|trans), parent: {url: path('app_blog'), page: 'Blog'|trans}}) }}

            <div class="body">
                {{ include('blocks/article/_form.html.twig') }}
            </div>

        </div>
        {{ include('blocks/_pageFooter.html.twig') }}
    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/article.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initHeader();
            document.querySelector(".header").setAttribute("style", "background: transparent;");
            document.querySelector("#article_save").innerHTML = "{{ "Update the article"|trans }}";
        })
    </script>
{% endblock %}
