{% extends 'base.html.twig' %}
{% set user = app.user %}
{% block title %}myTvTime::{{ 'Blog'|trans }}{% endblock %}
{% block morecss %}
{% endblock %}

{% block body %}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <div class="blog">
            <div class="header">
                <h1>{{ 'Blog'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            <nav aria-label="{{ 'Navigation'|trans }}" class="nav-breadcrumb" style="--bs-breadcrumb-divider: '◦';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'Movies'|trans }}</a></li>
                    {{ include('blocks/movie/bracket.html.twig') }}
                    {% if user %}
                        {{ include('blocks/user/breadcrumb.html.twig') }}
                    {% endif %}
                    <li class="breadcrumb-item active">{{ 'Blog'|trans }}</li>
                    <li class="breadcrumb-item"><a href="{{ path('app_article_image_index') }}">{{ 'Images'|trans }}</a></li>
                </ol>
            </nav>

            <div class="content">
                <div class="articles">
                    {% if articles|length %}
                        {% for article in articles %}
                            {{ include('/blocks/article/apercu.html.twig') }}
                        {% endfor %}
                    {% else %}
                        <div class="nothing">
                            <div class="to-show">
                                {{ 'Nothing to show yet'|trans }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tools">

                </div>
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {

            initHeader();
            setTimeout(() => {
                document.querySelector(".header").setAttribute("style", "background-color: transparent");
            }, 0);

        })

        function initHeader() {
            let ticking = false;
            setH1();
            window.addEventListener('resize', setH1);

            window.addEventListener('scroll', () => {
                if (!ticking) {
                    window.requestAnimationFrame(function () {
                        setH1();
                        ticking = false;
                    });
                }
                ticking = true;
            });

        }

        function setH1() {
            const header = document.querySelector(".header");
            const h1 = document.querySelector("h1");
            let left, bottom, ratio;
            ratio = (header.clientHeight - window.scrollY) / header.clientHeight;
            if (ratio < 0) ratio = 0;
            if (ratio > 1) ratio = 1;
            ratio = ratio ** 3;
            left = 32 + ((header.clientWidth - 64) * (1 - ratio));
            bottom = 16 - ((h1.clientHeight / 2) * (1 - ratio));
            h1.setAttribute("style", "left: " + left.toString() + "px; bottom: " + bottom + "px; opacity: " + ratio + "; transform: scale(" + ratio + ")");
        }
    </script>
{% endblock %}

