{% extends 'base.html.twig' %}

{% block title %}MyTvTime::{{ 'New article'|trans }}{% endblock %}
{% block description %}{{ 'Create a new article'|trans }}{% endblock %}
{% block keywords %}{{ 'article'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {{ include('blocks/_mainMenu.html.twig') }}
        <div class="blog">
            <div class="header">
                <h1>{{ 'New article'|trans }}</h1>
                <div class="backdrop"></div>
            </div>

            {{ include('blocks/_nav.html.twig', {thisPage:('New article'|trans), parent: {url: path('app_blog'), page: 'Blog'|trans}}) }}

            <div class="body">
                {{ include('blocks/article/_form.html.twig') }}
            </div>

        </div>
        {{ include('blocks/_pagefooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/article.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            initHeader();
            document.querySelector(".header").setAttribute("style", "background: transparent;");
        })
    </script>
{% endblock %}
