{% extends 'base.html.twig' %}

{% block title %}myTvTime ▶ ︎{{ 'Change password'|trans }}{% endblock %}

{% block body %}
    {{ include('blocks/_mainMenu.html.twig') }}
    <div class="login">
        <div class="login-dialog">
            <form name="change_password" method="post">
                <div class="header">{{ 'Change password'|trans }}</div>
                <div class="body">
                        <div class="input">
                            <label for="change_password_currentPassword" class="required">{{ 'Current password'|trans }}</label>
                            <input type="password" id="change_password_currentPassword" name="change_password[currentPassword]" required="required" autocomplete="off"/>
                        </div>
                        <div class="input">
                            <label for="change_password_newPassword_first" class="required">{{ 'New password'|trans }}</label>
                            <input type="password" id="change_password_newPassword_first" name="change_password[newPassword][first]" required="required"/>
                        </div>
                        <div class="input">
                            <label for="change_password_newPassword_second" class="required">{{ 'Confirm new password'|trans }}</label>
                            <input type="password" id="change_password_newPassword_second" name="change_password[newPassword][second]" required="required"/>
                        </div>
                        <input type="hidden" id="change_password__token" name="change_password[_token]" value="{{ csrf_token('change_password') }}"/>
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-secondary">{{ 'Save'|trans }}</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
