{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'My account'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {{ include('blocks/_mainMenu.html.twig') }}

        <div class="user-account">

            {{ include('blocks/user/_banner.html.twig') }}

            {{ include('blocks/_nav.html.twig', {thisPage: 'People search'|trans}) }}

            <div class="users">
                {% for u in users %}
                    <div class="user">
                        <div class="thumbnail"><img src="{{ getPath('userAvatar')~u.avatar }}" alt="{{ u.username }}"></div>
                        <div class="username">{{ u.username }}
                            {% if u==user %}
                                <div class="self">({{ 'yourself'|trans }})</div>
                            {% endif %}
                        </div>
                        {% if u!=user %}
                            {% if isFriend(u.id, friends) %}
                                <div class="relation">{{ 'friend'|trans }}
                                    <div class="delete"><i class="fa-solid fa-xmark"></i></div>
                                </div>
                            {% else %}
                                {% set situation = isPending(user, u) %}
                                {% if situation==1 %} {# pending request #}
                                    <div class="pending" data-id="{{ u.id }}">{{ 'pending'|trans }}</div>
                                {% endif %}
                                {% if situation==0 %} {# declined request #}
                                    <div class="request" data-id="{{ u.id }}">{{ 'request'|trans }}</div>
                                    <div class="pending d-none" data-id="{{ u.id }}">{{ 'pending'|trans }}</div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let _app_personal_friend_new = "{{ path('app_personal_friend_new', {ownerId: 0, recipientId: 0})[:-3] }}";
        window.addEventListener("DOMContentLoaded", () => {
            const requests = document.querySelectorAll(".request");
            requests.forEach(request => {
                request.addEventListener("click", requestFriendship);
            });
        });

        function requestFriendship(evt) {
            const request = evt.currentTarget;
            const id = request.getAttribute("data-id");

            const xhr = new XMLHttpRequest();
            xhr.onload = function () {
                const response = JSON.parse(this.response);
                const user = request.closest(".user");
                const pending = user.querySelector(".pending");
                user.removeChild(request);
                pending.classList.remove("d-none");
            }
            xhr.open("GET", _app_personal_friend_new + {{ user.id }} +'/' + id);
            xhr.send();
        }
    </script>
{% endblock %}