{% extends 'base.html.twig' %}

{% block title %}myTvTime::{{ 'User Account'|trans }}{% endblock %}

{% block body %}
    {#    {{ dump() }} #}
    <div class="container">
        {{ include('blocks/pageHeader.html.twig') }}

        {{ include('blocks/nav.html.twig', {thisPage: 'My Account'}) }}

        <div class="user-account">

            {{ include('blocks/user/banner.html.twig') }}

            <div class="details">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.email) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.username) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.city) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.zipCode) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.country) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.preferredLanguage) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">{{ form_row(form.avatar) }}</div>
                    <div class="col-md-6 col-12">{{ form_row(form.banner) }}</div>
                </div>
                <div class="row">
                    {{ form_row(form.save) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {

            setTimeout( () => {
                document.querySelector('#user_email').focus();
            }, 1000);

            const inputAvatar = document.querySelector('#user_avatar');
            const inputBanner = document.querySelector('#user_banner');
            const banner = document.querySelector('#user-banner');
            const avatar = document.querySelector('#user-avatar');

            inputAvatar.addEventListener("mouseout", () => {
                avatar.firstElementChild.removeAttribute("style");
                avatar.removeAttribute("style");
            });

            inputAvatar.addEventListener("mouseenter", () => {
                avatar.firstElementChild.setAttribute("style", "border-color: #D81F26");
                avatar.setAttribute("style", "filter: sepia(0.8)");
            });

            inputBanner.addEventListener("mouseout", () => {
                banner.firstElementChild.removeAttribute("style");
                banner.removeAttribute("style");
            });

            inputBanner.addEventListener("mouseenter", () => {
                banner.firstElementChild.setAttribute("style", "border-color: #D81F26");
                banner.setAttribute("style", "filter: sepia(0.8)");
            });
        })
    </script>
{% endblock %}