{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime' }}{% endblock %}
{% set user = app.user %}
{% block morecss %}
{% endblock %}
{% block body %}
{#    {% if app.debug=='dev' %}{{ dump() }}{% endif %}#}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        {{ include('blocks/nav.html.twig', {thisPage: 'My Movies'}) }}

        <div class="user-account">

            {{ include('blocks/user/banner.html.twig') }}

            <div class="user-movies">
                <h1 style="font-weight: 100" id="h1" data-total-results="{{ count }}">
                    {{ 'Watched Films'|trans }} : {{ count > 0 ? count : 'None'|trans }}
                </h1>

                <h4>{{ 'Time spent watching TV:'|trans }}
                    {{ runtime.total }}
                    {{ 'minutes'|trans }}
                    {{ 'i.e.'|trans }}
                    {% if runtime.years > 1 %}{{ runtime.years }} {{ 'years'|trans }}{% endif %}
                    {% if runtime.years == 1 %}{{ runtime.years }} {{ 'year'|trans }}{% endif %}
                    {% if runtime.months > 1 %}{{ runtime.months }} {{ 'months'|trans }}{% endif %}
                    {% if runtime.months == 1 %}{{ runtime.months }} {{ 'month'|trans }}{% endif %}
                    {% if runtime.days > 1 %}{{ runtime.days }} {{ 'days'|trans }}{% endif %}
                    {% if runtime.days == 1 %}{{ runtime.days }} {{ 'day'|trans }}{% endif %}
                    {% if runtime.hours > 1 %}{{ runtime.hours }} {{ 'hours'|trans }}{% endif %}
                    {% if runtime.hours == 1 %}{{ runtime.hours }} {{ 'hour'|trans }}{% endif %}
                    {{ 'and'|trans }}
                    {% if runtime.minutes > 1 %}{{ runtime.minutes }} {{ 'minutes'|trans }}{% endif %}
                    {% if runtime.minutes < 2 %}{{ runtime.minutes }} {{ 'minute'|trans }}{% endif %}
                </h4>

                <div class="search-block">
                    {{ component('user_movie_search', {class: 'search', id: user.id, poster_url: imageConfig.url, poster_size: imageConfig.poster_sizes.3}) }}
                    <div class="export">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" id="export-button" class="btn btn-secondary" name="export-list" data-bs-toggle="modal" data-bs-target="#exportModal">{{ 'Export'|trans }}</button>
                            <button type="button" id="append-button" class="btn btn-secondary" name="append-list" data-bs-toggle="modal" data-bs-target="#appendModal">{{ 'Append'|trans }}</button>
                        </div>
                    </div>

                </div>

                <div class="home-discovers">
                    <div id="content" class="content">
                        {% for discover in discovers %}
                            {% set poster = imageConfig.url ~ imageConfig.poster_sizes.3 ~ discover.poster_path %}
                            {{ include('blocks/movie/discover.html.twig', { title: discover.title, poster: poster, id: discover.movie_db_id, route: 'app_movie' }) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {{ include('blocks/pageFooter.html.twig') }}

    </div>

    <div class="nav-to-top"></div>

    <div class="modal fade" id="exportModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Export'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="export-result"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                    <button id="export-file" type="button" class="btn btn-primary"><a href="#" download="" id="json-link">{{ 'Download'|trans }} <i class="bi bi-file-arrow-down"></i></a></button>
                    <button id="export-copy" type="button" class="btn btn-primary">{{ 'Copy'|trans }} <i class="bi bi-clipboard2-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="appendModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content position-relative">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Append'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="json" class="form-label">{{ 'Select a Movie List File (.json)'|trans }}</label>
                    <input type="file" id="json" name="json" accept="application/json" class="form-control form-control-sm">
                    <div class="append-infos"></div>
                    <div class="append-result"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                    <button id="append-add" type="button" class="btn btn-primary" disabled>{{ 'Add'|trans }} <i class="bi bi-download"></i></button>
                </div>
                <div class="append-progress">
                    <div class="progress">
                        <div class="label">{{ 'Progress'|trans }} :</div>
                        <div class="bar">
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block morejs %}
    <script src="/js/movie.js"></script>
    <script src="/js/user-movie.js"></script>
    <script>
        const paths = [
            "{{ path('profile_infos') }}",
            "{{ path('imdb_infos') }}",
            "{{ path('app_movie_add') }}",
            "{{ path('app_movie_remove') }}",
            "{{ path('app_movie_get_rating') }}",
            "{{ path('app_movie_set_rating') }}",
        ];
        window.addEventListener("DOMContentLoaded", () => {
            initButtons(
                {{ user.id }},
                "{{ locale }}",
                [
                    "{{ path('app_personal_movies_export') }}",
                    "{{ path('app_json_ids') }}",
                    "{{ path('app_personnel_movie_add') }}",
                    "{{ path('app_json_cleanup') }}",
                    "{{ path('app_json_sample') }}",
                    "{{ path('app_movie', {id: 0}) }}",
                    "{{ path('app_personal_movies_more') }}"
                ],
                "{{ imageConfig.url ~ imageConfig.poster_sizes.3 }}",
            );
            initMovieStuff(paths, "", "{{ locale }}");
        })
    </script>
{% endblock %}

